<div class="row">
  <div class="col-md-12">
    <div class="ui-g-12 ui-md-4">
      <p-calendar [(ngModel)]="startDate" [showIcon]="true"></p-calendar>
      <span>&mdash;</span>
      <p-calendar [(ngModel)]="endDate" [showIcon]="true"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-4">
      <button type="button" class="btn btn-primary" (click)="loadObservations()"><i class="fa fa-refresh"></i></button>
    </div>
  </div>
  <div class="col-md-12" id="mapDiv">
    <div class="observations-map" id="map">
    </div>
  </div>
  <div *ngIf="activeNatlefs" class="col-md-5">
    <button type="button" class="btn btn-default float-right" (click)="setActiveNatlefs(undefined)">&times;</button>
    <app-natlefs [natlefs]="activeNatlefs"></app-natlefs>
  </div>
</div>
