<p-table
  #observationTable
  [value]="shownObservations"
  sortField="eventDate"
  [sortOrder]="-1"
  [globalFilterFields]="['authorName', 'locationName', 'content']"
  class="table table-hover observation-table"
>
  <ng-template pTemplate="header">
    <tr *ngIf="false">
      <td colspan="99" style="text-align: left">
        <p-toggleButton
          onLabel=""
          offLabel=""
          onIcon="fa fa-map-marker"
          offIcon="fa fa-map-marker"
          [(ngModel)]="showObservationsWithoutCoordinates"
        ></p-toggleButton>

        <div class="global-bar-item global-bar-item-add" style="float: right; padding-left: 10px">
          <p>
            {{ "observations.count" | translate }}
            {{ shownObservations.length }}
          </p>
        </div>
        <div class="global-bar-item global-bar-item-add" style="float: right">
          <button
            type="button"
            pButton
            icon="pi pi-plus-circle"
            (click)="newObservation()"
            label="{{ 'observations.button.add' | translate }}"
            class="p-button-text"
          ></button>
        </div>
      </td>
    </tr>
    <tr>
      <th pSortableColumn="eventDate">
        <i class="fa fa-calendar"></i>
        {{ "observations.eventDate" | translate }}
      </th>
      <th pSortableColumn="reportDate">
        <i class="fa fa-calendar"></i>
        {{ "observations.reportDate" | translate }}
      </th>
      <th pSortableColumn="authorName">
        <i class="fa fa-user"></i>
        {{ "observations.authorName" | translate }}
      </th>
      <th pSortableColumn="locationName">
        <i class="fa fa-globe"></i>
        {{ "observations.locationName" | translate }}
      </th>
      <th><!-- avalancheProblems --></th>
      <th>
        <i class="fa fa-comment"></i> {{ "observations.content" | translate }}
        <span class="observation-count">({{ "observations.count" | translate }} {{ shownObservations.length }})</span>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-observation>
    <tr (click)="onClick(observation)" style="cursor: pointer" [ngStyle]="getTableRowStyle(observation)">
      <td style="padding: 1rem 0;white-space: nowrap">
        {{ observation.eventDate | localizedDate : "dd.MM.yyyy HH:mm" }}
      </td>
      <td style="padding: 1rem 0;white-space: nowrap">
        {{ observation.reportDate | localizedDate : "dd.MM.yyyy HH:mm" }}
      </td>
      <td style="padding: 1rem 0">{{ observation.authorName }}</td>
      <td style="padding: 1rem 0">
        {{ observation.locationName }}
        <i
          *ngIf="observation.latitude && observation.longitude"
          class="fa fa-map-marker"
          title="{{ 'observations.hasCoordinates' | translate }}"
        ></i>
      </td>
      <td style="padding: 0">
        <span *ngFor="let problem of observation.avalancheProblems">
          <img *ngIf="problem === 'new_snow'" src="./assets/img/New_snow_c.svg" style="width: 40px; max-width: unset" />
          <img *ngIf="problem === 'wind_slab'" src="./assets/img/Drifting_snow_c.svg" style="width: 40px; max-width: unset" />
          <img
            *ngIf="problem === 'persistent_weak_layers'"
            src="./assets/img/Persistent_weak_layers_c.svg"
            style="width: 40px; max-width: unset"
          />
          <img *ngIf="problem === 'wet_snow'" src="./assets/img/Wet_snow_c.svg" style="width: 40px; max-width: unset" />
          <img *ngIf="problem === 'gliding_snow'" src="./assets/img/Gliding_snow_c.svg" style="width: 40px; max-width: unset" />
          <img
            *ngIf="problem === 'favourable_situation'"
            src="./assets/img/Favourable_situation_c.svg"
            style="width: 40px; max-width: unset"
          />
          <img *ngIf="problem === 'cornices'" src="./assets/img/Cornices_c.svg" style="width: 40px; max-width: unset" />
          <img
            *ngIf="problem === 'no_distinct_problem'"
            src="./assets/img/No_distinct_problem_c.svg"
            style="width: 40px; max-width: unset"
          />
        </span>
        <abbr
          *ngFor="let importantObservation of observation.importantObservations"
          [title]="importantObservation"
          style="display: inline-block; margin: 1rem 0"
        >
          {{ formatImportantObservation(importantObservation) }}
        </abbr>
      </td>
      <td style="padding: 1rem 0">{{ observation.content }}</td>
    </tr>
  </ng-template>
</p-table>
<p-dialog [(visible)]="showDialog" [modal]="true" [header]="observation?.locationName" [style]="{ width: '80vw' }">
  <p-messages [(value)]="messages"></p-messages>
  <app-observation-editor *ngIf="observation" [observation]="observation"></app-observation-editor>
  <p-footer>
    <button
      type="button"
      pButton
      [icon]="saving ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
      [disabled]="
        saving ||
        observation?.reportDate === undefined ||
        observation?.eventDate === undefined ||
        observation?.reportDate === '' ||
        observation?.eventDate === ''
      "
      (click)="saveObservation()"
      label="{{ 'observations.button.save' | translate }}"
    ></button>
    <button
      type="button"
      pButton
      [icon]="saving ? 'pi pi-spin pi-spinner' : 'pi pi-trash'"
      [disabled]="saving || observation?.id === undefined"
      (click)="deleteObservation()"
      label="{{ 'observations.button.delete' | translate }}"
      class="ui-button-danger"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      (click)="discardObservation()"
      label="{{ 'observations.button.discard' | translate }}"
      class="ui-button-secondary"
    ></button>
  </p-footer>
</p-dialog>
