<div *ngIf="observation" class="ui-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 p-md-6">
    <label for="eventType">{{ "observations.eventType" | translate }}</label>
    <p-dropdown
      inputId="eventType"
      [options]="eventTypes"
      [(ngModel)]="observation.eventType"
      [showTransitionOptions]="'0ms'"
      [hideTransitionOptions]="'0ms'"
    >
    </p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="eventDate">{{ "observations.eventDate" | translate }}</label>
    <input id="eventDate" [(ngModel)]="observation.eventDate" type="text" pInputText />
  </div>
  <div class="p-field p-col-12">
    <label for="locationName">{{ "observations.locationName" | translate }}</label>
    <input id="locationName" [(ngModel)]="observation.locationName" type="text" pInputText />
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="authorName">{{ "observations.authorName" | translate }}</label>
    <input id="authorName" [(ngModel)]="observation.authorName" type="text" pInputText />
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="reportDate">{{ "observations.reportDate" | translate }}</label>
    <input id="reportDate" [(ngModel)]="observation.reportDate" type="text" pInputText />
  </div>
  <div class="p-field p-col-12">
    <label for="content">{{ "observations.content" | translate }}</label>
    <textarea id="content" [(ngModel)]="observation.content" type="text" rows="8" pInputTextarea></textarea>
  </div>
</div>
