<div *ngIf="observation" class="ui-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 p-md-6">
    <label for="eventType"><i class="fa fa-square"></i> {{ "observations.eventType" | translate }}</label>
    <p-dropdown
      inputId="eventType"
      [options]="eventTypes"
      [(ngModel)]="observation.eventType"
      [showTransitionOptions]="'0ms'"
      [hideTransitionOptions]="'0ms'"
    >
    </p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="eventDate"><i class="fa fa-calendar"></i> {{ "observations.eventDate" | translate }}</label>
    <p-calendar inputId="eventDate" [(ngModel)]="observation.eventDate" [showTime]="true" dateFormat="dd.mm.yy"></p-calendar>
  </div>
  <div class="p-field p-col-12">
    <label for="locationName"><i class="fa fa-globe"></i> {{ "observations.locationName" | translate }}</label>
    <input id="locationName" [(ngModel)]="observation.locationName" type="text" pInputText />
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="authorName"><i class="fa fa-user"></i> {{ "observations.authorName" | translate }}</label>
    <input id="authorName" [(ngModel)]="observation.authorName" type="text" pInputText />
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="reportDate"><i class="fa fa-pencil"></i> {{ "observations.reportDate" | translate }}</label>
    <p-calendar inputId="eventDate" [(ngModel)]="observation.reportDate" [showTime]="true" dateFormat="dd.mm.yy"></p-calendar>
  </div>
  <div class="p-field p-col-12">
    <label for="content"><i class="fa fa-comment"></i> {{ "observations.content" | translate }}</label>
    <textarea id="content" [(ngModel)]="observation.content" type="text" rows="8" pInputTextarea></textarea>
  </div>
</div>
