<div class="row">
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h1>{{ quickReport.getInfo().getLocation().getName() }}</h1>
      <div *ngIf="quickReport.getShowUsername()">{{ quickReport.getInfo().getAuthor().getName() }}</div>
      <div *ngIf="!quickReport.getShowUsername()">{{ "quickReport.anonymous" | translate }}</div>
      <div>{{ quickReport.getInfo().getDatetime().getDate() | localizedDate:'fullDate' }}</div>
      <div *ngIf="quickReport.getInfo().getLocation().getAccuracy()">{{ "location.accuracy" | translate }}{{ getAccuracy() }}{{ "units.m" | translate }}</div>
      <div *ngIf="!quickReport.getInfo().getLocation().getAccuracy()">{{ "location.unknownAccuracy" | translate }}</div>
    </div>
    <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.newSnow" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.newSnow != undefined">
            <p>{{ "newSnow." + newSnow[quickReport.newSnow] | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.newSnow == undefined">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.alarmSignsFrequency" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.alarmSigns != undefined">
            <p>{{ "alarmSignsFrequency." + alarmSigns[quickReport.alarmSigns] | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.alarmSigns == undefined">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.driftingSnow" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.driftingSnow != undefined">
            <p>{{ "driftingSnow." + driftingSnow[quickReport.driftingSnow] | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.driftingSnow == undefined">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.avalanches" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.avalanches != undefined">
            <p>{{ "avalanches." + avalanches[quickReport.avalanches] | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.avalanches == undefined">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.penetrationDepth" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.penetrationDepth != undefined">
            <p>{{ "penetrationDepth." + penetrationDepth[quickReport.penetrationDepth] | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.penetrationDepth == undefined">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.surfaceSnowWetness" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.surfaceSnowWetness != undefined">
            <p>{{ "surfaceSnowWetness." + surfaceSnowWetness[quickReport.surfaceSnowWetness] | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.surfaceSnowWetness == undefined">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.tracks" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.tracks != undefined">
            <p>{{ "tracks." + tracks[quickReport.tracks] | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.tracks == undefined">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.avalancheProblems" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.avalancheProblems && quickReport.avalancheProblems.length > 0">
            <p>{{ getAvalancheProblemsString() }}</p>
          </div>
          <div class="col-md-6" *ngIf="!quickReport.avalancheProblems || quickReport.avalancheProblems.length == 0">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.rode" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.rode && quickReport.rode.length > 0">
            <p>{{ getRodeString() }}</p>
          </div>
          <div class="col-md-6" *ngIf="!quickReport.rode || quickReport.rode.length == 0">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.avoided" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.avoided && quickReport.avoided.length > 0">
            <p>{{ getAvoidedString() }}</p>
          </div>
          <div class="col-md-6" *ngIf="!quickReport.avoided || quickReport.avoided.length == 0">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.snowConditions" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.snowConditions && quickReport.snowConditions.length > 0">
            <p>{{ getSnowConditionsString() }}</p>
          </div>
          <div class="col-md-6" *ngIf="!quickReport.snowConditions || quickReport.snowConditions.length == 0">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.ridingQuality" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.ridingQuality != undefined">
            <p>{{ "ridingQuality." + ridingQuality[quickReport.ridingQuality] | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.ridingQuality == undefined">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>{{ "quickReport.new.comment" | translate }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.info.comment != undefined">
            <p>{{ quickReport.info.comment }}</p>
          </div>
          <div class="col-md-6" *ngIf="quickReport.info.comment == undefined">
            <p>{{ "quickReport.noData" | translate }}</p>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
