<ul class="global-colors">
	{{# colors.utility }}
	<li>
		<span class="global-colors-swatch" style="background: {{ hex }};"></span>
		<span>
			{{ name }} <br />
			{{ hex }}
		</span>
	</li>
	{{/ colors.utility }}
</ul>