<div class="app flex-row align-items-center" [style]="getStyle()">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <h1>{{ "login.title" | translate }}</h1>
              <p class="text-muted">{{ "login.text" | translate }}</p>
              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input [disabled]="loading" type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="username">
              </div>
              <div class="input-group mb-2">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input [disabled]="loading" type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password">
              </div>
              <div class="row">
                <div *ngIf="!loading" class="col-6">
                  <button type="button" class="btn btn-primary px-3" (click)="login()">{{ "login.button" | translate }}</button>
                </div>
                <div *ngIf="loading" class="col-6">
                  <button type="button" disabled class="btn btn-primary px-3"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #errorTemplate>
  <div class="modal-body text-center">
    <p>{{ "login.errorDialog.message" | translate }}</p>
    <button type="button" class="btn btn-primary" (click)="errorModalConfirm()">{{ "login.errorDialog.accept" | translate }}</button>
  </div>
</ng-template>
