<ul class="list-plain navigation">
	
	<li><a href="#" class="{{#navigation-home}}active{{/navigation-home}} " title="">Avalanche Bulletin <small>Home</small></a></li>
	<li>
		<a href="#" class="{{#navigation-snowweather}}active{{/navigation-snowweather}} has-sub" title="">Snow &amp; Weather</a>
		<ul class="list-plain subnavigation">
			<li><a href="#" class="{{#subnavigation-aktuellekarte}}active{{/subnavigation-aktuellekarte}}" title="">Aktuelle Karten</a></li>
			<li><a href="#" class="{{#subnavigation-stationsmesswerte}}active{{/subnavigation-stationsmesswerte}}" title="">Stationsmesswerte</a></li>
			<li><a href="#" class="{{#subnavigation-prognosekarten}}active{{/subnavigation-prognosekarten}}" title="">Progonosekarten</a></li>
			<li><a href="#" class="{{#subnavigation-wetterstationen}}active{{/subnavigation-wetterstationen}}" title="">Wetterstationen</a></li>
			<li><a href="#" class="{{#subnavigation-schneeprofile}}active{{/subnavigation-schneeprofile}}" title="">Schneeprofile</a></li>
			<li><a href="#" class="{{#subnavigation-unfaelle}}active{{/subnavigation-unfaelle}}" title="">Unfälle</a></li>
			<li><a href="#" class="{{#subnavigation-webcams}}active{{/subnavigation-webcams}}" title="">Webcams</a></li>
		</ul>
	</li>
	<li>
		<a href="#" class="{{#navigation-educationprevention}}active{{/navigation-educationprevention}} has-sub" title="">Education &amp; Prevention</a>
		<ul class="list-plain subnavigation">
			<li><a href="#" class="{{#subnavigation-gefahrenskala}}active{{/subnavigation-gefahrenskala}}" title="">Gefahrenskala</a></li>
			<li><a href="#" class="{{#subnavigation-matrix}}active{{/subnavigation-matrix}}" title="">Matrix</a></li>
			<li><a href="#" class="{{#subnavigation-lawinenprobleme}}active{{/subnavigation-lawinenprobleme}}" title="">Lawinenprobleme</a></li>
			<li><a href="#" class="{{#subnavigation-gefahrenmuster}}active{{/subnavigation-gefahrenmuster}}" title="">Gefahrenmuster</a></li>
			<li><a href="#" class="{{#subnavigation-lawinengroessen}}active{{/subnavigation-lawinengroessen}}" title="">Lawinengrößen</a></li>
			<li><a href="#" class="{{#subnavigation-gelaendeneigungen}}active{{/subnavigation-gelaendeneigungen}}" title="">Geländeneigungen</a></li>
			<li><a href="#" class="{{#subnavigation-glossar}}active{{/subnavigation-glossar}}" title="">Glossar</a></li>
			<li><a href="#" class="{{#subnavigation-icons}}active{{/subnavigation-icons}}" title="">Icons</a></li>
		</ul>
	</li>
	<li><a href="#" class="{{#navigation-blog}}active{{/navigation-blog}}" title="">Blog</a></li>
	<li>
		<a href="#" class="{{#navigation-more}}active{{/navigation-more}} has-sub" title="">More</a>
		<ul class="list-plain subnavigation">
			<li><a href="#" class="{{#subnavigation-archive}}active{{/subnavigation-archive}}" title="">Archive</a></li>
			<li><a href="#" class="{{#subnavigation-api}}active{{/subnavigation-api}}" title="">API</a></li>
			<li><a href="#" class="{{#subnavigation-about}}active{{/subnavigation-about}}" title="">About</a></li>
			<li><a href="#" class="{{#subnavigation-contact}}active{{/subnavigation-contact}}" title="">Contact</a></li>
			<li><a href="#" class="{{#subnavigation-imprint}}active{{/subnavigation-imprint}}" title="">Imprint</a></li>
		</ul>
	</li>

</ul>