/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #ACCORDION
\*------------------------------------*/

.accordion {
  overflow: hidden;
  border-bottom: $border-color $border-style $border-width;
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.accordion-trigger,
.accordion-content {
  padding: ($all-v-padding * 0.5) $all-h-padding;
}

.accordion-trigger {
  cursor: pointer;
  h1,
  h2,
  h3,
  h4 {
    position: relative;
    margin: 0;
    padding-right: 3em;
    @include rollout;
  }
  span {
    position: absolute;
    top: 0.2em;
    right: 0;
    margin: 0;
    font-size: 1rem;
    @extend .icon-down-open-big;
    @include rollout;
    &:before {
      margin-right: 0;
    }
  }
  &:hover {
    @include text-color($anchor-font-color-hover);
  }
}

.accordion-content {
  display: none;
  padding-top: 0;
  @include last-child;
}

.accordion.js-active {
  .accordion-trigger {
    span {
      transform: rotate(180deg);
    }
  }
}
