/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #ARCHIVE
\*------------------------------------*/

.table-archive {
  position: relative;

  thead {
    position: relative;
    tr {
      position: relative;
    }
    th {
      line-height: 1;
    }
  }

  tbody {
    position: relative;
    tr {
      position: relative;
    }
    td {
      position: relative;
      line-height: 1;
    }

    .region-nt {
      color: $tyrol-color;
    }
    .region-st {
      color: $south-tyrol-color;
    }
    .region-tr {
      color: $trentino-color;
    }

    .time {
      font-size: $micro-font-size;
      @include font-normal;
      @include letter-spacing;
    }

    .list-download {
      margin-bottom: 0;
      li {
        padding-bottom: 0;
      }
    }

    .map-preview {
      display: inline-block;
      height: $picto-height;
      img {
        max-width: none;
        height: $picto-height;
        @include box-border;
      }
    }

    .avalanche-situation-preview {
      display: flex;
      gap: 0 $padding;
    }

  }
}