@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../atoms/media";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #ARCHIVE
\*------------------------------------*/

.table-archive {
  position: relative;

  thead {
    position: relative;
    tr {
      position: relative;
    }
    th {
      line-height: 1;
    }
  }

  tbody {
    position: relative;
    tr {
      position: relative;
    }
    td {
      position: relative;
      line-height: 1;
    }

    .region-nt {
      color: variables.$tyrol-color;
    }
    .region-st {
      color: variables.$south-tyrol-color;
    }
    .region-tr {
      color: variables.$trentino-color;
    }

    .time {
      font-size: variables.$micro-font-size;
      @include mixins.font-normal;
      @include mixins.letter-spacing;
    }

    .list-download {
      margin-bottom: 0;
      li {
        padding-bottom: 0;
      }
    }

    .map-preview {
      display: inline-block;
      height: media.$picto-height;
      img {
        max-width: none;
        height: media.$picto-height;
        @include mixins.box-border;
      }
    }

    .avalanche-situation-preview {
      display: flex;
      gap: 0 variables.$padding;
    }
  }
}
