@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../atoms/icons";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #BLOG
\*------------------------------------*/

.blog-feature-meta {
  margin-bottom: variables.$margin-bottom * 0.5;
  font-size: variables.$tiny-font-size;
  .linkbox & {
    margin-bottom: 0;
  }
  li {
    padding-bottom: variables.$padding * 0.5;
    @include mixins.rollout(
      all,
      variables.$transition-duration * 2,
      ease-in-out
    );
  }
  .blog-date {
  }
  .blog-author,
  .blog-province {
    @include mixins.font-heavy;
  }

  .blog-languages {
    position: relative;
    clear: left;
    display: flex;

    @include icons.icon(
      language,
      1.5em,
      variables.$padding,
      variables.$text-color,
      -0.25em,
      none
    );

    .blog-feature-meta-languages {
      margin-bottom: 0;
      li {
        padding-bottom: 0;
      }
    }
  }
}

.blog-feature-title {
  flex-grow: 10;
  margin-bottom: variables.$header-margin-bottom * 2;
}

.blog-list-labels {
  .section-header & li {
    line-height: inherit !important;
  }
  span {
    margin: 0;
    @include mixins.rollout(
      all,
      variables.$transition-duration * 2,
      ease-in-out
    );
    &:hover {
      color: variables.$anchor-font-color;
      border-color: variables.$anchor-font-color;
      @include mixins.rollover(
        all,
        variables.$transition-duration * 2,
        ease-in-out
      );
    }
  }
}

.blog-page-flipper {
  text-align: center;
  a {
    color: variables.$brand;
  }

  + .section-blog-posts {
    padding-top: 0;
  }
}

img {
  -ms-interpolation-mode: bicubic;
}

/* blog styling */
.blog-post tr td.tr-caption,
.blog-post tr td.tr-caption * {
  font-size: 0.8rem !important;
}

.blog-post {
  // font-size: 1rem !important;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  > *:not(.wp-block-post-featured-image):not(.wp-block-image):not(
      .wp-block-gallery
    ):not(.wp-block-video) {
    padding-left: variables.$all-h-padding;
    padding-right: variables.$all-h-padding;
  }
}

.wp-block-post-featured-image,
.wp-post-image,
.wp-block-image {
  img {
    margin-bottom: 0;
  }
}
.wp-block-image {
  img {
    width: 100%;
    max-width: 100%;
  }
}

.wp-block-gallery {
  img {
    margin-bottom: 0;
  }
}

.wp-element-caption {
  margin: 0 variables.$all-h-padding;
  font-size: variables.$small-font-size;
  color: variables.$grey;
}

.blocks-gallery-caption {
  margin-top: -(variables.$margin-bottom);
}

[data-lineaplot-wrapper]:has(> linea-plot:not(:empty)) > img {
  display: none;
}
