@use "sass:color";

@use "../abstracts/bounds";
@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../atoms/icons";
@use "../atoms/bgs";
@use "../atoms/media";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #BULLETIN 2026
\*------------------------------------*/

$bulletin-report-header-breakpoint: variables.breakpoint-up(normal);

[data-bulletin-version="2026"] {
  .bulletin-map-cta {
    position: absolute;
    top: variables.$padding;
    left: 50%;
    transform: translateX(-50%);
    padding: (variables.$padding * 0.5) (variables.$padding);
    @media #{variables.breakpoint-up(medium)} {
      top: variables.$padding * 2;
    }

    display: flex;
    align-items: center;
    gap: variables.$padding;

    color: variables.$white;
    background-color: variables.$brand;
    @include mixins.box-shadow(0.15);
    opacity: 1;
    @include mixins.rollout();

    [class^="icon-"] {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:before {
        margin: -(variables.$padding);
      }
    }
  }

  .section-bulletin-linkbar {
    .linkbar .list-buttongroup {
      justify-content: flex-end;
    }
  }

  .section-bulletin-report {
    .panel {
      padding: 0 variables.$all-h-padding variables.$all-v-padding
        variables.$all-h-padding;
    }
  }

  .bulletin-report-header {
    padding-top: variables.$all-h-padding;
    margin-bottom: 0;
    gap: variables.$padding * 0.5;
    flex-wrap: wrap;
    @media #{variables.breakpoint-up(tiny)} {
      flex-direction: column;
      justify-content: initial;
    }
    @media #{$bulletin-report-header-breakpoint} {
      flex-direction: row;
      justify-content: space-between;
    }

    & + :not(.top-fix-placeholder),
    & + .top-fix-placeholder + * {
      margin-top: variables.$margin-bottom;
    }
  }

  .bulletin-report-header-details {
    order: 2;
    @media #{$bulletin-report-header-breakpoint} {
      order: 1;
    }

    display: flex;
    gap: 0 (variables.$padding * 2);
    align-items: center;
    flex-wrap: wrap;

    width: 100%;

    font-size: variables.$micro-font-size;

    .text-icon {
      display: flex;
      gap: 0 (variables.$padding * 0.5);
      align-items: center;
      flex-wrap: nowrap;
      line-height: 1;
    }
    .icon {
      display: flex;
      align-items: center;
      max-height: 1.5em;
      &:before {
        margin: 0 -0.25em;
      }
    }
  }

  .bulletin-datetime-update {
    color: variables.$warning-color;
  }

  .bulletin-report-header-danger-level {
    order: 3;
    @media #{$bulletin-report-header-breakpoint} {
      order: 2;
    }
  }

  .bulletin-report-header-buttons {
    order: 1;
    @media #{$bulletin-report-header-breakpoint} {
      order: 3;
    }
  }

  .bulletin-report-recommendation {
    margin-bottom: variables.$margin-bottom;
    &.is-recommendation {
      position: relative;
      left: variables.$bar-width;
      margin-left: -(variables.$all-h-padding);
      margin-right: -(variables.$all-h-padding);
      padding: (variables.$all-v-padding * 0.5)
        (variables.$all-h-padding * 1.25) (variables.$all-v-padding * 0.5)
        (variables.$all-h-padding * 0.75);
      @media #{variables.breakpoint-up(medium)} {
        left: 0;
        padding: (variables.$all-v-padding * 0.5) variables.$all-h-padding;
      }
      background-color: variables.$grey-very-very-light;
    }

    display: flex;
    flex-direction: column;
    gap: variables.$padding;

    .bulletin-report-public-alert {
      margin: 0;
      gap: 0 variables.$padding;

      .bulletin-report-public-alert-text {
        font-size: variables.$xlarge-font-size;
        @include mixins.font-normal;
      }
    }
    &.is-alert {
      .bulletin-report-public-alert {
        .bulletin-report-public-alert-text {
          color: variables.$warning-color;
        }
      }
    }

    .list-bulletin-report-recommendation {
      margin: 0;
    }
  }

  .bulletin-report-pictobar {
    @media #{variables.breakpoint-up(normal)} {
      display: block;
    }
  }

  .list-bulletin-report-pictos {
    flex-grow: initial;
    li {
      border-top: none;
      gap: variables.$padding;
      align-items: stretch;
      @media #{variables.breakpoint-up(normal)} {
        gap: variables.$padding * 2;
      }
      &:first-child {
        > div:first-child {
          padding-right: 0;
          border-right: none;
          @media #{variables.breakpoint-up(tiny)} {
            padding-right: 0;
          }
        }
      }
      > div {
        position: relative;
        margin-right: 0;
        padding: 0;
        @media #{variables.breakpoint-up(tiny)} {
          margin-right: 0;
        }
      }
    }
  }

  .bulletin-report-picto {
    align-content: center;

    &[class*="warning-level"] {
      border-left: 0.5em solid transparent;

      p {
        margin: 0 0 0 variables.$padding;
        @media #{variables.breakpoint-up(normal)} {
          margin: 0 0 0 (variables.$padding * 2);
        }
        font-size: variables.$xlarge-font-size;
        @include mixins.font-heavy;
      }

      @for $level from 1 through variables.$warning-level-count {
        &.warning-level-#{$level} {
          border-left-color: variables.warning-level-color($level);

          p {
            color: variables.warning-level-color($level);
          }
        }
      }
    }

    &.problem-altitude {
      span {
        &:before {
          color: variables.$text-color;
        }
        i {
          &:before {
            color: variables.$text-color;
          }
        }
      }
      &.problem-middle {
        span {
          i {
            &:before {
              top: 0.7em;
            }
          }
        }
      }
    }

    &.matrix-info-container {
      display: flex;
      align-items: center;
      gap: 0 (variables.$padding * 0.5);
      .matrix-information {
        @include mixins.font-normal;
        @include mixins.letter-spacing(0);
      }
      .matrix-info {
      }
    }
  }

  .bulletin-report-text {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: variables.$padding;
    h2,
    p {
      margin: 0;
    }
  }
}
