@use "sass:color";

@use "../abstracts/bounds";
@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../atoms/icons";
@use "../atoms/bgs";
@use "../atoms/media";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/



/*------------------------------------*\
    #BULLETIN
\*------------------------------------*/



.section-bulletin {
  .list-labels {
    margin-bottom: variables.$margin-bottom * 0.5;
  }
}



.section-bulletin-legend {

  &.section-padding {
    padding-top: variables.$all-v-padding * 0.5;
    padding-bottom: 0;
  }
  .section-centered > * {
    font-size: variables.$tiny-font-size; //$body-font-size-tiny;
  }
  p {
    margin-bottom: variables.$padding * 0.5;
    font-size: variables.$tiny-font-size; //$body-font-size-tiny;
    @include mixins.letter-spacing;
    strong {
      @include mixins.font-heavy;
    }
  }
  img {
    height: media.$picto-height;
    //max-width: none;//<- why?
    margin: 0;
    @include mixins.rollover;
  }

  .list-avalanche-problems-filter {
    padding-top: variables.$padding;
    display: flex;
    flex-wrap: nowrap;
    gap: 0 (variables.$padding * 2);

    li {
      position: relative;
    }

    .picto-img {
      transform: translateY(-(variables.$padding));
      border: variables.$border-width variables.$border-style
        variables.$border-color;
      @include mixins.rollout;

      img,
      svg {
        opacity: 1;
      }
      &:after {
        z-index: 5;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(variables.$brand, 0);
        @include mixins.rollout(all, variables.$transition-duration * 2);
      }
    }

    .picto-caption {
      position: relative;
      margin: (variables.$padding * 0.25) (-(variables.$padding) * 0.9) 0
        (-(variables.$padding) * 0.9);
      font-size: variables.$nano-font-size;
      line-height: 1.2;
      text-align: center;
    }

    a {
      position: relative;
      display: block;
      width: media.$picto-height;
      // height: $picto-height-plus;
      background: none;

      &:after {
        content: none;
      }

      &:hover {
        .picto-img {
          @include mixins.rollover;
          &:after {
            background-color: rgba(variables.$brand, 0.05);
            @include mixins.rollover(all, variables.$transition-duration * 2);
          }
        }
      }

      &.js-deactivated {
        .picto-img {
          transform: translateY(0);
          img {
            opacity: 0.5;
            filter: grayscale(100%);
          }
        }
        &:hover {
          .picto-img {
            img {
              opacity: 1;
              filter: grayscale(0%);
            }
          }
        }
      }
    }
  }

  .list-legend {
    display: flex;
    margin-bottom: 0;
    li {
      position: relative;
      width: 20%;
      margin-right: variables.$border-width;
      padding: (variables.$bar-width * 3) 0 0 0;
      &:last-child {
        margin-right: 0;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        height: (variables.$bar-width * 2);
        width: 100%;
      }
      span {
        display: block;
        text-align: center;
        @include mixins.letter-spacing;
      }
      strong {
        display: block;
      }
    }
    .warning-level-1 {
      &:before {
        @extend .bg-warning-level-1;
      }
    }
    .warning-level-2 {
      &:before {
        @extend .bg-warning-level-2;
      }
    }
    .warning-level-3 {
      &:before {
        @extend .bg-warning-level-3;
      }
    }
    .warning-level-4 {
      &:before {
        @extend .bg-warning-level-4;
      }
    }
    .warning-level-5 {
      &:before {
        @extend .bg-warning-level-5;
      }
    }
  }
}



.section-bulletin-controlbar {
  .controlbar {
    @include mixins.link-color(variables.$white, variables.$white);
  }
}



.bulletin-list {
  margin: 0;
  .bulletin-list-item {
    margin-bottom: variables.$margin-bottom;
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

//from alien app.scss
// #section-bulletin-report {
//   commented out 'cause it won't select anything anyway
//   @media only screen and (max-width: 57.5em) {
//     .page-main section.section-centered {
//       padding: 0px !important;
//     }
//   }
// }



.bulletin-report-header {
  display: flex;
  flex-direction: column;
  gap: variables.$padding;

  margin-bottom: variables.$margin-bottom;

  @media #{variables.$tiny-up} {
    flex-direction: row;
    justify-content: space-between;
  }

  > div {
    @include mixins.last-child;
  }

  .bulletin-report-header-diff {
    display: flex;
    gap: 0.5em;
    align-items: center;

    margin-bottom: variables.$padding * 0.5;
    font-size: variables.$micro-font-size;
    color: variables.$warning-color;
    background: variables.$tertiary-color;
    border: variables.$border-width variables.$border-style
      variables.$tertiary-color;
    // @media (hover: hover) {
    //   &:hover {
    //     color: $primary-color;
    //     background: $white;
    //     border-color: $white;
    //   }
    // }

    .marginal {
      margin: inherit;
      font-size: inherit;
      color: inherit;
    }

    .text-icon {
      display: flex;
      gap: 0.25em;
      align-items: center;
    }
    .icon {
      display: flex;
      align-items: center;
      max-height: 1.5em;
      &:before {
        margin: 0 0 0 -0.25em;
      }
    }
  }

  .bulletin-report-header-meta {
    margin-bottom: 0;
    font-size: variables.$tiny-font-size;
    @include mixins.letter-spacing;
    strong {
      @include mixins.font-heavy;
    }
  }
}

.bulletin-report-pictobar {
  margin-bottom: variables.$margin-bottom;
  font-size: variables.$tiny-font-size;
  @media #{variables.$normal-up} {
    display: flex;
    flex-wrap: wrap;
  }
}

.bulletin-report-region {
  display: flex;
  margin: 0 variables.$grid-gutter (variables.$padding * 2) 0;
  line-height: 0;
  @media #{variables.$normal-up} {
    display: flex;
    align-self: stretch;
    //max-width: none;//<- why?
    margin-bottom: 0;
  }

  a.img {
    &:before {
      z-index: 10;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-right: 0;
      font-size: 3rem;
      color: variables.$white;
      transform: translate(-50%, 0%);
      opacity: 0;
    }
    &:hover {
      // img {}
      &:before {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }
  }
  img {
    position: relative;
    top: 0;
    max-width: 45vw;
    margin-bottom: 0;
    line-height: 1.4;
    @include mixins.box-border;
  }

  @media #{variables.$tiny-up} {
    img {
      max-width: 30vw;
    }
  }
  @media #{variables.$normal-up} {
    a.img {
      display: block;
      align-self: center;
    }
    img {
      max-width: 20vw;
    }
  }
  @media #{variables.$large-up} {
    img {
      max-width: 15vw;
    }
  }
}

.list-bulletin-report-pictos {
  flex-grow: 2;
  align-self: center;
  margin-bottom: 0;
  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    border-top: variables.$border-width variables.$border-style
      variables.$border-color;
    &:first-child {
      padding-top: 0;
      border-top: none;
      > div:first-child {
        padding-right: variables.$padding;
        border-right: variables.$border-width variables.$border-style
          variables.$border-color;
        @media #{variables.$tiny-up} {
          padding-right: variables.$padding * 2;
        }
      }
    }
    > div {
      position: relative;
      margin-right: variables.$padding;
      padding: variables.$padding 0;
      @media #{variables.$tiny-up} {
        margin-right: variables.$padding * 2;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    &.list-bulletin-report-pictos-trigger {
      @include mixins.font-bold;
      @include mixins.letter-spacing;
      a {
        display: flex;
        justify-content: flex-start;
        padding: 0.5em 0 0 0;
      }
    }
  }
}

.bulletin-report-picto {
  display: flex;
  flex-wrap: wrap;
  @include mixins.font-heavy;
  @include mixins.letter-spacing;

  > a {
    &:link,
    &:visited {
      display: flex;
      color: variables.$text-color;
    }
    &:hover,
    &:active {
      color: variables.$anchor-font-color-hover;
    }
  }
  img,
  svg {
    height: media.$picto-height;
    //max-width: none;//<- why?
    margin: 0;
  }
  span {
    align-self: center;
    margin: 0.6em 0 0 0.5em;
    line-height: 1;
    white-space: nowrap;
  }

  &.avalanche-situation {
    .picto-img {
      position: relative;
      border: variables.$border-width variables.$border-style
        variables.$border-color;
      @include mixins.rollout;
      img,
      svg {
        max-width: none;
        height: media.$picto-height;
        margin: 0;
      }
      &:after {
        z-index: 5;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(variables.$brand, 0);
        @include mixins.rollout(all, variables.$transition-duration * 2);
      }
    }

    .picto-caption {
      position: relative;
      max-width: media.$picto-height + variables.$padding * 1.8;
      margin: (variables.$padding * 0.25) (-(variables.$padding) * 0.9) 0
        (-(variables.$padding) * 0.9);
      @include mixins.font-normal;
      @include mixins.letter-spacing(0);
      font-size: variables.$nano-font-size;
      line-height: 1.2;
      text-align: center;
    }

    > a {
      &:link,
      &:visited {
        display: block;
        &:after {
          content: none;
        }
      }
      &:hover {
        .picto-img {
          @include mixins.rollover;
          &:after {
            background-color: rgba(variables.$brand, 0.05);
            @include mixins.rollover(all, variables.$transition-duration * 2);
          }
        }
      }
    }
  }

  &.problem-altitude {
    // flex-grow: 3;
    img,
    svg {
      height: media.$picto-height-minus;
    }
    span {
      position: relative;
      @media screen and (max-width: #{bounds.lower-bound(variables.$tiny-range)}) {
        font-size: variables.$micro-font-size;
      }
      @include icons.icon(down-open, auto, 0, auto, 0, none);
      &:before {
        position: absolute;
        top: 0.25em;
        left: -0.3em;
        font-size: 1.7rem;
        color: variables.$brand;
      }
      i {
        @include icons.icon(up-open, auto, 0, auto, 0, none);
        &:before {
          position: absolute;
          top: -0.7em;
          left: -0.3em;
          font-size: 1.7rem;
          color: variables.$brand;
        }
      }
    }

    &.problem-above {
      span {
        margin-top: 1em;
        &:before {
          display: none;
        }
      }
    }

    &.problem-below {
      span {
        margin-top: -1em;
        i {
          display: none;
        }
      }
    }

    &.problem-middle {
      span {
        margin-top: 0.1em;

        //from alien app.scss
        white-space: nowrap;

        &:before {
          top: -0.8em;
        }
        i {
          &:before {
            top: 0.3em;
          }
        }
      }
    }

    &.problem-all {
      span {
        margin-top: 0.1em;
        &:before {
          top: -0.8em;
        }
        i {
          &:before {
            top: 0.3em;
          }
        }
      }
    }
  }

  &.situation-frequency {
    display: none;
    img,
    svg {
      width: media.$picto-height-plus;
      height: 100%;
      //border: $border-width $border-style $border-color;
    }
  }


  
  &.matrix-information {
    flex-direction: column;
    gap: (variables.$padding * 0.25) 0;
    @include mixins.font-normal;
    @include mixins.letter-spacing(0);
    font-size: variables.$nano-font-size;
    line-height: 1.2;
  }
  // .matrix-info-headline {
  //   display: flex;
  //   flex-wrap: nowrap;
  //   span { margin: 0; }
  // }
  .matrix-info {
    display: flex;
    flex-wrap: nowrap;
    gap: 0 (variables.$padding * 0.25);

    // padding-left: variables.$bar-width;
    // border-left: (variables.$bar-width * 1) solid
    //   variables.$grey-very-very-light;

    span {
      margin: 0;
    }
  }

  // [class*="matrix-info-value-"] {
  //   border-left: $bar-width solid $grey-very-very-light;
  //   padding-left: $bar-width;
  // }

  // $matrix-info-value-opacity: 1;

  // .matrix-info-value-1 {
  //   border-color: rgba(variables.$white, $matrix-info-value-opacity);
  // }
  // .matrix-info-value-2 {
  //   border-color: rgba(variables.$grey-very-light, $matrix-info-value-opacity);
  // }
  // .matrix-info-value-3 {
  //   border-color: rgba(variables.$grey-light, $matrix-info-value-opacity);
  // }
  // .matrix-info-value-4 {
  //   border-color: rgba(variables.$black, $matrix-info-value-opacity);
  // }
  // .matrix-info-value-5 {
  //   border-color: rgba(variables.$black, $matrix-info-value-opacity);
  // }

  .matrix-info-name {
    // @include mixins.font-normal;
    // letter-spacing: 0;
  }
  .matrix-info-value {
    // min-width: 3.5em;
    // width: 50%;
    // @include mixins.font-bold;
  }
}



.bulletin-report-expositions {
  display: block;

  .bulletin-report-exposition-rose {
    display: block;
    z-index: 10;
  }

  //until 202212
  // div {
  //   position: relative;
  //   height: $picto-height;
  //   width: $picto-height;
  //   img, svg {
  //     display: none;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //   }
  // }
  // &.expo_n .expo_n {
  //   display: block;
  // }
  // &.expo_ne .expo_ne {
  //   display: block;
  // }
  // &.expo_e .expo_e {
  //   display: block;
  // }
  // &.expo_se .expo_se {
  //   display: block;
  // }
  // &.expo_s .expo_s {
  //   display: block;
  // }
  // &.expo_sw .expo_sw {
  //   display: block;
  // }
  // &.expo_w .expo_w {
  //   display: block;
  // }
  // &.expo_nw .expo_nw {
  //   display: block;
  // }
}

.bulletin-report-tendency {
  display: flex;
  align-items: center;
  line-height: variables.$header-line-height;
  span {
    display: inline-block;
    &:first-child {
      padding-right: variables.$grid-gutter * 0.25;
    }
    &:last-child {
      font-size: variables.$large-font-size;
      &:before {
        color: variables.$brand;
      }
    }
  }
  strong {
    @include mixins.font-heavy;
    @include mixins.letter-spacing;
  }
}

.bulletin-report-public-alert {
  @include mixins.font-bold;
  @include mixins.letter-spacing;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  .bulletin-report-public-alert-icon {
    margin: -0.45em 0 0 -0.5em;
    font-size: 1.5em;
    &:before {
      margin: 0;
      color: variables.$warning-color;
    }
  }
  // .bulletin-report-public-alert-text {}
}

.bulletin-author {
  font-size: variables.$tiny-font-size; //$body-font-size-tiny;
  @include mixins.letter-spacing;
  a {
    @include mixins.font-heavy;
  }
}

.bulletin-update-diff {
  // position: relative;
  background-color: color.adjust(variables.$green, $lightness: 55%);
  // background-color: rgba($green, 0.1);
  // outline: rgba($green, 0.1) $bar-width $border-style;
  // background: radial-gradient($green, transparent 50%);
  // outline: $green $border-width dashed;
  // outline: $green $border-width dotted;
  // > * {
  //   background-color: lighten($green, 50%);
  //   outline: $green $border-width dashed;
  // }
  // &:before {
  //   z-index: 100;
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   top: calc(50% - #{$bar-width});
  //   left: calc(50% - #{$bar-width});
  //   width: $bar-width * 2;
  //   height: $bar-width * 2;
  //   background-color: $green;
  //   border-radius: $global-rounded;
  //   filter: blur(5px);
  // }
}

.bulletin-update-diff-border {
  outline: color.adjust(variables.$green, $lightness: 55%) variables.$bar-width
    variables.$border-style;
}
