/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #BULLETIN
\*------------------------------------*/

.section-bulletin {
  .list-labels {
    margin-bottom: $margin-bottom * 0.5;
  }
}

.section-bulletin-legend {
  //from alien app.scss
  /*
  //Bulletin Filter bar
  .section-bulletin-legend
  .list-avalanche-problems-filter
  a:not(.js-deactivated):hover
  img:first-child {
  opacity: 1;
  }
  */

  &.section-padding {
    padding-top: $all-v-padding * 0.5;
    padding-bottom: 0;
  }
  .section-centered > * {
    font-size: $tiny-font-size; //$body-font-size-tiny;
  }
  p {
    margin-bottom: $padding * 0.5;
    font-size: $tiny-font-size; //$body-font-size-tiny;
    @include letter-spacing;
    strong {
      @include font-heavy;
    }
  }
  img {
    height: $picto-height-plus;
    //max-width: none;//<- why?
    margin: 0;
    @include rollover;
  }

  .list-avalanche-problems-filter {
    li {
      float: left;
    }
    img {
      position: absolute;
      top: 0;
      opacity: 1;
      background: none;

      //from alien app.scss
      //Animation bei den Lawinenproblemen lässt kleinen blauen Strich an der Oberkannte der Logos erkennen
      //background: none !important;

      border: $border-width $border-style $border-color;
      transform: translateY(0);
      &:first-child {
        z-index: 5;
      }
    }
    a {
      position: relative;
      top: 0;
      display: block;
      width: $picto-height-plus;
      height: $picto-height-plus;
      background: none;
      &:hover {
        img {
          opacity: 1;
        }
      }
      &.js-deactivated {
        top: $padding;
        img {
          opacity: 0.5;
          filter: grayscale(100%);
        }
        &:hover {
          img {
            filter: grayscale(50%);
          }
        }
      }
    }
  }
  .list-legend {
    display: flex;
    margin-bottom: 0;
    li {
      position: relative;
      width: 20%;
      margin-right: $border-width;
      padding: ($bar-width * 3) 0 0 0;
      &:last-child {
        margin-right: 0;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        height: ($bar-width * 2);
        width: 100%;
      }
      span {
        display: block;
        text-align: center;
        @include letter-spacing;
      }
      strong {
        display: block;
      }
    }
    .warning-level-1 {
      &:before {
        @extend .bg-warning-level-1;
      }
    }
    .warning-level-2 {
      &:before {
        @extend .bg-warning-level-2;
      }
    }
    .warning-level-3 {
      &:before {
        @extend .bg-warning-level-3;
      }
    }
    .warning-level-4 {
      &:before {
        @extend .bg-warning-level-4;
      }
    }
    .warning-level-5 {
      &:before {
        @extend .bg-warning-level-5;
      }
    }
  }
}

.bulletin-list {
  margin: 0;
  .bulletin-list-item {
    margin-bottom: $margin-bottom;
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

//from alien app.scss
// #section-bulletin-report {
//   commented out 'cause it won't select anything anyway
//   @media only screen and (max-width: 57.5em) {
//     .page-main section.section-centered {
//       padding: 0px !important;
//     }
//   }
// }

.bulletin-report-header {
  margin-bottom: $margin-bottom;
  .bulletin-report-header-meta {
    margin-bottom: 0;
    font-size: $tiny-font-size;
    @include letter-spacing;
    strong {
      @include font-heavy;
    }
  }
}

.bulletin-report-pictobar {
  margin-bottom: $margin-bottom;
  font-size: $tiny-font-size;
  @media #{$normal-up} {
    display: flex;
    flex-wrap: wrap;
  }
}

.bulletin-report-region {
  display: flex;
  margin: 0 $grid-gutter ($padding * 2) 0;
  line-height: 0;
  @media #{$normal-up} {
    display: flex;
    align-self: stretch;
    //max-width: none;//<- why?
    margin-bottom: 0;
  }

  a.img {
    &:before {
      z-index: 10;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-right: 0;
      font-size: 3rem;
      color: $white;
      transform: translate(-50%, 0%);
      opacity: 0;
    }
    &:hover {
      img {
      }
      &:before {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }
  }
  img {
    position: relative;
    top: 0;
    max-width: 45vw;
    margin-bottom: 0;
    line-height: 1.4;
    @include box-border;
  }

  @media #{$tiny-up} {
    img {
      max-width: 30vw;
    }
  }
  @media #{$normal-up} {
    a.img {
      display: block;
      align-self: center;
    }
    img {
      max-width: 20vw;
    }
  }
  @media #{$large-up} {
    img {
      max-width: 15vw;
    }
  }
}

.list-bulletin-report-pictos {
  flex-grow: 2;
  align-self: center;
  margin-bottom: 0;
  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    border-top: $border-width $border-style $border-color;
    &:first-child {
      > div:first-child {
        padding-right: $padding;
        @media #{$tiny-up} {
          padding-right: $padding * 2;
        }
        border-right: $border-width $border-style $border-color;
      }
      padding-top: 0;
      border-top: none;
    }
    > div {
      position: relative;
      margin-right: $padding;
      @media #{$tiny-up} {
        margin-right: $padding * 2;
      }
      padding: $padding 0;
      &:last-child {
        margin-right: 0;
      }
    }

    &.list-bulletin-report-pictos-trigger {
      @include font-bold;
      a {
        display: flex;
        justify-content: flex-start;
        padding: 0.5em 0 0 0;
      }

      // ~ li { display: none; }

      // .js-show-all-bulletin-report-pictos & {
      //   display: none;
      //   ~ li { display: flex; }
      // }
    }
  }
}

.bulletin-report-picto {
  display: flex;
  @include font-heavy;
  @include letter-spacing;
  > a {
    &:link,
    &:visited {
      display: flex;
      color: $text-color;
    }
    &:hover,
    &:active {
      color: $anchor-font-color-hover;
    }
  }
  img {
    height: $picto-height;
    //max-width: none;//<- why?
    margin: 0;
  }
  span {
    align-self: center;
    margin: 0.6em 0 0 0.5em;
    line-height: 1;
    white-space: nowrap;
  }
  &.avalanche-situation {
    img {
      height: $picto-height-plus;
      border: $border-width $border-style $border-color;
    }
  }
  &.problem-altitude {
    img {
      height: $picto-height-minus;
    }
    span {
      position: relative;
      @media screen and (max-width: #{lower-bound($tiny-range)}) {
        font-size: $micro-font-size;
      }
      @include icon(down-open, auto, 0, auto, 0, none);
      &:before {
        position: absolute;
        top: 0.25em;
        left: -0.3em;
        font-size: 1.7rem;
        color: $brand;
      }
      i {
        @include icon(up-open, auto, 0, auto, 0, none);
        &:before {
          position: absolute;
          top: -0.7em;
          left: -0.3em;
          font-size: 1.7rem;
          color: $brand;
        }
      }
    }
    &.problem-above {
      span {
        margin-top: 1em;
        &:before {
          display: none;
        }
      }
    }
    &.problem-below {
      span {
        margin-top: -1em;
        i {
          display: none;
        }
      }
    }
    &.problem-middle {
      span {
        margin-top: 0.1em;

        //from alien app.scss
        white-space: nowrap;

        &:before {
          top: -0.8em;
        }
        i {
          &:before {
            top: 0.3em;
          }
        }
      }
    }
    &.problem-all {
      span {
        margin-top: 0.1em;
        &:before {
          top: -0.8em;
        }
        i {
          &:before {
            top: 0.3em;
          }
        }
      }
    }
  }
  &.situation-frequency {
    img {
      width: $picto-height-plus;
      height: 100%;
      //border: $border-width $border-style $border-color;
    }
  }
}

.bulletin-report-tendency {
  display: flex;
  align-items: center;
  line-height: $header-line-height;
  span {
    display: inline-block;
    &:first-child {
      padding-right: $grid-gutter * 0.25;
    }
    &:last-child {
      font-size: $large-font-size;
      &:before {
        color: $brand;
      }
    }
  }
  strong {
    @include font-heavy;
    @include letter-spacing;
  }
}

.bulletin-report-expositions {
  display: block;
  height: $picto-height;
  width: $picto-height;
  img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .bulletin-report-exposition-rose {
    display: block;
    z-index: 10;
  }
  &.expo_n .expo_n {
    display: block;
  }
  &.expo_ne .expo_ne {
    display: block;
  }
  &.expo_e .expo_e {
    display: block;
  }
  &.expo_se .expo_se {
    display: block;
  }
  &.expo_s .expo_s {
    display: block;
  }
  &.expo_sw .expo_sw {
    display: block;
  }
  &.expo_w .expo_w {
    display: block;
  }
  &.expo_nw .expo_nw {
    display: block;
  }
}

.bulletin-report-public-alert {
  @include font-bold;
  @include letter-spacing;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  .bulletin-report-public-alert-icon {
    margin: -0.45em 0 0 -0.5em;
    font-size: 1.5em;
    &:before {
      margin: 0;
      color: $warning-color;
    }
  }
  .bulletin-report-public-alert-text {
  }
}

.bulletin-author {
  font-size: $tiny-font-size; //$body-font-size-tiny;
  @include letter-spacing;
  a {
    @include font-heavy;
  }
}
