/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #CALENDAR
\*------------------------------------*/

.react-calendar {
  &.albina-calendar-flesh {
    z-index: 10;
    width: 250px;
    font-family: inherit;
    font-size: $tiny-font-size;
    line-height: inherit;
    border: 0px solid transparent;

    .react-calendar__navigation {
      margin-bottom: 0;
      height: auto;
      button {
        min-width: 40px;
        min-height: 40px;
        &:enabled {
          color: $anchor-font-color;
          &:hover,
          &:focus {
            color: $white;
            background-color: $anchor-font-color;
          }
        }
        &[disabled] {
          background-color: transparent;
          opacity: 0.25;
        }
      }
    }

    .react-calendar__tile {
      &:enabled {
        &:hover,
        &:focus {
          background-color: $anchor-font-color;
          abbr {
            color: $white;
          }
        }
      }
      &[disabled] {
        background-color: transparent;
        opacity: 0.25;
        abbr {
          color: $text-color;
        }
      }
    }
    .react-calendar__tile--active {
      background-color: $anchor-font-color !important;
      abbr {
        color: $white;
      }
    }

    .react-calendar__month-view__weekdays {
      abbr {
        color: $grey;
        text-decoration: none;
      }
    }

    .react-calendar__tile--now,
    .react-calendar__tile--hasActive {
      background-color: lighten($warning-level-2-color, 25%);
    }

    .react-calendar__year-view,
    .react-calendar__decade-view,
    .react-calendar__century-view {
      .react-calendar__tile {
        padding: 1em 0.5em;
      }
    }

    .react-calendar__decade-view__years__year,
    .react-calendar__century-view__decades__decade {
      color: $anchor-font-color;
      &:enabled {
        &:hover,
        &:focus {
          color: $white;
          background-color: $anchor-font-color;
        }
      }
      &[disabled] {
        color: $text-color;
        background-color: transparent;
        opacity: 0.25;
      }
    }
  }
}

.albina-calendar-modal {
  @include box-shadow(0.15);
}

a.albina-calendar-close {
  // display: block;
  width: 100%;
  padding: ($padding * 0.5) ($padding * 2);
  font-size: $tiny-font-size;
  text-align: center;
  color: $anchor-font-color;
  background: $white;
  border-color: transparent;
  span {
    @include font-normal;
    @include letter-spacing(0);
    text-transform: none;
  }
  &:hover {
    color: $white;
    background: $anchor-font-color;
    border-color: transparent;
  }
}
