/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #CONTROLBAR
\*------------------------------------*/

.controlbar {
  z-index: 10;
  padding: ($all-v-padding * 0.5) $all-h-padding;

  @extend .bg-brand;
  @include text-color($white);
  @include link-color($black, $white);

  ~ .controlbar {
    z-index: 9;
  }

  .grid {
    grid-gap: $padding;
  }

  .grid-item:last-child {
    //.info {display: none;}
    @media #{$normal-up} {
      //.info { display: block; }
      float: right;
      text-align: right;
      .pure-form-search {
        justify-content: flex-end;
      }
    }
  }

  .list-controlbar {
    display: flex;
    flex-wrap: wrap;
    > li {
      position: relative;
      vertical-align: top;
      padding-right: $padding;
    }
  }

  .info {
    margin-bottom: $padding * 0.4;
    font-size: $tiny-font-size; //$body-font-size-tiny;
    @include letter-spacing;
  }

  .filter {
    margin-top: 0.75em;
    li {
      padding-right: $padding * 0.5;
    }
    .label {
      color: $white;
      border-color: $white;
      background: transparent;
      &:hover,
      &.js-active {
        color: $brand;
        background: $white;
        border-color: $white;
      }
    }
  }
  + .blog-page-flipper {
    padding: 1em;
  }
}

//from alien app.scss
@media (hover: none) {
  // disable hover styles on touch devices
  .controlbar .filter a.label:not(.js-active):hover {
    color: $white;
    background: transparent;
  }
}

.controlbar-big {
  padding: ($all-v-padding * 2) $all-h-padding;
}

.controlbar-subtle {
  @include text-color($black);
  @include link-color($anchor-font-color, rgba($anchor-font-color-hover, 0.9));
  @extend .bg-brand-subtle;
}

.controlbar-dev {
  @include text-color($black);
  @include link-color($anchor-font-color, rgba($anchor-font-color-hover, 0.9));
  @extend .bg-warning-level-2;
}

.controlbar-bg-image {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  mix-blend-mode: luminosity;
  opacity: 0.2;
  .controlbar-image & {
    display: block;
  }
}

.controlbar-big-hide {
  .controlbar-big & {
    display: none;
  }
}
.controlbar-big-show {
  display: none;
  .controlbar-big & {
    display: block;
  }
}
