@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../atoms/bgs";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #CONTROLBAR
\*------------------------------------*/

.controlbar {
  z-index: 10;
  padding: (variables.$all-v-padding * 0.5) variables.$all-h-padding;

  @extend .bg-brand;
  @include mixins.text-color(variables.$white);
  @include mixins.link-color(variables.$black, variables.$white);

  ~ .controlbar {
    z-index: 9;
  }

  .grid {
    grid-gap: variables.$padding;
  }

  .grid-item:last-child {
    //.info {display: none;}
    @media #{variables.$normal-up} {
      //.info { display: block; }
      float: right;
      text-align: right;
      .pure-form-search {
        justify-content: flex-end;
      }
    }
  }

  .list-controlbar {
    display: flex;
    flex-wrap: wrap;
    > li {
      position: relative;
      vertical-align: top;
      padding-right: variables.$padding;
    }
  }

  .info {
    margin-bottom: variables.$padding * 0.4;
    font-size: variables.$tiny-font-size; //$body-font-size-tiny;
    @include mixins.letter-spacing;
  }

  .filter {
    margin-top: 0.75em;
    li {
      padding-right: variables.$padding * 0.5;
    }
    .label {
      color: variables.$white;
      border-color: variables.$white;
      background: transparent;
      &:hover,
      &.js-active {
        color: variables.$brand;
        background: variables.$white;
        border-color: variables.$white;
      }
    }
  }
  + .blog-page-flipper {
    padding: 1em;
  }
}

//from alien app.scss
@media (hover: none) {
  // disable hover styles on touch devices
  .controlbar .filter a.label:not(.js-active):hover {
    color: variables.$white;
    background: transparent;
  }
}

.controlbar-big {
  padding: (variables.$all-v-padding * 2) variables.$all-h-padding;
}

.controlbar-subtle {
  @include mixins.text-color(variables.$black);
  @include mixins.link-color(
    variables.$anchor-font-color,
    rgba(variables.$anchor-font-color-hover, 0.9)
  );
  @extend .bg-brand-subtle;
}

.controlbar-dev {
  @include mixins.text-color(variables.$black);
  @include mixins.link-color(
    variables.$anchor-font-color,
    rgba(variables.$anchor-font-color-hover, 0.9)
  );
  @extend .bg-warning-level-2;
}

.controlbar-bg-image {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  mix-blend-mode: luminosity;
  opacity: 0.2;
  .controlbar-image & {
    display: block;
  }
}

.controlbar-big-hide {
  .controlbar-big & {
    display: none;
  }
}
.controlbar-big-show {
  display: none;
  .controlbar-big & {
    display: block;
  }
}
