/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #CONTROLBAR
\*------------------------------------*/

.controlbar {
  z-index: 10;
  @extend .bg-brand;
  padding: ($all-v-padding / 2) $all-h-padding;

  @include text-color($white);
  @include link-color($white, rgba($white, 0.9));

  .grid-item:last-child {
    //.info {display: none;}
    @media #{$normal-up} {
      //.info { display: block; }
      float: right;
      text-align: right;
    }
  }

  .list-controlbar {
    display: flex;
    flex-wrap: wrap;
    > li {
      position: relative;
      vertical-align: top;
      padding-right: $padding * 2;
    }
  }

  .info {
    margin-bottom: $padding / 2.5;
    font-size: $tiny-font-size; //$body-font-size-tiny;
    @include letter-spacing;
  }

  .filter {
    margin-top: 0.75em;
    li {
      padding-right: $padding / 2;
    }
    .label {
      color: $white;
      border-color: $white;
      background: transparent;
      &:hover,
      &.js-active {
        color: $brand;
        background: $white;
        border-color: $white;
      }
    }
  }
}

.controlbar-notice {
  @extend .bg-warning-level-2;
  @include text-color($black);
  @include link-color($anchor-font-color, rgba($anchor-font-color-hover, 0.9));
}

.controlbar-warning {
  @extend .bg-warning-level-4;
  @include text-color($white);
  @include link-color($anchor-font-color, rgba($anchor-font-color-hover, 0.9));
}
