/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #FEATURES
\*------------------------------------*/

.section-features {
  width: 100%;
  overflow: hidden;
  //overflow-x: hidden;
  //overflow-y: auto;
}

.features {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;

  margin: 0 (-$border-width) $border-width 0;

  .feature-item {
    position: relative;
    width: 100%;
    margin-bottom: -$border-width;

    a {
      margin: 0;
      border-left: none;
    }

    @media #{$all-up} {
    }
    @media #{$tiny-up} {
      width: 50%;
    }
    @media #{$small-up} {
    }
    @media #{$normal-up} {
      width: 33.333333333%;
    }
    @media #{$medium-up} {
    }
    @media #{$large-up} {
      width: 25%;
    }
    @media #{$xxlarge-up} {
      width: 20%;
    }
  }
}
