@use "../abstracts/variables";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #FEATURES
\*------------------------------------*/

.section-features {
  width: 100%;
  overflow: hidden;
  //overflow-x: hidden;
  //overflow-y: auto;
}

.features {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;

  margin: 0 (-(variables.$border-width)) variables.$border-width 0;

  .feature-item {
    position: relative;
    width: 100%;
    margin-bottom: -(variables.$border-width);

    a {
      margin: 0;
      border-left: none;
    }

    @media #{variables.$all-up} {
    }
    @media #{variables.$tiny-up} {
      width: 50%;
    }
    @media #{variables.$small-up} {
    }
    @media #{variables.$normal-up} {
      width: 33.333333333%;
    }
    @media #{variables.$medium-up} {
    }
    @media #{variables.$large-up} {
      width: 25%;
    }
    @media #{variables.$xxlarge-up} {
      width: 20%;
    }
  }
}
