/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #FLIPPER
\*------------------------------------*/

.section-flipper {
  padding-top: 0 !important;
}

.flipper {
  overflow: hidden;
}

.flipper-controls {
  margin-bottom: $padding !important;
  .grid-item:last-child {
    text-align: right;
  }
  a.icon-link {
    display: inline-block;
    &:before {
      margin-right: 0;
    }
    &.icon-arrow-left {
      &:hover,
      &:active {
        &:before {
          left: -$padding * 0.5;
        }
      }
    }
    &.icon-arrow-right {
      &:before {
        left: auto;
        right: 0;
      }
      &:hover,
      &:active {
        &:before {
          right: -$padding * 0.5;
        }
      }
    }
  }
  .flipper-left,
  .flipper-right {
    span:before {
      top: 0.175em;
      margin-right: 0;
      line-height: 0;
      transform: translateX(0);
    }
  }
  .flipper-left {
    &:hover,
    &:active {
      span {
        &:before {
          transform: translateX(-$padding * 0.5);
        }
      }
    }
  }
  .flipper-right {
    &:hover,
    &:active {
      span {
        &:before {
          transform: translateX($padding * 0.5);
        }
      }
    }
  }
}

.flipper-buttongroup {
  margin-bottom: $padding * 2;
  &.flipper-centered {
    @media #{$medium-up} {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.flipper-left-right {
  clear: both;
}

.flipper-header {
  margin-bottom: $padding * 2 !important;
  .subheader {
    margin-bottom: 0;
  }
}
.flipper-image {
  margin-bottom: $padding * 2 !important;
  img {
    @include box-border;
    @media screen and (max-width: #{upper-bound($small-range)}) {
      border-left: none;
      border-right: none;
    }
  }
}
.flipper-caption {
  h2 {
    margin-bottom: $padding * 0.5;
  }
}

.flipper-content {
  position: relative;
  left: 0;
  width: 99999vw;
  overflow: hidden;
  //@include rollout;

  .flipper-item {
    float: left;
    width: calc(100vw - 2em); //100vw;
    padding: 0;
    opacity: 1;
    @include rollout();
    &.js-inactive {
      opacity: 0;
    }
  }
}
