@use "sass:map";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #MAP-COCKPIT-LEGEND-ITEMS
\*------------------------------------*/

@mixin legend-generator($legend-type, $item-count) {
  span {
    width: calc(100% / #{$item-count});
  }
  $i: 1;
  @for $i from 1 through $item-count {
    span:nth-child(#{$i}) {
      display: block;
      background-color: get-legend-item-value(
        $legend-type,
        colors,
        color-#{$i}
      );
      @if $i > 1 {
        &:before {
          content: get-legend-item-value($legend-type, units, unit-#{$i});
        }
      }
    }
  }
}
@function get-legend-item-value($legend-type, $what, $value) {
  @return map.get(map.get($legend-type, $what), $value);
}

$cp-legend-snow-items: (
  colors: (
    color-1: #fff,
    color-2: #ffffb2,
    color-3: #b0ffbc,
    color-4: #8cffff,
    color-5: #19cdff,
    color-6: #1982ff,
    color-7: #0f5abe,
    color-8: #784bff,
    color-9: #cd0feb
  ),
  units: (
    unit-1: "0",
    unit-2: "1",
    unit-3: "10",
    unit-4: "25",
    unit-5: "50",
    unit-6: "100",
    unit-7: "200",
    unit-8: "300",
    unit-9: ">400"
  )
);

$cp-legend-snownew-items: (
  colors: (
    color-1: #fff,
    color-2: #ffffb2,
    color-3: #b0ffbc,
    color-4: #8cffff,
    color-5: #19cdff,
    color-6: #1982ff,
    color-7: #0f5abe,
    color-8: #784bff,
    color-9: #cd0feb
  ),
  units: (
    unit-1: "0",
    unit-2: "1",
    unit-3: "5",
    unit-4: "10",
    unit-5: "20",
    unit-6: "30",
    unit-7: "50",
    unit-8: "75",
    unit-9: ">100"
  )
);

$cp-legend-snowdiff-items: (
  colors: (
    color-1: #ff6464,
    color-2: #ffa0a0,
    color-3: #ffd2d2,
    color-4: #fff,
    color-5: #ffffb2,
    color-6: #b0ffbc,
    color-7: #8cffff,
    color-8: #19cdff,
    color-9: #1982ff,
    color-10: #0f5abe,
    color-11: #784bff,
    color-12: #cd0feb
  ),
  units: (
    unit-1: "0",
    unit-2: "<-20",
    unit-3: "-10",
    unit-4: "-5",
    unit-5: "1",
    unit-6: "5",
    unit-7: "10",
    unit-8: "20",
    unit-9: "30",
    unit-10: "50",
    unit-11: "75",
    unit-12: ">100"
  )
);

// 100 - 200: RGB 192 96 255       C060FF
// 200 - 300: RGB 155 0 224        9B00E0
// 300 - 400: RGB 128 0 255        8000FF
// 400 - 500: RGB 102 0 192        6600C0
// 500 - 600: RGB 51 0 128         330080
// 600 - 700: RGB 0 0 192          0000C0
// 700 - 800: RGB 0 0 255          0000FF
// 800 - 900: RGB 51 153 255       3399FF
// 900 - 1000: RGB 128 204 255     80CCFF
// 1000 - 1100: RGB 128 255 255    80FFFF
// 1100 - 1200: RGB 0 255 192      00FFC0
// 1200 - 1300: RGB 0 255 128      00FF80
// 1300 - 1400: RGB 0 228 0        00E400
// 1400 - 1500: RGB 0 192 0        00C000
// 1500 - 1600: RGB 0 155 0        009B00
// 1600 - 1700: RGB 0 128 0        008000
// 1700 - 1800: RGB 96 155 0       609B00
// 1800 - 1900: RGB 155 155 0      9B9B00
// 1900 - 2000: RGB 192 155 0      C09B00
// 2000 - 2100: RGB 192 192 0      C0C000
// 2100 - 2200: RGB 192 224 0      C0E000
// 2200 - 2300: RGB 192 255 0      C0FF00
// 2300 - 2400: RGB 255 255 0      FFFF00
// 2400 - 2500: RGB 255 192 0      FFC000
// 2500 - 2600: RGB 255 155 0      FF9B00
// 2600 - 2700: RGB 255 128 0      FF8000
// 2700 - 2800: RGB 255 0 0        FF0000
// 2800 - 2900: RGB 224 0 0        E00000
// 2900 - 3000: RGB 192 0 0        C00000
// 3000 - 3100: RGB 176 0 0        B00000
// 3100 - 3200: RGB 128 0 0        800000
// 3200 - 3300: RGB 153 0 102      990066
// 3300 - 3400: RGB 192 0 102      C00066
// 3400 - 3500: RGB 204 0 102      CC0066
// 3500 - 0: RGB 204 0 92          CC005C

$cp-legend-snowline-items: (
  colors: (
    color-1: #c060ff,
    color-2: #9b00e0,
    color-3: #8000ff,
    color-4: #6600c0,
    color-5: #330080,
    color-6: #0000c0,
    color-7: #0000ff,
    color-8: #3399ff,
    color-9: #80ccff,
    color-10: #80ffff,
    color-11: #00ffc0,
    color-12: #00ff80,
    color-13: #00e400,
    color-14: #00c000,
    color-15: #009b00,
    color-16: #008000,
    color-17: #609b00,
    color-18: #9b9b00,
    color-19: #c09b00,
    color-20: #c0c000,
    color-21: #c0e000,
    color-22: #c0ff00,
    color-23: #ffff00,
    color-24: #ffc000,
    color-25: #ff9b00,
    color-26: #ff8000,
    color-27: #ff0000,
    color-28: #e00000,
    color-29: #c00000,
    color-30: #b00000,
    color-31: #800000,
    color-32: #990066,
    color-33: #c00066,
    color-34: #cc0066,
    color-35: #cc005c
  ),
  units: (
    unit-1: "",
    unit-2: "",
    unit-3: "",
    unit-4: "",
    unit-5: "500",
    unit-6: "",
    unit-7: "",
    unit-8: "",
    unit-9: "",
    unit-10: "1000",
    unit-11: "",
    unit-12: "",
    unit-13: "",
    unit-14: "",
    unit-15: "1500",
    unit-16: "",
    unit-17: "",
    unit-18: "",
    unit-19: "",
    unit-20: "2000",
    unit-21: "",
    unit-22: "",
    unit-23: "",
    unit-24: "",
    unit-25: "2500",
    unit-26: "",
    unit-27: "",
    unit-28: "",
    unit-29: "",
    unit-30: "3000",
    unit-31: "",
    unit-32: "",
    unit-33: "",
    unit-34: "",
    unit-35: ""
  )
);

$cp-legend-temperature-items: (
  colors: (
    color-1: #9f80ff,
    color-2: #784cff,
    color-3: #0f5abe,
    color-4: #1380ff,
    color-5: #19cdff,
    color-6: #8fffff,
    color-7: #b0ffbc,
    color-8: #ffff73,
    color-9: #ffbe7d,
    color-10: #ff9b41,
    color-11: #ff5a41,
    color-12: #ff1e23,
    color-13: #fa3c96
  ),
  units: (
    unit-1: "0",
    unit-2: "<-25",
    unit-3: "-20",
    unit-4: "-15",
    unit-5: "-10",
    unit-6: "-5",
    unit-7: "0",
    unit-8: "5",
    unit-9: "10",
    unit-10: "15",
    unit-11: "20",
    unit-12: "25",
    unit-13: ">30"
  )
);

$cp-legend-wind-items: (
  colors: (
    color-1: #ffff64,
    color-2: #c8ff64,
    color-3: #96ff96,
    color-4: #32c8ff,
    color-5: #6496ff,
    color-6: #9664ff,
    color-7: #ff3232
  ),
  units: (
    unit-1: "0",
    unit-2: "5",
    unit-3: "10",
    unit-4: "20",
    unit-5: "40",
    unit-6: "60",
    unit-7: ">80"
  )
);

$cp-legend-windgust-items: (
  colors: (
    color-1: #ffff64,
    color-2: #c8ff64,
    color-3: #96ff96,
    color-4: #32c8ff,
    color-5: #6496ff,
    color-6: #9664ff,
    color-7: #ff3232
  ),
  units: (
    unit-1: "0",
    unit-2: "5",
    unit-3: "10",
    unit-4: "20",
    unit-5: "40",
    unit-6: "60",
    unit-7: ">80"
  )
);

$cp-legend-windhigh-items: (
  colors: (
    color-1: #ffff64,
    color-2: #c8ff64,
    color-3: #96ff96,
    color-4: #32c8ff,
    color-5: #6496ff,
    color-6: #9664ff,
    color-7: #ff3232
  ),
  units: (
    unit-1: "0",
    unit-2: "5",
    unit-3: "10",
    unit-4: "20",
    unit-5: "40",
    unit-6: "60",
    unit-7: ">80"
  )
);
