@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../atoms/icons";
@use "../atoms/bgs";
@use "../organisms/map-cockpit-legend-items";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #MAP-COCKPIT
\*------------------------------------*/

$cp-base-unit: 10px;

$cp-layer-selector-button-height: 50px;
$cp-layer-selector-width: 185px;
$cp-layer-selector-width-2: 285px;

$cp-layer-range-height: 40px;
$cp-range-width: $cp-layer-selector-width;
$cp-range-width-2: $cp-layer-selector-width-2;

$cp-timeline-height: 50px;
$cp-scale-height: 35px;
$cp-scale-inner-height: 25px;

$cp-legend-release-height: 40px;
$cp-legend-height: 20px;
$cp-release-height: 20px;

$cp-copyright-height: 40px;
$cp-copyright-width: 40px;

$cp-font-size-small: 10px;
$cp-font-size-medium: 12px;

$cp-breakpoint-1: 500px;
$cp-breakpoint-2: 720px;
$cp-breakpoint-3: 1024px;

.weather-map-cockpit {
  z-index: 2;
  position: fixed;
  bottom: 0;
  bottom: env(safe-area-inset-bottom);
  width: 100vw;

  font-size: $cp-font-size-medium;
  user-select: none;

  @extend .bg-box;
  @include mixins.box-shadow(0.15);

  @media screen and (min-width: $cp-breakpoint-3) {
    max-width: $cp-breakpoint-3;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
  }
}

//layer-selector in dropup or left
.cp-container-1 {
  z-index: 1000;

  position: absolute;
  bottom: calc(
    #{$cp-legend-release-height} + #{$cp-layer-range-height} +
      #{variables.$border-width}
  );
  left: 0;

  width: 100%; //calc(100% - #{$cp-range-width});

  @media screen and (min-width: $cp-breakpoint-2) {
    bottom: calc(#{$cp-layer-range-height} + #{variables.$border-width});

    width: calc(#{$cp-layer-selector-width} * 2);
  }

  @media screen and (min-width: $cp-breakpoint-3) {
    bottom: calc(#{$cp-layer-range-height} + #{$cp-timeline-height});
  }
}

//layer-selector
.cp-layer-selector {
  display: none;

  overflow: hidden;

  @extend .bg-box;
  @include mixins.box-shadow;

  @media screen and (min-width: $cp-breakpoint-3) {
    border-bottom: variables.$border-width variables.$border-style
      variables.$brand-very-light;
  }

  .layer-selector-open & {
    display: block;
  }
}
.cp-layer-selector-item {
  height: $cp-layer-selector-button-height;
  width: 100%;
  padding: ($cp-base-unit * 0.5) $cp-base-unit ($cp-base-unit * 0.5) 0;

  line-height: 1.2;

  // @extend .bg-box;

  display: flex;
  gap: $cp-base-unit;
  align-items: center;

  &:not(:last-child) {
    border-bottom: variables.$border-width variables.$border-style
      variables.$grey-very-very-light;
  }

  .layer-select {
    display: flex;
    align-items: center;
    &:before {
      margin: 0;
      font-size: 32px;
    }
  }

  .layer-select-text {
    display: flex;
    flex-direction: column;
  }

  .layer-select-name {
    @include mixins.font-bold;
  }

  .layer-select-info {
    color: variables.$grey-light;
    @include mixins.rollout;
  }

  &:hover {
    // @extend .bg-brand-subtle;
    .layer-select-info {
      color: variables.$grey;
      @include mixins.rollover;
    }
  }

  &.js-active {
    @extend .bg-brand;
    .layer-select-info {
      color: variables.$white;
    }
  }

  &.cp-layer-trigger {
    height: $cp-layer-range-height;
    padding: 0;
    justify-content: space-between;
    border-bottom: none;

    @media screen and (min-width: $cp-breakpoint-3) {
      height: $cp-timeline-height;
    }

    .layer-select-info {
      display: none;
      font-size: $cp-font-size-small;
      @media #{variables.$tiny} {
        display: inline;
      }
      @media screen and (min-width: $cp-breakpoint-2) {
        display: none;
      }
      @media screen and (min-width: $cp-breakpoint-3) {
        display: inline;
      }
    }
  }

  .layer-trigger {
    &:before {
      margin: 0 10px 0 0;
      font-size: 24px;
      @include icons.icon(hamburger, 0.75em, 0.5em, none, 0, none);
    }
    .layer-selector-open & {
      &:before {
        margin: 0 10px 0 0;
        font-size: 24px;
        @include icons.icon(close, 0.75em, 0.5em, none, 0, none);
      }
    }
  }
}

//everything but layer-selector
.cp-container-2 {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
}

//timeline
.cp-container-timeline {
  position: relative;
  overflow: hidden;

  height: $cp-timeline-height;
  width: 100%;

  @media screen and (min-width: $cp-breakpoint-3) {
    left: $cp-layer-selector-width-2;
    width: calc(100% - #{$cp-layer-selector-width-2});
    border-left: variables.$border-width variables.$border-style
      variables.$brand-very-light;
  }
}

//scale
.cp-scale {
  position: absolute;
  top: 0;
  left: 35px;
  right: 35px;
  height: $cp-timeline-height;
  overflow: hidden;
  cursor: ew-resize;
  @include mixins.rollout;
}

//stamp
.cp-scale-stamp {
  pointer-events: none;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(#{$cp-timeline-height} - #{$cp-scale-height});
}

//stamp-range
.cp-scale-stamp-range {
  display: none;
  position: absolute;
  top: 0;
  left: 80px;
  width: 100px;

  &.js-active {
    display: block;
  }
  &.js-dragging {
    transition: none;
  }
}
.cp-scale-stamp-range-bar {
  display: block;
  height: calc(#{$cp-timeline-height} - #{$cp-scale-height});
  width: 100%;
  @extend .bg-brand;
}
.cp-scale-stamp-range-begin {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(#{$cp-timeline-height} - #{$cp-scale-height});
  transform: translateX(-100%);
  padding-right: 2px;

  font-size: $cp-font-size-small;
  line-height: calc(#{$cp-timeline-height} - #{$cp-scale-height});
  @include mixins.font-bold;
}
.cp-scale-stamp-range-end {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(#{$cp-timeline-height} - #{$cp-scale-height});
  transform: translateX(100%);
  padding-left: 2px;

  font-size: $cp-font-size-small;
  line-height: calc(#{$cp-timeline-height} - #{$cp-scale-height});
  @include mixins.font-bold;
}

//stamp-point
.cp-scale-stamp-point {
  display: none;
  position: absolute;
  top: 0;
  left: 250px;
  height: calc(#{$cp-timeline-height} - #{$cp-scale-height});
  width: 0;
  // cursor: move;
  // @include rollout;

  &.js-active {
    display: block;
  }
  &.js-dragging {
    transition: none;
  }
}
.cp-scale-stamp-point-arrow {
  display: block;
  width: 0;
  height: 0;
  transform: translateX(-50%);

  border-left: calc(#{$cp-timeline-height} - #{$cp-scale-height}) solid
    transparent;
  border-right: calc(#{$cp-timeline-height} - #{$cp-scale-height}) solid
    transparent;
  border-top: calc(#{$cp-timeline-height} - #{$cp-scale-height}) solid
    variables.$brand;
}
.cp-scale-stamp-point-exact {
  position: absolute;
  top: 0;
  left: calc(#{$cp-timeline-height} - #{$cp-scale-height});
  height: calc(#{$cp-timeline-height} - #{$cp-scale-height});

  font-size: $cp-font-size-small;
  line-height: calc(#{$cp-timeline-height} - #{$cp-scale-height});
  @include mixins.font-bold;
}

//flipper
.cp-scale-flipper {
  pointer-events: none;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(#{$cp-timeline-height} - #{$cp-scale-height});

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    position: absolute;
    top: 2.5px;
    height: calc(#{$cp-timeline-height} - #{$cp-scale-height});
    max-height: calc(#{$cp-timeline-height} - #{$cp-scale-height});

    font-size: 16px;
    line-height: calc(#{$cp-timeline-height} - #{$cp-scale-height});
    overflow: hidden;

    &:before {
      margin: -12px 0 0 0;
    }
  }
}
.cp-scale-flipper-left {
  pointer-events: all;
  left: 0;
}
.cp-scale-flipper-right {
  pointer-events: all;
  right: 0;
}

//days
.cp-scale-days-2024 {
  position: relative;
  z-index: 2;
  height: 100%;
  user-select: none;
  overflow: hidden;
}
.cp-scale-days-outer {
  position: relative;
  top: calc(#{$cp-timeline-height} - #{$cp-scale-height});
  height: $cp-scale-inner-height;
}
.cp-scale-days-inner {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform (variables.$transition-duration * 2) ease-in-out;
}

.ruler-mark {
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: variables.$grey-medium-light;
}

.ruler-mark-bg {
  position: absolute;
  z-index: -20;
  height: $cp-scale-height;
}

.day-mark {
  height: 100%;
  background-color: variables.$grey-light;
}

.day-name {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-50%);
  line-height: 10px;
  white-space: nowrap;
}
// .hour-mark {}

.selectable-hour-mark {
  background-color: variables.$grey-light;
}
.selectable-hours-start,
.selectable-hours-end {
  &:before {
    z-index: -10;
    content: "";
    position: absolute;
    top: 0;
    height: 10px;
    width: 50px;
  }
}
.selectable-hours-start {
  background-color: variables.$red;
  &:before {
    left: 0;
    background: linear-gradient(
      to left,
      rgba(variables.$red, 0),
      rgba(variables.$red, 0.25)
    );
  }
}
.selectable-hours-end {
  background-color: variables.$red;
  &:before {
    left: -50px;
    background: linear-gradient(
      to right,
      rgba(variables.$red, 0),
      rgba(variables.$red, 0.25)
    );
  }
}

// .hour-name {}

.cp-scale-analyse {
  .ruler-mark-bg {
    // background-color: variables.$grey-very-very-light;
  }
}
.cp-scale-forecast {
  .ruler-mark-bg {
    background-color: variables.$grey-very-very-light;
  }
}

.cp-calendar {
  position: absolute;
  top: 13px;
  left: 3px;

  font-size: 14px;

  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    color: variables.$brand;
    &:before {
      margin: 0;
    }
    &:hover {
      color: variables.$brand-dark;
    }
  }
}

.cp-movie {
  position: absolute;
  top: 13px;
  right: 3px;

  font-size: 14px;

  a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: variables.$brand;
    &:before {
      margin: 0;
    }
    &:hover {
      color: variables.$brand-dark;
    }
  }

  .cp-movie-stop {
    display: none;
  }

  &.js-playing {
    .cp-movie-play {
      display: none;
    }
    .cp-movie-stop {
      display: block;
    }
  }
}

.cp-container-layer-range {
  overflow: hidden;
  display: flex;

  width: 100%;
  border-top: variables.$border-width variables.$border-style
    variables.$brand-very-light;

  @media screen and (min-width: $cp-breakpoint-2) {
    width: $cp-layer-selector-width * 2;
  }
  @media screen and (min-width: $cp-breakpoint-3) {
    position: absolute;
    flex-direction: column;
    width: $cp-layer-selector-width-2;
    border-top: none;
  }
}

//layer
.cp-layer {
  overflow: hidden;

  height: $cp-layer-range-height;
  width: calc(100% - #{$cp-layer-selector-width});
  line-height: $cp-layer-range-height;

  @media screen and (min-width: $cp-breakpoint-2) {
    width: $cp-layer-selector-width;
  }

  @media screen and (min-width: $cp-breakpoint-3) {
    height: $cp-timeline-height;

    width: $cp-layer-selector-width-2;
    line-height: $cp-timeline-height;
  }
}

//range
.cp-range {
  overflow: hidden;
  display: flex;
  align-items: stretch;

  width: $cp-layer-selector-width;
  border-left: variables.$border-width variables.$border-style
    variables.$brand-very-light;

  @media screen and (min-width: $cp-breakpoint-3) {
    width: $cp-layer-selector-width-2;
    border-top: variables.$border-width variables.$border-style
      variables.$brand-very-light;
    border-left: none;
  }
}
.cp-range-hourly {
  display: block;
  height: $cp-layer-range-height;
  width: $cp-range-width;

  text-align: center;
  line-height: $cp-layer-range-height;

  @media screen and (min-width: $cp-breakpoint-3) {
    width: $cp-range-width-2;
  }

  &.js-inactive {
    display: none;
  }
}
.cp-range-buttons {
  display: flex;
  align-items: stretch;

  width: $cp-range-width;
  @include mixins.font-bold;

  @media screen and (min-width: $cp-breakpoint-3) {
    width: $cp-range-width-2;
  }

  a {
    display: block;
    width: calc(100% / 5);

    text-align: center;
    line-height: $cp-layer-range-height;
    &:not(:first-child) {
      border-left: variables.$border-width variables.$border-style
        variables.$border-color;
    }
    &:hover,
    &.js-active {
      color: variables.$white;
      @extend .bg-brand;
    }
    &.js-inactive {
      color: variables.$grey;
      &:hover {
        @extend .bg-box;
      }
    }
  }

  &.js-inactive {
    display: none;
  }
}

.cp-container-legend-release {
  position: relative;
  overflow: hidden;

  height: $cp-legend-release-height;
  width: calc(100% - #{$cp-copyright-width});
  border-top: variables.$border-width variables.$border-style
    variables.$brand-very-light;
  border-left: variables.$border-width variables.$border-style
    variables.$brand-very-light;

  @media screen and (min-width: $cp-breakpoint-2) {
    width: calc(
      100% - (#{$cp-layer-selector-width} * 2) - #{$cp-copyright-width}
    );
  }

  @media screen and (min-width: $cp-breakpoint-3) {
    left: $cp-layer-selector-width-2;
    width: calc(100% - #{$cp-layer-selector-width-2} - #{$cp-copyright-width});
  }
}

//legend
.cp-legend {
  overflow: hidden;
  font-size: $cp-font-size-medium;
}
.cp-legend-items {
  display: flex;
  align-items: stretch;
  width: 100%;

  span {
    position: relative;
    display: none;
    height: $cp-legend-height;
    &:before {
      z-index: 2;
      position: absolute;
      left: 0;
      transform: translateX(-50%);
      line-height: $cp-legend-height;
      color: variables.$black;
      text-shadow:
        0 0 3px #fff,
        0 0 2px #fff,
        0 0 1px #fff;
    }
  }
}
.cp-legend-snow {
  @include map-cockpit-legend-items.legend-generator(
    map-cockpit-legend-items.$cp-legend-snow-items,
    9
  );
}
.cp-legend-snownew {
  @include map-cockpit-legend-items.legend-generator(
    map-cockpit-legend-items.$cp-legend-snownew-items,
    9
  );
}
.cp-legend-snowdiff {
  @include map-cockpit-legend-items.legend-generator(
    map-cockpit-legend-items.$cp-legend-snowdiff-items,
    12
  );
}
.cp-legend-snowline {
  @include map-cockpit-legend-items.legend-generator(
    map-cockpit-legend-items.$cp-legend-snowline-items,
    35
  );
}
.cp-legend-temperature {
  @include map-cockpit-legend-items.legend-generator(
    map-cockpit-legend-items.$cp-legend-temperature-items,
    13
  );
}
.cp-legend-wind {
  @include map-cockpit-legend-items.legend-generator(
    map-cockpit-legend-items.$cp-legend-wind-items,
    7
  );
}
.cp-legend-windgust {
  @include map-cockpit-legend-items.legend-generator(
    map-cockpit-legend-items.$cp-legend-windgust-items,
    7
  );
}
.cp-legend-windhigh {
  @include map-cockpit-legend-items.legend-generator(
    map-cockpit-legend-items.$cp-legend-windhigh-items,
    7
  );
}

//release
.cp-release {
  overflow: hidden;
  display: flex;

  font-size: $cp-font-size-small;

  > span {
    height: $cp-release-height;
    padding: 0 ($cp-base-unit * 0.5);
    line-height: $cp-release-height;
    &:first-child {
      padding-left: $cp-base-unit;
    }
    &:last-child {
      padding-left: 0;
      padding-right: $cp-base-unit;
    }
  }
}
.cp-release-released {
  @media screen and (max-width: 420px) {
    span {
      display: none;
    }
  }
}
.cp-release-update {
  flex-grow: 2;

  color: variables.$grey-light;

  @media screen and (max-width: 420px) {
    span {
      display: none;
    }
  }
}

//copyright
.cp-copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;

  height: $cp-copyright-height;
  width: $cp-copyright-width;
  padding: 5px;
  border-top: variables.$border-width variables.$border-style
    variables.$brand-very-light;

  a {
    display: block;
    height: calc(#{$cp-copyright-height} - 10px);
    width: calc(#{$cp-copyright-width} - 10px);
    background: transparent url(../images/pro/logos/geosphere-logo-small.png)
      no-repeat 50% 50%;
    background-size: contain;
  }
}

//leaflet-bottom.leaflet-left scale
.leaflet-bottom.leaflet-left {
  .section-weather-map-cockpit & {
    @media screen and (max-width: calc(#{$cp-breakpoint-3} + 300px)) {
      bottom: calc(
        #{$cp-timeline-height} + #{$cp-legend-release-height} +
          (2 * #{variables.$padding})
      );
    }
    @media screen and (max-width: $cp-breakpoint-2) {
      bottom: calc(
        #{$cp-timeline-height} + #{$cp-layer-range-height} +
          #{$cp-legend-release-height} + (2 * #{variables.$padding})
      );
    }
  }
}
