/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #MAP
\*------------------------------------*/

$map-width: 100%;

$map-height-mobile: 50vh;
$map-height-bulletin: 50vh;

:root {
  --vh: 1vh;
}

$map-height-weather: calc((var(--vh, 1vh) * 100) - #{$bar-width});
$map-height-weather-when-menu: calc(
  (var(--vh, 1vh) * 100) - #{$bar-width} - #{$page-header-height}
);

$map-height-min: 400px;

$map-google-topbar-height: 46px;

$controls-width-height: $padding * 4;

$search-width: 200px;
$search-width-wide: 300px;

//the outer container for bulletin-map
.section-bulletin-map {
  .bulletin-parallel-view & {
    display: block;
    width: 100%;
    &:first-child {
      .section-map {
        border-bottom: none;
      }
    }
    @media #{$medium-up} {
      display: inline-block;
      width: 50%;
      &:first-child {
        border-right: $border-width $border-style $brand-very-light;
        .section-map {
          border-bottom: $border-width $border-style $brand-very-light;
        }
      }
    }
  }
}

//the outer container for weather-map
.section-weather-map {
  position: absolute !important;
  top: $page-header-height;
  left: 0;
  right: 0;
  bottom: 0;
  height: $map-height-weather-when-menu;
  width: 100vw;
  overflow: hidden;
  //transition: none !important;
  // .scrolling-down.s-weathermap-2020 & {
  //   top: 0;
  //   height: $map-height-weather;
  // }
}

//the maps themselves
.section-map {
  position: relative;
  height: $map-height-bulletin;
  width: $map-width;
  overflow: hidden;

  .section-bulletin-map & {
    height: $map-height-bulletin;
    min-height: $map-height-min;
    @include box-border($brand-very-light);
    border-left: none;
    border-right: none;
  }

  .section-weather-map & {
    height: $map-height-weather-when-menu;
    @include rollout;
    // .scrolling-down.s-weathermap-2020 & {
    //   height: $map-height-weather;
    // }
  }
}

//leaflet
.leaflet-control-container {
  .map-disabled & {
    display: none;
  }
  .leaflet-control {
    margin: 0;
    border: none !important;
    //rf: was added to compiled style.css by outside dev, brought back here, propably not used anymore, but who knows ...
    .legend .legend-toggle {
      background-image: url("../images/pro/meteoviewer/legend.png");
    }
  }
}

.leaflet-container {
  font: inherit;

  //to develop and test with local map images
  .patternlab .section-bulletin-map & {
    width: 100%;
    height: 100%;
    background: transparent url(../images/dev/bulletin-report-map.jpg);
    background-size: cover;
  }
  .patternlab .section-weather-map & {
    width: 100%;
    height: 100%;
    background: transparent url(../images/dev/weather-map.png);
    background-size: cover;
  }
}
.leaflet-bar {
  border-radius: 0 !important;
}

//overlays
.leaflet-pane.leaflet-overlay-pane,
.leaflet-pane .leaflet-image-layer,
.leaflet-pane svg {
  mix-blend-mode: multiply;
}

.leaflet-tooltip {
  padding: ($padding * 0.25) ($padding * 0.5);
  //border: none;
  border-radius: 0;
  color: $text-color;
  font-size: $tiny-font-size;
  background: rgba($white, 1) !important;
  @include box-shadow(0.15);
}

//zoom, search, locate
.leaflet-top.leaflet-left {
  position: absolute;
  top: $padding;
  left: $padding;
  .bulletin-parallel-view & {
    top: $padding * 5.25;
  }

  a {
    overflow: hidden;
    position: relative;
    display: block;
    width: $controls-width-height !important;
    height: $controls-width-height !important;
    margin: 0 !important;
    padding: 0 !important;
    text-indent: 0;
    font-size: $controls-width-height * 0.75 !important;
    line-height: $controls-width-height !important;
    color: $brand !important;
    background-color: rgba($white, 0.95) !important;
    border: none !important;
    border-radius: 0 !important;
    &:hover {
      color: $white !important;
      background-color: $anchor-font-color !important;
    }
    &.leaflet-disabled {
      color: $grey-light !important;
      a:before {
        color: $grey-light !important;
      }
      &:hover {
        color: $grey-light !important;
        background-color: rgba($white, 0.95) !important;
      }
    }
  }

  .leaflet-control-zoom,
  .leaflet-geonames-search,
  .leaflet-control-locate,
  .leaflet-control-showhide {
    margin-bottom: $padding;
    @include box-shadow(0.15);
    a:before {
      height: $controls-width-height !important;
      width: $controls-width-height !important;
      margin: 0 !important;
      font-size: $controls-width-height * 0.75 !important;
      line-height: $controls-width-height !important;
    }
  }

  //no zoom on touch devices
  @media (hover: none) and (pointer: coarse) {
    .leaflet-control-zoom {
      display: none;
    }
  }

  .leaflet-control-zoom-in {
    &:before {
      @include icon(plus-big, 0.75em, 0.5em, none, 0, none);
    }
  }
  .leaflet-control-zoom-out {
    &:before {
      @include icon(minus-big, 0.75em, 0.5em, none, 0, none);
    }
  }

  .leaflet-geonames-search {
    .leaflet-geonames-icon {
      &:before {
        @include icon(search-midsize, 0, 0, none, 0, none);
      }
    }

    //geonames search form
    form {
      width: 100%;
      margin-bottom: 0;
      font-size: $body-font-size;
      background: $white;
      input {
        display: none;
        position: absolute;
        top: 0;
        left: $controls-width-height + 0.5 !important;
        height: $controls-width-height !important;
        width: $search-width;
        @media #{$medium-up} {
          width: $search-width-wide;
        }
        margin: 0;
        padding: $padding;
        font-size: $tiny-font-size;
        line-height: $header-line-height;
        color: $brand;
        border: $border-width $border-style $brand;
        outline-style: none;
      }
    }
    ul {
      list-style: none;
      display: none;
      position: absolute;
      top: $controls-width-height;
      left: $controls-width-height + 0.5 !important;
      width: $search-width;
      @media #{$medium-up} {
        width: $search-width-wide;
      }
      margin: 0;
      padding: 0;
      background: $white;
      border: $border-width $border-style $brand;
      border-top: none;
      &.hasResults {
        display: block;
      }
      &.noResults {
        display: none;
      }
      li {
        cursor: pointer;
        padding: ($padding * 0.5) $padding;
        font-size: $tiny-font-size;
        line-height: $body-line-height;
        border: none !important;
        border-bottom: $border-width $border-style $border-color !important;
        &:last-child {
          border-bottom: none !important;
        }
        &:hover {
          background: $grey-very-very-light;
        }
        em {
          color: $grey;
        }
      }
    }
    &.active {
      form {
        input,
        label {
          display: inline-block;
        }
      }
    }
  }

  .leaflet-control-locate {
    a {
      &:before {
        @include icon(location, 0, 0, none, 0, none);
      }
    }
    .icon-geolocate {
      display: none;
    }
  }

  .leaflet-control-showhide {
    &.leaflet-control-show {
      a {
        &:before {
          @include icon(show, 0, 0, none, 0, none);
        }
      }
    }
    &.leaflet-control-hide {
      a {
        &:before {
          @include icon(hide, 0, 0, none, 0, none);
        }
      }
    }
  }
}

//scale
.leaflet-bottom.leaflet-left {
  position: absolute;
  bottom: $padding;
  left: $padding;
  .leaflet-control-scale {
    margin: 0 !important;
  }
  .leaflet-control-scale-line {
    padding: 0.25em 0.5em;
    font-size: $micro-font-size;
    border-color: $grey;
  }
}

//copyright still used on bulletin map
.leaflet-bottom.leaflet-right {
  .leaflet-control {
    position: absolute;
    right: 0;
    bottom: 0;
    float: none;
  }
  .leaflet-control-attribution {
    position: relative;
    background-color: rgba($white, 0.5) !important;
  }
}

//
// bulletin-map
//

//in case of no bulletin
.bulletin-map-bulletinbar {
  z-index: 461;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  .controlbar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    p {
      margin: 0;
      text-align: center;
    }
    a:link,
    a:visited {
      color: $white;
    }
  }
}

//details in floating tooltipp box
.bulletin-map-details {
  display: table;
  position: absolute;
  top: $padding * 8;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  font-size: $tiny-font-size; //$body-font-size-tiny;
  background-color: rgba($white, 0.95);
  @include box-shadow(0.15);
  opacity: 0;
  @include rollout();

  &.js-active {
    opacity: 1;
  }

  //@media #{$normal-up} {
  &.top-left {
    top: $padding * 8;
    left: $padding;
    transform: translateX(0);
  }
  &.top-right {
    top: $padding;
    left: calc(100% - #{$padding});
    transform: translateX(-100%);
  }
  &.bottom-right {
    top: calc(100% - #{$padding});
    left: calc(100% - #{$padding});
    transform: translate(-100%, -100%);
  }
  &.bottom-left {
    top: calc(100% - #{$padding});
    transform: translateY(-100%);
    left: $padding;
  }
  //}

  strong {
    @include font-heavy;
    @include letter-spacing;
  }

  .bulletin-report-region-name {
    margin: ($padding * 1.5) ($padding * 2) $padding ($padding * 2);
    font-size: $tiny-font-size;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 ($padding * 2) ($padding * 2) ($padding * 2);
    li {
      display: flex;
      align-self: center;
      margin-right: $padding;
      &:first-child {
        margin-right: $padding * 2;
      }
      &:last-child {
        margin-right: 0;
      }
      img {
        max-width: none; //<- why?
        box-sizing: content-box;
      }
    }
    // li:not(.bulletin-report-no) + li img {
    //   border: $border-width $border-style $border-color;
    // }
  }

  .bulletin-report-public-alert {
    margin: ($padding * 2) ($padding * 2) 0 ($padding * 2);
    @include font-normal;
    font-size: $tiny-font-size;
  }

  //details link
  > a {
    display: block;
    width: 100%;
    padding: 0 ($padding * 2) $padding ($padding * 2);
    font-size: $tiny-font-size;
    color: $anchor-font-color;
    background: transparent;
    border-color: none;
    span {
      @include font-normal;
      @include letter-spacing(0);
      text-transform: none;
      &:before {
        position: relative;
        top: 0.15em;
        margin: 0;
      }
    }
    &:hover {
      color: $white;
      background: $anchor-font-color;
      border-color: $anchor-font-color;
    }
    &.is-de-highlighted {
      color: $grey;
      &:hover {
        color: $white;
      }
    }
  }
}

//am/pm
.bulletin-map-daytime {
  position: absolute;
  top: $padding * 1.25;
  left: $padding;
  z-index: 2;
  .label {
    font-size: $body-font-size-normal;
    @include font-bold;
  }
}

//
// weather-map
//

//202009
//used .section-weather-map instead of .weather-map-container
//changed this in SCSS and jsx:
//  <section id="section-weather-map" class="section section-weather-map">
//    <div class="section-map">

//weather-map pane styles
//.weather-map-container,
.section-weather-map {
  //single stations
  .station circle.inner {
    stroke: $black;
    stroke-width: 1.25;
    stroke-opacity: 0.8;
    fill-opacity: 1;
  }

  .station text {
    @include font-bold;
    font-size: 10px;
  }

  //outer circle - only selected stations
  .station circle.outer,
  .gridpoint circle.outer {
    stroke: $black;
    fill: none;
    fill-opacity: 0;
    stroke-width: 3;
  }
  .blending-not-supported .station circle.outer,
  .blending-not-supported .gridpoint circle.outer {
    stroke-width: 4;
    stroke: $grey;
  }

  //selected circle in clusters
  .station-selected-clustered circle.inner {
    stroke: $black;
    stroke-width: 2;
    fill: $white;
  }

  //grid point
  .gridpoint circle.inner {
    stroke-width: 2.2;
    stroke-dasharray: 0 4;
    stroke-linecap: round;
    stroke: $black;
    stroke-opacity: 0.8;
  }

  .leaflet-marker-icon {
    background: none;
    border: none;
  }

  // .leaflet-marker-pane {
  //   z-index: 700;
  // }

  .station,
  .gridpoint {
    .direction {
      path {
        stroke: $black;
        fill: $black;
        stroke-width: 0.75;
      }
    }
  }

  .gridpoint text {
    @include font-bold;
    font-size: 10px;
  }
}

//added 202112
.station-icon-cluster-circle {
  display: none;
  .leaflet-cluster-marker & {
    display: unset;
  }
}

//202009: is this still in use? existing in feature-info.jsx so better keep alive from here ...
.weather-map-details {
  z-index: 100;
  display: table;
  position: absolute;
  top: $padding;
  left: calc(100% - #{$padding});
  transform: translateX(-100%);
  min-width: 20em !important;
  max-width: 75% !important;
  padding: 0;
  font-size: $tiny-font-size;
  background-color: rgba($white, 0.95);
  @include box-shadow(0.15);
  @include rollout();

  .weather-map-details-text {
    margin: ($padding * 2) ($padding * 2) ($padding * 1.5) ($padding * 2);
  }
  p {
    margin: 0;
    font-size: $tiny-font-size;
  }
  .feature-name {
    @include font-bold;
  }
  .operator-name {
    font-size: $small-font-size;
  }
}
a.weather-map-details-button {
  display: block;
  width: 100%;
  padding: $padding;
  font-size: $tiny-font-size;
  color: $anchor-font-color;
  background: transparent;
  border-color: none;
  span {
    @include font-normal;
    @include letter-spacing(0);
    text-transform: none;
    &:before {
      position: relative;
      top: 0.15em;
      margin: 0;
    }
  }
  &:hover {
    color: $white;
    background: $anchor-font-color;
    border-color: $anchor-font-color;
  }
}
//...to here

//from alien app.scss
//202009: cannot be found in app/components therefore executed
// .weather-map-icon {
//   position: absolute;
//   right: 10px;
//   width: 150px;
//}
