/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #MAP
\*------------------------------------*/

$map-width: 100%;

$map-height-mobile: 50vh;
$map-height: 65vh;
$map-height-bulletin: 50vh;
$map-height-min: 400px;

$map-google-topbar-height: 46px;

$controls-width-height: $padding * 4;

//the outer container
.section-bulletin-map {
  /*
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
*/
  .bulletin-parallel-view & {
    display: block;
    width: 100%;
    &:first-child {
      .section-map {
        border-bottom: none;
      }
    }
    @media #{$medium-up} {
      display: inline-block;
      width: 50%;
      &:first-child {
        border-right: $border-width $border-style $brand-very-light;
        .section-map {
          border-bottom: $border-width $border-style $brand-very-light;
        }
      }
    }
  }
}

//the map itself
.section-map {
  position: relative;
  height: $map-height;
  .section-bulletin-map & {
    height: $map-height-bulletin;
  }
  min-height: $map-height-min;
  width: $map-width;
  overflow: hidden;
  @include box-border($brand-very-light);
  border-left: none;
  border-right: none;
  &.bulletin-map-static {
    /*
		background: transparent url(../images/dev/bulletin-report-map.jpg) no-repeat 33% 50%;
		background-size: cover;
*/
    background: #fac;
    .bulletin-map-google {
      display: none;
    }
  }
}

//in case of google iframe
.bulletin-map {
  display: block;
  height: $map-height-bulletin; //$map-height;
  min-height: $map-height-min;
  width: $map-width;
  max-width: none;
  margin: 0;
  padding: 0;
  border: none;
}

//in case of no bulletin
.bulletin-map-bulletinbar {
  z-index: 461;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  .controlbar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    p {
      margin: 0;
      text-align: center;
    }
    a:link,
    a:visited {
      color: $white;
    }
  }
}

//tooltip details
.bulletin-map-details {
  display: table;
  position: absolute;
  top: $padding * 8;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  font-size: $tiny-font-size; //$body-font-size-tiny;
  background-color: rgba($white, 0.95);
  @include box-shadow(0.15);
  opacity: 0;
  @include rollout();

  &.js-active {
    opacity: 1;
  }

  //@media #{$normal-up} {
  &.top-left {
    top: $padding * 8;
    left: $padding;
    transform: translateX(0);
  }
  &.top-right {
    top: $padding;
    left: calc(100% - #{$padding});
    transform: translateX(-100%);
  }
  &.bottom-right {
    top: calc(100% - #{$padding});
    left: calc(100% - #{$padding});
    transform: translate(-100%, -100%);
  }
  &.bottom-left {
    top: calc(100% - #{$padding});
    transform: translateY(-100%);
    left: $padding;
  }
  //}

  strong {
    @include font-heavy;
    @include letter-spacing;
  }
  ul {
    display: flex;
    flex-wrap: nowrap;
    margin: $padding * 2; //($padding * 2) ($padding * 2) $padding ($padding * 2);
    li {
      display: flex;
      align-self: center;
      margin-right: $padding;
      &:first-child {
        margin-right: $padding * 2;
      }
      &:last-child {
        margin-right: 0;
      }
      img {
        max-width: none; //<- why?
        box-sizing: content-box;
      }
    }
    li:not(.bulletin-report-no) + li img {
      border: $border-width $border-style $border-color;
    }
  }
  //details link
  > a {
    display: block;
    width: 100%;
    padding: 0 $padding $padding $padding;
    //text-align: left;
    font-size: $tiny-font-size;
    color: $anchor-font-color;
    background: transparent;
    border-color: none;
    span {
      @include font-normal;
      @include letter-spacing(0);
      text-transform: none;
      &:before {
        position: relative;
        top: 0.15em;
        margin: 0;
      }
    }
    &:hover {
      color: $white;
      background: $anchor-font-color;
      border-color: $anchor-font-color;
    }
  }
}

//am/pm
.bulletin-map-daytime {
  position: absolute;
  top: $padding * 1.25;
  left: $padding;
  z-index: 2;
  .label {
    font-size: $body-font-size-normal;
    @include font-bold;
  }
}

.section-map .leaflet-control-container {
  .map-disabled & {
    display: none;
  }
  .leaflet-control {
    margin: 0;
    border: none !important;
    //rf: was added to compiled style.css by outside dev, brought back here, propably not used anymore, who cares anyway
    .legend .legend-toggle {
      background-image: url("../images/pro/meteoviewer/legend.png");
    }
  }
}

//buttons
.leaflet-top.leaflet-left {
  position: absolute;
  top: $padding;
  left: $padding;
  .bulletin-parallel-view & {
    top: $padding * 5.25;
  }

  a {
    position: relative;
    display: block;
    width: $controls-width-height !important;
    height: $controls-width-height !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: $xxxlarge-font-size !important;
    font-weight: lighter;
    font-family: "Fontello";
    line-height: $controls-width-height - 0.1 !important;
    text-indent: 0;
    color: $brand !important;
    background-color: rgba($white, 0.95) !important;
    border: none !important;
    border-radius: 0 !important;
    @include box-shadow(0.15);
    &:hover {
      color: $white !important;
      background-color: $anchor-font-color !important;
    }
    &.leaflet-disabled {
      color: $grey-light !important;
      &:hover {
        color: $grey-light !important;
        background-color: rgba($white, 0.95) !important;
      }
    }
  }

  .leaflet-control-zoom,
  .leaflet-geonames-search,
  .leaflet-control-locate {
    margin-bottom: $padding;
  }

  .leaflet-control-zoom {
    @include box-shadow(0.15);
    a {
      box-shadow: none !important;
      &:first-child {
        margin-bottom: $border-width !important;
      }
    }
  }
  .leaflet-geonames-search {
    margin-bottom: $padding;
    .leaflet-geonames-icon {
      background-size: 80% !important;
    }
    form {
      margin-bottom: 0;
      font-size: $body-font-size;
      input {
        left: $controls-width-height + 0.5 !important;
        height: $controls-width-height !important;
        padding: $padding;
        font-size: $tiny-font-size; //$body-font-size-tiny;
        line-height: $header-line-height;
        color: $brand;
      }
    }
    ul {
      left: $controls-width-height + 0.5 !important;
      border: $border-width $border-style $brand;
      border-top: none;
      &.noResults {
        display: none;
      }
      li {
        padding: ($padding / 2) $padding;
        border: none !important;
        border-bottom: $border-width $border-style $border-color !important;
        &:last-child {
          border-bottom: none !important;
        }
      }
    }
  }
  .leaflet-control-locate {
    .icon-geolocate {
      display: block;
      position: relative;
      top: 17%;
      left: 13%;
      width: 70%;
      height: 70%;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon fill="white" stroke-width="1.25" stroke="%2319abff" points="21 3 3 9.79 11.41 12.59 14.21 21 21 3"></polygon></svg>')
        100% no-repeat;
      background-size: 100% !important;
    }
  }
}
//scale
.leaflet-bottom.leaflet-left {
  position: absolute;
  bottom: $padding;
  left: $padding;
  .leaflet-control-scale {
    margin: 0 !important;
  }
}
//copyright and weather
.leaflet-bottom.leaflet-right {
  .leaflet-control {
    position: absolute;
    right: 0;
    bottom: 0;
    float: none;
    .pure-button {
      margin: 0;
      padding: 0;
    }
  }
  .zamg-logo-container {
    position: absolute;
    right: $padding * 7;
    bottom: $padding * 2.5;
    height: 40px;
    margin: 0;
    padding: 0;
    #zamg-logo {
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-size: 36px 36px;
      background-position: 2px 2px;
      border: none !important;
    }
  }
  .legend {
    position: absolute;
    right: $padding;
    bottom: $padding * 2.5;
    margin: 0;
    padding: 0;
    .legend-toggle {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-indent: -99999px;
      background-repeat: no-repeat;
      background-size: 36px 36px;
      background-position: 2px 2px;
    }
    .legend-border {
      stroke: #aaa;
      stroke-width: 1px;
      -webkit-transition: all 0.125s ease-out;
      transition: all 0.125s ease-out;
    }
    .legend-close-button {
      fill: $white;
    }
  }
  .leaflet-control-attribution {
    position: relative;
    background-color: rgba($white, 0.5) !important;
  }
}

.leaflet-pane.leaflet-overlay-pane,
.leaflet-pane .leaflet-image-layer {
  mix-blend-mode: multiply;
}

.weather-map-container {
  /* single stations */
  .station circle.inner {
    stroke: $black;
    stroke-width: 1.25;
    stroke-opacity: 0.8;
    fill-opacity: 1;
  }

  .station text {
    @include font-bold; //font-family: $font_default; //'Open Sans', sans-serif;
    font-size: 10px;
    //font-weight: 700;
  }

  /* outer circle - only selected stations */
  .station circle.outer,
  .gridpoint circle.outer {
    stroke: $black;
    fill: none;
    fill-opacity: 0;
    stroke-width: 3;
  }
  .blending-not-supported .station circle.outer,
  .blending-not-supported .gridpoint circle.outer {
    stroke-width: 4;
    stroke: $grey;
  }

  /* selected circle in clusters*/
  .station-selected-clustered circle.inner {
    stroke: $black;
    stroke-width: 2;
    fill: $white;
  }

  /* grid point*/
  .gridpoint circle.inner {
    stroke-width: 2.2;
    stroke-dasharray: 0 4;
    stroke-linecap: round;
    stroke: $black;
    stroke-opacity: 0.8;
  }

  .leaflet-marker-icon {
    background: none;
    border: none;
  }

  .leaflet-marker-pane {
    z-index: 700;
  }

  .station,
  .gridpoint {
    .direction {
      path {
        stroke: $black;
        fill: $black;
        stroke-width: 0.75;
      }
    }
  }

  .gridpoint text {
    @include font-bold; //font-family: $font_default; //'Open Sans', sans-serif;
    font-size: 10px;
    //font-weight: 600;
  }
}

.weather-map-details {
  z-index: 100;
  display: table;
  position: absolute;
  top: $padding;
  left: calc(100% - #{$padding});
  transform: translateX(-100%);
  min-width: 20em !important;
  max-width: 75% !important;
  padding: 0;
  font-size: $tiny-font-size; //$body-font-size-tiny;
  background-color: rgba($white, 0.95);
  @include box-shadow(0.15);
  @include rollout();

  .box-content {
  }
  .weather-map-details-text {
    margin: ($padding * 2) ($padding * 2) ($padding * 1.5) ($padding * 2);
  }
  p {
    margin: 0;
    font-size: $tiny-font-size;
  }
  .feature-name {
    @include font-bold;
  }
  .operator-name {
    font-size: $small-font-size;
  }
}

a.weather-map-details-button {
  display: block;
  width: 100%;
  padding: $padding;
  //text-align: left;
  font-size: $tiny-font-size;
  color: $anchor-font-color;
  background: transparent;
  border-color: none;
  span {
    @include font-normal;
    @include letter-spacing(0);
    text-transform: none;
    &:before {
      position: relative;
      top: 0.15em;
      margin: 0;
    }
  }
  &:hover {
    color: $white;
    background: $anchor-font-color;
    border-color: $anchor-font-color;
  }
}
