@use "../abstracts/bounds";
@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../atoms/icons";
@use "../molecules/navigation";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #MAP
\*------------------------------------*/

$map-width: 100%;

$map-height-mobile: 50vh;
$map-height-bulletin: 50vh;

:root {
  --vh: 1vh;
}

$map-height-min: 400px;

$map-google-topbar-height: 46px;

$controls-width-height: variables.$padding * 4;

$search-width: 200px;
$search-width-wide: 300px;

//the outer container for bulletin-map
.section-bulletin-map {
  .bulletin-parallel-view & {
    display: block;
    width: 100%;
    &:first-child {
      .section-map {
        border-bottom: none;
      }
    }
    @media #{variables.$medium-up} {
      display: inline-block;
      width: 50%;
      &:first-child {
        border-right: variables.$border-width variables.$border-style
          variables.$brand-very-light;
        .section-map {
          border-bottom: variables.$border-width variables.$border-style
            variables.$brand-very-light;
        }
      }
    }
  }
}

//the outer container for weather-map
.section-weather-map {
  position: absolute !important;
  top: navigation.$page-header-height;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
}

//the maps themselves
.section-map {
  position: relative;
  // height: $map-height-bulletin;
  width: $map-width;
  overflow: hidden;
  aspect-ratio: var(--mobile-map-ratio);
  @media #{variables.$normal-up} {
    aspect-ratio: var(--desktop-map-ratio);
  }

  .section-bulletin-map & {
    // height: $map-height-bulletin;
    // min-height: $map-height-min;
    @include mixins.box-border(variables.$brand-very-light);
    border-left: none;
    border-right: none;
  }

  .section-weather-map & {
    height: 100%;
    @include mixins.rollout;
  }
}

//leaflet
.leaflet-control-container {
  .map-disabled & {
    display: none;
  }
  .leaflet-control {
    margin: 0;
    border: none !important;
    //rf: was added to compiled style.css by outside dev, brought back here, propably not used anymore, but who knows ...
    .legend .legend-toggle {
      background-image: url("../images/pro/meteoviewer/legend.png");
    }
  }
}

.leaflet-container {
  font: inherit;

  //to develop and test with local map images
  .patternlab .section-bulletin-map & {
    width: 100%;
    height: 100%;
    background: transparent url(../images/dev/bulletin-report-map.jpg);
    background-size: cover;
  }
  .patternlab .section-weather-map & {
    width: 100%;
    height: 100%;
    background: transparent url(../images/dev/weather-map.png);
    background-size: cover;
  }
}
.leaflet-bar {
  border-radius: 0 !important;
}

//overlays
.leaflet-pane.leaflet-overlay-pane,
.leaflet-pane .leaflet-image-layer,
.leaflet-pane svg {
  mix-blend-mode: multiply;
}

.leaflet-tooltip {
  padding: (variables.$padding * 0.25) (variables.$padding * 0.5);
  //border: none;
  border-radius: 0;
  color: variables.$text-color;
  font-size: variables.$tiny-font-size;
  background: rgba(variables.$white, 1) !important;
  @include mixins.box-shadow(0.15);
}

//zoom, search, locate
.leaflet-top.leaflet-left {
  position: absolute;
  top: variables.$padding;
  left: variables.$padding;
  .bulletin-parallel-view & {
    top: variables.$padding * 5.25;
  }

  a {
    overflow: hidden;
    position: relative;
    display: block;
    width: $controls-width-height !important;
    height: $controls-width-height !important;
    margin: 0 !important;
    padding: 0 !important;
    text-indent: 0;
    font-size: $controls-width-height * 0.75 !important;
    line-height: $controls-width-height !important;
    color: variables.$brand !important;
    background-color: rgba(variables.$white, 0.95) !important;
    border: none !important;
    border-radius: 0 !important;
    &:hover {
      color: variables.$white !important;
      background-color: variables.$anchor-font-color !important;
    }
    &.leaflet-disabled {
      color: variables.$grey-light !important;
      a:before {
        color: variables.$grey-light !important;
      }
      &:hover {
        color: variables.$grey-light !important;
        background-color: rgba(variables.$white, 0.95) !important;
      }
    }
  }

  .leaflet-control-zoom,
  .leaflet-geonames-search,
  .leaflet-control-locate,
  .leaflet-control-showhide {
    margin-bottom: variables.$padding;
    @include mixins.box-shadow(0.15);
    a:before {
      height: $controls-width-height !important;
      width: $controls-width-height !important;
      margin: 0 !important;
      font-size: $controls-width-height * 0.75 !important;
      line-height: $controls-width-height !important;
    }
  }

  //no zoom on touch devices
  @media (hover: none) and (pointer: coarse) {
    .leaflet-control-zoom {
      display: none;
    }
  }

  .leaflet-control-zoom-in {
    &:before {
      @include icons.icon(plus-big, 0.75em, 0.5em, none, 0, none);
    }
  }
  .leaflet-control-zoom-out {
    &:before {
      @include icons.icon(minus-big, 0.75em, 0.5em, none, 0, none);
    }
  }

  .leaflet-geonames-search {
    .leaflet-geonames-icon {
      &:before {
        @include icons.icon(search-midsize, 0, 0, none, 0, none);
      }
    }

    //geonames search form
    form {
      width: 100%;
      margin-bottom: 0;
      font-size: variables.$body-font-size;
      background: variables.$white;
      input {
        display: none;
        position: absolute;
        top: 0;
        left: $controls-width-height + 0.5 !important;
        height: $controls-width-height !important;
        width: $search-width;
        margin: 0;
        padding: variables.$padding;
        font-size: variables.$tiny-font-size;
        line-height: variables.$header-line-height;
        color: variables.$brand;
        border: variables.$border-width variables.$border-style variables.$brand;
        outline-style: none;
        @media #{variables.$medium-up} {
          width: $search-width-wide;
        }
      }
    }
    ul {
      list-style: none;
      display: none;
      position: absolute;
      top: $controls-width-height;
      left: $controls-width-height + 0.5 !important;
      width: $search-width;
      margin: 0;
      padding: 0;
      background: variables.$white;
      border: variables.$border-width variables.$border-style variables.$brand;
      border-top: none;
      @media #{variables.$medium-up} {
        width: $search-width-wide;
      }
      &.hasResults {
        display: block;
      }
      &.noResults {
        display: none;
      }
      li {
        cursor: pointer;
        padding: (variables.$padding * 0.5) variables.$padding;
        font-size: variables.$tiny-font-size;
        line-height: variables.$body-line-height;
        border: none !important;
        border-bottom: variables.$border-width variables.$border-style
          variables.$border-color !important;
        &:last-child {
          border-bottom: none !important;
        }
        &:hover {
          background: variables.$grey-very-very-light;
        }
        em {
          color: variables.$grey;
        }
      }
    }
    &.active {
      form {
        input,
        label {
          display: inline-block;
        }
      }
    }
  }

  .leaflet-control-locate {
    a {
      &:before {
        @include icons.icon(location, 0, 0, none, 0, none);
      }
    }
    .icon-geolocate {
      display: none;
    }
  }

  .leaflet-control-showhide {
    &.leaflet-control-show {
      a {
        &:before {
          @include icons.icon(show, 0, 0, none, 0, none);
        }
      }
    }
    &.leaflet-control-hide {
      a {
        &:before {
          @include icons.icon(hide, 0, 0, none, 0, none);
        }
      }
    }
  }
}

//scale
.leaflet-bottom.leaflet-left {
  position: absolute;
  bottom: variables.$padding;
  left: variables.$padding;
  .leaflet-control-scale {
    margin: 0 !important;
  }
  .leaflet-control-scale-line {
    padding: 0.25em 0.5em;
    font-size: variables.$micro-font-size;
    border-color: variables.$grey;
  }
}

//copyright still used on bulletin map
.leaflet-bottom.leaflet-right {
  .leaflet-control {
    position: absolute;
    right: 0;
    bottom: 0;
    float: none;
  }
  .leaflet-control-attribution {
    position: relative;
    font-size: variables.$nano-font-size;
    background-color: rgba(variables.$white, 0.5) !important;
    transform-origin: bottom left;
    transform: translateX(100%) rotate(-90deg);
    .section-weather-map & {
      @media screen and (max-width: #{bounds.upper-bound(variables.$medium-range)}) {
        transform: translateX(100%) translateY(-150px) rotate(-90deg);
      }
    }
  }
}

//
// bulletin-map
//

//in case of no bulletin
.bulletin-map-bulletinbar {
  z-index: 461;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  .controlbar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    p {
      margin: 0;
      text-align: center;
    }
    a:link,
    a:visited {
      color: variables.$white;
    }
  }
}

//details in floating tooltipp box
.bulletin-map-details {
  display: table;
  position: absolute;
  top: variables.$padding * 8;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  font-size: variables.$tiny-font-size; //$body-font-size-tiny;
  background-color: rgba(variables.$white, 0.95);
  @include mixins.box-shadow(0.15);
  opacity: 0;
  @include mixins.rollout();

  &.js-active {
    opacity: 1;
  }

  //@media #{$normal-up} {
  &.top-left {
    top: variables.$padding * 8;
    left: variables.$padding;
    transform: translateX(0);
  }
  &.top-right {
    top: variables.$padding;
    left: calc(100% - #{variables.$padding});
    transform: translateX(-100%);
  }
  &.bottom-right {
    top: calc(100% - #{variables.$padding});
    left: calc(100% - #{variables.$padding});
    transform: translate(-100%, -100%);
  }
  &.bottom-left {
    top: calc(100% - #{variables.$padding});
    transform: translateY(-100%);
    left: variables.$padding;
  }
  //}

  strong {
    @include mixins.font-heavy;
    @include mixins.letter-spacing;
  }

  .bulletin-map-details-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;

    width: variables.$padding * 2;
    height: variables.$padding * 2;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    @include mixins.rollout;

    &:before {
      margin-right: 0;
      font-size: 1.25em;
    }

    &:hover {
      color: variables.$brand-dark;
      background: transparent;
      border-color: transparent;
      @include mixins.rollover;
    }
  }

  .bulletin-report-region-name {
    margin: (variables.$padding * 1.5) (variables.$padding * 2)
      variables.$padding (variables.$padding * 2);
    font-size: variables.$tiny-font-size;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 (variables.$padding * 2) (variables.$padding * 2)
      (variables.$padding * 2);
    li {
      display: flex;
      align-self: center;
      margin-right: variables.$padding;
      &:first-child {
        margin-right: variables.$padding * 2;
      }
      &:last-child {
        margin-right: 0;
      }
      img {
        max-width: none; //<- why?
        box-sizing: content-box;
      }
    }
    // li:not(.bulletin-report-no) + li img {
    //   border: $border-width $border-style $border-color;
    // }
  }

  .bulletin-report-public-alert {
    margin: (variables.$padding * 2) (variables.$padding * 2) 0
      (variables.$padding * 2);
    @include mixins.font-normal;
    font-size: variables.$tiny-font-size;
  }

  //details link
  > a {
    display: block;
    width: 100%;
    padding: 0 (variables.$padding * 2) variables.$padding
      (variables.$padding * 2);
    font-size: variables.$tiny-font-size;
    color: variables.$anchor-font-color;
    background: transparent;
    border-color: none;
    span {
      @include mixins.font-normal;
      @include mixins.letter-spacing(0);
      text-transform: none;
      &:before {
        position: relative;
        top: 0.15em;
        margin: 0;
      }
    }
    &:hover {
      color: variables.$white;
      background: variables.$anchor-font-color;
      border-color: variables.$anchor-font-color;
    }
    &.is-de-highlighted {
      color: variables.$grey;
      &:hover {
        color: variables.$white;
      }
    }
  }
}

//am/pm
.bulletin-map-daytime {
  position: absolute;
  top: variables.$padding * 1.25;
  left: variables.$padding;
  z-index: 2;
  .label {
    font-size: variables.$body-font-size-normal;
    @include mixins.font-bold;
  }
}

//
// weather-map
//

//202009
//used .section-weather-map instead of .weather-map-container
//changed this in SCSS and jsx:
//  <section id="section-weather-map" class="section section-weather-map">
//    <div class="section-map">

//weather-map pane styles
//.weather-map-container,
.section-weather-map {
  //single stations
  .station circle.inner {
    stroke: variables.$black;
    stroke-width: 1.25;
    stroke-opacity: 0.8;
    fill-opacity: 1;
  }

  .station text {
    @include mixins.font-bold;
    font-size: 10px;
  }

  //outer circle - only selected stations
  .station circle.outer,
  .gridpoint circle.outer {
    stroke: variables.$black;
    fill: none;
    fill-opacity: 0;
    stroke-width: 3;
  }
  .blending-not-supported .station circle.outer,
  .blending-not-supported .gridpoint circle.outer {
    stroke-width: 4;
    stroke: variables.$grey;
  }

  //selected circle in clusters
  .station-selected-clustered circle.inner {
    stroke: variables.$black;
    stroke-width: 2;
    fill: variables.$white;
  }

  //grid point
  .gridpoint circle.inner {
    stroke-width: 2.2;
    stroke-dasharray: 0 4;
    stroke-linecap: round;
    stroke: variables.$black;
    stroke-opacity: 0.8;
  }

  .leaflet-marker-icon {
    background: none;
    border: none;
  }

  // .leaflet-marker-pane {
  //   z-index: 700;
  // }

  .station,
  .gridpoint {
    .direction {
      path {
        stroke: variables.$black;
        fill: variables.$black;
        stroke-width: 0.75;
      }
    }
  }

  .gridpoint text {
    @include mixins.font-bold;
    font-size: 10px;
  }
}

//added 202112
.station-icon-cluster-circle {
  display: none;
  .leaflet-cluster-marker & {
    display: unset;
  }
}

//202009: is this still in use? existing in feature-info.jsx so better keep alive from here ...
.weather-map-details {
  z-index: 100;
  display: table;
  position: absolute;
  top: variables.$padding;
  left: calc(100% - #{variables.$padding});
  transform: translateX(-100%);
  min-width: 20em !important;
  max-width: 75% !important;
  padding: 0;
  font-size: variables.$tiny-font-size;
  background-color: rgba(variables.$white, 0.95);
  @include mixins.box-shadow(0.15);
  @include mixins.rollout();

  .weather-map-details-text {
    margin: (variables.$padding * 2) (variables.$padding * 2)
      (variables.$padding * 1.5) (variables.$padding * 2);
  }
  p {
    margin: 0;
    font-size: variables.$tiny-font-size;
  }
  .feature-name {
    @include mixins.font-bold;
  }
  .operator-name {
    font-size: variables.$small-font-size;
  }
}
a.weather-map-details-button {
  display: block;
  width: 100%;
  padding: variables.$padding;
  font-size: variables.$tiny-font-size;
  color: variables.$anchor-font-color;
  background: transparent;
  border-color: none;
  span {
    @include mixins.font-normal;
    @include mixins.letter-spacing(0);
    text-transform: none;
    &:before {
      position: relative;
      top: 0.15em;
      margin: 0;
    }
  }
  &:hover {
    color: variables.$white;
    background: variables.$anchor-font-color;
    border-color: variables.$anchor-font-color;
  }
}
//...to here

//from alien app.scss
//202009: cannot be found in app/components therefore executed
// .weather-map-icon {
//   position: absolute;
//   right: 10px;
//   width: 150px;
//}
