@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #MEASUREMENTS
\*------------------------------------*/

.table-measurements {
  position: relative;

  thead {
    position: relative;
    tr {
      position: relative;
    }
    th {
      position: relative;
      padding: (variables.$padding * 2) variables.$padding variables.$padding
        variables.$padding;
      line-height: 1;
      //vertical-align: middle;
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }
    .measure {
      display: block;
      font-size: variables.$micro-font-size;
      @include mixins.font-normal;
      @include mixins.letter-spacing;
    }
  }
  .sort-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    a {
      align-self: center;
      max-height: 1em;
      overflow: hidden;
      &:before {
        display: block;
        top: -0.25em;
        margin-right: 0;
      }
    }

    //from alien app.scss
    .sort-disabled {
      visibility: hidden;
    }
  }

  tbody {
    position: relative;
    tr {
      position: relative;
      cursor: pointer;
    }
    td {
      position: relative;
      line-height: 1;
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }

    //from alien app.scss
    td.mb-wind {
      white-space: nowrap;
    }

    .region {
      font-size: variables.$micro-font-size;
      display: block;
    }
    .region-AT-07 {
      color: variables.$tyrol-color;
    }
    .region-IT-32-BZ {
      color: variables.$south-tyrol-color;
    }
    .region-IT-32-TN {
      color: variables.$trentino-color;
    }

    .temp,
    .DW {
      display: block;
    }

    .PSUM_24,
    .PSUM_48,
    .PSUM_72,
    .TA_MIN_max,
    .DW,
    .datetime {
      display: block;
      font-size: variables.$micro-font-size;
      @include mixins.font-normal;
      @include mixins.letter-spacing;
    }

    .TA_MAX,
    .VW_MAX {
      &:before {
        content: "\202F/\202F";
      }
    }
  }

  tr:hover {
    td.mb-station.m-name {
      background-color: variables.$table-row-hover-bg;
      @include mixins.rollover;
    }
  }

  .m-name,
  .m-72,
  .m-ltmin {
    margin-right: variables.$border-width;
    border-right: variables.$border-color variables.$border-style
      variables.$border-width;
  }

  &.js-hide-mb-snow {
    .mb-snow {
      display: none;
    }
  }
  &.js-hide-mb-temp {
    .mb-temp {
      display: none;
    }
  }
  &.js-hide-mb-wind {
    .mb-wind {
      display: none;
    }
  }
}
