/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #MEASUREMENTS
\*------------------------------------*/

.table-measurements {
  position: relative;

  thead {
    position: relative;
    tr {
      position: relative;
    }
    th {
      position: relative;
      padding: ($padding * 2) $padding $padding $padding;
      line-height: 1;
      //vertical-align: middle;
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }
    .measure {
      display: block;
      font-size: $micro-font-size;
      @include font-normal;
      @include letter-spacing;
    }
  }
  .sort-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    a {
      align-self: center;
      max-height: 1em;
      overflow: hidden;
      &:before {
        display: block;
        top: -0.25em;
        margin-right: 0;
      }
    }

    //from alien app.scss
    .sort-disabled {
      visibility: hidden;
    }
  }

  tbody {
    position: relative;
    tr {
      position: relative;
      cursor: pointer;
    }
    td {
      position: relative;
      line-height: 1;
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }

    //from alien app.scss
    td.mb-wind {
      white-space: nowrap;
    }

    .region {
      font-size: $micro-font-size;
      display: block;
    }
    .region-AT-07 {
      color: $tyrol-color;
    }
    .region-IT-32-BZ {
      color: $south-tyrol-color;
    }
    .region-IT-32-TN {
      color: $trentino-color;
    }

    .temp,
    .wdir {
      display: block;
    }


    .precipitation24,
    .precipitation48,
    .precipitation72,
    .temp_min_max,
    .wdir,
    .datetime {
      display: block;
      font-size: $micro-font-size;
      @include font-normal;
      @include letter-spacing;
    }

    .temp_max,
    .wgus {
      &:before {
        content: "\202F/\202F";
      }
    }

  }

  tr:hover {
    td.mb-station.m-name {
      background-color: $table-row-hover-bg;
      @include rollover;
    }
  }

  .m-name,
  .m-72,
  .m-ltmin {
    margin-right: $border-width;
    border-right: $border-color $border-style $border-width;
  }

  &.js-hide-mb-snow {
    .mb-snow {
      display: none;
    }
  }
  &.js-hide-mb-temp {
    .mb-temp {
      display: none;
    }
  }
  &.js-hide-mb-wind {
    .mb-wind {
      display: none;
    }
  }
}
