/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #PAGE-HEADER
\*------------------------------------*/

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgba($white, 0.95);
  border-bottom: $border-width $border-style $brand-very-light;
  //overflow: hidden;
  &:before {
    //preload for print
    position: absolute;
    left: -99999px;
    top: -99999px;
    content: "";
    background: transparent url("../images/pro/logos/logo_en_print.png")
      no-repeat 0 0;
    background-size: 1px 1px;
    opacity: 0;
  }

  a {
    &:link,
    &:visited {
      color: $grey-dark;
    }
    &:hover,
    &:active,
    &.active {
      color: $anchor-font-color;
    }
  }

  > div {
    position: relative;
    display: flex;
    top: 0;
    height: $page-header-height;
    padding: 0 $page-header-padding-h;
    border-right: $border-width $border-style $border-color;
    opacity: 1;
    @include rollover(all, $transition-duration * 2);

    @media #{$medium-up} {
      padding: 0 $page-header-padding-h-medium;
    }

    &:last-child {
      border: none;
    }
  }

  @media screen and (max-width: #{upper-bound($normal-range)}) {
    .page-header-navigation {
      display: none;
      opacity: 0;
    }

    .navigation-open & {
      height: calc(100vh - #{$bar-width} + #{$border-width});

      .page-header-logo,
      .page-header-language,
      .page-header-logo-secondary {
        top: -$page-header-height;
        opacity: 0;
      }
      .page-header-navigation {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: ($page-header-padding-v * 5) $page-header-padding-h-medium;
        height: calc(100vh - #{$bar-width} + #{$border-width});
        border-right: none;
        opacity: 1;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        @include rollover(all, 0);
      }
      .page-header-hamburger {
        position: absolute;
        top: 0;
        right: -$border-width * 2;
        span {
          &:before {
            transform: rotate(-45deg);
            opacity: 0;
          }
          span {
            &:before {
              opacity: 1;
              transform: rotate(0deg);
            }
          }
        }
      }
    }

    .scrolling-down:not(.navigation-open) & {
      top: -$page-header-height;
      opacity: 0;
      @include rollout(all, $transition-duration, $ease: ease-in);
    }
  }

  @media #{$medium-up} {
    .page-header-hamburger {
      width: 0;
      padding-left: 0;
      padding-right: 0;
      opacity: 0;
    }

    .page-header-logo-secondary {
      margin-right: 0;
    }

    .scrolling-down & {
      top: -$page-header-height; //-$page-header-height-medium;
      opacity: 0;
      @include rollout(all, $transition-duration, $ease: ease-in);
    }
  }

  @media #{$large-up} {
    .page-header-logo-secondary {
      margin-right: 0;
      opacity: 1;
    }
  }
}

$page-header-logo-width: 3.5em;

.page-header-logo {
  align-items: center;

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .mark {
    position: relative;
    display: block;
    height: $page-header-height;
    width: $page-header-logo-width;

    span {
      position: absolute;
      top: $page-header-height / 2;
      left: $page-header-logo-width / 2;
      transform: translate(-50% -50%);

      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 0;

      @include font-smoothing(subpixel-antialiased);

      opacity: 0;
      @include rollout;
    }

    .mark-de {
      height: $logo-mark-de-height;
      width: $logo-mark-de-width;
      background-image: url("../images/pro/logos/logo_mark_de.svg");
      background-size: $logo-mark-de-width $logo-mark-de-height;
      background-position: 50% 50%;
      rotate: 180deg;
    }
    .mark-it {
      height: $logo-mark-it-height;
      width: $logo-mark-it-width;
      background-image: url("../images/pro/logos/logo_mark_it.svg");
      background-size: $logo-mark-it-width $logo-mark-it-height;
      rotate: 180deg;
    }
    .mark-en {
      opacity: 1;
      height: $logo-mark-en-height;
      width: $logo-mark-en-width;
      background-image: url("../images/pro/logos/logo_mark_en.svg");
      background-size: $logo-mark-en-width $logo-mark-en-height;
    }
  }

  .url {
    position: relative;
    display: block;
    height: $page-header-height;
    width: 4em;

    .domain-de & {
      width: $logo-url-de-width;
      .url-de {
        opacity: 1;
      }
    }
    .domain-it & {
      width: $logo-url-it-width;
      .url-it {
        opacity: 1;
      }
    }
    .domain-en & {
      width: $logo-url-en-width;
      .url-en {
        opacity: 1;
      }
    }

    span {
      position: absolute;
      top: calc(#{$page-header-height} / 2 + 2px);
      left: 0;
      transform: translateY(-50%);

      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 0;

      @include font-smoothing(subpixel-antialiased);

      opacity: 0;
      @include rollout;
    }
  }

  .url-de {
    height: $logo-url-de-height;
    width: $logo-url-de-width;
    background-image: url("../images/pro/logos/logo_url_de.svg");
    background-size: $logo-url-de-width $logo-url-de-height;
  }
  .url-it {
    height: $logo-url-it-height;
    width: $logo-url-it-width;
    background-image: url("../images/pro/logos/logo_url_it.svg");
    background-size: $logo-url-it-width $logo-url-it-height;
  }
  .url-en {
    height: $logo-url-en-height;
    width: $logo-url-en-width;
    background-image: url("../images/pro/logos/logo_url_en.svg");
    background-size: $logo-url-en-width $logo-url-en-height;
  }

  a:hover {
    transform: scale(1.05);
    .domain-de & {
      .mark-en {
        rotate: -135deg;
        opacity: 0;
      }
      .mark-de {
        rotate: -45deg;
        opacity: 1;
      }
    }
    .domain-it & {
      .mark-en {
        rotate: -180deg;
        opacity: 0;
      }
      .mark-it {
        rotate: 0deg;
        opacity: 1;
      }
    }
  }
}

.page-header-navigation {
  flex-grow: 1;
}

.page-header-language {
  flex-grow: 1;
  align-items: stretch;
  justify-content: flex-end;

  .language-trigger {
    display: flex;
    align-items: stretch;

    margin-bottom: 0;

    > li {
      position: relative;
      display: flex;
      > a {
        display: flex;
        align-items: center;
        color: $anchor-font-color;

        @include icon(language, auto, 0, $anchor-font-color, 0, none);
        &:before {
          margin: 0;
        }

        span {
          margin: 0 -0.75em 0 -0.25em;
          @include icon(down-open, auto, 0, $anchor-font-color, 0, none);
          &:before {
            margin: 0;
          }
        }

        &:hover {
          &:before {
            color: $anchor-font-color-hover;
          }
          span {
            &:before {
              color: $anchor-font-color-hover;
            }
          }

          + .subnavigation {
            display: block;
          }
        }
      }
    }

    .language-de & {
      .language-trigger-de {
        color: $anchor-font-color !important;
      }
    }
    .language-it & {
      .language-trigger-it {
        color: $anchor-font-color !important;
      }
    }
    .language-en & {
      .language-trigger-en {
        color: $anchor-font-color !important;
      }
    }
  }

  @media #{$medium-up} {
    flex-grow: 0;
  }
}

.page-header-hamburger {
  .pure-button {
    padding: 0;
    font-size: 0.9em;
    color: $anchor-font-color;
    background-color: transparent;

    span {
      position: relative;
      width: 2em;
      &:before {
        margin: 0;
        font-size: 2em;
        opacity: 1;
      }
      span {
        position: absolute;
        top: 0;
        &:before {
          font-size: 2em; //2rem;
          opacity: 0;
          transform: rotate(45deg);
        }
      }
    }

    &:hover,
    &:active {
      color: $anchor-font-color-hover;
      border-color: transparent;
      box-shadow: none;
    }
  }
}

.header-footer-logo-secondary {
  @include ir;
  position: relative;
  display: block;
  height: $logo-header-footer-secondary-height / 2;
  width: $logo-header-footer-secondary-width / 2;
  background: transparent
    url("../images/pro/logos/logo_euregio_transparent.png") no-repeat 0 0;
  background-size: ($logo-header-footer-secondary-width / 2)
    ($logo-header-footer-secondary-height / 2);
  filter: grayscale(100%);

  &:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
  }
}
.page-header-logo-secondary {
  align-items: center;
  margin-right: calc(
    -#{$logo-header-footer-secondary-width} / 3.5 - #{$page-header-padding-h} * 2 -
      #{$border-width} * 2
  );

  .header-footer-logo-secondary {
    height: $logo-header-footer-secondary-height / 3.5;
    width: $logo-header-footer-secondary-width / 3.5;
    background-size: ($logo-header-footer-secondary-width / 3.5)
      ($logo-header-footer-secondary-height / 3.5);
  }
}
