/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #PAGE-HEADER
\*------------------------------------*/

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgba($white, 0.95);
  border-bottom: $border-width $border-style $brand-very-light;
  overflow: hidden;
  &:before {
    //preload for print
    position: absolute;
    left: -99999px;
    top: -99999px;
    content: "";
    background: transparent url("../images/pro/logos/logo_en_print.png")
      no-repeat 0 0;
    background-size: 1px 1px;
    opacity: 0;
  }

  a {
    &:link,
    &:visited {
      color: $grey-dark;
    }
    &:hover,
    &:active,
    &.active {
      color: $anchor-font-color;
    }
  }

  > div {
    position: relative;
    display: flex;
    top: 0;
    height: $page-header-height;
    padding: $page-header-padding-v $page-header-padding-h;
    border-right: $border-width $border-style $border-color;
    opacity: 1;
    @include rollover(all, $transition-duration * 2);

    @media #{$medium-up} {
      height: $page-header-height-medium;
      padding: $page-header-padding-v $page-header-padding-h-medium;
    }

    &:last-child {
      border: none;
    }
  }

  @media screen and (max-width: #{upper-bound($normal-range)}) {
    .page-header-navigation {
      display: none;
      opacity: 0;
    }

    .navigation-open & {
      height: calc(100vh - #{$bar-width} + #{$border-width});

      .page-header-logo,
      .page-header-language {
        top: -$page-header-height;
        opacity: 0;
      }
      .page-header-navigation {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: ($page-header-padding-v * 5) $page-header-padding-h-medium;
        height: calc(100vh - #{$bar-width} + #{$border-width});
        border-right: none;
        opacity: 1;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        @include rollover(all, 0);
      }
      .page-header-hamburger {
        position: absolute;
        top: 0;
        right: -$border-width * 2;
        span {
          &:before {
            transform: rotate(-45deg);
            opacity: 0;
          }
          span {
            &:before {
              opacity: 1;
              transform: rotate(0deg);
            }
          }
        }
      }
    }

    .scrolling-down:not(.navigation-open) & {
      top: -$page-header-height;
      opacity: 0;
      @include rollout(all, $transition-duration, $ease: ease-in);
    }
  }

  @media #{$medium-up} {
    .page-header-hamburger {
      width: 0;
      padding-left: 0;
      padding-right: 0;
      opacity: 0;
    }

    .page-header-logo-secondary {
      margin-right: calc(
        -#{$logo-header-footer-secondary-width} / 2 - #{$page-header-padding-h-medium} *
          2 - #{$border-width} * 2
      );
      opacity: 0;
    }

    body:not(.has-sub) & {
      .page-header-logo-secondary {
        margin-right: 0;
        opacity: 1;
      }
    }

    .scrolling-down & {
      top: -$page-header-height-medium;
      opacity: 0;
      @include rollout(all, $transition-duration, $ease: ease-in);
    }
  }

  @media #{$large-up} {
    .page-header-logo-secondary {
      margin-right: 0;
      opacity: 1;
    }
  }
}

.page-header-logo {
  align-items: center;

  span {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    //@media #{$medium-up} { margin-top: $page-header-height-increaser / 2; }
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;

    @include font-smoothing(subpixel-antialiased);

    opacity: 1;
    @include rollout;
  }

  .mark {
    top: -0.4em;
    @media #{$medium-up} {
      top: -0.4em + $page-header-height-increaser / 2;
    }
    opacity: 0;
  }
  .mark-de {
    left: -1em;
    height: $logo-mark-de-height;
    width: $logo-mark-de-width;
    background-image: url("../images/pro/logos/logo_mark_de.svg");
    background-size: $logo-mark-de-width $logo-mark-de-height;
    transform: rotate(90deg);
  }
  .mark-it {
    top: -0.1;
    @media #{$medium-up} {
      top: -0.1 + $page-header-height-increaser / 2;
    }
    height: $logo-mark-it-height;
    width: $logo-mark-it-width;
    background-image: url("../images/pro/logos/logo_mark_it.svg");
    background-size: $logo-mark-it-width $logo-mark-it-height;
    transform: rotate(180deg);
  }
  .mark-en {
    height: $logo-mark-en-height;
    width: $logo-mark-en-width;
    background-image: url("../images/pro/logos/logo_mark_en.svg");
    background-size: $logo-mark-en-width $logo-mark-en-height;
    opacity: 1;
  }

  .url {
    display: none;
    top: 3.5em;
    @media #{$medium-up} {
      top: 3.8em + $page-header-height-increaser / 2;
    }
  }
  .url-de {
    .domain-de & {
      display: block;
    }
    height: $logo-url-de-height;
    width: $logo-url-de-width;
    background-image: url("../images/pro/logos/logo_url_de.svg");
    background-size: $logo-url-de-width $logo-url-de-height;
  }
  .url-it {
    .domain-it & {
      display: block;
    }
    height: $logo-url-it-height;
    width: $logo-url-it-width;
    background-image: url("../images/pro/logos/logo_url_it.svg");
    background-size: $logo-url-it-width $logo-url-it-height;
  }
  .url-en {
    .domain-en & {
      display: block;
    }
    height: $logo-url-en-height;
    width: $logo-url-en-width;
    background-image: url("../images/pro/logos/logo_url_en.svg");
    background-size: $logo-url-en-width $logo-url-en-height;
  }

  a {
    position: relative;
    height: 100%;
    width: $logo-url-en-width;
    text-align: center;

    &:hover {
      transform: scale(1.05); //transform: perspective(1px) scale(1.05);
      .domain-de & {
        .mark-en {
          transform: rotate(-135deg);
          opacity: 0;
        }
        .mark-de {
          transform: rotate(-45deg);
          opacity: 1;
        }
      }
      .domain-it & {
        .mark-en {
          transform: rotate(-180deg);
          opacity: 0;
        }
        .mark-it {
          transform: rotate(0deg);
          opacity: 1;
        }
      }
    }
  }
}

.page-header-navigation {
  flex-grow: 1;
}

.page-header-language {
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;

  //font-size: $tiny-font-size;//$body-font-size-tiny;
  @include letter-spacing(0.05em);

  .language-trigger {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-bottom: 0;

    li {
      padding-bottom: 0;
    }

    .language-de & {
      .language-trigger-de {
        @include font-heavy;
        color: $grey-dark;
      }
    }
    .language-it & {
      .language-trigger-it {
        @include font-heavy;
        color: $grey-dark;
      }
    }
    .language-en & {
      .language-trigger-en {
        @include font-heavy;
        color: $grey-dark;
      }
    }
  }

  @media #{$medium-up} {
    flex-grow: 0;
  }
}

.page-header-hamburger {
  .pure-button {
    color: $anchor-font-color;
    background-color: transparent;

    span {
      position: relative;
      width: 3rem;
      &:before {
        margin: 0;
        font-size: 2rem;
        opacity: 1;
      }
      span {
        position: absolute;
        top: 0;
        &:before {
          font-size: 2rem;
          opacity: 0;
          transform: rotate(45deg);
        }
      }
    }

    &:hover,
    &:active {
      color: $anchor-font-color-hover;
      border-color: transparent;
      box-shadow: none;
    }
  }
}

.page-header-logo-secondary {
  align-items: center;
  margin-right: calc(
    -#{$logo-header-footer-secondary-width} / 2 - #{$page-header-padding-h} * 2 -
      #{$border-width} * 2
  );
}
.header-footer-logo-secondary {
  @include ir;
  position: relative;
  display: block;
  height: $logo-header-footer-secondary-height / 2;
  width: $logo-header-footer-secondary-width / 2;
  background: transparent url("../images/pro/logos/logo_euregio.png") no-repeat
    0 0;
  background-size: ($logo-header-footer-secondary-width / 2)
    ($logo-header-footer-secondary-height / 2);
  filter: grayscale(100%);
  &:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
  }
}
