@use "../abstracts/bounds";
@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../atoms/icons";
@use "../molecules/logo";
@use "../molecules/navigation";

/*	TRANSPORTER
 Creating Your Web
 www.transporter.at
*/

/*------------------------------------*\
	#PAGE-HEADER
\*------------------------------------*/

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgba(variables.$white, 0.95);
  border-bottom: variables.$border-width variables.$border-style
    variables.$brand-very-light;

  &:before {
    //preload for print
    position: absolute;
    left: -99999px;
    top: -99999px;
    content: "";
    background: transparent url("../../../images/pro/logos/logo_en_print.webp")
      no-repeat 0 0;
    background-size: 1px 1px;
    opacity: 0;
  }

  a {
    &:link,
    &:visited {
      color: variables.$grey-dark;
    }
    &:hover,
    &:active,
    &.active {
      color: variables.$anchor-font-color;
    }
  }

  > div {
    position: relative;
    display: flex;
    top: 0;
    height: navigation.$page-header-height;
    padding: 0 navigation.$page-header-padding-h;
    border-right: variables.$border-width variables.$border-style
      variables.$border-color;
    opacity: 1;
    @include mixins.rollover(all, variables.$transition-duration * 2);

    @media #{variables.$large-up} {
      padding: 0 navigation.$page-header-padding-h-large;
    }

    //&:last-child {
    &:nth-last-child(-n + 2) {
      border: none;
    }
  }

  @media screen and (max-width: #{bounds.lower-bound(variables.$tiny-range)}) {
    .page-header-logo {
      .mark {
        display: none;
      }
      .url {
        margin-left: variables.$padding * 0.25;
      }
    }
  }

  @media screen and (max-width: #{bounds.upper-bound(variables.$normal-range)}) {
    .page-header-navigation {
      display: none;
      opacity: 0;
    }

    .navigation-open & {
      height: calc(
        100vh - #{variables.$bar-width} + #{variables.$border-width}
      );

      .page-header-logo,
      .page-header-language,
      .page-header-logo-secondary {
        top: calc(0 - #{navigation.$page-header-height});
        opacity: 0;
      }
      .page-header-navigation {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: (navigation.$page-header-padding-v * 5)
          navigation.$page-header-padding-h-large;
        height: calc(
          100vh - #{variables.$bar-width} + #{variables.$border-width}
        );
        border-right: none;
        opacity: 1;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        @include mixins.rollover(all, 0);
      }
      .page-header-hamburger {
        position: absolute;
        top: 0;
        right: -(variables.$border-width) * 2;
        span {
          &:before {
            transform: rotate(-45deg);
            opacity: 0;
          }
          span {
            &:before {
              opacity: 1;
              transform: rotate(0deg);
            }
          }
        }
      }
    }

    // .scrolling-down.s-weathermap-2020:not(.navigation-open) & {
    //   top: calc(0px - #{$page-header-height});
    //   @include rollout(all, $transition-duration, $ease: ease-in);
    // }
  }

  @media #{variables.$medium-up} {
    .page-header-hamburger {
      width: 0;
      padding-left: 0;
      padding-right: 0;
      opacity: 0;
    }

    .page-header-logo-secondary {
      margin-right: 0;
    }

    // .scrolling-down.s-weathermap-2020 & {
    //   top: calc(0px - #{$page-header-height});
    //   @include rollout(all, $transition-duration, $ease: ease-in);
    // }
  }

  @media #{variables.$large-up} {
    .page-header-logo-secondary {
      margin-right: 0;
    }
  }
}

$page-header-logo-width: 3.25em;

.page-header-logo {
  align-items: center;

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .mark {
    position: relative;
    display: block;
    height: navigation.$page-header-height;
    width: $page-header-logo-width;

    span {
      position: absolute;
      top: 0;
      left: 0;
      height: navigation.$page-header-height;
      width: $page-header-logo-width;
      transform-origin: 50% 50%;

      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @include mixins.font-smoothing(subpixel-antialiased);

      opacity: 0;
      @include mixins.rollout;
    }

    .mark-de {
      background-image: url("../../../images/pro/logos/logo_mark_de.svg");
      background-size: logo.$logo-mark-de-width logo.$logo-mark-de-height;
      transform: rotate(90deg); //rotate: 90deg;
      &[data-base-url="/beta/"] {
        background-image: url("../../../images/pro/logos/beta/logo_mark_de.svg");
      }
      &[data-base-url="/dev/"] {
        background-image: url("../../../images/pro/logos/dev/logo_mark_de.svg");
      }
    }
    .mark-it {
      background-image: url("../../../images/pro/logos/logo_mark_it.svg");
      background-size: logo.$logo-mark-it-width logo.$logo-mark-it-height;
      transform: rotate(180deg); //rotate: 180deg;
      &[data-base-url="/beta/"] {
        background-image: url("../../../images/pro/logos/beta/logo_mark_it.svg");
      }
      &[data-base-url="/dev/"] {
        background-image: url("../../../images/pro/logos/dev/logo_mark_it.svg");
      }
    }
    .mark-en {
      opacity: 1;
      background-image: url("../../../images/pro/logos/logo_mark_en.svg");
      background-size: logo.$logo-mark-en-width logo.$logo-mark-en-height;
      &[data-base-url="/beta/"] {
        background-image: url("../../../images/pro/logos/beta/logo_mark_en.svg");
      }
      &[data-base-url="/dev/"] {
        background-image: url("../../../images/pro/logos/dev/logo_mark_en.svg");
      }
    }
  }

  .url {
    position: relative;
    display: block;
    height: navigation.$page-header-height;
    width: 4em;
    margin-left: 0.5em;

    .domain-de & {
      width: logo.$logo-url-de-width;
      .url-de {
        opacity: 1;
      }
    }
    .domain-it & {
      width: logo.$logo-url-it-width;
      .url-it {
        opacity: 1;
      }
    }
    .domain-en & {
      width: logo.$logo-url-en-width;
      .url-en {
        opacity: 1;
      }
    }
    .domain-oc & {
      width: logo.$logo-url-en-width;
      .url-oc {
        opacity: 1;
      }
    }
    .domain-ca & {
      width: logo.$logo-url-en-width;
      .url-ca {
        opacity: 1;
      }
    }
    .domain-es & {
      width: logo.$logo-url-en-width;
      .url-es {
        opacity: 1;
      }
    }
    .domain-fr & {
      width: logo.$logo-url-en-width;
      .url-fr {
        opacity: 1;
      }
    }

    span {
      position: absolute;
      top: calc(#{navigation.$page-header-height} / 2 + 2px);
      left: 0;
      transform: translateY(-50%);

      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 0;

      @include mixins.font-smoothing(subpixel-antialiased);

      opacity: 0;
      @include mixins.rollout;
    }
  }

  .url-de {
    height: logo.$logo-url-de-height;
    width: logo.$logo-url-de-width;
    background-image: url("../../../images/pro/logos/logo_url_de.svg");
    background-size: logo.$logo-url-de-width logo.$logo-url-de-height;
    &[data-base-url="/beta/"] {
      background-image: url("../../../images/pro/logos/beta/logo_url_de.svg");
    }
    &[data-base-url="/dev/"] {
      background-image: url("../../../images/pro/logos/dev/logo_url_de.svg");
    }
  }
  .url-it {
    height: logo.$logo-url-it-height;
    width: logo.$logo-url-it-width;
    background-image: url("../../../images/pro/logos/logo_url_it.svg");
    background-size: logo.$logo-url-it-width logo.$logo-url-it-height;
    &[data-base-url="/beta/"] {
      background-image: url("../../../images/pro/logos/beta/logo_url_it.svg");
    }
    &[data-base-url="/dev/"] {
      background-image: url("../../../images/pro/logos/dev/logo_url_it.svg");
    }
  }
  .url-en,
  .url-oc,
  .url-ca,
  .url-es,
  .url-fr {
    height: logo.$logo-url-en-height;
    width: logo.$logo-url-en-width;
    background-image: url("../../../images/pro/logos/logo_url_en.svg");
    background-size: logo.$logo-url-en-width logo.$logo-url-en-height;
    &[data-base-url="/beta/"] {
      background-image: url("../../../images/pro/logos/beta/logo_url_en.svg");
    }
    &[data-base-url="/dev/"] {
      background-image: url("../../../images/pro/logos/dev/logo_url_en.svg");
    }
  }

  a:hover {
    transform: scale(1.05);
    .domain-de & {
      .mark-en {
        transform: rotate(-135deg); //rotate: -135deg;
        opacity: 0;
      }
      .mark-de {
        transform: rotate(-45deg); //rotate: -45deg;
        opacity: 1;
      }
    }
    .domain-it & {
      .mark-en {
        transform: rotate(-180deg); //rotate: -180deg;
        opacity: 0;
      }
      .mark-it {
        transform: rotate(0deg); //rotate: 0deg;
        opacity: 1;
      }
    }
  }
}

.page-header-navigation {
  flex-grow: 1;
}

.page-header-language {
  flex-grow: 1;
  align-items: stretch;
  justify-content: flex-end;

  .language-trigger {
    display: flex;
    align-items: stretch;

    margin-bottom: 0;

    > li {
      position: relative;
      display: flex;
      > a {
        display: flex;
        align-items: center;
        color: variables.$anchor-font-color;

        @include icons.icon(
          language,
          auto,
          0,
          variables.$anchor-font-color,
          0,
          none
        );
        &:before {
          margin: 0;
        }

        span {
          margin: 0 -0.75em 0 -0.25em;
          @include icons.icon(
            down-open,
            auto,
            0,
            variables.$anchor-font-color,
            0,
            none
          );
          &:before {
            margin: 0;
          }
        }

        &:hover {
          &:before {
            color: variables.$anchor-font-color-hover;
          }
          span {
            &:before {
              color: variables.$anchor-font-color-hover;
            }
          }

          + .subnavigation {
            display: block;
          }
        }
      }
    }

    .language-de & {
      .language-trigger-de {
        color: variables.$anchor-font-color !important;
      }
    }
    .language-it & {
      .language-trigger-it {
        color: variables.$anchor-font-color !important;
      }
    }
    .language-en & {
      .language-trigger-en {
        color: variables.$anchor-font-color !important;
      }
    }
    .language-fr & {
      .language-trigger-fr {
        color: variables.$anchor-font-color !important;
      }
    }
  }

  @media #{variables.$medium-up} {
    flex-grow: 0;
  }
}

.page-header-hamburger {
  .pure-button {
    padding: 0;
    font-size: 0.9em;
    color: variables.$anchor-font-color;
    background-color: transparent;

    span {
      position: relative;
      width: 2em;
      &:before {
        margin: 0;
        font-size: 2em;
        opacity: 1;
      }
      span {
        position: absolute;
        top: 0;
        &:before {
          font-size: 2em; //2rem;
          opacity: 0;
          transform: rotate(45deg);
        }
      }
    }

    &:hover,
    &:active {
      color: variables.$anchor-font-color-hover;
      border-color: transparent;
      box-shadow: none;
    }
  }
}

.header-footer-logo-secondary {
  @include mixins.ir;
  position: relative;
  display: block;
  height: logo.$logo-header-footer-secondary-height * 0.5;
  width: logo.$logo-header-footer-secondary-width * 0.5;
  background: transparent
    url("../../../images/pro/logos/logo_euregio_transparent.webp") no-repeat 0 0;
  background-size: (logo.$logo-header-footer-secondary-width * 0.5)
    (logo.$logo-header-footer-secondary-height * 0.5);
  filter: grayscale(100%);

  &:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
  }
}
.page-header-logo-secondary {
  align-items: center;
  margin-right: calc(
    -#{logo.$logo-header-footer-secondary-width} * 0.2857142857 -
      #{navigation.$page-header-padding-h} * 2 - #{variables.$border-width} * 2
  );

  .header-footer-logo-secondary {
    height: logo.$logo-header-footer-secondary-height * 0.2857142857;
    width: logo.$logo-header-footer-secondary-width * 0.2857142857;
    background-size: (logo.$logo-header-footer-secondary-width * 0.2857142857)
      (logo.$logo-header-footer-secondary-height * 0.2857142857);
  }
}

// .page-header-weather-map-trigger {
//   display: none !important;

//   .s-weathermap-2020 & {
//     display: block !important;
//     position: absolute;
//     top: $page-header-height;
//     left: 50vw;
//     transform: translateX(-50%);
//     height: calc(#{$page-header-height} * 0.75 + #{$bar-width});
//     width: $page-header-height;
//     padding: 0;
//     background-color: rgba($white, 0.95);
//     @include box-shadow(0.15);
//   }
//   @media screen and (max-width: #{upper-bound($normal-range)}) {
//     .s-weathermap-2020.navigation-open & {
//       display: none !important;
//     }
//   }
// }
// .page-header-trigger {
//   height: calc(#{$page-header-height} * 0.75 + #{$bar-width});
//   width: $page-header-height;
//   padding: $bar-width 0 0 0 !important;
//   font-size: 1em;
//   color: $anchor-font-color;
//   background-color: transparent;

//   display: flex;
//   justify-content: center;
//   align-items: center;

//   span {
//     position: relative;
//     width: 2em !important;
//     font-size: 0.9em;
//     &:before {
//       margin: 0;
//       opacity: 1;
//     }
//     span {
//       position: absolute;
//       top: 0;
//       font-size: 1em;
//       &:before {
//         opacity: 0;
//       }
//     }
//   }

//   .scrolling-down.s-weathermap-2020 & {
//     span {
//       &:before {
//         opacity: 0;
//       }
//       span {
//         &:before {
//           opacity: 1;
//         }
//       }
//     }
//   }

//   &:hover,
//   &:active {
//     color: $anchor-font-color-hover;
//     background: none;
//     border-color: transparent;
//     box-shadow: none;
//   }
// }
