@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../molecules/logo";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #PAGE-FOOTER
\*------------------------------------*/

.page-footer {
  position: relative;
  z-index: 0;
  //font-size: $small-font-size;//$body-font-size-small;

  background-color: variables.$white;
  border-top: variables.$border-width variables.$border-style
    variables.$brand-very-light;
}

.page-footer-navigation {
  text-align: center;
  border-bottom: variables.$border-width variables.$border-style
    variables.$brand-very-light;
  @media #{variables.$normal-up} {
    text-align: left;
  }
  @media #{variables.$medium-up} {
    font-size: variables.$tiny-font-size;
  }
}

.page-footer-subscribe {
  margin-bottom: variables.$margin-bottom;
  @media #{variables.$large-up} {
    float: right;
    margin-left: variables.$grid-gutter;
  }
}
.page-footer-text {
  margin-bottom: variables.$margin-bottom;
  color: variables.$grey;
  @media #{variables.$medium-up} {
    font-size: variables.$tiny-font-size;
  }
}
.page-footer-logo-secondary {
  @media #{variables.$large-up} {
    display: none;
  }
}
.header-footer-logo-secondary {
  //initial see _page-header.scss
  display: inline-block;
}

.page-footer-logo-tertiary {
}
.footer-logo-tertiary {
  @include mixins.ir;
  position: relative;
  display: inline-block;
  height: logo.$logo-footer-tertiary-height * 0.5;
  width: logo.$logo-footer-tertiary-width * 0.5;
  background: transparent url("../../../images/pro/logos/logo_eaws.webp")
    no-repeat 0 0;
  background-size: (logo.$logo-footer-tertiary-width * 0.5)
    (logo.$logo-footer-tertiary-height * 0.5);
  filter: grayscale(100%);
  &:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
  }
}

.page-footer-top {
  text-align: center;
  a {
    display: inline-block;
    span {
      display: none;
    }
    &:before {
      margin: 0;
      transform: translateY(0);
    }
    &:hover,
    &:active {
      &:before {
        transform: translateY(-(variables.$padding) * 0.5);
      }
    }
  }
}

.page-footer-version {
  text-align: center;
  color: variables.$grey;
}

.page-footer-logos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: (variables.$margin-bottom * 2) (variables.$padding * 4);
  @media #{variables.$normal-up} {
    flex-direction: row;
    align-items: start;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-logo-link {
    display: block;
    margin-bottom: variables.$padding;
  }
  .footer-logo-img {
    height: 64px;
    margin: 0;
  }
  .footer-logo-share-follow {
    p {
      font-size: variables.$tiny-font-size;
      @include mixins.letter-spacing;
      margin-bottom: variables.$margin-bottom * 0.5;
    }
  }
}
