@use "../abstracts/variables";
@use "./map-cockpit-2024" as cockpit;

.station-map-cockpit {
  .cp-layer-selector-item {
    height: 40px;
  }

  .station-legend-items {
    span {
      display: block;

      &:first-child::before {
        content: "";
      }

      &::before {
        content: attr(data-label);
      }
    }
  }

  .cp-container-1 {
    bottom: calc(
      #{cockpit.$cp-legend-release-height} + #{cockpit.$cp-layer-range-height} +
        #{variables.$border-width}
    );
    width: 100%;

    @media screen and (min-width: cockpit.$cp-breakpoint-2) {
      bottom: calc(
        #{cockpit.$cp-layer-range-height} + #{variables.$border-width}
      );
    }

    @media screen and (min-width: cockpit.$cp-breakpoint-3) {
      bottom: calc(#{cockpit.$cp-layer-range-height});
    }
  }

  .cp-container-legend-release {
    width: 100%;
    border-top: 0;

    @media screen and (min-width: cockpit.$cp-breakpoint-2) {
      width: calc(100% - (#{cockpit.$cp-layer-selector-width} * 2));
    }

    @media screen and (min-width: cockpit.$cp-breakpoint-3) {
      left: cockpit.$cp-layer-selector-width-2;
      width: calc(100% - #{cockpit.$cp-layer-selector-width-2});
    }
  }

  .cp-release-released {
    margin-left: cockpit.$cp-base-unit;
  }
}