/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #SUBSCRIBE
\*------------------------------------*/

.modal-subscribe {
  @include last-child;
  .list-inline {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $margin-bottom * 0.5;
    //not overview
    &:not(.list-buttongroup-dense) {
      align-items: center;
    }
  }
  .list-subscribe-language {
    margin-bottom: 0;
    li {
      padding: 0 ($padding * 4) $padding 0;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  input[type="email"] {
    max-width: 30em;
  }
  hr {
    margin-bottom: $margin-bottom * 0.5;
  }
  .iamok {
    font-size: $small-font-size;
  }
  .status-message {
    font-size: $small-font-size;
    .error {
      color: $error-color;
    }
  }

  > div + div {
    padding-top: $margin-bottom;
    border-top: $border-width $border-style $border-color;
  }
}

//from alien app.scss
.status-message .error {
  color: $error-color;
}

.app-dl {
  margin-bottom: $margin-bottom * 0.5;
  border-bottom: $border-width $border-style $border-color;
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  .app-logo {
    max-width: 5em;
    margin-bottom: 0;
  }
  h2 {
    //margin-bottom: 0;
  }
}

// messenger-people-plugin
.messengerpeople-wrapper {
  margin-left: -($padding * 0.5);
  margin-right: -($padding * 0.5);
  iframe {
    height: 280px;
    width: 500px;
    max-width: 100%;
    border: none;
  }
}

//from alien app.scss
a.share-feed {
  line-height: 2em;
  background: url("../images/pro/feed-icon-28x28.png");
  background-repeat: no-repeat;
  background-size: 1.3em 1.3em;
  padding-left: 1.5em;
}
//from alien app.scss
.modal-subscribe .blog-language {
  @include font-bold;
}
