@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #TOP-FIX
\*------------------------------------*/

.top-fix {
  border-bottom-width: variables.$border-width;
  @include mixins.rollout(top, variables.$transition-duration, $ease: ease-out);

  .js-top-fix & {
    z-index: 300;
    position: fixed;
    left: 0;
    right: 0;
    width: auto;
    max-width: variables.$line-length;
    margin-left: auto;
    margin-right: auto;
    padding-left: variables.$all-h-padding;
    padding-right: variables.$all-h-padding;
    &:before {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: variables.$bar-width;
      @media #{variables.breakpoint-up(medium)} {
        left: 0;
      }
      right: 0;
      background-color: variables.$white;
      border-bottom: variables.$border-width variables.$border-style
        variables.$tertiary-color;
    }
    //if linkbar decrease padding
    &.section-linkbar {
      padding-top: variables.$padding;
      padding-bottom: variables.$padding;
    }
  }
}
