@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #TOP-FIX
\*------------------------------------*/

.top-fix {
  border-bottom-width: variables.$border-width;
  .js-top-fix & {
    z-index: 300;
    position: fixed;
    width: 100%;
    background-color: rgba(variables.$white, 0.95);
    border-bottom: variables.$border-width variables.$border-style
      variables.$brand-very-light;
    //if linkbar decrease padding
    &.section-linkbar {
      padding-top: variables.$padding;
      padding-bottom: variables.$padding;
    }
  }
  //next sibling
  + section {
    @include mixins.rollout(all, 0s);
  }
}
