<div class="jumpnav">
	<a href="#page-main" title="Go to Content">Go to Content</a>
	<a href="#navigation" title="Go to Navigation">Go to Navigation</a>
	<a href="#page-footer" title="Got to Footer">Go to Footer</a>
</div>