<ul class="list-inline sm-buttons">
	<li><a href="../../patterns/10-global-modals-modal-ajax-content/10-global-modals-modal-ajax-content.markup-only.html" class="sm-button icon-sm-facebook modal-trigger mfp-ajax tooltip" title="{{smTitle}}"><span>Facebook</span></a></li>
	<li><a href="../../patterns/10-global-modals-modal-ajax-content/10-global-modals-modal-ajax-content.markup-only.html" class="sm-button icon-sm-twitter modal-trigger mfp-ajax tooltip" title="{{smTitle}}"><span>Twitter</span></a></li>
	<li><a href="../../patterns/10-global-modals-modal-ajax-content/10-global-modals-modal-ajax-content.markup-only.html" class="sm-button icon-sm-instagram modal-trigger mfp-ajax tooltip" title="{{smTitle}}"><span>Instagram</span></a></li>
	<li><a href="../../patterns/10-global-modals-modal-ajax-content/10-global-modals-modal-ajax-content.markup-only.html" class="sm-button icon-sm-youtube modal-trigger mfp-ajax tooltip" title="{{smTitle}}"><span>YouTube</span></a></li>
	<li><a href="../../patterns/10-global-modals-modal-ajax-content/10-global-modals-modal-ajax-content.markup-only.html" class="sm-button icon-sm-whatsapp modal-trigger mfp-ajax tooltip" title="{{smTitle}}"><span>WhatsApp</span></a></li>
</ul>