<section id="section-bulletin-legend" class="section-padding section-bulletin-legend">
	<div class="section-centered">
		
		<div class="grid">
			
			<div class="normal-6 grid-item">
				<p><strong>Hide regions</strong> with special <a href="#" class="tooltip" title="Learn more" ><strong>Avalanche Situation</strong></a></p>
				<ul class="list-inline list-avalanche-problems-filter">
					<li>
						<a href="#" title="Show regions with New Snow" class="img js-deactivated tooltip">
							<img src="../../images/pro/avalanche-situations/new_snow.png" alt="New Snow" />
							<img src="../../images/pro/avalanche-situations/new_snow_grey.png" alt="New Snow" />
						</a>
					</li>
					<li>
						<a href="#" title="Hide regions with Drifting Snow" class="img tooltip">
							<img src="../../images/pro/avalanche-situations/drifting_snow.png" alt="Drifting Snow" />
							<img src="../../images/pro/avalanche-situations/drifting_snow_grey.png" alt="Drifting Snow" />
						</a>
					</li>
					<li>
						<a href="#" title="Hide regions with Old Snow" class="img tooltip">
							<img src="../../images/pro/avalanche-situations/old_snow.png" alt="Old Snow" />
							<img src="../../images/pro/avalanche-situations/old_snow_grey.png" alt="Old Snow" />
						</a>
					</li>
					<li>
						<a href="#" title="Hide regions with Wet Snow" class="img tooltip">
							<img src="../../images/pro/avalanche-situations/wet_snow.png" alt="Wet Snow" />
							<img src="../../images/pro/avalanche-situations/wet_snow_grey.png" alt="Wet Snow" />
						</a>
					</li>
					<li>
						<a href="#" title="Hide regions with Gliding Snow" class="img tooltip">
							<img src="../../images/pro/avalanche-situations/gliding_snow.png" alt="Gliding Snow" />
							<img src="../../images/pro/avalanche-situations/gliding_snow_grey.png" alt="Gliding Snow" />
						</a>
					</li>
				</ul>
			</div>
			
			<div class="normal-6 grid-item">
				<p><strong>Legend</strong> <a href="#" class="tooltip" title="Learn more" ><strong>Warning Levels</strong></a></p>
				<ul class="list-inline list-legend">
					<li class="warning-level-1"><span><strong>1</strong> gering</span></li>
					<li class="warning-level-2"><span><strong>2</strong> mäßig</span></li>
					<li class="warning-level-3"><span><strong>3</strong> erheblich</span></li>
					<li class="warning-level-4"><span><strong>4</strong> groß</span></li>
					<li class="warning-level-5"><span><strong>5</strong> sehr groß</span></li>
				</ul>
			</div>
	
	</div>
</section>
</section>