<header class="app-header navbar">
<!--  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button> -->
<!--  <a class="navbar-brand" href="#"></a> -->
  
  <ul class="nav navbar-nav hidden-md-down">
<!--
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
-->
    <li class="nav-item px-1">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/bulletins']">{{ "sidebar.bulletins" | translate }}</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/observations']">{{ "sidebar.observations" | translate }}</a>
    </li>
  </ul>

  <ul class="nav navbar-nav ml-auto">
<!--
    <li class="nav-item hidden-md-down">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
-->
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        <img src="{{ authenticationService.getUserImageSanitized() }}" class="img-avatar">
        <span class="hidden-md-down">{{ authenticationService.getUsername() }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>{{ "menu.language" | translate }}</strong></div>

        <a class="dropdown-item" (click)='settingsService.setLangString("it")'><i class="fa fa-comment"></i>&nbsp;{{ "menu.it" | translate }}<i *ngIf="settingsService.getLangString()=='it'" class="fa fa-check float-right"></i></a>
        <a class="dropdown-item" (click)='settingsService.setLangString("de")'><i class="fa fa-comment"></i>&nbsp;{{ "menu.de" | translate }}<i *ngIf="settingsService.getLangString()=='de'" class="fa fa-check float-right"></i></a>
        <a class="dropdown-item" (click)='settingsService.setLangString("en")'><i class="fa fa-comment"></i>&nbsp;{{ "menu.en" | translate }}<i *ngIf="settingsService.getLangString()=='en'" class="fa fa-check float-right"></i></a>

        <div class="dropdown-header text-center"><strong>{{ "menu.settings" | translate }}</strong></div>
        <a class="dropdown-item" href="#" routerLink="/pages/login" (click)="logout()"><i class="fa fa-lock"></i> {{ "menu.logout" | translate }}</a>
      </div>
    </li>
    <li class="nav-item" (click)="focusChat($event)">
      <a class="nav-link icon-speech aside-menu-toggler" href="#"><span *ngIf="showBadge()" class="badge badge-pill badge-danger">{{ chatService.getNewMessageCount() }}</span></a>
    </li>
  </ul>
  
</header>

<div class="app-body">

  <!-- Menu left -->
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="divider"></li>
        <li class="nav-title">
          {{ "sidebar.bulletins" | translate }}
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/bulletins']"><i class="icon-puzzle"></i> {{ "sidebar.bulletins" | translate }}</a>
        </li>
        <li class="nav-title">
          {{ "sidebar.news" | translate }}
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/news']"><i class="icon-puzzle"></i> {{ "sidebar.news" | translate }}</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>

  <!-- Sidebar right -->
  <aside class="aside-menu" style="overflow: auto">
    <div class="p-1">
      <div class="message">
        <textarea type="text" rows="2" class="form-control" id="chatMessage" placeholder='{{ "chat.placeholder" | translate }}' [(ngModel)]="message" (click)="focusChat($event)"></textarea>
        <button type="button" class="btn btn-primary btn-sm btn-block" (click)="sendChatMessage()">{{ "chat.send" | translate}}</button>
        <hr>
      </div>
      <div *ngFor="let chatMessage of chatService.chatMessages">
        <div class="message">
          <div>
            <small class="text-muted">{{ chatMessage.getUsername() }}</small>
            <small class="text-muted float-right mt-q">{{ chatMessage.getTime() | localizedDate: 'hh:mm dd/MM'}}</small>
          </div>
          <div style="white-space: pre-wrap">{{ chatMessage.getText() }}</div>
        </div>
        <hr>
      </div>
    </div>
  </aside>
</div>
