<ul class="global-colors">
	{{# colors.political }}
	<li>
		<span class="global-colors-swatch" style="background: {{ hex }};"></span>
		<span>
			{{ name }} <br />
			{{ hex }}
		</span>
	</li>
	{{/ colors.political }}
</ul>


