<div class="grid">
	<div class="grid-item small-6 normal-3">
		<h6>ul</h6>
		<ul class="disc">
			{{# listItems.three }}
			<li>{{ headline.short }}</li>
			{{/ listItems.three }}
		</ul>
	</div>
	<div class="grid-item small-6 normal-3">
		<h6>ul.list-plain</h6>
		<ul class="list-plain">
			{{# listItems.three }}
			<li>{{ headline.short }}</li>
			{{/ listItems.three }}
		</ul>
	</div>
	<div class="grid-item small-6 normal-3">
		<h6>ul.circle</h6>
		<ul class="circle">
			{{# listItems.three }}
			<li>{{ headline.short }}</li>
			{{/ listItems.three }}
		</ul>
	</div>
	<div class="grid-item small-6 normal-3">
		<h6>ul.square</h6>
		<ul class="square">
			{{# listItems.three }}
			<li>{{ headline.short }}</li>
			{{/ listItems.three }}
		</ul>
	</div>
	<div class="grid-item small-6 normal-3">
		<h6>ol</h6>
		<ol class="">
			{{# listItems.three }}
			<li>{{ headline.short }}</li>
			{{/ listItems.three }}
		</ol>
	</div>
	<div class="grid-item small-6 normal-3">
		<h6>ol.list-plain</h6>
		<ol class="list-plain">
			{{# listItems.three }}
			<li>{{ headline.short }}</li>
			{{/ listItems.three }}
		</ol>
	</div>
	<div class="grid-item small-6 normal-3">
		<h6>ul.list-inline</h6>
		<ul class="list-inline">
			{{# listItems.five }}
			<li>{{ name.first }}</li>
			{{/ listItems.five }}
		</ul>
	</div>
	<div class="grid-item small-6 normal-3">
		<h6>ul.list-sidenav</h6>
		<ul class="list-sidenav">
			{{# listItems.four }}
			<li><a href="" title="">{{ name.last }}</a></li>
			{{/ listItems.four }}
		</ul>
	</div>
</div>