{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "allowJs": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "plugins": ["prettier", "react", "jsx-a11y"],
  "globals": {
    "APP_DEV_MODE": true,
    "APP_ASSET_PATH": true,
    "APP_ENVIRONMENT": true,
    "APP_LICENSE": true,
    "APP_REPOSITORY": true,
    "APP_VERSION": true,
    "APP_VERSION_DATE": true,
    "appStore": true,
    "mapStore": true,
    "config": true,
    "$": true
  },
  "rules": {
    "no-console": ["error", { "allow": ["info", "warn", "error", "assert"] }],
    "react/no-string-refs": "warn",
    "react/prop-types": "off",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "jsx-a11y/anchor-is-valid": 0, // TODO: enable rule
    "jsx-a11y/click-events-have-key-events": 0  // TODO: enable rule
  }
}
