{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "allowJs": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "plugins": ["prettier", "react"],
  "globals": {
    "APP_DEV_MODE": true,
    "APP_ASSET_PATH": true,
    "APP_ENVIRONMENT": true,
    "APP_VERSION": true,
    "APP_VERSION_DATE": true,
    "appStore": true,
    "mapStore": true,
    "config": true,
    "$": true
  },
  "rules": {
    "no-console": "off",
    "react/jsx-uses-vars": [2],
    "react/jsx-uses-react": "error",
  }
}
