{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2022,
    "ecmaFeatures": {
      "jsx": true,
      "allowJs": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier", "react", "jsx-a11y"],
  "globals": {
    "config": true
  },
  "rules": {
    "no-console": ["error", { "allow": ["info", "warn", "error", "assert"] }],
    "require-await": "error",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-this-alias": "warn",
    "@typescript-eslint/prefer-includes": "warn",
    "@typescript-eslint/prefer-string-starts-ends-with": "warn",
    "react/no-string-refs": "warn",
    "react/prop-types": "off",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "jsx-a11y/anchor-is-valid": "off", // TODO: enable rule
    "jsx-a11y/click-events-have-key-events": "off", // TODO: enable rule
    "jsx-a11y/no-noninteractive-element-interactions": "off" // TODO: enable rule
  },
  "settings": {
    "react": {
      "version": "detect" // React version. "detect" automatically picks the version you have installed.
      // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
      // It will default to "latest" and warn if missing, and to "detect" in the future
    }
  }
}
