stages:
  - build
  - deploy
  - playwright

workflow:
  rules:
    # Run pipeline for merge requests
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    # Run pipeline for tags (production release)
    - if: $CI_COMMIT_TAG
    # Skip duplicate pipelines when MR exists
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    # Run pipeline for branch pushes (like master)
    - if: $CI_COMMIT_BRANCH

.build:
  image: node:24
  stage: build
  variables:
    YARN_CACHE_FOLDER: .yarn-cache/
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - .yarn-cache/
  before_script:
    - corepack enable
    - yarn install --immutable
  script:
    - yarn test
    - yarn build-$CI_ENVIRONMENT_NAME
    - du --bytes --total dist/assets/*js | tail -n1 | awk "{print \"size_${CI_ENVIRONMENT_NAME}_js \" \$1}" >> metrics.txt
  artifacts:
    paths:
      - dist/
    reports:
      metrics: metrics.txt

.deploy:
  stage: deploy
  image: alpine:latest
  script:
    - apk add openssl openssh-client rsync
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - sed 's#<title>Avalanche Bulletin Home</title>#{{placeholder "http.vars.meta"}}#' -i dist/index.html
    - rsync -avz -e 'ssh -p2201' --delete dist/ $SFTP_SERVER

build:dev:
  extends: .build
  environment:
    name: dev
deploy:dev:
  extends: .deploy
  environment:
    name: dev
  needs:
    - build:dev
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
    - when: manual
      allow_failure: true

build:beta:
  extends: .build
  environment:
    name: beta
deploy:beta:
  extends: .deploy
  environment:
    name: beta
  needs:
    - build:beta
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
    - when: manual
      allow_failure: true

build:prod:
  extends: .build
  environment:
    name: prod
deploy:prod:
  extends: .deploy
  environment:
    name: prod
  needs:
    - build:prod
  rules:
    - if: "$CI_COMMIT_TAG"
      when: manual
      allow_failure: true

.playwright:
  stage: playwright
  image: mcr.microsoft.com/playwright:v1.55.0
  artifacts:
    when: always
    paths:
      - playwright-report/
      - test-results/
    reports:
      junit: test-results/junit-results.xml
  before_script:
    - corepack enable
    - yarn install --immutable
  script:
    - yarn playwright test

playwright:beta:
  extends: .playwright
  environment:
    name: beta
  needs:
    - deploy:beta
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - when: manual
      allow_failure: true

playwright:localhost:
  extends: .playwright
  needs: []
  environment:
    name: localhost
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - when: manual
      allow_failure: true
