/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #CANDYBARS
\*------------------------------------*/

.candybar {
  z-index: 9500;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: ($all-v-padding * 0.5) $all-h-padding ($all-v-padding * 0.25)
    $all-h-padding;
  background-color: $grey-very-light;
  border-top: $border-width $border-style $brand-very-light;
}
