@use "../abstracts/variables";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #CANDYBARS
\*------------------------------------*/

.candybar {
  z-index: 9500;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: (variables.$all-v-padding * 0.5) variables.$all-h-padding
    (variables.$all-v-padding * 0.25) variables.$all-h-padding;
  background-color: variables.$grey-very-light;
  border-top: variables.$border-width variables.$border-style
    variables.$brand-very-light;
}
