@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #FILTER
\*------------------------------------*/

.filter {
  margin-bottom: 0;
  a {
    margin-right: 0;
  }
  .label {
    color: variables.$text-color;
    border-color: variables.$grey-light;
    &:hover {
      @include mixins.box-shadow;
    }
    &:hover,
    &.js-active {
      color: variables.$anchor-font-color;
      border-color: variables.$anchor-font-color;
    }
  }
  &.primary {
    .label {
      &:hover,
      &.js-active {
        color: variables.$white;
        border-color: variables.$anchor-font-color;
        background-color: variables.$anchor-font-color;
      }
    }
  }
}
