@use "../abstracts/bounds";
@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #LINKBOX
\*------------------------------------*/

a.linkbox {
  &[href^="http:"],
  &[href^="https:"] {
    padding: 0;
    &:before {
      display: none;
      content: none;
    }
  }

  &:link,
  &:visited {
    position: relative;
    display: block;
    margin-bottom: variables.$margin-bottom;
    padding: 0;
    line-height: 0;
    background-color: variables.$anchor-font-color;
    border: variables.$border-width variables.$border-style
      variables.$brand-very-light;
    overflow: hidden;
    @include mixins.rollout(all, variables.$transition-duration, ease-in-out);
  }

  .content-image {
    width: 100%;
    // overflow: hidden;
    @include mixins.rollout(all, variables.$transition-duration, ease-out);
    img {
      max-width: none;
      width: 100%;
      margin-bottom: 0;
      transform: scale3d(1.01, 1.01, 1);
      @include mixins.rollout(all, variables.$transition-duration, ease-out);
    }
  }

  .content-text {
    width: 100%;
    padding: calc(#{variables.$all-v-padding} - 0.5em) variables.$all-h-padding;
    background-color: variables.$white;
    @include mixins.text-color(variables.$anchor-font-color);
    @include mixins.rollout(all, variables.$transition-duration, ease-in-out);
    @include mixins.scrollbar-hide;

    @include mixins.last-child;

    p {
      margin: 0;
      color: inherit;
    }
    p:not(.subheader) + p {
      margin-top: variables.$paragraph-margin-bottom;
    }
  }

  .pure-button {
    border-color: variables.$white;
    @include mixins.rollout(all, variables.$transition-duration, ease-in-out);
  }

  &:hover {
    border-color: variables.$anchor-font-color;
    @include mixins.box-shadow;
    @include mixins.rollover(
      all,
      variables.$transition-duration * 2,
      ease-in-out
    );

    .content-image {
      @include mixins.rollover(
        all,
        variables.$transition-duration * 2,
        ease-in-out
      );
      img {
        transform: scale3d(1.2, 1.2, 1);
        @include mixins.rollover(
          all,
          variables.$transition-duration * 2,
          ease-in-out
        );
      }
    }

    .content-text {
      background-color: variables.$anchor-font-color;
      @include mixins.text-color(variables.$white);
      @include mixins.rollover(
        all,
        variables.$transition-duration * 2,
        ease-in-out
      );
    }

    .pure-button {
      border-color: variables.$white;
      @include mixins.rollover(
        all,
        variables.$transition-duration * 2,
        ease-in-out
      );
    }
  }
}

a.linkbox-feature {
  &:link,
  &:visited {
    &:after {
      content: "";
      display: block;
      padding-bottom: 50%;
    }
  }

  //.content-image { position: absolute; }

  .content-text {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    @media #{variables.$normal-up} {
      padding: calc(#{variables.$all-v-padding} - 0.5em)
        variables.$all-h-padding;
    }
    .content-additional {
      margin-bottom: variables.$paragraph-margin-bottom !important;
    }
  }

  .content-image + .content-text {
    top: 50%;
    background-color: variables.$white; //rgba($white, 0.5);
  }

  .content-additional {
    display: none;
    margin-top: variables.$paragraph-margin-bottom;
  }

  &:hover {
    .content-image {
      img {
        transform: translateY(50%) scale3d(2.01, 2.01, 1);
      }
    }

    .content-text {
      top: 0;
      background-color: rgba(variables.$brand, 0.8);
    }

    .content-additional {
      display: block;
      @include mixins.text-color(variables.$white);
      @include mixins.rollover(
        all,
        variables.$transition-duration * 2,
        ease-in-out
      );
    }
  }
}

a.linkbox-blog-feature {
  &:link,
  &:visited {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 0;
    background-color: variables.$white;
    border: variables.$border-width variables.$border-style
      variables.$border-color;
    @media screen and (max-width: #{bounds.upper-bound(variables.$small-range)}) {
      border-left: none;
      border-right: none;
    }
  }

  .content-image {
    width: 100%;
    height: 33.333vw;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }

    @media #{variables.$small-up} {
      width: 25%;
      height: auto;
      padding-top: 25%;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }

  .content-text {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0.5em variables.$all-h-padding (variables.$all-v-padding * 2)
      variables.$all-h-padding; //0.5em $all-h-padding calc(#{$all-v-padding} - 0.5em) $all-h-padding;
    @media #{variables.$small-up} {
      width: 75%;
      padding: calc(#{variables.$all-v-padding} - 0.5em)
        variables.$all-h-padding;
    }

    .blog-feature-meta {
      li {
        color: variables.$text-color !important;
      }
    }

    .blog-list-labels {
      margin-bottom: -(variables.$padding) !important;
    }
  }

  &:hover {
    color: variables.$anchor-font-color;
    background-color: variables.$white;
    border-color: variables.$anchor-font-color;
    @include mixins.rollover(
      all,
      variables.$transition-duration * 2,
      ease-in-out
    );

    .content-image {
      img {
        transform: none;
        scale: 1.05;
      }
    }

    .content-text {
      background-color: variables.$white;
      @include mixins.text-color(variables.$anchor-font-color);
      .blog-feature-meta {
        li {
          color: variables.$anchor-font-color !important;
          @include mixins.rollover(
            all,
            variables.$transition-duration * 2,
            ease-in-out
          );
        }
      }
    }
  }
}

a.linkbox-linktree-feature {
  &:link,
  &:visited {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 0;
    background-color: variables.$white;
    border: variables.$border-width variables.$border-style
      variables.$border-color;
    @media screen and (max-width: #{bounds.upper-bound(variables.$small-range)}) {
      border-left: none;
      border-right: none;
    }
  }

  .content-image {
    width: 20%;
    height: auto;
    padding: 20% 0 0 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .content-text {
    width: 80%;
    padding: calc(#{variables.$all-v-padding} / 2) variables.$all-h-padding;
  }

  &:hover {
    color: variables.$anchor-font-color;
    background-color: variables.$white;
    border-color: variables.$anchor-font-color;
    @include mixins.rollover(
      all,
      variables.$transition-duration * 2,
      ease-in-out
    );

    .content-image {
      img {
        transform: none;
        scale: 1.05;
      }
    }

    .content-text {
      background-color: variables.$white;
      @include mixins.text-color(variables.$anchor-font-color);
    }
  }
}
