/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #LINKBOX
\*------------------------------------*/

a.linkbox {
  &[href^="http:"],
  &[href^="https:"] {
    padding: 0;
    &:before {
      display: none;
      content: none;
    }
  }

  &:link,
  &:visited {
    position: relative;
    display: block;
    margin-bottom: $margin-bottom;
    padding: 0;
    line-height: 0;
    background-color: $anchor-font-color;
    border: $border-width $border-style $brand-very-light;
    overflow: hidden;
    @include rollout(all, $transition-duration, ease-in-out);
  }

  .content-image {
    width: 100%;
    // overflow: hidden;
    @include rollout(all, $transition-duration, ease-out);
    img {
      max-width: none;
      width: 100%;
      margin-bottom: 0;
      transform: scale3d(1.01, 1.01, 1);
      @include rollout(all, $transition-duration, ease-out);
    }
  }

  .content-text {
    width: 100%;
    padding: calc(#{$all-v-padding} - 0.5em) $all-h-padding;
    background-color: $white;
    @include text-color($anchor-font-color);
    @include rollout(all, $transition-duration, ease-in-out);
    @include scrollbar-hide;

    @include last-child;

    p {
      margin: 0;
      color: inherit;
    }
    p:not(.subheader) + p {
      margin-top: $paragraph-margin-bottom;
    }
  }

  .pure-button {
    border-color: $white;
    @include rollout(all, $transition-duration, ease-in-out);
  }

  &:hover {
    border-color: $anchor-font-color;
    @include box-shadow;
    @include rollover(all, $transition-duration * 2, ease-in-out);

    .content-image {
      @include rollover(all, $transition-duration * 2, ease-in-out);
      img {
        transform: scale3d(1.2, 1.2, 1);
        @include rollover(all, $transition-duration * 2, ease-in-out);
      }
    }

    .content-text {
      background-color: $anchor-font-color;
      @include text-color($white);
      @include rollover(all, $transition-duration * 2, ease-in-out);
    }

    .pure-button {
      border-color: $white;
      @include rollover(all, $transition-duration * 2, ease-in-out);
    }
  }
}

a.linkbox-feature {
  &:link,
  &:visited {
    &:after {
      content: "";
      display: block;
      padding-bottom: 50%;
    }
  }

  //.content-image { position: absolute; }

  .content-text {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    @media #{$normal-up} {
      padding: calc(#{$all-v-padding} - 0.5em) $all-h-padding;
    }
    .content-additional {
      margin-bottom: $paragraph-margin-bottom !important;
    }
  }

  .content-image + .content-text {
    top: 50%;
    background-color: $white; //rgba($white, 0.5);
  }

  .content-additional {
    display: none;
    margin-top: $paragraph-margin-bottom;
  }

  &:hover {
    .content-image {
      img {
        transform: translateY(50%) scale3d(2.01, 2.01, 1);
      }
    }

    .content-text {
      top: 0;
      background-color: rgba($brand, 0.8);
    }

    .content-additional {
      display: block;
      @include text-color($white);
      @include rollover(all, $transition-duration * 2, ease-in-out);
    }
  }
}

a.linkbox-blog-feature {
  &:link,
  &:visited {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 0;
    background-color: $white;
    border: $border-width $border-style $border-color;
    @media screen and (max-width: #{upper-bound($small-range)}) {
      border-left: none;
      border-right: none;
    }
  }

  .content-image {
    width: 100%;
    height: 33.333vw;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }

    @media #{$small-up} {
      width: 25%;
      height: auto;
      padding-top: 25%;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }

  .content-text {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0.5em $all-h-padding ($all-v-padding * 2) $all-h-padding; //0.5em $all-h-padding calc(#{$all-v-padding} - 0.5em) $all-h-padding;
    @media #{$small-up} {
      width: 75%;
      padding: calc(#{$all-v-padding} - 0.5em) $all-h-padding;
    }

    .blog-feature-meta {
      li {
        color: $text-color !important;
      }
    }

    .blog-list-labels {
      margin-bottom: -$padding !important;
    }
  }

  &:hover {
    color: $anchor-font-color;
    background-color: $white;
    border-color: $anchor-font-color;
    @include rollover(all, $transition-duration * 2, ease-in-out);

    .content-image {
      img {
        transform: none;
        scale: 1.05;
      }
    }

    .content-text {
      background-color: $white;
      @include text-color($anchor-font-color);
      .blog-feature-meta {
        li {
          color: $anchor-font-color !important;
          @include rollover(all, $transition-duration * 2, ease-in-out);
        }
      }
    }
  }
}

a.linkbox-linktree-feature {
  &:link,
  &:visited {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 0;
    background-color: $white;
    border: $border-width $border-style $border-color;
    @media screen and (max-width: #{upper-bound($small-range)}) {
      border-left: none;
      border-right: none;
    }
  }

  .content-image {
    width: 20%;
    height: auto;
    padding: 20% 0 0 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .content-text {
    width: 80%;
    padding: calc(#{$all-v-padding} / 2) $all-h-padding;
  }

  &:hover {
    color: $anchor-font-color;
    background-color: $white;
    border-color: $anchor-font-color;
    @include rollover(all, $transition-duration * 2, ease-in-out);

    .content-image {
      img {
        transform: none;
        scale: 1.05;
      }
    }

    .content-text {
      background-color: $white;
      @include text-color($anchor-font-color);
    }
  }
}
