@use "../abstracts/bounds";
@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../atoms/icons";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

$page-header-height: calc(3 * #{variables.$body-font-size});

$page-header-padding-v: 0.5em;
$page-header-padding-h: 1em;
$page-header-padding-h-large: 1.5em;

$items-per-column: 5;
$first-item-in-second-column: $items-per-column + 1;
$first-item-in-third-column: $items-per-column + $first-item-in-second-column;

$item-padding: 0.175em;

.navigation {
  display: block;
  position: relative;
  margin: 0;

  @include mixins.font-bold;
  line-height: 1;
  @include mixins.rollover;

  a {
    position: relative;
    display: block;
    padding: 0 2em 0 0;
    white-space: nowrap;
  }

  .has-sub {
    padding-right: 3em;
    @include icons.icon(down-open, auto, 0, variables.$text-color, 0, none);
    &:before {
      display: block;
      position: absolute;
      top: 0.3em;
      right: 0.5em;
    }
    &:hover,
    &.active {
      &:before {
        color: variables.$anchor-font-color;
      }
    }
    &:hover {
      + .subnavigation {
        display: block;
      }
    }
  }

  //HOME and Posts
  small {
    @include mixins.font-normal;
    font-size: 0.7em;
    &.label {
      margin: 0 0 0 0.25em;
    }
  }

  @media screen and (max-width: #{bounds.upper-bound(variables.$normal-range)}) {
    .navigation-open & {
      top: 0;
      margin: 0 calc(#{variables.$padding} * 6 + #{variables.$border-width} * 4)
        variables.$margin-bottom 0;

      li {
        &:first-child a {
          padding-top: variables.$padding * 0.5;
        }
      }

      a {
        display: block;
        padding: (variables.$padding * 2) 0 variables.$padding 0;
        font-size: variables.$h1-font-size;
        @include mixins.font-heavy;
        white-space: normal;
      }
      .has-sub {
        &:before {
          display: none;
        }
      }
      //HOME and Posts
      small {
        font-size: 0.5em;
        &.label {
          position: relative;
          top: -0.15em;
          margin: 0 0 0 0.5em;
        }
      }
    }
  }

  @media #{variables.$medium-up} {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    > li {
      position: relative;
      display: flex;
      > a {
        display: flex;
        align-items: center;
      }
    }
  }
}

.subnavigation {
  z-index: 5;
  display: none;
  position: absolute;
  top: $page-header-height;
  left: -1em;
  min-width: 5em;
  margin: 0;
  padding: 0.5em 0 !important;
  background-color: rgba(variables.$white, 0.95);

  @include mixins.font-normal;
  @include mixins.box-shadow;

  &:hover {
    display: block;
  }

  a {
    padding: 0.25em 2em 0.25em 1em;
    background-position: right 0.5em top 0.25em !important;
  }
  li {
    position: relative;
  }

  a {
    &:link,
    &:visited {
      color: variables.$grey !important;
    }
    &:hover,
    &:active,
    &.active {
      color: variables.$anchor-font-color !important;
    }
    &:before {
      right: 0.25em !important;
    }
  }

  @media screen and (max-width: #{bounds.upper-bound(variables.$normal-range)}) {
    .navigation-open & {
      display: block;
      position: relative;
      top: auto;
      left: auto;

      background-color: none;
      box-shadow: none;

      a {
        padding: (variables.$padding * 0.5) 0;
        font-size: variables.$body-font-size;
        @include mixins.font-normal;
        white-space: normal;
      }

      li {
        max-width: none;
        overflow: unset;
        text-overflow: unset;
        &:nth-child(1n + #{$first-item-in-second-column}) {
          top: auto;
          left: auto;
        }
        &:nth-child(1n + #{$first-item-in-third-column}) {
          top: auto;
          left: auto;
        }
        &:last-child {
          padding-bottom: variables.$padding * 2;
        }
      }
    }
  }
}

.footer-navigation {
  margin-bottom: variables.$margin-bottom * 0.5;
  @include mixins.font-bold;
  line-height: 1;
  @include mixins.rollover;

  a {
    position: relative;
    display: inline-block;
  }

  &.footer-navigation-more {
    a {
      padding: $item-padding 0;
    }
    li {
      &:last-child {
        @include mixins.font-normal;
      }
      @media #{variables.$tiny-up} {
        padding-right: variables.$padding * 2;
      }
    }
  }

  &.footer-navigation-main {
    a {
      padding: $item-padding
        calc(
          #{variables.$icon-font-size} + #{variables.$body-font-size-small} *
            0.5
        );
      @media #{variables.$normal-up} {
        padding-left: 0;
      }
    }
    small {
      font-size: 0.7em;
      @include mixins.uppercase(0.05em);
      &.label {
        margin: 0 0 0 0.25em;
      }
    }
  }

  .has-sub {
    @include icons.icon(
      arrow-right,
      auto,
      0,
      variables.$grey-light,
      -0.15em,
      none
    );

    &:before {
      display: block;
      position: absolute;
      right: 0;
      @media #{variables.$normal-up} {
        color: variables.$anchor-font-color;
      }
    }
    &:hover,
    &.active {
      &:before {
        right: -(variables.$padding) * 0.5;
        color: variables.$anchor-font-color-hover;
      }
    }
  }
}
