/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

$page-header-height: calc(3 * #{$body-font-size});

$page-header-padding-v: 0.5em;
$page-header-padding-h: 1em;
$page-header-padding-h-large: 1.5em;

$items-per-column: 5;
$first-item-in-second-column: $items-per-column + 1;
$first-item-in-third-column: $items-per-column + $first-item-in-second-column;

$item-padding: 0.175em;

.navigation {
  display: block;
  position: relative;
  margin: 0;

  @include font-bold;
  line-height: 1;
  @include rollover;

  a {
    position: relative;
    display: block;
    padding: 0 2em 0 0;
    white-space: nowrap;
  }

  .has-sub {
    padding-right: 3em;
    @include icon(down-open, auto, 0, $text-color, 0, none);
    &:before {
      display: block;
      position: absolute;
      top: 0.3em;
      right: 0.5em;
    }
    &:hover,
    &.active {
      &:before {
        color: $anchor-font-color;
      }
    }
    &:hover {
      + .subnavigation {
        display: block;
      }
    }
  }

  //HOME and Posts
  small {
    @include font-normal;
    font-size: 0.7em;
    &.label {
      margin: 0 0 0 0.25em;
    }
  }

  @media screen and (max-width: #{upper-bound($normal-range)}) {
    .navigation-open & {
      top: 0;
      margin: 0 calc(#{$padding} * 6 + #{$border-width} * 4) $margin-bottom 0;

      li {
        &:first-child a {
          padding-top: $padding * 0.5;
        }
      }

      a {
        display: block;
        padding: ($padding * 2) 0 $padding 0;
        font-size: $h1-font-size;
        @include font-heavy;
        white-space: normal;
      }
      .has-sub {
        &:before {
          display: none;
        }
      }
      //HOME and Posts
      small {
        font-size: 0.5em;
        &.label {
          position: relative;
          top: -0.15em;
          margin: 0 0 0 0.5em;
        }
      }
    }
  }

  @media #{$medium-up} {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    > li {
      position: relative;
      display: flex;
      > a {
        display: flex;
        align-items: center;
      }
    }
  }
}

.subnavigation {
  z-index: 5;
  display: none;
  position: absolute;
  top: $page-header-height;
  left: -1em;
  min-width: 5em;
  margin: 0;
  padding: 0.5em 0 !important;
  background-color: rgba($white, 0.95);

  @include font-normal;
  @include box-shadow;

  &:hover {
    display: block;
  }

  a {
    padding: 0.25em 2em 0.25em 1em;
    background-position: right 0.5em top 0.25em !important;
  }
  li {
    position: relative;
  }

  a {
    &:link,
    &:visited {
      color: $grey !important;
    }
    &:hover,
    &:active,
    &.active {
      color: $anchor-font-color !important;
    }
    &:before {
      right: 0.25em !important;
    }
  }

  @media screen and (max-width: #{upper-bound($normal-range)}) {
    .navigation-open & {
      display: block;
      position: relative;
      top: auto;
      left: auto;

      background-color: none;
      box-shadow: none;

      a {
        padding: ($padding * 0.5) 0;
        font-size: $body-font-size;
        @include font-normal;
        white-space: normal;
      }

      li {
        max-width: none;
        overflow: unset;
        text-overflow: unset;
        &:nth-child(1n + #{$first-item-in-second-column}) {
          top: auto;
          left: auto;
        }
        &:nth-child(1n + #{$first-item-in-third-column}) {
          top: auto;
          left: auto;
        }
        &:last-child {
          padding-bottom: $padding * 2;
        }
      }
    }
  }
}

.footer-navigation {
  margin-bottom: $margin-bottom * 0.5;
  @include font-bold;
  line-height: 1;
  @include rollover;

  a {
    position: relative;
    display: inline-block;
  }

  &.footer-navigation-more {
    a {
      padding: $item-padding 0;
    }
    li {
      &:last-child {
        @include font-normal;
      }
      @media #{$tiny-up} {
        padding-right: $padding * 2;
      }
    }
  }

  &.footer-navigation-main {
    a {
      padding: $item-padding
        calc(#{$icon-font-size} + #{$body-font-size-small} * 0.5);
      @media #{$normal-up} {
        padding-left: 0;
      }
    }
    small {
      font-size: 0.7em;
      @include uppercase(0.05em);
      &.label {
        margin: 0 0 0 0.25em;
      }
    }
  }

  .has-sub {
    @include icon(arrow-right, auto, 0, $grey-light, -0.15em, none);

    &:before {
      display: block;
      position: absolute;
      right: 0;
      @media #{$normal-up} {
        color: $anchor-font-color;
      }
    }
    &:hover,
    &.active {
      &:before {
        right: -($padding) * 0.5;
        color: $anchor-font-color-hover;
      }
    }
  }
}
