/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #PANEL
\*------------------------------------*/

.panel {
  position: relative;
  margin-bottom: $margin-bottom;
  + .panel {
    margin-top: -$margin-bottom;
  }
  padding: $all-v-padding $all-h-padding;
  //overflow: auto;//why?
  @include last-child();

  &.border {
    @include box-border;
    @media screen and (max-width: #{upper-bound($small-range)}) {
      border-left: none;
      border-right: none;
    }
    + .panel.border {
      margin-top: $all-v-padding !important;
    }
  }

  &.no-padding {
    padding: 0;
  }

  &.callout {
    @include box-shadow;
  }

  &.field {
    background-color: $white;
  }
  &.field-2 {
    background-color: $grey-very-light;
  }

  &.brand,
  &.success,
  &.error,
  &.warning,
  &[class*="warning-level"] {
    border-left: none;
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: $bar-width;
      height: 100%;
      @media #{$large-up} {
        left: -$bar-width * 2;
        width: $bar-width * 2;
      }
    }
  }

  &.brand {
    &:before {
      background-color: $brand;
    }
  }
  &.success {
    @include headline-color($success-color);
    &:before {
      background-color: $success-color;
    }
  }
  &.error {
    @include headline-color($error-color);
    &:before {
      background-color: $error-color;
    }
  }
  &.warning {
    @include headline-color($warning-color);
    &:before {
      background-color: $warning-color;
    }
  }

  &.debug {
    //@include headline-color($warning-color);
    background-color: $debug-color;
  }

  //warning levels
  //&[class*="warning-level"] { @extend .callout; }
  &.warning-level-1 {
    &:before {
      background-color: $warning-level-1-color;
    }
    .bulletin-report-header h1 {
      margin-left: -$all-h-padding;

      span {
        padding: 0 ($padding * 0.5) 0 $all-h-padding;
        color: $text-color;
        background-color: $warning-level-1-color;

        //from alien app.scss
        white-space: nowrap;
      }
    }
  }
  &.warning-level-2 {
    &:before {
      background-color: $warning-level-2-color;
    }
    .bulletin-report-header h1 {
      margin-left: -$all-h-padding;
      span {
        padding: 0 ($padding * 0.5) 0 $all-h-padding;
        color: $text-color;
        background-color: $warning-level-2-color;

        //from alien app.scss
        white-space: nowrap;
      }
    }
  }
  &.warning-level-3 {
    &:before {
      background-color: $warning-level-3-color;
    }
    .bulletin-report-header h1 {
      margin-left: -$all-h-padding;
      span {
        padding: 0 ($padding * 0.5) 0 $all-h-padding;
        color: $warning-level-3-color;

        //from alien app.scss
        white-space: nowrap;
      }
    }
  }
  &.warning-level-4 {
    &:before {
      background-color: $warning-level-4-color;
    }
    .bulletin-report-header h1 {
      margin-left: -$all-h-padding;
      span {
        padding: 0 ($padding * 0.5) 0 $all-h-padding;
        color: $warning-level-4-color;

        //from alien app.scss
        white-space: nowrap;
      }
    }
  }
  &.warning-level-5 {
    &:before {
      background: $warning-level-5-color
        url("../images/pro/global/bg_checkered.png") repeat 0 0;
    }
    .bulletin-report-header h1 {
      margin-left: -$all-h-padding;
      span {
        padding: 0 ($padding * 0.5) 0 $all-h-padding;
        color: $warning-level-5-color;

        //from alien app.scss
        white-space: nowrap;
      }
    }
  }
}

.panel-header {
  padding-bottom: $all-v-padding * 0.5;
  &:last-child {
    padding-bottom: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }
  p {
    font-size: $tiny-font-size; //$body-font-size-tiny;
    @include letter-spacing;
  }
}

.panel-image {
  margin: (-$all-v-padding) (-$all-h-padding) 0 (-$all-h-padding);
}
