/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #SM-BUTTONS
\*------------------------------------*/

.sm-share-follow {
  text-align: center;
  p {
    font-size: $tiny-font-size; //$body-font-size-tiny;
    @include letter-spacing;
    margin-bottom: $margin-bottom * 0.5;
  }
}

.sm-buttons {
  margin-bottom: 0;
}
.sm-button {
  display: block;
  font-size: $icon-sm-font-size;

  &:before {
    margin: 0;
    transform: translateY(0);
  }
  &:link,
  &:visited {
    color: $text-color;
  }
  &:hover,
  &:active {
    &:before {
      transform: translateY(-$padding * 0.5);
    }
  }

  &.icon-sm-facebook {
    &:hover,
    &:active,
    .page-footer &,
    .modal-follow & {
      color: $sm-facebook-color;
    }
  }
  &.icon-sm-twitter {
    &:hover,
    &:active,
    .page-footer &,
    .modal-follow & {
      color: $sm-twitter-color;
    }
  }
  &.icon-sm-instagram {
    &:hover,
    &:active,
    .page-footer &,
    .modal-follow & {
      color: $sm-instagram-color;
    }
  }
  &.icon-sm-youtube {
    &:hover,
    &:active,
    .page-footer &,
    .modal-follow & {
      color: $sm-youtube-color;
    }
  }
  &.icon-sm-whatsapp {
    &:hover,
    &:active,
    .page-footer &,
    .modal-follow & {
      color: $sm-whatsapp-color;
    }
  }
  &.icon-sm-telegram {
    &:hover,
    &:active,
    .page-footer &,
    .modal-follow & {
      color: $sm-telegram-color;
    }
  }

  span {
    display: none;
  }
}
