//http://purecss.io/tables
@use "../../../../publ../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss/_tables.scss";
@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #TABLES
\*------------------------------------*/

.table-container {
  width: 100%;
  margin-bottom: variables.$margin-bottom;
  overflow: auto;
  border: variables.$table-border-size variables.$table-border-style
    variables.$table-border-color;
  @include mixins.box-shadow;
  @include mixins.smooth-scroll;
}

.pure-table {
  min-width: 100%;
  background-color: variables.$table-bg;
  border: none;
  border-collapse: inherit;
  td,
  th {
    text-align: left;
    padding: variables.$table-row-padding;
    background-color: transparent;
    border: none;
    &:first-child {
      padding-left: variables.$table-row-padding;
    }
    &:last-child {
      padding-right: variables.$table-row-padding;
    }
  }
  thead {
    color: variables.$table-head-font-color;
    background-color: variables.$table-head-bg;
    tr {
    }
    th {
      font-size: variables.$table-head-font-size;
      font-weight: variables.$table-head-font-weight;
      border-bottom: variables.$border-width variables.$border-style
        variables.$brand-very-light;
    }
  }
  tbody {
    line-height: variables.$table-line-height;
    color: variables.$table-row-font-color;
    tr {
      @include mixins.rollout(all, variables.$transition-duration * 2);
      &:last-child {
        td {
          border-bottom: none;
        }
      }
      &:hover {
        @include mixins.rollover;
      }
    }
    td {
      font-size: variables.$table-row-font-size;
      border-bottom: variables.$border-width variables.$border-style
        variables.$border-color;
    }
  }
}

.pure-table-striped {
  tbody {
    tr:nth-child(2n-1) td {
      background-color: transparent;
    }
    tr:nth-child(odd) {
      background-color: variables.$table-odd-row-bg;
      &:hover {
        background-color: variables.$table-row-hover-bg;
      }
    }
    tr:nth-child(even) {
      background-color: variables.$table-even-row-bg;
      &:hover {
        background-color: variables.$table-row-hover-bg;
      }
    }
  }
}

.pure-table-small {
  thead {
    th {
      font-size: variables.$table-small-font-size;
    }
  }
  tbody {
    td {
      font-size: variables.$table-small-font-size;
    }
  }
}
