/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #TABLES
\*------------------------------------*/

//http://purecss.io/tables

@import "../../../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss/_tables.scss";

.table-container {
  width: 100%;
  margin-bottom: $margin-bottom;
  overflow: auto;
  border: $table-border-size $table-border-style $table-border-color;
  @include box-shadow;
  @include smooth-scroll;
}

.pure-table {
  min-width: 100%;
  background-color: $table-bg;
  border: none;
  border-collapse: inherit;
  td,
  th {
    text-align: left;
    padding: $table-row-padding;
    background-color: transparent;
    border: none;
    &:first-child {
      padding-left: $table-row-padding;
    }
    &:last-child {
      padding-right: $table-row-padding;
    }
  }
  thead {
    color: $table-head-font-color;
    background-color: $table-head-bg;
    tr {
    }
    th {
      font-size: $table-head-font-size;
      font-weight: $table-head-font-weight;
      border-bottom: $border-width $border-style $brand-very-light;
    }
  }
  tbody {
    line-height: $table-line-height;
    color: $table-row-font-color;
    tr {
      @include rollout(all, $transition-duration * 2);
      &:last-child {
        td {
          border-bottom: none;
        }
      }
      &:hover {
        @include rollover;
      }
    }
    td {
      font-size: $table-row-font-size;
      border-bottom: $border-width $border-style $border-color;
    }
  }
}

.pure-table-striped {
  tbody {
    tr:nth-child(2n-1) td {
      background-color: transparent;
    }
    tr:nth-child(odd) {
      background-color: $table-odd-row-bg;
      &:hover {
        background-color: $table-row-hover-bg;
      }
    }
    tr:nth-child(even) {
      background-color: $table-even-row-bg;
      &:hover {
        background-color: $table-row-hover-bg;
      }
    }
  }
}

.pure-table-small {
  thead {
    th {
      font-size: $table-small-font-size;
    }
  }
  tbody {
    td {
      font-size: $table-small-font-size;
    }
  }
}
