iframe#meteoMap {
  width: 100%;
  height: calc(100vh - 215px);
  min-height: 400px;
  border: none;
}

.section-map {
  border: 1px solid #E6EEF2;
}

@media only screen and (max-width: 58em) {
  .section-map {
    margin-left: 2.5em;
    width: calc(100% - 5em);
  }
}

.leaflet-pane.leaflet-overlay-pane {
  mix-blend-mode: multiply;
}

.page-footer-dev-version {
  color: red;
  font-weight: bold;
}
