$primary: #19abff;
$text: #565f61;

iframe#meteoMap {
  width: 100%;
  height: calc(100vh - 215px);
  min-height: 400px;
  border: none;
  margin: 0;
}

iframe#stationTable {
  width: 100%;
  height: auto;
  min-height: 33em;
  border: none;
  margin: 0;

  .dataTables_scrollBody {
    min-height: 600px !important;
  }
}

.weather-map-icon {
  position: absolute;
  right: 10px;
  width: 150px;
}

.page-footer-dev-version {
  color: red;
  font-weight: bold;
}

.selectric-wrapper.disabled .selectric {
  opacity: 0.5;
}

/* messengerpeople */
.messengerpeople {
  position: initial !important;
  .frame {
    border: none;
    height: 100%;
    width: 100%;
  }
  .link {
    margin-top: -10px;
    padding-top: 6px\9;
    text-decoration: none;
    text-align: right;
    display: block;
    font-size: 11px;
    padding-right: 8px;
    color: rgba(8, 0, 0, 0.54);
    font-family: "Roboto", sans-serif;
  }
}

.bulletinbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 461;
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
  width: 100%;
  .bar {
    max-width: 100%;
    position: absolute;
    padding: 15px;
    left: 0;
    right: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: calc(50% - 20px);
    background-color: rgba(25, 171, 255, 0.95);

    p {
      text-align: center;
      align-items: center;
      left: 0;
      right: 0;
      a {
        color: white;
      }
    }
  }
}

/* Fix select dropdowns overlapping footer */
.page-main {
  position: relative;
  z-index: 50;
  overflow: visible;

  @media only screen and (max-width: 57.5em) {
    section-centered {
      padding-left: 1.25rem;
    }
  }
  .section-padding {
    padding: 0.875rem 1.25rem;
  }
}

.page-footer {
  position: relative;
  z-index: 0;
}

@media only screen and (min-width: 64em) {
  .subnavigation {
    left: calc(100% + 2em) !important;
  }
}
/* Disable pointer-events on page-loading screen when page is loaded,
   or otherwise elements that happen to be placed beneath it cannot receive
   these events */
.page-loaded .page-loading-screen {
  pointer-events: none;
}

.bulletin-flipper-separator {
  color: $primary;
  padding: 0 0.4rem 0 0.04rem;
}

.flipper-controls {
  .icon-arrow {
    vertical-align: sub;
    ::before {
      line-height: 100%;
    }
  }
}

/* Bulletin header */
.bulletin-datetime-validity {
  transition: all 0.4s ease-in-out;
}
.section-bulletin-header.loading .bulletin-datetime-validity {
  opacity: 0.5;
}

/* Bulletin Filter bar */
.section-bulletin-legend
  .list-avalanche-problems-filter
  a:not(.js-deactivated):hover
  img:first-child {
  opacity: 1;
}

/* Tendency steady icon */
.icon-arrow-steady::before {
  content: "\E817";
}

/* Map */
.bulletin-map-details.top-right {
  top: 20px;
  left: calc(100% - 1.25rem);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.section-map.section-centered {
  border: 1px solid #e6eef2;
}

@media only screen and (max-width: 58em) {
  .section-map.section-centered {
    margin: 0 1.25rem;
    width: calc(100% - 2.5rem);
  }
}

.map-disabled .leaflet-control-container {
  display: none;
}

.leaflet-pane.leaflet-overlay-pane {
  mix-blend-mode: multiply;
}

.section-map .leaflet-control-container .leaflet-control-zoom {
  border: none;
  box-shadow: none;
}

.leaflet-bar.leaflet-control a {
  border: 0.5px solid $primary !important;
  border-radius: 0 !important;
  font-size: 1.8em;
}

.leaflet-control-container .leaflet-control-zoom a:last-child {
  top: -1px;
}

.section-map .leaflet-control-container .leaflet-top .leaflet-control {
  border: 0px !important;
  a {
    margin-top: 0 !important;
    width: 39px !important;
    height: 39px !important;
    line-height: 1.8em;
    font-weight: lighter;
    font-family: "Fontello";
    color: $primary;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    text-indent: 0;
  }
}

.section-map .leaflet-control-container .leaflet-control-zoom a {
  background: rgba(255, 255, 255, 1);
}

.section-map .leaflet-control-container .leaflet-control-zoom a:hover {
  background: $primary;
  color: #fff;
}
.section-map
  .leaflet-control-container
  .leaflet-control-zoom
  a:not(first-child) {
  margin-top: 0.625rem;
}
.section-map
  .leaflet-control-container
  .leaflet-control-zoom
  a.leaflet-disabled,
.section-map
  .leaflet-control-container
  .leaflet-control-zoom
  a.leaflet-disabled:hover {
  color: #ccc;
  background: rgba(245, 245, 245, 0.95);
}

/* Modal dialogs */
button.mfp-close,
button.mfp-close:hover,
button.mfp-close:before {
  cursor: pointer;
}

.status-message .error {
  color: #ff0000;
}

a.share-feed {
  line-height: 2em;
  background: url("../images/pro/feed-icon-28x28.png");
  background-repeat: no-repeat;
  background-size: 1.3em 1.3em;
  padding-left: 1.5em;
}

.modal-subscribe .blog-language {
  font-weight: bold;
}

/* Misc */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Animation bei den Lawinenproblemen lässt kleinen blauen Strich an der Oberkannte der Logos erkennen */
.section-bulletin-legend .list-avalanche-problems-filter img {
  background: none !important;
}

#section-bulletin-report {
  @media only screen and (max-width: 57.5em) {
    .page-main section.section-centered {
      padding: 0px !important;
    }
  }

  // do not wrap picto texts
  .bulletin-report-picto.problem-altitude.problem-middle span {
    white-space: nowrap;
  }
}

@media only screen and (min-width: 48em) {
  .panel.warning-level-1 .bulletin-report-header h1 {
    margin-left: -1.3rem;
  }
}
@media only screen and (min-width: 64em) {
  .page-headline header {
    padding: 0 25px;
  }
}

// external links
/*
a[target*="_blank"]:not([class*="sm-button"]):not([class*="logo"]):not([class*="internal"]) {
  &::after {
    content: " ";
    background-color: red;
    line-height: 1em;
    width: 1em;
    height: 1em;
    background-image: url(http://data1.geo.univie.ac.at/projects/albina-web/images/pro/icon-arrow-increase_grey.svg);
    background-repeat: no-repeat;
    background-size: 1em 1em;
    margin-left: 0.5rem;
    padding: 0 0.5rem;
  }
  &:hover::after {
    background-image: url(http://data1.geo.univie.ac.at/projects/albina-web/images/pro/icon-arrow-increase_blue.svg);
  }
}
*/

.section.blog-page-flipper {
  text-align: center;
  color: $primary;

  .blog-page-flipper {
    .page-flipper-separator {
      color: $text;
      margin: 0 2rem;
    }
    a span:before {
      top: 0.175em;
      line-height: 0;
    }
  }
}

/* blogposts styling */
$blogpost-image-h-sm: 5rem;
$blogpost-image-w-sm: 6rem;
$blogpost-fontsize-sm: 1em;

$blogpost-image-h-m: 6rem;
$blogpost-image-w-m: 8rem;
$blogpost-fontsize-m: 1.3em;

$blogpost-image-h-xl: 7rem;
$blogpost-image-w-xl: 10rem;
$blogpost-fontsize-xl: 1.6em;

.section-blog-posts {
  padding: 0 1.25rem;
  a.linkbox-blog-feature:link {
    div {
      &.content-image {
        margin: 0;
        padding: 0;
        img {
          border: none;
          width: auto;
          height: auto;
        }
      }
      &.content-text {
        right: 0;
        width: auto;
        position: absolute;
        .blog-feature-title {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}

.section-bulletin-report .panel .bulletin-report-header h1 span {
  white-space: nowrap;
}

/* the overflowing right yellow border */
@media only screen and (min-width: 80em) {
  .section-bulletin-report .panel .bulletin-report-header h1 {
    margin-left: -1.5rem !important;
    span {
      padding-left: 1.5rem !important;
    }
  }
}
@media only screen and (min-width: 48em) {
  .section-bulletin-report .panel .bulletin-report-header h1 {
    margin-left: -1.3rem !important;
    span {
      padding-left: 1.3rem !important;
    }
  }
}

@media only screen and (min-width: 64em) and (max-width: 2000em) {
  .section-blog-posts {
    a.linkbox-blog-feature:link {
      height: $blogpost-image-h-xl;
      div {
        &.content-image {
          width: $blogpost-image-w-xl;
          img {
            min-width: $blogpost-image-w-xl;
            min-height: $blogpost-image-h-xl;
            max-height: $blogpost-image-h-xl;
          }
        }
        &.content-text {
          left: $blogpost-image-w-xl;
          padding: $blogpost-fontsize-xl;
          .blog-feature-title {
            font-size: $blogpost-fontsize-xl;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  .section-blog-posts {
    a.linkbox-blog-feature:link {
      height: $blogpost-image-h-m;
      div {
        &.content-image {
          width: $blogpost-image-w-m;
          img {
            min-width: $blogpost-image-w-m;
            min-height: $blogpost-image-h-m;
            max-height: $blogpost-image-h-m;
          }
        }
        &.content-text {
          left: $blogpost-image-w-m;
          padding: $blogpost-fontsize-m;
          .blog-feature-title {
            font-size: $blogpost-fontsize-m;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 48em) {
  .blog-page-flipper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .section-blog-posts {
    a.linkbox-blog-feature:link {
      height: $blogpost-image-h-sm;
      div {
        &.content-image {
          width: $blogpost-image-w-sm;
          img {
            min-width: $blogpost-image-w-sm;
            min-height: $blogpost-image-h-sm;
            max-height: $blogpost-image-h-sm;
          }
        }
        &.content-text {
          left: $blogpost-image-w-sm;
          padding: $blogpost-fontsize-sm;
          .blog-feature-title {
            font-size: $blogpost-fontsize-sm;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 48em) {
  .footer-images li {
    width: 100%;
    text-align: -webkit-center;
  }
}
@media only screen and (min-width: 48em) {
  .footer-images ul {
    width: 100%;
    text-align: center;
  }
}
.footer-images {
  ul {
    display: inline-table;
    li {
      height: 2em;
      padding: 0 !important;
      margin: 1em !important;
      img {
        max-width: 100%;

        /* IE7-8 need help adjusting responsive images */
        width: auto;

        /* Part 2: Scale the height according to the width, otherwise you get stretching */
        height: 100%;

        display: block;
        border: 0;
      }
    }
  }
}

img {
  -ms-interpolation-mode: bicubic;
}

/* blog styling */
.blog-post tr td.tr-caption,
.blog-post tr td.tr-caption * {
  font-size: 0.8rem !important;
}

.blog-post * {
  font-size: 1rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

/* blog styling from Bernhard */

.blog-post,
.blog-post span {
  /*
  font-family: "arial", "sans-serif" !important;
  //font-size: 16px;
  font-size: 1rem;
  line-height: 1.4;
  */
  color: #333333 !important;
  word-wrap: break-word;
  text-align: justify;
}
.blog-post a {
  word-wrap: break-word;
  text-align: justify;
}

.blog-post {
  padding-top: 0;
  .Apple-style-span {
    color: #ff0000 !important;
  }

  p {
    margin-top: 0em;
    margin-bottom: 0em;
  }
}

// station measurements
.table-measurements {
  .sort-buttons {
    .sort-disabled {
      visibility: hidden;
    }
  }
}

// version number in footer
.version {
  color: #839194;
  float: right;
  margin: -1em 0;
}
