<section class="section-padding section-header">
	<header class="section-centered">
	
		{{# header-marginal }}
			<p class="marginal">Some short text, only optionally, this is max. length</p>
		{{/ header-marginal }}
		<h2 class="subheader">{{ head.title }}</h2>
		<h1>{{ head.description }}</h1>
		{{# header-buttongroup }}
			{{> molecules-buttongroup-secondary }}
		{{/ header-buttongroup }}
		
	</header>
</section>