/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #BLOG
\*------------------------------------*/

.blog-feature-meta {
  margin-bottom: $margin-bottom / 2;
  .linkbox & {
    margin-bottom: 0;
  }
  font-size: $tiny-font-size;
  li {
    padding-bottom: $padding / 2;
    @include rollout(all, $transition-duration * 2, ease-in-out);
  }
  .blog-author,
  .blog-province {
    @include font-heavy;
  }
}

.blog-feature-title {
  flex-grow: 10;
  margin-bottom: $header-margin-bottom * 2;
}

.blog-list-labels {
  .section-header & li {
    line-height: inherit !important;
  }
  span {
    margin: 0;
    @include rollout(all, $transition-duration * 2, ease-in-out);
    &:hover {
      color: $anchor-font-color;
      border-color: $anchor-font-color;
      @include rollover(all, $transition-duration * 2, ease-in-out);
    }
  }
}

/*------------------------------------*\
  all from here downwards comes from super funny fancy freaky funky alien app.scss
\*------------------------------------*/

.blog-page-flipper {
  text-align: center;
  color: $brand;
  ul {
    .bulletin-flipper-separator {
      color: $text-color;
    }
    a span:before {
      top: 0.175em;
      line-height: 0;
    }
  }
}

/* blogposts styling */
$blogpost-image-h-sm: 5rem;
$blogpost-image-w-sm: 6rem;
$blogpost-fontsize-sm: 1em;

$blogpost-image-h-m: 6rem;
$blogpost-image-w-m: 8rem;
$blogpost-fontsize-m: 1.3em;

$blogpost-image-h-xl: 7rem;
$blogpost-image-w-xl: 10rem;
$blogpost-fontsize-xl: 1.6em;

.section-blog-posts {
  padding-top: 0;
  padding-bottom: 0;
  a.linkbox-blog-feature:link {
    div {
      &.content-image {
        // margin: 0;
        // padding: 0;
        img {
          // border: none;
          // width: auto;
          // height: auto;
          object-fit: cover;
        }
      }
      &.content-text {
        right: 0;
        width: auto;
        position: absolute;
        .blog-feature-title {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}

@media only screen and (min-width: 64em) and (max-width: 2000em) {
  .section-blog-posts {
    a.linkbox-blog-feature:link {
      height: $blogpost-image-h-xl;
      div {
        &.content-image {
          width: $blogpost-image-w-xl;
          img {
            min-width: $blogpost-image-w-xl;
            min-height: $blogpost-image-h-xl;
            max-height: $blogpost-image-h-xl;
          }
        }
        &.content-text {
          left: $blogpost-image-w-xl;
          padding: $blogpost-fontsize-xl;
          .blog-feature-title {
            font-size: $blogpost-fontsize-xl;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  .section-blog-posts {
    a.linkbox-blog-feature:link {
      height: $blogpost-image-h-m;
      div {
        &.content-image {
          width: $blogpost-image-w-m;
          img {
            min-width: $blogpost-image-w-m;
            min-height: $blogpost-image-h-m;
            max-height: $blogpost-image-h-m;
          }
        }
        &.content-text {
          left: $blogpost-image-w-m;
          padding: $blogpost-fontsize-m;
          .blog-feature-title {
            font-size: $blogpost-fontsize-m;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 48em) {
  .blog-page-flipper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .section-blog-posts {
    a.linkbox-blog-feature:link {
      height: $blogpost-image-h-sm;
      div {
        &.content-image {
          width: $blogpost-image-w-sm;
          img {
            min-width: $blogpost-image-w-sm;
            min-height: $blogpost-image-h-sm;
            max-height: $blogpost-image-h-sm;
          }
        }
        &.content-text {
          left: $blogpost-image-w-sm;
          padding: $blogpost-fontsize-sm;
          .blog-feature-title {
            font-size: $blogpost-fontsize-sm;
          }
        }
      }
    }
  }
}

img {
  -ms-interpolation-mode: bicubic;
}

/* blog styling */
.blog-post tr td.tr-caption,
.blog-post tr td.tr-caption * {
  font-size: 0.8rem !important;
}

.blog-post * {
  font-size: 1rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

/* blog styling from Bernhard */

.blog-post,
.blog-post span {
  color: #333333 !important;
  word-wrap: break-word;
  //text-align: justify;
}
.blog-post a {
  word-wrap: break-word;
  //text-align: justify;
}

.blog-post {
  padding-top: 0;
  .Apple-style-span {
    color: #ff0000 !important;
  }

  p {
    margin-top: 0em;
    margin-bottom: 0em;
  }
}
