/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #THUMBNAILS
\*------------------------------------*/

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;

  margin-bottom: $margin-bottom;
  overflow: hidden;

  .thumbnail-item {
    width: 50%;

    @media #{$tiny-up} {
    }
    @media #{$small-up} {
      width: 33.333333333%; //calc(100% / 3);
    }
    @media #{$normal-up} {
      width: 25%; //calc(100% / 4);
    }
    @media #{$medium-up} {
      width: 20%; //calc(100% / 5);
    }
    @media #{$large-up} {
      width: 16.66666666%; //calc(100% / 6);
    }
    @media #{$xxlarge-up} {
      width: 12.5%; //calc(100% / 8);
    }
    @media #{$xxxlarge-up} {
      width: 10%; //calc(100% / 10);
    }

    a {
      display: block;
      margin: 0 (-$border-width) (-$border-width) 0;
      img {
        max-width: none;
        width: 100%;
      }
      &:hover {
        z-index: 10;
      }
    }
  }
}
