/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #TOP-FIX
\*------------------------------------*/

.top-fix {
  border-bottom-width: $border-width;
  .js-top-fix & {
    z-index: 300;
    position: fixed;
    width: 100%;
    background-color: rgba($white, 0.95);
    border-bottom: $border-width $border-style $brand-very-light;
    //if linkbar decrease padding
    &.section-linkbar {
      padding-top: $padding;
      padding-bottom: $padding;
    }
  }
  //next sibling
  + section {
    @include rollout(all, 0s);
  }
}
