.tooltip-container {
  position: absolute;
  z-index: 1000000;
}

.tooltip-wrapper {
  position: relative;
}

.tooltip-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0 0.625rem 0 0;
  padding: 0.25em 0.66667em;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  color: #565f61;
  background: #fff;
  border: 1px solid #839194;
  border-radius: 1000px;
}

.tooltip-content {
  top: 0px;
  left: 0px;
  text-align: center;
}
