<accordion>
  <!-- Avalanche problem 1 -->
  <accordion-group *ngIf="hasAvalancheProblem(1)">
    <div accordion-heading class="clearfix">
      <app-avalanche-problem-preview [bulletin]="bulletinModel" [bulletinDaytimeDescription]="bulletinDaytimeDescription" [avalancheProblem]="bulletinDaytimeDescription.avalancheProblem1" [count]="1" [disabled]="disabled"></app-avalanche-problem-preview>
    </div>
    <div>
      <app-avalanche-problem-detail [bulletin]="bulletinModel" [bulletinDaytimeDescription]="bulletinDaytimeDescription" [avalancheProblemModel]="bulletinDaytimeDescription.avalancheProblem1" [disabled]="disabled"></app-avalanche-problem-detail>
    </div>
  </accordion-group>
  <!-- Avalanche problem 2 -->
  <accordion-group *ngIf="hasAvalancheProblem(2)">
    <div accordion-heading class="clearfix">
      <app-avalanche-problem-preview [bulletin]="bulletinModel" [bulletinDaytimeDescription]="bulletinDaytimeDescription" [avalancheProblem]="bulletinDaytimeDescription.avalancheProblem2" [count]="2" [disabled]="disabled"></app-avalanche-problem-preview>
    </div>
    <div>
      <app-avalanche-problem-detail [bulletin]="bulletinModel" [bulletinDaytimeDescription]="bulletinDaytimeDescription" [avalancheProblemModel]="bulletinDaytimeDescription.avalancheProblem2" [disabled]="disabled"></app-avalanche-problem-detail>
    </div>
  </accordion-group>
  <!-- Avalanche problem 3 -->
  <accordion-group *ngIf="hasAvalancheProblem(3)">
    <div accordion-heading class="clearfix">
      <app-avalanche-problem-preview [bulletin]="bulletinModel" [bulletinDaytimeDescription]="bulletinDaytimeDescription" [avalancheProblem]="bulletinDaytimeDescription.avalancheProblem3" [count]="3" [disabled]="disabled"></app-avalanche-problem-preview>
    </div>
    <div>
      <app-avalanche-problem-detail [bulletin]="bulletinModel" [bulletinDaytimeDescription]="bulletinDaytimeDescription" [avalancheProblemModel]="bulletinDaytimeDescription.avalancheProblem3" [disabled]="disabled"></app-avalanche-problem-detail>
    </div>
  </accordion-group>
  <!-- Avalanche problem 4 -->
  <accordion-group *ngIf="hasAvalancheProblem(4)">
    <div accordion-heading class="clearfix">
      <app-avalanche-problem-preview [bulletin]="bulletinModel" [bulletinDaytimeDescription]="bulletinDaytimeDescription" [avalancheProblem]="bulletinDaytimeDescription.avalancheProblem4" [count]="4" [disabled]="disabled"></app-avalanche-problem-preview>
    </div>
    <div>
      <app-avalanche-problem-detail [bulletin]="bulletinModel" [bulletinDaytimeDescription]="bulletinDaytimeDescription" [avalancheProblemModel]="bulletinDaytimeDescription.avalancheProblem4" [disabled]="disabled"></app-avalanche-problem-detail>
    </div>
  </accordion-group>
  <!-- Avalanche problem 5 -->
  <accordion-group *ngIf="hasAvalancheProblem(5)">
    <div accordion-heading class="clearfix">
      <app-avalanche-problem-preview [bulletin]="bulletinModel" [bulletinDaytimeDescription]="bulletinDaytimeDescription" [avalancheProblem]="bulletinDaytimeDescription.avalancheProblem5" [count]="5" [disabled]="disabled"></app-avalanche-problem-preview>
    </div>
    <div>
      <app-avalanche-problem-detail [bulletin]="bulletinModel" [bulletinDaytimeDescription]="bulletinDaytimeDescription" [avalancheProblemModel]="bulletinDaytimeDescription.avalancheProblem5" [disabled]="disabled"></app-avalanche-problem-detail>
    </div>
  </accordion-group>
</accordion>
