<accordion>
  <!-- Avalanche situation 1 -->
  <accordion-group *ngIf="hasAvalancheSituation(1)">
    <div accordion-heading class="clearfix">
      <app-avalanche-situation-preview [daytimeDescriptionModel]="bulletinDaytimeDescription" [avalancheSituation]="bulletinDaytimeDescription.avalancheSituation1" [count]="1" [check]="true" [disabled]="disabled"></app-avalanche-situation-preview>
    </div>
    <div>
      <app-avalanche-situation-detail [avalancheSituationModel]="bulletinDaytimeDescription.avalancheSituation1" [disabled]="disabled"></app-avalanche-situation-detail>
    </div>
  </accordion-group>
  <!-- Avalanche situation 2 -->
  <accordion-group *ngIf="hasAvalancheSituation(2)">
    <div accordion-heading class="clearfix">
      <app-avalanche-situation-preview [daytimeDescriptionModel]="bulletinDaytimeDescription" [avalancheSituation]="bulletinDaytimeDescription.avalancheSituation2" [count]="2" [check]="true" [disabled]="disabled"></app-avalanche-situation-preview>
    </div>
    <div>
      <app-avalanche-situation-detail [avalancheSituationModel]="bulletinDaytimeDescription.avalancheSituation2" [disabled]="disabled"></app-avalanche-situation-detail>
    </div>
  </accordion-group>
  <!-- Avalanche situation 3 -->
  <accordion-group *ngIf="hasAvalancheSituation(3)">
    <div accordion-heading class="clearfix">
      <app-avalanche-situation-preview [daytimeDescriptionModel]="bulletinDaytimeDescription" [avalancheSituation]="bulletinDaytimeDescription.avalancheSituation3" [count]="3" [check]="false" [disabled]="disabled"></app-avalanche-situation-preview>
    </div>
    <div>
      <app-avalanche-situation-detail [avalancheSituationModel]="bulletinDaytimeDescription.avalancheSituation3" [disabled]="disabled"></app-avalanche-situation-detail>
    </div>
  </accordion-group>
  <!-- Avalanche situation 4 -->
  <accordion-group *ngIf="hasAvalancheSituation(4)">
    <div accordion-heading class="clearfix">
      <app-avalanche-situation-preview [daytimeDescriptionModel]="bulletinDaytimeDescription" [avalancheSituation]="bulletinDaytimeDescription.avalancheSituation4" [count]="4" [check]="false" [disabled]="disabled"></app-avalanche-situation-preview>
    </div>
    <div>
      <app-avalanche-situation-detail [avalancheSituationModel]="bulletinDaytimeDescription.avalancheSituation4" [disabled]="disabled"></app-avalanche-situation-detail>
    </div>
  </accordion-group>
  <!-- Avalanche situation 5 -->
  <accordion-group *ngIf="hasAvalancheSituation(5)">
    <div accordion-heading class="clearfix">
      <app-avalanche-situation-preview [daytimeDescriptionModel]="bulletinDaytimeDescription" [avalancheSituation]="bulletinDaytimeDescription.avalancheSituation5" [count]="5" [check]="false" [disabled]="disabled"></app-avalanche-situation-preview>
    </div>
    <div>
      <app-avalanche-situation-detail [avalancheSituationModel]="bulletinDaytimeDescription.avalancheSituation5" [disabled]="disabled"></app-avalanche-situation-detail>
    </div>
  </accordion-group>
</accordion>
