<table style="width: 100%;">
  <tbody>
    <tr>
      <td *ngIf="!disabled" style="padding-right: 10px;">
        <!-- reorder -->
        <tr style="height: 20px;" (click)="moveUpAvalancheSituation($event)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.moveUpAvalancheSituation' | translate }}">
          <i *ngIf="!isFirst()" class="fa fa-chevron-up"></i>
        </tr>
        <tr style="height: 20px;" (click)="moveDownAvalancheSituation($event)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.moveDownAvalancheSituation' | translate }}">
          <i *ngIf="!isLast()" class="fa fa-chevron-down"></i>
        </tr>
      </td>
      <td style="padding-right: 10px;">
        <div *ngIf="check && isFirst()" style="background-color: #20A8D8; border-radius: 10px; text-align: center; width: 20px; height: 20px; line-height: normal; font-size: normal; color: white;" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.showInBulletin' | translate }}"><b>1</b></div>
        <div *ngIf="check && !isFirst()" style="background-color: #20A8D8; border-radius: 10px; text-align: center; width: 20px; height: 20px; line-height: normal; font-size: normal; color: white;" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.showInBulletin' | translate }}"><b>2</b></div>
        <div *ngIf="!check" style="background-color: #ECEFF1; border-radius: 10px; text-align: center; width: 20px; height: 20px; line-height: normal; font-size: normal;" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.dontShowInBulletin' | translate }}"></div>
      </td>
      <td style="padding-right: 10px;">
        <img *ngIf="isAvalancheSituation('new_snow')" src="./assets/img/New_snow_c.svg" width="40">
        <img *ngIf="isAvalancheSituation('wind_drifted_snow')" src="./assets/img/Drifting_snow_c.svg" width="40">
        <img *ngIf="isAvalancheSituation('persistent_weak_layers')" src="./assets/img/Persistent_weak_layers_c.svg"  width="40">
        <img *ngIf="isAvalancheSituation('wet_snow')" src="./assets/img/Wet_snow_c.svg" width="40">
        <img *ngIf="isAvalancheSituation('gliding_snow')" src="./assets/img/Gliding_snow_c.svg" width="40">
        <img *ngIf="isAvalancheSituation('favourable_situation')" src="./assets/img/Favourable_situation_c.svg" width="40">
      </td>
      <td style="padding-right: 10px;">
        <app-aspects [avalancheSituation]="avalancheSituation" [disabled]="true" [size]="40"></app-aspects>
      </td>
      <td style="padding-right: 10px; min-width: 135px;">
        <!-- elevation -->
        <tr *ngIf="hasElevationHigh()">
          <div style="width: max-content;"><i class="fa fa-arrow-down"></i> {{getElevationHighString()}}</div>
        </tr>
        <tr *ngIf="hasElevationLow()">
          <div style="width: max-content;"><i class="fa fa-arrow-up"></i> {{getElevationLowString()}}</div>
        </tr>
      </td>
      <td style="padding-right: 10px; width: 100%;">
        <!-- danger rating -->
        <img *ngIf="isDangerRating('low')" src="./assets/img/danger_rating_low_c.svg" height="40">
        <img *ngIf="isDangerRating('moderate')" src="./assets/img/danger_rating_moderate_c.svg" height="40">
        <img *ngIf="isDangerRating('considerable')" src="./assets/img/danger_rating_considerable_c.svg" height="40">
        <img *ngIf="isDangerRating('high')" src="./assets/img/danger_rating_high_c.svg" height="40">
        <img *ngIf="isDangerRating('very_high')" src="./assets/img/danger_rating_very_high_c.svg" height="40">
      </td>
      <td *ngIf="hasElevationHigh() && hasElevationLow()" style="padding-right: 10px;">
        <tr *ngIf="isDangerRatingDirection('up')" style="height: 20px;">
          <button [disabled]="disabled" type="reset" class="btn btn-sm btn-primary" (click)="setDangerRatingDirection($event, undefined)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.dangerRatingDirectionUp' | translate }}"><i class="fa fa-chevron-up"></i></button>
        </tr>
        <tr *ngIf="!isDangerRatingDirection('up')" style="height: 20px;">
          <button [disabled]="disabled" type="reset" class="btn btn-sm btn-secondary" (click)="setDangerRatingDirection($event, directionEnum.up)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.dangerRatingDirectionUp' | translate }}"><i class="fa fa-chevron-up"></i></button>
        </tr>
        <tr *ngIf="isDangerRatingDirection('down')" style="height: 20px;">
          <button [disabled]="disabled" type="reset" class="btn btn-sm btn-primary" (click)="setDangerRatingDirection($event, undefined)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.dangerRatingDirectionDown' | translate }}"><i class="fa fa-chevron-down"></i></button>
        </tr>
        <tr *ngIf="!isDangerRatingDirection('down')" style="height: 20px;">
          <button [disabled]="disabled" type="reset" class="btn btn-sm btn-secondary" (click)="setDangerRatingDirection($event, directionEnum.down)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.dangerRatingDirectionDown' | translate }}"><i class="fa fa-chevron-down"></i></button>
        </tr>
      </td>
      <td>
        <!-- delete -->
        <button [disabled]="disabled" type="reset" class="btn btn-sm btn-danger" (click)="deleteAvalancheSituation($event)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.delete' | translate }}"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
