<div class="card-body">
  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="form-group row">

      <!-- Use matrix -->

      <div *ngIf="settingsService.getUseMatrix() && !bulletin.hasElevationDependency && !bulletin.hasDaytimeDependency" class="col-md-12">
        <matrix [bulletinDaytimeDescription]="bulletin.forenoon" [below]="false" [disabled]="disabled"></matrix>
      </div>

      <div *ngIf="settingsService.getUseMatrix() && bulletin.hasElevationDependency && !bulletin.hasDaytimeDependency" class="col-md-12">
        <label class="col-md-12 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.above" | translate }}</strong></label>
        <matrix [bulletinDaytimeDescription]="bulletin.forenoon" [below]="false" [disabled]="disabled"></matrix>
      </div>

      <div *ngIf="settingsService.getUseMatrix() && bulletin.hasElevationDependency && !bulletin.hasDaytimeDependency" class="col-md-12">
        <label class="col-md-12 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.below" | translate }}</strong></label>
        <matrix [bulletinDaytimeDescription]="bulletin.forenoon" [below]="true" [disabled]="disabled"></matrix>
      </div>

      <div *ngIf="settingsService.getUseMatrix() && !bulletin.hasElevationDependency && bulletin.hasDaytimeDependency" class="col-md-6">
        <label class="col-md-6 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.forenoon" | translate }}</strong></label>
        <matrix [bulletinDaytimeDescription]="bulletin.forenoon" [below]="false" [disabled]="disabled"></matrix>
      </div>

      <div *ngIf="settingsService.getUseMatrix() && !bulletin.hasElevationDependency && bulletin.hasDaytimeDependency" class="col-md-6">
        <label class="col-md-6 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.afternoon" | translate }}</strong></label>
        <matrix [bulletinDaytimeDescription]="bulletin.afternoon" [below]="false" [disabled]="disabled"></matrix>
      </div>

      <div *ngIf="settingsService.getUseMatrix() && bulletin.hasElevationDependency && bulletin.hasDaytimeDependency" class="col-md-6">
        <label class="col-md-6 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.forenoonAbove" | translate }}</strong></label>
        <matrix [bulletinDaytimeDescription]="bulletin.forenoon" [below]="false" [disabled]="disabled"></matrix>
      </div>

      <div *ngIf="settingsService.getUseMatrix() && bulletin.hasElevationDependency && bulletin.hasDaytimeDependency" class="col-md-6">
        <label class="col-md-6 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.afternoonAbove" | translate }}</strong></label>
        <matrix [bulletinDaytimeDescription]="bulletin.afternoon" [below]="false" [disabled]="disabled"></matrix>
      </div>

      <div *ngIf="settingsService.getUseMatrix() && bulletin.hasElevationDependency && bulletin.hasDaytimeDependency" class="col-md-6">
        <label class="col-md-6 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.forenoonBelow" | translate }}</strong></label>
        <matrix [bulletinDaytimeDescription]="bulletin.forenoon" [below]="true" [disabled]="disabled"></matrix>
      </div>

      <div *ngIf="settingsService.getUseMatrix() && bulletin.hasElevationDependency && bulletin.hasDaytimeDependency" class="col-md-6">
        <label class="col-md-6 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.afternoonBelow" | translate }}</strong></label>
        <matrix [bulletinDaytimeDescription]="bulletin.afternoon" [below]="true" [disabled]="disabled"></matrix>
      </div>


      <!-- Use icons -->

      <div *ngIf="!settingsService.getUseMatrix() && !bulletin.hasElevationDependency && !bulletin.hasDaytimeDependency" class="col-md-12">
        <danger-rating [bulletinDaytimeDescription]="bulletin.forenoon" [below]="false" [disabled]="disabled"></danger-rating>
      </div>

      <div *ngIf="!settingsService.getUseMatrix() && bulletin.hasElevationDependency && !bulletin.hasDaytimeDependency" class="col-md-12">
        <label class="col-md-12 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.above" | translate }}</strong></label>
        <danger-rating [bulletinDaytimeDescription]="bulletin.forenoon" [below]="false" [disabled]="disabled"></danger-rating>
      </div>

      <div *ngIf="!settingsService.getUseMatrix() && bulletin.hasElevationDependency && !bulletin.hasDaytimeDependency" class="col-md-12">
        <label class="col-md-12 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.below" | translate }}</strong></label>
        <danger-rating [bulletinDaytimeDescription]="bulletin.forenoon" [below]="true" [disabled]="disabled"></danger-rating>
      </div>

      <div *ngIf="!settingsService.getUseMatrix() && !bulletin.hasElevationDependency && bulletin.hasDaytimeDependency" class="col-md-6">
        <label class="col-md-6 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.forenoon" | translate }}</strong></label>
        <danger-rating [bulletinDaytimeDescription]="bulletin.forenoon" [below]="false" [disabled]="disabled"></danger-rating>
      </div>

      <div *ngIf="!settingsService.getUseMatrix() && !bulletin.hasElevationDependency && bulletin.hasDaytimeDependency" class="col-md-6">
        <label class="col-md-6 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.afternoon" | translate }}</strong></label>
        <danger-rating [bulletinDaytimeDescription]="bulletin.afternoon" [below]="false" [disabled]="disabled"></danger-rating>
      </div>

      <div *ngIf="!settingsService.getUseMatrix() && bulletin.hasElevationDependency && bulletin.hasDaytimeDependency" class="col-md-6">
        <label class="col-md-6 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.forenoonAbove" | translate }}</strong></label>
        <danger-rating [bulletinDaytimeDescription]="bulletin.forenoon" [below]="false" [disabled]="disabled"></danger-rating>
      </div>

      <div *ngIf="!settingsService.getUseMatrix() && bulletin.hasElevationDependency && bulletin.hasDaytimeDependency" class="col-md-6">
        <label class="col-md-6 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.afternoonAbove" | translate }}</strong></label>
        <danger-rating [bulletinDaytimeDescription]="bulletin.afternoon" [below]="false" [disabled]="disabled"></danger-rating>
      </div>

      <div *ngIf="!settingsService.getUseMatrix() && bulletin.hasElevationDependency && bulletin.hasDaytimeDependency" class="col-md-6">
        <label class="col-md-6 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.forenoonBelow" | translate }}</strong></label>
        <danger-rating [bulletinDaytimeDescription]="bulletin.forenoon" [below]="true" [disabled]="disabled"></danger-rating>
      </div>

      <div *ngIf="!settingsService.getUseMatrix() && bulletin.hasElevationDependency && bulletin.hasDaytimeDependency" class="col-md-6">
        <label class="col-md-6 form-control-label" for="text-input"><strong>{{ "bulletins.create.title.afternoonBelow" | translate }}</strong></label>
        <danger-rating [bulletinDaytimeDescription]="bulletin.afternoon" [below]="true" [disabled]="disabled"></danger-rating>
      </div>

    </div>

  </form>
</div>
