<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-snowflake-o"></i>{{ "bulletins.title" | translate }}
        </div>

        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed" style="margin-bottom: 0">
            <thead>
              <tr *ngIf="authenticationService.isEuregio()">
                <th>{{ "bulletins.table.title.date" | translate }}</th>
                <th>{{ "bulletins.table.title.status.IT-32-TN" | translate }}</th>
                <th>{{ "bulletins.table.title.status.IT-32-BZ" | translate }}</th>
                <th>{{ "bulletins.table.title.status.AT-07" | translate }}</th>
              </tr>
              <tr *ngIf='authenticationService.getActiveRegion() === "ES-CT-L"'>
                <th>{{ "bulletins.table.title.date" | translate }}</th>
                <th>{{ "bulletins.table.title.status.ES-CT-L" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let date of bulletinsService.dates" style="height: 52px" (click)="editBulletin(date, false)" [style.color]="isPast(date) && !isToday(date) ? 'rgba(0,0,0,0.5)' : ''">
                <td>{{ date | localizedDate:'fullDate' }}</td>

                <td *ngIf="authenticationService.isEuregio()" [style.background-color]="bulletinsService.isLocked(date, 'IT-32-TN') ? 'rgba(255,0,0,0.2)' : ''" [style.background-color]="isOwnRegion('IT-32-TN') ? 'rgba(0,0,0,0.05)' : ''">
                  <i *ngIf="loadingTrentino" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                  <span *ngIf="!loadingTrentino && bulletinsService.statusMapTrentino.get(date.getTime()) === bulletinStatus.missing || this.bulletinsService.statusMapTrentino.get(date.getTime()) === undefined" class="badge badge-danger">{{ "bulletins.table.status.missing" | translate }}</span>
                  <span *ngIf="!loadingTrentino && bulletinsService.statusMapTrentino.get(date.getTime()) === bulletinStatus.draft" class="badge badge-warning">{{ "bulletins.table.status.draft" | translate }}</span>
                  <span *ngIf="!loadingTrentino && bulletinsService.statusMapTrentino.get(date.getTime()) === bulletinStatus.submitted" class="badge badge-success">{{ "bulletins.table.status.submitted" | translate }}</span>
                  <span *ngIf="!loadingTrentino && bulletinsService.statusMapTrentino.get(date.getTime()) === bulletinStatus.published" class="badge badge-done">{{ "bulletins.table.status.published" | translate }}</span>
                  <span *ngIf="!loadingTrentino && bulletinsService.statusMapTrentino.get(date.getTime()) === bulletinStatus.updated" class="badge badge-warning">{{ "bulletins.table.status.updated" | translate }}</span>
                  <span *ngIf="!loadingTrentino && bulletinsService.statusMapTrentino.get(date.getTime()) === bulletinStatus.resubmitted" class="badge badge-success">{{ "bulletins.table.status.resubmitted" | translate }}</span>
                  <span *ngIf="!loadingTrentino && bulletinsService.statusMapTrentino.get(date.getTime()) === bulletinStatus.republished" class="badge badge-done">{{ "bulletins.table.status.republished" | translate }}</span>
                  <i *ngIf="bulletinsService.isLocked(date, 'IT-32-TN')" class="fa fa-lock float-right"></i>
                </td>
                <td *ngIf="authenticationService.isEuregio()" [style.background-color]="bulletinsService.isLocked(date, 'IT-32-BZ') ? 'rgba(255,0,0,0.2)' : ''" [style.background-color]="isOwnRegion('IT-32-BZ') ? 'rgba(0,0,0,0.05)' : ''">
                  <i *ngIf="loadingSouthTyrol" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                  <span *ngIf="!loadingSouthTyrol && bulletinsService.statusMapSouthTyrol.get(date.getTime()) === bulletinStatus.missing || this.bulletinsService.statusMapSouthTyrol.get(date.getTime()) === undefined" class="badge badge-danger">{{ "bulletins.table.status.missing" | translate }}</span>
                  <span *ngIf="!loadingSouthTyrol && bulletinsService.statusMapSouthTyrol.get(date.getTime()) === bulletinStatus.draft" class="badge badge-warning">{{ "bulletins.table.status.draft" | translate }}</span>
                  <span *ngIf="!loadingSouthTyrol && bulletinsService.statusMapSouthTyrol.get(date.getTime()) === bulletinStatus.submitted" class="badge badge-success">{{ "bulletins.table.status.submitted" | translate }}</span>
                  <span *ngIf="!loadingSouthTyrol && bulletinsService.statusMapSouthTyrol.get(date.getTime()) === bulletinStatus.published" class="badge badge-done">{{ "bulletins.table.status.published" | translate }}</span>
                  <span *ngIf="!loadingSouthTyrol && bulletinsService.statusMapSouthTyrol.get(date.getTime()) === bulletinStatus.updated" class="badge badge-warning">{{ "bulletins.table.status.updated" | translate }}</span>
                  <span *ngIf="!loadingSouthTyrol && bulletinsService.statusMapSouthTyrol.get(date.getTime()) === bulletinStatus.resubmitted" class="badge badge-success">{{ "bulletins.table.status.resubmitted" | translate }}</span>
                  <span *ngIf="!loadingSouthTyrol && bulletinsService.statusMapSouthTyrol.get(date.getTime()) === bulletinStatus.republished" class="badge badge-done">{{ "bulletins.table.status.republished" | translate }}</span>
                  <i *ngIf="bulletinsService.isLocked(date, 'IT-32-BZ')" class="fa fa-lock float-right"></i>
                </td>
                <td *ngIf="authenticationService.isEuregio()" [style.background-color]="bulletinsService.isLocked(date, 'AT-07') ? 'rgba(255,0,0,0.2)' : ''" [style.background-color]="isOwnRegion('AT-07') ? 'rgba(0,0,0,0.05)' : ''">
                  <i *ngIf="loadingTyrol" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                  <span *ngIf="!loadingTyrol && bulletinsService.statusMapTyrol.get(date.getTime()) === bulletinStatus.missing || this.bulletinsService.statusMapTyrol.get(date.getTime()) === undefined" class="badge badge-danger">{{ "bulletins.table.status.missing" | translate }}</span>
                  <span *ngIf="!loadingTyrol && bulletinsService.statusMapTyrol.get(date.getTime()) === bulletinStatus.draft" class="badge badge-warning">{{ "bulletins.table.status.draft" | translate }}</span>
                  <span *ngIf="!loadingTyrol && bulletinsService.statusMapTyrol.get(date.getTime()) === bulletinStatus.submitted" class="badge badge-success">{{ "bulletins.table.status.submitted" | translate }}</span>
                  <span *ngIf="!loadingTyrol && bulletinsService.statusMapTyrol.get(date.getTime()) === bulletinStatus.published" class="badge badge-done">{{ "bulletins.table.status.published" | translate }}</span>
                  <span *ngIf="!loadingTyrol && bulletinsService.statusMapTyrol.get(date.getTime()) === bulletinStatus.updated" class="badge badge-warning">{{ "bulletins.table.status.updated" | translate }}</span>
                  <span *ngIf="!loadingTyrol && bulletinsService.statusMapTyrol.get(date.getTime()) === bulletinStatus.resubmitted" class="badge badge-success">{{ "bulletins.table.status.resubmitted" | translate }}</span>
                  <span *ngIf="!loadingTyrol && bulletinsService.statusMapTyrol.get(date.getTime()) === bulletinStatus.republished" class="badge badge-done">{{ "bulletins.table.status.republished" | translate }}</span>
                  <i *ngIf="bulletinsService.isLocked(date, 'AT-07')" class="fa fa-lock float-right"></i>
                </td>
                <td *ngIf='authenticationService.getActiveRegion() === "ES-CT-L"' [style.background-color]="bulletinsService.isLocked(date, authenticationService.getActiveRegion()) ? 'rgba(255,0,0,0.2)' : ''">
                  <i *ngIf="loadingAran" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                  <span *ngIf="!loadingAran && bulletinsService.statusMapAran.get(date.getTime()) === bulletinStatus.missing || this.bulletinsService.statusMapAran.get(date.getTime()) === undefined" class="badge badge-danger">{{ "bulletins.table.status.missing" | translate }}</span>
                  <span *ngIf="!loadingAran && bulletinsService.statusMapAran.get(date.getTime()) === bulletinStatus.draft" class="badge badge-warning">{{ "bulletins.table.status.draft" | translate }}</span>
                  <span *ngIf="!loadingAran && bulletinsService.statusMapAran.get(date.getTime()) === bulletinStatus.submitted" class="badge badge-success">{{ "bulletins.table.status.submitted" | translate }}</span>
                  <span *ngIf="!loadingAran && bulletinsService.statusMapAran.get(date.getTime()) === bulletinStatus.published" class="badge badge-done">{{ "bulletins.table.status.published" | translate }}</span>
                  <span *ngIf="!loadingAran && bulletinsService.statusMapAran.get(date.getTime()) === bulletinStatus.updated" class="badge badge-warning">{{ "bulletins.table.status.updated" | translate }}</span>
                  <span *ngIf="!loadingAran && bulletinsService.statusMapAran.get(date.getTime()) === bulletinStatus.resubmitted" class="badge badge-success">{{ "bulletins.table.status.resubmitted" | translate }}</span>
                  <span *ngIf="!loadingAran && bulletinsService.statusMapAran.get(date.getTime()) === bulletinStatus.republished" class="badge badge-done">{{ "bulletins.table.status.republished" | translate }}</span>
                  <i *ngIf="bulletinsService.isLocked(date, 'AT-07')" class="fa fa-lock float-right"></i>
                </td>
                <td style="width: 200px">
                  <!-- create -->
                  <!-- <button *ngIf="showCreateButton(date)" type="button" class="btn btn-primary btn-sm float-right" (click)="editBulletin(date, false)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.create' | translate }}"><i class="fa fa-plus"></i></button> -->
                  <!-- publish all -->
                  <button *ngIf="showPublishAllButton(date)" type="button" class="btn btn-danger btn-sm" (click)="publishAll($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.publishAll' | translate }}"><i class="fa fa-warning"></i></button>
                  <!-- caaml -->
                  <button *ngIf="showCaamlButton(date)" type="button" class="btn btn-secondary btn-sm" (click)="showCaaml($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.caaml' | translate }}"><i class="fa fa-file-text"></i></button>
                  <!-- json -->
                  <button *ngIf="showJsonButton(date)" type="button" class="btn btn-secondary btn-sm" (click)="showJson($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.json' | translate }}"><i class="fa fa-file-text"></i></button>
                  <!-- info -->
                  <button *ngIf="showInfoButton(date)" type="button" class="btn btn-secondary btn-sm" (click)="showPublicationInfo($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.info' | translate }}"><i class="fa fa-info"></i></button>
                  <!-- media file -->
                  <button *ngIf="showMediaFileButton(date)" type="button" class="btn btn-secondary btn-sm" (click)="openMediaFileDialog($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.mediaFile' | translate }}"><i class="fa fa-microphone"></i></button>
                  <!-- copy -->
                  <button *ngIf="showCopyButton(date)" type="button" class="btn btn-secondary btn-sm" (click)="copy($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.copy' | translate }}"><i class="fa fa-copy"></i></button>
                  <!-- preview -->
                  <button *ngIf="showPreviewButton(date)" type="button" class="btn btn-secondary btn-sm" (click)="preview($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.preview' | translate }}"><i class="fa fa-eye"></i></button>
                  <!-- paste -->
                  <button *ngIf="showPasteButton(date)" type="button" class="btn btn-secondary btn-sm" (click)="paste($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.paste' | translate }}"><i class="fa fa-paste"></i></button>
                  <!-- cancel -->
                  <button *ngIf="showPasteButton(date)" type="button" class="btn btn-secondary btn-sm" (click)="cancelCopy($event)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.cancel' | translate }}"><i class="fa fa-close"></i></button>
                  <!-- submit -->
                  <button *ngIf="showSubmitButton(date)" type="button" class="btn btn-primary btn-sm float-right" (click)="submit($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.submit' | translate }}"><i class="fa fa-send"></i></button>
                  <!-- publish update (not 5PM nor 8AM) -->
                  <button *ngIf="showPublishButton(date)" type="button" class="btn btn-danger btn-sm float-right" (click)="publish($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.publish' | translate }}"><i class="fa fa-send"></i></button>
                  <!-- spinning icon -->
                  <button *ngIf="showSpinningIconButton(date)" type="button" class="btn btn-primary btn-sm float-right"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>
                  <!-- edit -->
                  <button *ngIf="showEditButton(date)" type="button" class="btn btn-secondary btn-sm" (click)="edit($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.edit' | translate }}"><i class="fa fa-pencil"></i></button>
                  <!-- update -->
                  <button *ngIf="showUpdateButton(date)" type="button" class="btn btn-danger btn-sm float-right" (click)="createUpdate($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.update' | translate }}"><i class="fa fa-plus"></i></button>
                  <!-- check -->
                  <button *ngIf="showCheckButton(date)" type="button" class="btn btn-primary btn-sm float-right" (click)="check($event, date)" data-toggle="tooltip" title="{{ 'bulletins.tooltip.check' | translate }}"><i class="fa fa-check"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<ng-template #publishBulletinsErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.publishBulletinsErrorDialog.message" | translate }}</p>
    <button type="button" class="btn btn-primary" (click)="publishBulletinsErrorModalConfirm()">{{ "bulletins.table.publishBulletinsErrorDialog.accept" | translate }}</button>
  </div>
</ng-template>

<ng-template #previewErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.previewErrorDialog.message" | translate }}</p>
    <button type="button" class="btn btn-primary" (click)="previewErrorModalConfirm()">{{ "bulletins.table.previewErrorDialog.accept" | translate }}</button>
  </div>
</ng-template>

<ng-template #submitBulletinsErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.submitBulletinsErrorDialog.message" | translate }}</p>
    <button type="button" class="btn btn-primary" (click)="submitBulletinsErrorModalConfirm()">{{ "bulletins.table.submitBulletinsErrorDialog.accept" | translate }}</button>
  </div>
</ng-template>

<ng-template #submitBulletinsDuplicateRegionTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.submitBulletinsDuplicateRegionDialog.message" | translate }}</p>
    <button type="button" class="btn btn-primary" (click)="submitBulletinsDuplicateRegionModalConfirm()">{{ "bulletins.table.submitBulletinsDuplicateRegionDialog.accept" | translate }}</button>
  </div>
</ng-template>

<ng-template #checkBulletinsErrorTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.checkBulletinsErrorDialog.message" | translate }}</p>
    <button type="button" class="btn btn-primary" (click)="checkBulletinsErrorModalConfirm()">{{ "bulletins.table.checkBulletinsErrorDialog.accept" | translate }}</button>
  </div>
</ng-template>

<ng-template #publishAllTemplate>
  <div class="modal-body text-center">
    <p>{{ "bulletins.table.publishAllDialog.message" | translate }}</p>
    <button type="button" class="btn btn-primary" (click)="checkBulletinsErrorModalConfirm()">{{ "bulletins.table.checkBulletinsErrorDialog.accept" | translate }}</button>
  </div>
</ng-template>

<div id="overlay">
  <span id="nav" *ngIf="loadingPreview">
    <div class="submit-message" style="display: block; color: #FFFFFF; position: fixed; left: 49.7%; top: 54.5%;">
      <p>{{ "bulletins.loadingPreview" | translate }}</p>
    </div>
  </span>
</div>
