<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>{{ "bulletins.title" | translate }}
        </div>

        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>{{ "bulletins.table.title.date" | translate }}</th>
                <th>{{ "bulletins.table.title.status.trentino" | translate }}</th>
                <th>{{ "bulletins.table.title.caaml" | translate }}</th>
                <th>{{ "bulletins.table.title.action" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let date of dates" (click)="editBulletin(date)">
                <td>{{ date | date }}</td>
                <td *ngIf="statusMap.get(date) == bulletinStatus.missing">
                  <span class="badge badge-danger">{{ "bulletins.table.status.missing" | translate }}</span>
                </td>
                <td *ngIf="statusMap.get(date) == bulletinStatus.published">
                  <span class="badge badge-success">{{ "bulletins.table.status.published" | translate }}</span>
                </td>
                <td *ngIf="statusMap.get(date) == bulletinStatus.draft">
                  <span class="badge badge-warning">{{ "bulletins.table.status.draft" | translate }}</span>
                </td>
                <td *ngIf="statusMap.get(date) == bulletinStatus.obsolete">
                  <span class="badge badge-secondary">{{ "bulletins.table.status.obsolete" | translate }}</span>
                </td>
                <td>
                  <i class="fa fa-file-text" (click)="showCaaml(date)"></i>
                </td>
                <td>
                  <button *ngIf="statusMap.get(date) == bulletinStatus.draft" type="button" class="btn btn-primary" (click)="publish($event, date)">{{ "bulletins.table.button.publish" | translate }}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<p-confirmDialog width="425" #cd>
  <p-footer>
    <button type="button" pButton label='{{ "bulletins.table.publishingErrorDialog.accept" | translate }}' (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
