<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>{{ "bulletins.title" | translate }}
        </div>

        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>{{ "bulletins.table.title.date" | translate }}</th>
                <th>{{ "bulletins.table.title.status.trentino" | translate }}</th>
                <th>{{ "bulletins.table.title.caaml" | translate }}</th>
                <th>{{ "bulletins.table.title.action" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let date of dates" (click)="editBulletin(date)">
                <td>{{ date | date:'fullDate' }}</td>
                <td *ngIf="loading">
                  <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                </td>
                <td *ngIf="!loading && bulletinsService.statusMap.get(date) == bulletinStatus.missing">
                  <span class="badge badge-danger">{{ "bulletins.table.status.missing" | translate }}</span>
                </td>
                <td *ngIf="!loading && bulletinsService.statusMap.get(date) == bulletinStatus.published">
                  <span class="badge badge-success">{{ "bulletins.table.status.published" | translate }}</span>
                </td>
                <td *ngIf="!loading && bulletinsService.statusMap.get(date) == bulletinStatus.draft">
                  <span class="badge badge-warning">{{ "bulletins.table.status.draft" | translate }}</span>
                </td>
                <td *ngIf="!loading && bulletinsService.statusMap.get(date) == bulletinStatus.obsolete">
                  <span class="badge badge-secondary">{{ "bulletins.table.status.obsolete" | translate }}</span>
                </td>
                <td>
                  <i class="fa fa-file-text" (click)="showCaaml(date)"></i>
                </td>
                <td>
                  <button *ngIf="bulletinsService.statusMap.get(date) != bulletinStatus.missing && !copying" type="button" class="btn btn-primary" (click)="copy($event, date)"><i class="fa fa-copy"></i></button>
                  <button *ngIf="bulletinsService.statusMap.get(date) == bulletinStatus.draft && !copying" type="button" class="btn btn-primary" (click)="publish($event, date)"><i class="fa fa-send"></i></button>
                  <button *ngIf="bulletinsService.statusMap.get(date) != bulletinStatus.published && copying && this.bulletinsService.getCopyDate() != date" type="button" class="btn btn-primary" (click)="paste($event, date)"><i class="fa fa-paste"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<p-confirmDialog width="425" #cd>
  <p-footer>
    <button type="button" pButton label='{{ "bulletins.table.publishBulletinDialog.reject" | translate }}' (click)="cd.reject()"></button>
    <button type="button" pButton label='{{ "bulletins.table.publishBulletinDialog.accept" | translate }}' (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
