<table>
  <tbody>
    <tr style="height: 60px">
      <td *ngIf="isComplexity('easy')">
        <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setComplexity($event, undefined)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.complexity.easy' | translate }}"><i class="fa fa-circle" style="color: #CCFF66;"></i>{{ "complexity.easy" | translate }}</button>
      </td>
      <td *ngIf="!isComplexity('easy')">
        <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setComplexity($event, 'easy')" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.complexity.easy' | translate }}"><i class="fa fa-circle" style="color: #CCFF66;"></i>{{ "complexity.easy" | translate }}</button>
      </td>
      <td *ngIf="isComplexity('challenging')">
        <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setComplexity($event, undefined)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.complexity.challenging' | translate }}"><i class="fa fa-circle" style="color: #FF9900;"></i>{{ "complexity.challenging" | translate }}</button>
      </td>
      <td *ngIf="!isComplexity('challenging')">
        <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setComplexity($event, 'challenging')" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.complexity.challenging' | translate }}"><i class="fa fa-circle" style="color: #FF9900;"></i>{{ "complexity.challenging" | translate }}</button>
      </td>
      <td *ngIf="isComplexity('complex')">
        <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setComplexity($event, undefined)" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.complexity.complex' | translate }}"><i class="fa fa-circle" style="color: #FF0000;"></i>{{ "complexity.complex" | translate }}</button>
      </td>
      <td *ngIf="!isComplexity('complex')">
        <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setComplexity($event, 'complex')" data-toggle="tooltip" title="{{ 'bulletins.create.tooltip.complexity.complex' | translate }}"><i class="fa fa-circle" style="color: #FF0000;"></i>{{ "complexity.complex" | translate }}</button>
      </td>
    </tr>
  </tbody>
</table>
