<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
<!--          <strong>{{ "bulletins.create.title.map" | translate }}</strong> -->
          <strong>{{ bulletinsService.getActiveDate() | date:'fullDate' }}</strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <div class="col-md-12" style="height: 400px" id="map">
            </div>
          </div>
          <div class="form-group row">
            <button [disabled]="editRegions || loading" *ngIf="bulletinsService.getIsEditable()" (click)="createAggregatedRegion(false)" class="btn btn-block btn-sm btn-primary">{{ "bulletins.create.createAggregatedRegion" | translate }}</button>
          </div>
          <div class="row">
            <div class="col-md-7">
              <table class="table">
                <tbody>
                  <tr>
                    <strong>{{ "bulletins.create.ownRegions" | translate }}</strong>
                  </tr>
                  <div *ngFor="let aggregatedRegionId of getOwnAggregatedRegionIds()">
                    <tr *ngIf="activeAggregatedRegionId && aggregatedRegionId == activeAggregatedRegionId" class="table-info" (click)="deselectAggregatedRegion()">

                      <td><i class="fa fa-circle" [ngStyle]="getColor(aggregatedRegionId)"></i></td>
                      <td>{{ getCreatorRegion(aggregatedRegionId) }}</td>
                      <td>
                        <div>
                          <small class="text-muted">{{ getCreator(aggregatedRegionId) }}</small>
                        </div>
                      </td>

                      <td *ngIf="hasSuggestions(aggregatedRegionId)"><i class="fa fa-lightbulb-o"></i></td>

                      <td *ngIf="hasSuggestions(aggregatedRegionId) && !editRegions">
                        <button [disabled]="loading" type="reset" class="btn btn-sm btn-primary" (click)="acceptSuggestions(aggregatedRegionId)"><i class="fa fa-check"></i></button>
                      </td>
                      <td *ngIf="hasSuggestions(aggregatedRegionId) && !editRegions">
                        <button [disabled]="loading" type="reset" class="btn btn-sm btn-danger" (click)="rejectSuggestions(aggregatedRegionId)"><i class="fa fa-close"></i></button>
                      </td>

                      <td *ngIf="!editRegions && !hasSuggestions(aggregatedRegionId)">
                        <button [disabled]="loading" type="reset" class="btn btn-sm btn-primary" (click)="editAggregatedRegion(aggregatedRegionId)"><i class="fa fa-pencil"></i></button>
                      </td>
                      <td *ngIf="!editRegions && !hasSuggestions(aggregatedRegionId)">
                        <button [disabled]="loading" type="reset" class="btn btn-sm btn-primary" (click)="createAggregatedRegion(true)"><i class="fa fa-copy"></i></button>
                      </td>
                      <td *ngIf="!editRegions && !hasSuggestions(aggregatedRegionId) && isCreator(aggregatedRegionId)">
                        <button [disabled]="loading" type="reset" class="btn btn-sm btn-danger" (click)="deleteAggregatedRegion(aggregatedRegionId)"><i class="fa fa-trash"></i></button>
                      </td>

                      <td *ngIf="editRegions">
                        <button type="reset" class="btn btn-sm btn-primary" (click)="saveAggregatedRegion(aggregatedRegionId)"><i class="fa fa-check"></i></button>
                      </td>
                      <td *ngIf="editRegions">
                        <button type="reset" class="btn btn-sm btn-danger" (click)="discardAggregatedRegion(aggregatedRegionId)"><i class="fa fa-close"></i></button>
                      </td>

                    </tr>

                    <tr *ngIf="aggregatedRegionId != activeAggregatedRegionId" (click)="selectAggregatedRegion(aggregatedRegionId)">
                      <td><i class="fa fa-circle" [ngStyle]="getColor(aggregatedRegionId)"></i></td>
                      <td>{{ getCreatorRegion(aggregatedRegionId) }}</td>
                      <td>
                        <div>
                          <small class="text-muted">{{ getCreator(aggregatedRegionId) }}</small>
                        </div>
                      </td>
                      <td *ngIf="hasSuggestions(aggregatedRegionId)"><i class="fa fa-lightbulb-o"></i></td>
                    </tr>

                  </div>
                </tbody>
              </table>
            </div>
            <div class="col-md-5">
              <table class="table">
                <tbody>
                  <tr>
                    <strong>{{ "bulletins.create.foreignRegions" | translate }}</strong>
                  </tr>
                  <div *ngFor="let aggregatedRegionId of getForeignAggregatedRegionIds()">
                    <tr *ngIf="activeAggregatedRegionId && aggregatedRegionId == activeAggregatedRegionId" class="table-info" (click)="deselectAggregatedRegion()">

                      <td><i class="fa fa-circle" [ngStyle]="getColor(aggregatedRegionId)"></i></td>
                      <td>{{ getCreatorRegion(aggregatedRegionId) }}</td>
                      <td>
                        <div>
                          <small class="text-muted">{{ getCreator(aggregatedRegionId) }}</small>
                        </div>
                      </td>

                      <td *ngIf="hasSuggestions(aggregatedRegionId)"><i class="fa fa-lightbulb-o"></i></td>

                      <td *ngIf="hasSuggestions(aggregatedRegionId) && !editRegions">
                        <button [disabled]="loading" type="reset" class="btn btn-sm btn-primary" (click)="acceptSuggestions(aggregatedRegionId)"><i class="fa fa-check"></i></button>
                      </td>
                      <td *ngIf="hasSuggestions(aggregatedRegionId) && !editRegions">
                        <button [disabled]="loading" type="reset" class="btn btn-sm btn-danger" (click)="rejectSuggestions(aggregatedRegionId)"><i class="fa fa-close"></i></button>
                      </td>

                      <td *ngIf="!editRegions && !hasSuggestions(aggregatedRegionId)">
                        <button [disabled]="loading" type="reset" class="btn btn-sm btn-primary" (click)="editAggregatedRegion(aggregatedRegionId)"><i class="fa fa-pencil"></i></button>
                      </td>
                      <td *ngIf="!editRegions && !hasSuggestions(aggregatedRegionId)">
                        <button [disabled]="loading" type="reset" class="btn btn-sm btn-primary" (click)="createAggregatedRegion(true)"><i class="fa fa-copy"></i></button>
                      </td>
                      <td *ngIf="!editRegions && !hasSuggestions(aggregatedRegionId) && isCreator(aggregatedRegionId)">
                        <button [disabled]="loading" type="reset" class="btn btn-sm btn-danger" (click)="deleteAggregatedRegion(aggregatedRegionId)"><i class="fa fa-trash"></i></button>
                      </td>

                      <td *ngIf="editRegions">
                        <button type="reset" class="btn btn-sm btn-primary" (click)="saveAggregatedRegion(aggregatedRegionId)"><i class="fa fa-check"></i></button>
                      </td>
                      <td *ngIf="editRegions">
                        <button type="reset" class="btn btn-sm btn-danger" (click)="discardAggregatedRegion(aggregatedRegionId)"><i class="fa fa-close"></i></button>
                      </td>

                    </tr>

                    <tr *ngIf="aggregatedRegionId != activeAggregatedRegionId" (click)="selectAggregatedRegion(aggregatedRegionId)">
                      <td><i class="fa fa-circle" [ngStyle]="getColor(aggregatedRegionId)"></i></td>
                      <td>{{ getCreatorRegion(aggregatedRegionId) }}</td>
                      <td>
                        <div>
                          <small class="text-muted">{{ getCreator(aggregatedRegionId) }}</small>
                        </div>
                      </td>
                      <td *ngIf="hasSuggestions(aggregatedRegionId)"><i class="fa fa-lightbulb-o"></i></td>
                    </tr>

                  </div>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="bulletinsService.getIsEditable()" class="card-footer">
          <button *ngIf="!loading" [disabled]="editRegions" type="submit" class="btn btn-sm btn-primary px-3" (click)="save()"><i class="fa fa-check"></i>{{ "bulletins.create.save" | translate }}</button>
          <button *ngIf="loading" disabled class="btn btn-sm btn-primary px-3"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>
          <button [disabled]="editRegions || loading" type="reset" class="btn btn-sm btn-danger px-3" (click)="discard()"><i class="fa fa-close"></i>{{ "bulletins.create.discard" | translate }}</button>
          <button [disabled]="editRegions || loading" type="reset" class="btn btn-sm btn-primary px-3" style="float: right" (click)="loadBulletinsFromYesterday()"><i class="fa fa-copy"></i></button>
        </div>
        <div *ngIf="!bulletinsService.getIsEditable()" class="card-footer">
          <button type="reset" class="btn btn-sm btn-primary px-3" (click)="goBack()"><i class="fa fa-arrow-left"></i>{{ "bulletins.create.back" | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="activeAggregatedRegionId" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{ "bulletins.create.title.general" | translate }}</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-12 form-control-label" for="text-input"><strong>{{ "bulletins.create.label.avActivityHighlights" | translate }}</strong></label>
              <div class="col-md-12">
                <input type="text" id="text-input" name="text-input" class="form-control" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)" [(ngModel)]="activeAvActivityHighlights">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 form-control-label" for="textarea-input"><strong>{{ "bulletins.create.label.avActivityComment" | translate }}</strong></label>
              <div class="col-md-12">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)" [(ngModel)]="activeAvActivityComment"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label"><strong>{{ "bulletins.create.label.elevation" | translate }}</strong></label>
              <div class="col-md-9">
                <label class="radio-inline" for="inline-radio1">
                  <input [(ngModel)]="activeBulletinInput.elevationDependency" type="checkbox" name="elevation-checkbox" value="option1" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)">
                  <div *ngIf="activeBulletinInput.elevationDependency" class="input-prepend input-group">
                    <input step="100" min="0" max="9000" id="appendedPrependedInput" class="form-control" size="16" type="number" name="elevation-input" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)" [(ngModel)]="activeBulletinInput.elevation" (change)="updateElevation(this.id)">
                    <span class="input-group-addon">m</span>
                  </div>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label"><strong>{{ "bulletins.create.label.daytime" | translate }}</strong></label>
              <div class="col-md-9">
                <label class="radio-inline" for="inline-radio1">
                  <input [(ngModel)]="activeBulletinInput.daytimeDependency" type="checkbox" name="daytime-checkbox" value="option1" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)">
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="activeAggregatedRegionId" class="row">
    <div *ngIf="!activeBulletinInput.daytimeDependency && !activeBulletinInput.elevationDependency" class="col-md-12">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.forenoonAbove" [title]="'bulletins.create.title.detail'" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)"></bulletin-detail>
    </div>
    <div *ngIf="!activeBulletinInput.daytimeDependency && activeBulletinInput.elevationDependency" class="col-md-12">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.forenoonAbove" [title]="'bulletins.create.title.above'" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)"></bulletin-detail>
    </div>
    <div *ngIf="activeBulletinInput.daytimeDependency && !activeBulletinInput.elevationDependency" class="col-md-6">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.forenoonAbove" [title]="'bulletins.create.title.forenoon'" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)"></bulletin-detail>
    </div>
    <div *ngIf="activeBulletinInput.daytimeDependency && !activeBulletinInput.elevationDependency" class="col-md-6">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.afternoonAbove" [title]="'bulletins.create.title.afternoon'" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)"></bulletin-detail>
    </div>
    <div *ngIf="activeBulletinInput.daytimeDependency && activeBulletinInput.elevationDependency" class="col-md-6">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.forenoonAbove" [title]="'bulletins.create.title.forenoonAbove'" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)"></bulletin-detail>
    </div>
    <div *ngIf="activeBulletinInput.daytimeDependency && activeBulletinInput.elevationDependency" class="col-md-6">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.afternoonAbove" [title]="'bulletins.create.title.afternoonAbove'" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)"></bulletin-detail>
    </div>
  </div><!--/.row-->


  <div *ngIf="activeAggregatedRegionId && activeBulletinInput.elevationDependency" class="row">
    <div *ngIf="!activeBulletinInput.daytimeDependency" class="col-md-12">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.forenoonBelow" [title]="'bulletins.create.title.below'" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)"></bulletin-detail>
    </div>
    <div *ngIf="activeBulletinInput.daytimeDependency" class="col-md-6">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.forenoonBelow" [title]="'bulletins.create.title.forenoonBelow'" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)"></bulletin-detail>
    </div>
    <div *ngIf="activeBulletinInput.daytimeDependency" class="col-md-6">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.afternoonBelow" [title]="'bulletins.create.title.afternoonBelow'" [disabled]="editRegions || !isCreator(activeAggregatedRegionId)"></bulletin-detail>
    </div>
  </div><!--/.row-->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{ "bulletins.create.title.snowpackStructure" | translate }}</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-12 form-control-label" for="text-input"><strong>{{ "bulletins.create.label.snowpackStructureHighlights" | translate }}</strong></label>
              <div class="col-md-12">
                <input type="text" id="text-input" name="text-input" class="form-control" [disabled]="editRegions || !bulletinsService.getIsEditable() || loading || !isCreator(activeAggregatedRegionId)" [(ngModel)]="activeSnowpackStructureHighlights">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 form-control-label" for="textarea-input"><strong>{{ "bulletins.create.label.snowpackStructureComment" | translate }}</strong></label>
              <div class="col-md-12">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" [disabled]="editRegions || !bulletinsService.getIsEditable() || loading || !isCreator(activeAggregatedRegionId)" [(ngModel)]="activeSnowpackStructureComment"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<p-confirmDialog icon="fa fa-question-circle" width="425" #loadingErrorDialog key="loadingErrorDialog">
  <p-footer>
    <button type="button" pButton icon="fa-close" label='{{ "bulletins.create.loadingErrorDialog.accept" | translate }}' (click)="loadingErrorDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog icon="fa fa-question-circle" width="425" #loadDialog key="loadDialog">
  <p-footer>
    <button type="button" pButton icon="fa-close" label='{{ "bulletins.create.loadDialog.reject" | translate }}' (click)="loadDialog.reject()"></button>
    <button type="button" pButton icon="fa-check" label='{{ "bulletins.create.loadDialog.accept" | translate }}' (click)="loadDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog icon="fa fa-question-circle" width="425" #deleteAggregatedRegionDialog key="deleteAggregatedRegionDialog">
  <p-footer>
    <button type="button" pButton icon="fa-close" label='{{ "bulletins.create.deleteAggregatedRegionDialog.reject" | translate }}' (click)="deleteAggregatedRegionDialog.reject()"></button>
    <button type="button" pButton icon="fa-check" label='{{ "bulletins.create.deleteAggregatedRegionDialog.accept" | translate }}' (click)="deleteAggregatedRegionDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog icon="fa fa-question-circle" width="425" #noRegionDialog key="noRegionDialog">
  <p-footer>
    <button type="button" pButton icon="fa-check" label='{{ "bulletins.create.noRegionDialog.accept" | translate }}' (click)="noRegionDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog icon="fa fa-question-circle" width="425" #discardDialog key="discardDialog">
  <p-footer>
    <button type="button" pButton icon="fa-close" label='{{ "bulletins.create.discardDialog.reject" | translate }}' (click)="discardDialog.reject()"></button>
    <button type="button" pButton icon="fa-check" label='{{ "bulletins.create.discardDialog.accept" | translate }}' (click)="discardDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog icon="fa fa-question-circle" width="425" #saveErrorDialog key="saveErrorDialog">
  <p-footer>
    <button type="button" pButton icon="fa-check" label='{{ "bulletins.create.saveErrorDialog.accept" | translate }}' (click)="saveErrorDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>
