<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{ "bulletins.create.title.map" | translate }}</strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <div class="col-md-3">
              <div class="form-group row">
                <button *ngIf="bulletinEditable" (click)="createAggregatedRegion()" class="btn btn-block btn-sm btn-primary">{{ "bulletins.create.createAggregatedRegion" | translate }}</button>
              </div>

              <table class="table">
                <tbody>
                  <div *ngFor="let aggregatedRegionId of aggregatedRegionsIds">
                    <tr *ngIf="activeAggregatedRegionId && aggregatedRegionId == activeAggregatedRegionId" class="table-info">
                      <td>{{ aggregatedRegionId }}</td>
                      <td>
                        <button type="reset" class="btn btn-sm btn-danger" (click)="deleteAggregatedRegion(aggregatedRegionId)"><i class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                    <tr *ngIf="!activeAggregatedRegionId || aggregatedRegionId != activeAggregatedRegionId" (click)="selectAggregatedRegion(aggregatedRegionId)">
                      <td>{{ aggregatedRegionId }}</td>
                    </tr>
                  </div>
                </tbody>
              </table>
            </div>
            <div class="col-md-9" style="height: 300px" id="map">
            </div>
          </div>
        </div>
        <div *ngIf="bulletinEditable" class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="save()"><i class="fa fa-check"></i>{{ "bulletins.create.save" | translate }}</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="discard()"><i class="fa fa-close"></i>{{ "bulletins.create.discard" | translate }}</button>
        </div>
        <div *ngIf="!bulletinEditable" class="card-footer">
          <button type="reset" class="btn btn-sm btn-primary" (click)="discard()"><i class="fa fa-arrow-left"></i>{{ "bulletins.create.back" | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="activeAggregatedRegionId" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{ "bulletins.create.title.general" | translate }}</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-12 form-control-label" for="text-input"><strong>{{ "bulletins.create.label.avalancheSituationHighlight" | translate }}</strong></label>
              <div class="col-md-12">
                <input type="text" id="text-input" name="text-input" class="form-control" [(ngModel)]="activeBulletinInput.avalancheSituationHighlight">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 form-control-label" for="textarea-input"><strong>{{ "bulletins.create.label.avalancheSituationComment" | translate }}</strong></label>
              <div class="col-md-12">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" [(ngModel)]="activeBulletinInput.avalancheSituationComment"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label"><strong>{{ "bulletins.create.label.elevation" | translate }}</strong></label>
              <div class="col-md-9">
                <label class="radio-inline" for="inline-radio1">
                  <input [(ngModel)]="activeBulletinInput.elevationDependency" type="checkbox" name="elevation-checkbox" value="option1">
                  <div *ngIf="activeBulletinInput.elevationDependency" class="input-prepend input-group">
                    <input id="appendedPrependedInput" class="form-control" size="16" type="number" name="elevation-input" [(ngModel)]="activeBulletinInput.elevation">
                    <span class="input-group-addon">m</span>
                  </div>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label"><strong>{{ "bulletins.create.label.daytime" | translate }}</strong></label>
              <div class="col-md-9">
                <label class="radio-inline" for="inline-radio1">
                  <input [(ngModel)]="activeBulletinInput.daytimeDependency" type="checkbox" name="daytime-checkbox" value="option1">
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="activeAggregatedRegionId" class="row">
    <div *ngIf="!activeBulletinInput.daytimeDependency && !activeBulletinInput.elevationDependency" class="col-md-12">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.forenoonAbove" [title]="'bulletins.create.title.detail'"></bulletin-detail>
    </div>
    <div *ngIf="!activeBulletinInput.daytimeDependency && activeBulletinInput.elevationDependency" class="col-md-12">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.forenoonAbove" [title]="'bulletins.create.title.above'"></bulletin-detail>
    </div>
    <div *ngIf="activeBulletinInput.daytimeDependency && !activeBulletinInput.elevationDependency" class="col-md-6">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.forenoonAbove" [title]="'bulletins.create.title.forenoon'"></bulletin-detail>
    </div>
    <div *ngIf="activeBulletinInput.daytimeDependency && !activeBulletinInput.elevationDependency" class="col-md-6">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.afternoonAbove" [title]="'bulletins.create.title.afternoon'"></bulletin-detail>
    </div>
    <div *ngIf="activeBulletinInput.daytimeDependency && activeBulletinInput.elevationDependency" class="col-md-6">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.forenoonAbove" [title]="'bulletins.create.title.forenoonAbove'"></bulletin-detail>
    </div>
    <div *ngIf="activeBulletinInput.daytimeDependency && activeBulletinInput.elevationDependency" class="col-md-6">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.afternoonAbove" [title]="'bulletins.create.title.afternoonAbove'"></bulletin-detail>
    </div>
  </div><!--/.row-->


  <div *ngIf="activeAggregatedRegionId && activeBulletinInput.elevationDependency" class="row">
    <div *ngIf="!activeBulletinInput.daytimeDependency" class="col-md-12">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.forenoonBelow" [title]="'bulletins.create.title.below'"></bulletin-detail>
    </div>
    <div *ngIf="activeBulletinInput.daytimeDependency" class="col-md-6">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.forenoonBelow" [title]="'bulletins.create.title.forenoonBelow'"></bulletin-detail>
    </div>
    <div *ngIf="activeBulletinInput.daytimeDependency" class="col-md-6">
      <bulletin-detail [bulletinElevationDescription]="activeBulletinInput.afternoonBelow" [title]="'bulletins.create.title.afternoonBelow'"></bulletin-detail>
    </div>
  </div><!--/.row-->
</div>
