<label class="form-control-label" for="textarea-input"><strong>{{ "matrix.label.snowpackStability" | translate }}</strong></label>
<!-- <ngx-slider class="snowpack-stability-slider" [(value)]="matrixInformation.snowpackStabilityValue" [options]="snowpackStabilityOptions" (userChange)="onSnowpackStabilityValueChange($event)"></ngx-slider> -->
<!--
  <table>
	<tbody>
	  <tr style="height: 60px">
		<td *ngIf="isSnowpackStability('fair')">
		  <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setSnowpackStabilityEvent($event, undefined)">{{ "snowpackStability.fair" | translate }}</button>
		</td>
		<td *ngIf="!isSnowpackStability('fair')">
		  <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setSnowpackStabilityEvent($event, 'fair')">{{ "snowpackStability.fair" | translate }}</button>
		</td>
		<td *ngIf="isSnowpackStability('poor')">
		  <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setSnowpackStabilityEvent($event, undefined)">{{ "snowpackStability.poor" | translate }}</button>
		</td>
		<td *ngIf="!isSnowpackStability('poor')">
		  <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setSnowpackStabilityEvent($event, 'poor')">{{ "snowpackStability.poor" | translate }}</button>
		</td>
		<td *ngIf="isSnowpackStability('very_poor')">
		  <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setSnowpackStabilityEvent($event, undefined)">{{ "snowpackStability.very_poor" | translate }}</button>
		</td>
		<td *ngIf="!isSnowpackStability('very_poor')">
		  <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setSnowpackStabilityEvent($event, 'very_poor')">{{ "snowpackStability.very_poor" | translate }}</button>
		</td>
	  </tr>
	</tbody>
  </table>
-->
<label class="form-control-label" for="textarea-input"><strong>{{ "matrix.label.frequency" | translate }}</strong></label>
<!-- <ngx-slider class="frequency-slider" [(value)]="matrixInformation.frequencyValue" [options]="frequencyOptions" (userChange)="onFrequencyValueChange($event)"></ngx-slider> -->
<!--
  <table>
	<tbody>
	  <tr style="height: 60px">
		<td *ngIf="isFrequency('few')">
		  <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setFrequencyEvent($event, undefined)">{{ "frequency.few" | translate }}</button>
		</td>
		<td *ngIf="!isFrequency('few')">
		  <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setFrequencyEvent($event, 'few')">{{ "frequency.few" | translate }}</button>
		</td>
		<td *ngIf="isFrequency('some')">
		  <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setFrequencyEvent($event, undefined)">{{ "frequency.some" | translate }}</button>
		</td>
		<td *ngIf="!isFrequency('some')">
		  <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setFrequencyEvent($event, 'some')">{{ "frequency.some" | translate }}</button>
		</td>
		<td *ngIf="isFrequency('many')">
		  <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setFrequencyEvent($event, undefined)">{{ "frequency.many" | translate }}</button>
		</td>
		<td *ngIf="!isFrequency('many')">
		  <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setFrequencyEvent($event, 'many')">{{ "frequency.many" | translate }}</button>
		</td>
	  </tr>
	</tbody>
  </table>
-->
<label class="form-control-label" for="textarea-input"><strong>{{ "matrix.label.avalancheSize" | translate }}</strong></label>
<!-- <ngx-slider class="avalanche-size-slider" [(value)]="matrixInformation.avalancheSizeValue" [options]="avalancheSizeOptions" (userChange)="onAvalancheSizeValueChange($event)"></ngx-slider> -->
<!--
  <table>
	<tbody>
	  <tr style="height: 60px">
		<td *ngIf="isAvalancheSize('small')">
		  <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setAvalancheSizeEvent($event, undefined)">{{ "avalancheSize.small" | translate }}</button>
		</td>
		<td *ngIf="!isAvalancheSize('small')">
		  <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setAvalancheSizeEvent($event, 'small')">{{ "avalancheSize.small" | translate }}</button>
		</td>
		<td *ngIf="isAvalancheSize('medium')">
		  <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setAvalancheSizeEvent($event, undefined)">{{ "avalancheSize.medium" | translate }}</button>
		</td>
		<td *ngIf="!isAvalancheSize('medium')">
		  <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setAvalancheSizeEvent($event, 'medium')">{{ "avalancheSize.medium" | translate }}</button>
		</td>
		<td *ngIf="isAvalancheSize('large')">
		  <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setAvalancheSizeEvent($event, undefined)">{{ "avalancheSize.large" | translate }}</button>
		</td>
		<td *ngIf="!isAvalancheSize('large')">
		  <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setAvalancheSizeEvent($event, 'large')">{{ "avalancheSize.large" | translate }}</button>
		</td>
		<td *ngIf="isAvalancheSize('very_large')">
		  <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setAvalancheSizeEvent($event, undefined)">{{ "avalancheSize.very_large" | translate }}</button>
		</td>
		<td *ngIf="!isAvalancheSize('very_large')">
		  <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setAvalancheSizeEvent($event, 'very_large')">{{ "avalancheSize.very_large" | translate }}</button>
		</td>
		<td *ngIf="isAvalancheSize('extreme')">
		  <button [disabled]="disabled" type="reset" class="btn btn-primary" (click)="setAvalancheSizeEvent($event, undefined)">{{ "avalancheSize.extreme" | translate }}</button>
		</td>
		<td *ngIf="!isAvalancheSize('extreme')">
		  <button [disabled]="disabled" type="reset" class="btn btn-secondary" (click)="setAvalancheSizeEvent($event, 'extreme')">{{ "avalancheSize.extreme" | translate }}</button>
		</td>
	  </tr>
	</tbody>
  </table>
-->
<div style="margin-top: 10px">
	<label class="form-control-label" for="textarea-input"><strong>{{ "matrix.label.dangerRating" | translate }}</strong></label>
	<label *ngIf="!disabled" class="switch switch-default switch-pill switch-primary" style="margin-left: 10px; margin-right: 5px">
		<input type="checkbox" class="switch-input" [disabled]="disabled || !matrixInformation || !matrixInformation.snowpackStability || !matrixInformation.frequency || !matrixInformation.avalancheSize" [ngModel]="dangerRatingEnabled" (click)="setDangerRatingEnabled(event)">
		<span class="switch-label"></span>
		<span class="switch-handle"></span>
	</label>
	<label *ngIf="!disabled" class="form-control-label" for="textarea-input">{{ "matrix.label.override" | translate }}</label>
</div>
<table>
	<tbody>
	<tr style="height: 70px">
		<td>
			<!-- danger rating -->
			<img *ngIf="!dangerRatingEnabled && isDangerRating('missing')" src="./assets/img/danger_rating_missing.svg" style="height: 60px !important">
			<img *ngIf="dangerRatingEnabled && !isDangerRating('low')" src="./assets/img/danger_rating_low_bw.svg" style="height: 60px !important" (click)="overrideDangerRating($event, 'low')">
			<img *ngIf="isDangerRating('low')" src="./assets/img/danger_rating_low_c.svg" style="height: 60px !important" (click)="overrideDangerRating($event, 'low')">
			<img *ngIf="dangerRatingEnabled && !isDangerRating('moderate')" src="./assets/img/danger_rating_moderate_bw.svg" style="height: 60px !important" (click)="overrideDangerRating($event, 'moderate')">
			<img *ngIf="isDangerRating('moderate')" src="./assets/img/danger_rating_moderate_c.svg" style="height: 60px !important" (click)="overrideDangerRating($event, 'moderate')">
			<img *ngIf="dangerRatingEnabled && !isDangerRating('considerable')" src="./assets/img/danger_rating_considerable_bw.svg" style="height: 60px !important" (click)="overrideDangerRating($event, 'considerable')">
			<img *ngIf="isDangerRating('considerable')" src="./assets/img/danger_rating_considerable_c.svg" style="height: 60px !important" (click)="overrideDangerRating($event, 'considerable')">
			<img *ngIf="dangerRatingEnabled && !isDangerRating('high')" src="./assets/img/danger_rating_high_bw.svg" style="height: 60px !important" (click)="overrideDangerRating($event, 'high')">
			<img *ngIf="isDangerRating('high')" src="./assets/img/danger_rating_high_c.svg" style="height: 60px !important" (click)="overrideDangerRating($event, 'high')">
			<img *ngIf="dangerRatingEnabled && !isDangerRating('very_high')" src="./assets/img/danger_rating_very_high_bw.svg" style="height: 60px !important" (click)="overrideDangerRating($event, 'very_high')">
			<img *ngIf="isDangerRating('very_high')" src="./assets/img/danger_rating_very_high_c.svg" style="height: 60px !important" (click)="overrideDangerRating($event, 'very_high')">
		</td>
	</tr>
	</tbody>
</table>
<table>
	<tbody>
	<tr style="height: 50px">
		<td>
			<button *ngIf="isDangerRatingModificator('minus')" [disabled]="disabled || !matrixInformation || !matrixInformation.snowpackStability || !matrixInformation.frequency || !matrixInformation.avalancheSize" type="reset" class="btn btn-sm btn-primary" (click)="setDangerRatingModificator($event, undefined)">-</button>
			<button *ngIf="!isDangerRatingModificator('minus')" [disabled]="disabled || !matrixInformation || !matrixInformation.snowpackStability || !matrixInformation.frequency || !matrixInformation.avalancheSize" type="reset" class="btn btn-sm btn-secondary" (click)="setDangerRatingModificator($event, 'minus')">-</button>
		</td>
		<td>
			<button *ngIf="isDangerRatingModificator('equal')" [disabled]="disabled || !matrixInformation || !matrixInformation.snowpackStability || !matrixInformation.frequency || !matrixInformation.avalancheSize" type="reset" class="btn btn-sm btn-primary" (click)="setDangerRatingModificator($event, undefined)">=</button>
			<button *ngIf="!isDangerRatingModificator('equal')" [disabled]="disabled || !matrixInformation || !matrixInformation.snowpackStability || !matrixInformation.frequency || !matrixInformation.avalancheSize" type="reset" class="btn btn-sm btn-secondary" (click)="setDangerRatingModificator($event, 'equal')">=</button>
		</td>
		<td>
			<button *ngIf="isDangerRatingModificator('plus')" [disabled]="disabled || !matrixInformation || !matrixInformation.snowpackStability || !matrixInformation.frequency || !matrixInformation.avalancheSize" type="reset" class="btn btn-sm btn-primary" (click)="setDangerRatingModificator($event, undefined)">+</button>
			<button *ngIf="!isDangerRatingModificator('plus')" [disabled]="disabled || !matrixInformation || !matrixInformation.snowpackStability || !matrixInformation.frequency || !matrixInformation.avalancheSize" type="reset" class="btn btn-sm btn-secondary" (click)="setDangerRatingModificator($event, 'plus')">+</button>
		</td>
	</tr>
	</tbody>
</table>
