<div class="modal-body">
	<div class="text-center">
		<h1>{{ "bulletins.table.publicationStatusDialog.headline" | translate }}</h1>
		<p>
			<b>{{ "bulletins.table.publicationStatusDialog.validFor" | translate }}</b>{{ json.report.date | localizedDate:'fullDate'}}<br>
			<b>{{ "bulletins.table.publicationStatusDialog.publishedBy" | translate }}</b>{{ json.report.user }}<br>
			<b>{{ "bulletins.table.publicationStatusDialog.publishedAt" | translate }}</b>{{ json.report.timestamp | localizedDate:'medium'}}
		</p>
	</div>
    <div class="col-lg-12">
		<div class="card">
		  <div class="card-header">
			<i class="fa fa-warning"></i>{{ "bulletins.table.publicationStatusDialog.title.prod" | translate }}
		  </div>
		  <div class="card-block" style="padding: 0">
			<table class="table table-bordered table-condensed" style="margin-bottom: 0">
				<thead>
				  <tr>
					<th>{{ "bulletins.table.publicationStatusDialog.title.task" | translate }}</th>
					<th>{{ "bulletins.table.publicationStatusDialog.title.language.all" | translate }}</th>
					<th>{{ "bulletins.table.publicationStatusDialog.title.language.de" | translate }}</th>
					<th>{{ "bulletins.table.publicationStatusDialog.title.language.it" | translate }}</th>
					<th>{{ "bulletins.table.publicationStatusDialog.title.language.en" | translate }}</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td><label class="col-form-label">{{ "bulletins.table.publicationStatusDialog.label.caaml" | translate }}</label></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="createCaaml($event)" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.caaml' | translate }}"><i class="fa fa-file-text"></i></button></td>
				  </tr>
				  <tr>
					<td><label class="col-form-label">{{ "bulletins.table.publicationStatusDialog.label.map" | translate }}</label></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="createMap($event)" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.map' | translate }}"><i class="fa fa-map"></i></button></td>
				  </tr>
				  <tr>
					<td><label class="col-form-label">{{ "bulletins.table.publicationStatusDialog.label.pdf" | translate }}</label></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="createPdf($event)" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.pdf' | translate }}"><i class="fa fa-file-pdf-o"></i></button></td>
				  </tr>
				  <tr>
					<td><label class="col-form-label">{{ "bulletins.table.publicationStatusDialog.label.html" | translate }}</label></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="createHtml($event)" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.html' | translate }}"><i class="fa fa-html5"></i></button></td>
				  </tr>
				  <tr>
					<td><label class="col-form-label">{{ "bulletins.table.publicationStatusDialog.label.staticWidget" | translate }}</label></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="createStaticWidget($event)" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.staticWidget' | translate }}"><i class="fa fa-image"></i></button></td>
				  </tr>
				  <tr>
					<td><label class="col-form-label">{{ "bulletins.table.publicationStatusDialog.label.email" | translate }}</label></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="sendEmail($event)" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.email' | translate }}"><i class="fa fa-envelope"></i></button></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="sendEmail($event, 'de')" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.email' | translate }}"><i class="fa fa-envelope"></i></button></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="sendEmail($event, 'it')" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.email' | translate }}"><i class="fa fa-envelope"></i></button></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="sendEmail($event, 'en')" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.email' | translate }}"><i class="fa fa-envelope"></i></button></td>
				  </tr>
				  <tr>
					<td><label class="col-form-label">{{ "bulletins.table.publicationStatusDialog.label.telegram" | translate }}</label></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="triggerTelegramChannel($event)" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.telegram' | translate }}"><i class="fa fa-telegram"></i></button></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="triggerTelegramChannel($event, 'de')" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.telegram' | translate }}"><i class="fa fa-telegram"></i></button></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="triggerTelegramChannel($event, 'it')" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.telegram' | translate }}"><i class="fa fa-telegram"></i></button></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="triggerTelegramChannel($event, 'en')" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.telegram' | translate }}"><i class="fa fa-telegram"></i></button></td>
				  </tr>
				  <tr>
					<td><label class="col-form-label">{{ "bulletins.table.publicationStatusDialog.label.push" | translate }}</label></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="triggerPushNotifications($event)" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.push' | translate }}"><i class="fa fa-bell"></i></button></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="triggerPushNotifications($event, 'de')" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.push' | translate }}"><i class="fa fa-bell"></i></button></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="triggerPushNotifications($event, 'it')" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.push' | translate }}"><i class="fa fa-bell"></i></button></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="triggerPushNotifications($event, 'en')" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.push' | translate }}"><i class="fa fa-bell"></i></button></td>
				  </tr>
				</tbody>
			</table>
		  </div>
		</div>
		<div class="card">
		  <div class="card-header">
			<i class="fa fa-check"></i>{{ "bulletins.table.publicationStatusDialog.title.test" | translate }}
		  </div>
		  <div class="card-block" style="padding: 0">
			<table class="table table-bordered table-condensed" style="margin-bottom: 0">
				<thead>
				  <tr>
					<th>{{ "bulletins.table.publicationStatusDialog.title.task" | translate }}</th>
					<th>{{ "bulletins.table.publicationStatusDialog.title.language.all" | translate }}</th>
					<th>{{ "bulletins.table.publicationStatusDialog.title.language.de" | translate }}</th>
					<th>{{ "bulletins.table.publicationStatusDialog.title.language.it" | translate }}</th>
					<th>{{ "bulletins.table.publicationStatusDialog.title.language.en" | translate }}</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td><label class="col-form-label">{{ "bulletins.table.publicationStatusDialog.label.email" | translate }}</label></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="sendTestEmail($event)" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.email' | translate }}"><i class="fa fa-envelope"></i></button></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="sendTestEmail($event, 'de')" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.email' | translate }}"><i class="fa fa-envelope"></i></button></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="sendTestEmail($event, 'it')" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.email' | translate }}"><i class="fa fa-envelope"></i></button></td>
					<td><button type="button" class="btn btn-secondary btn-sm" (click)="sendTestEmail($event, 'en')" data-toggle="tooltip" title="{{ 'bulletins.table.publicationStatusDialog.tooltip.email' | translate }}"><i class="fa fa-envelope"></i></button></td>
				  </tr>
				</tbody>
			  </table>
		  </div>
		</div>
	</div>
	<div class="text-center">
		<button type="button" class="btn btn-primary" (click)="publicationStatusModalConfirm()">{{ "bulletins.table.publicationStatusDialog.accept" | translate }}</button>
	</div>
</div>