/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #TOOLTIPS
\*------------------------------------*/

//https://atomiks.github.io/tippyjs/

.tippy-tooltip.custom-theme {
  @extend .label;
  margin: 0;
  background: rgba($white, 0.9);
  //@include box-shadow;
}

.tippy-tooltip.custom-html-theme {
  padding: $padding;
  color: $text-color;
  background: rgba($white, 0.9);
  @include box-border;
  border-radius: 0;
  //@include box-shadow;
  .tippy-content {
    @include last-child;
  }
}
