<div class="{{ formClass }} pure-form-search">
	<input type="{{ inputType }}" id="input" class="{{ inputClass }}" placeholder="{{ inputPlaceholder }}" />{{> atoms-icon-button(iconClass: "icon-search" }}
</div>