@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #BGs
\*------------------------------------*/

//zuweisung mit @extend .bg-box;
.bg-box {
  background-color: variables.$white;
}
.bg-subtle {
  background-color: variables.$grey-very-very-light;
}
.bg-brand {
  background-color: variables.$brand;
}
.bg-brand-subtle {
  background-color: variables.$brand-very-very-light;
}

.bg-gradient-snow {
  background-image: linear-gradient(
    to bottom,
    variables.$white,
    variables.$grey-very-very-light
  );
}
.bg-gradient-brand {
  background-image: linear-gradient(
    to bottom,
    variables.$brand-dark,
    variables.$brand
  );
}

.bg-warning-level-1 {
  background-color: variables.$warning-level-1-color;
}
.bg-warning-level-2 {
  background-color: variables.$warning-level-2-color;
}
.bg-warning-level-3 {
  background-color: variables.$warning-level-3-color;
}
.bg-warning-level-4 {
  background-color: variables.$warning-level-4-color;
}
.bg-warning-level-5 {
  background: variables.$warning-level-5-color
    url("../images/pro/global/bg_checkered.png") repeat 0 0;
}

.bg-brand,
.bg-gradient-brand,
.bg-warning-level-4 {
  @include mixins.text-color(rgba(variables.$white, 0.9));
  @include mixins.link-color(variables.$white, rgba(variables.$white, 0.9));
}

.bg-warning-level-3 {
  @include mixins.link-color(variables.$white, rgba(variables.$white, 0.9));
}

.bg-warning-level-5 {
  @include mixins.text-color(variables.$white);
}

.bg-colorbar {
  height: variables.$bar-width;
  background: variables.$brand url("../images/pro/global/colorbar.gif")
    no-repeat 0 0;
  background-size: 100% variables.$bar-width;
}
