/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #BLOCKGRID
\*------------------------------------*/

.blockgrid {
  margin-bottom: $margin-bottom;

  .grid-item {
    @media #{$tiny-up} {
      // T H E   F U C K I N G   F A L L B A C K
      width: calc(100% * 0.5 - #{$grid-gutter} - 0.1px);

      // T H E   G R I D
      @if $grid-activated {
        grid-column: span ($grid-columns * 0.5);

        // I F   G R I D   U N D O   T H E   F U C K I N G   F A L L B A C K
        @supports (display: grid) {
          width: auto;
        }
      }
    }
    @media #{$small-up} {
    }
    @media #{$normal-up} {
      width: calc(100% * 0.3333333333 - #{$grid-gutter} - 0.1px);

      @if $grid-activated {
        grid-column: span ($grid-columns * 0.3333333333);
        @supports (display: grid) {
          width: auto;
        }
      }
    }
    @media #{$medium-up} {
      width: calc(100% * 0.25 - #{$grid-gutter} - 0.1px);

      @if $grid-activated {
        grid-column: span ($grid-columns * 0.25);
        @supports (display: grid) {
          width: auto;
        }
      }
    }
    @media #{$xlarge-up} {
      width: calc(100% * 0.1666666667 - #{$grid-gutter} - 0.1px);

      @if $grid-activated {
        grid-column: span ($grid-columns * 0.1666666667);
        @supports (display: grid) {
          width: auto;
        }
      }
    }
  }
}
