@use "../abstracts/bounds";
@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../atoms/bgs";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #BODY
\*------------------------------------*/

$min-height-adjustment: (4 * (variables.$rem-base + 2) + px); //4em;

html {
  --brand: #19abff;
  --brand-very-very-dark: #062a3f;
  --brand-very-dark: #0f6799;
  --brand-dark: #1489cc;
  --brand-light: #66c7ff;
  --brand-very-light: #99daff;
  --brand-very-very-light: #ccecff;
}

html[data-province="ES-AR"] {
  --brand: #00607a;
  --brand-very-very-dark: #002630;
  --brand-very-dark: #003949;
  --brand-dark: #004c61;
  --brand-light: #327f94;
  --brand-very-light: #669faf;
  --brand-very-very-light: #99bfc9;
}

html[data-province="ES-CT-L"] {
  --brand: #9d0037;
  --brand-very-very-dark: #062a3f;
  --brand-very-dark: #410017;
  --brand-dark: #600022;
  --brand-light: #ef0054;
  --brand-very-light: #ff1869;
  --brand-very-very-light: #ff4184;
}

html,
body {
  //height: 100%;//ioS 12 Pro Safari //https://www.freecodecamp.org/news/html-page-width-height/
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: variables.$body-font-family;
  font-weight: variables.$body-font-weight;
  font-style: variables.$body-font-style;
  font-size: variables.$body-font-size-small;
  line-height: variables.$body-line-height;

  @include mixins.font-smoothing(variables.$font-smoothing);

  color: variables.$text-color;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: variables.$webkit-tap-highlight-color;

  display: flex;
  flex-direction: column;

  &.with-custom-ratio {
    min-height: 0;
    .section-bulletin-map .section-map {
      max-height: none;
    }
  }

  @include mixins.rollout;
}

body {
  &:before {
    z-index: -100;
    position: fixed;
    content: "";
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    @extend .bg-gradient-snow;
  }

  &.s-weathermap-2020 {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
  }
}

@media #{variables.$normal-up} {
  html,
  body {
    font-size: variables.$body-font-size;
  }
}

@media #{variables.$medium-up} and (min-height:#{bounds.lower-bound(variables.$normal-range)}) {
  html,
  body {
    font-size: variables.$body-font-size-medium;
  }
}

@media #{variables.$large-up} and (min-height:#{bounds.lower-bound(variables.$medium-range) - $min-height-adjustment}) {
  html,
  body {
    font-size: variables.$body-font-size-large;
  }
}

@media #{variables.$xlarge-up} and (min-height:#{bounds.lower-bound(variables.$medium-range)}) {
  html,
  body {
    font-size: variables.$body-font-size-xlarge;
  }
}

@media #{variables.$xxlarge-up} and (min-height:#{bounds.lower-bound(variables.$medium-range) + $min-height-adjustment}) {
  html,
  body {
    font-size: variables.$body-font-size-xxlarge;
  }
}

@media #{variables.$xxxlarge-up} and (min-height:#{bounds.lower-bound(variables.$large-range)}) {
  html,
  body {
    font-size: variables.$body-font-size-xxxlarge;
  }
}

@media #{variables.$xxxxlarge-up} and (min-height:#{bounds.lower-bound(variables.$large-range)}) {
  html,
  body {
    font-size: variables.$body-font-size-xxxxlarge;
  }
}

@media #{variables.$xxxxxlarge-up} and (min-height:#{bounds.lower-bound(variables.$large-range)}) {
  html,
  body {
    font-size: variables.$body-font-size-xxxxxlarge;
  }
}
