//http://purecss.io/buttons
@use "../../../../publ../../node_modules/purecss-sass/vendor/assets/stylesheets/purecss/_buttons.scss";
@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.pure-button,
a.pure-button {
  position: relative;
  display: inline-block;
  padding: variables.$padding (variables.$padding * 1.5);
  font-size: variables.$tiny-font-size; //$body-font-size-tiny;
  @include mixins.font-heavy;
  line-height: variables.$header-line-height;
  @include mixins.letter-spacing(0.1em);
  @include mixins.uppercase;
  //@include font-smoothing(antialiased);
  color: variables.$white;
  background: variables.$primary-color;
  border: variables.$border-width variables.$border-style transparent;
  border-radius: variables.$global-radius;
  @include mixins.rollout;

  @media (hover: hover) {
    &:hover {
      color: variables.$primary-color;
      background: variables.$white;
      border-color: variables.$primary-color;
      @include mixins.box-shadow;
      @include mixins.rollover;
    }
  }
  &.js-active {
    color: variables.$primary-color;
    background: variables.$white;
    border-color: variables.$primary-color;
    @include mixins.box-shadow;
    @include mixins.rollover;
  }
  &:focus {
    filter: none;
    background-image: none;
    outline: initial;
  }
  //Focusing  with a keyboard
  &:focus-visible {
    @include mixins.keyboard-focus();
  }
  //Focusing with a mouse, touch, or stylus
  &:focus:not(:focus-visible) {
    outline: none;
  }

  &.primary {
  }
  &.inverse {
    color: variables.$primary-color;
    background: variables.$white;
    border-color: variables.$primary-color;
    @media (hover: hover) {
      &:hover {
        color: variables.$white;
        background: variables.$primary-color;
        border-color: variables.$primary-color;
      }
    }
    &.js-active {
      color: variables.$white;
      background: variables.$primary-color;
      border-color: variables.$primary-color;
    }
  }
  &.secondary {
    color: variables.$text-color;
    background: variables.$white;
    border-color: variables.$secondary-color;
    @media (hover: hover) {
      &:hover {
        color: variables.$primary-color;
        background: variables.$white;
        border-color: variables.$primary-color;
      }
    }
    &.js-active {
      color: variables.$primary-color;
      background: variables.$white;
      border-color: variables.$primary-color;
    }
    .controlbar & {
      color: variables.$primary-color;
      border-color: variables.$primary-color;
    }
  }
  &.tertiary {
    color: variables.$text-color;
    background: variables.$tertiary-color;
    border-color: variables.$tertiary-color;
    @media (hover: hover) {
      &:hover {
        color: variables.$primary-color;
        background: variables.$white;
        border-color: variables.$primary-color;
      }
    }
    &.js-active {
      color: variables.$primary-color;
      background: variables.$white;
      border-color: variables.$primary-color;
    }
  }

  &.success {
    background: variables.$success-color;
    @media (hover: hover) {
      &:hover {
        color: variables.$success-color;
        background: variables.$white;
        border-color: variables.$success-color;
      }
    }
    &.js-active {
      color: variables.$success-color;
      background: variables.$white;
      border-color: variables.$success-color;
    }
  }
  &.error {
    background: variables.$error-color;
    @media (hover: hover) {
      &:hover {
        color: variables.$error-color;
        background: variables.$white;
        border-color: variables.$error-color;
      }
    }
    &.js-active {
      color: variables.$error-color;
      background: variables.$white;
      border-color: variables.$error-color;
    }
  }
  &.warning {
    background: variables.$warning-color;
    @media (hover: hover) {
      &:hover {
        color: variables.$warning-color;
        background: variables.$white;
        border-color: variables.$warning-color;
      }
    }
    &.js-active {
      color: variables.$warning-color;
      background: variables.$white;
      border-color: variables.$warning-color;
    }
  }
  &.emphasize {
    background: variables.$green;
    @media (hover: hover) {
      &:hover {
        color: variables.$orange;
        background: variables.$white;
        border-color: variables.$orange;
      }
    }
    &.js-active {
      color: variables.$orange;
      background: variables.$white;
      border-color: variables.$orange;
    }
  }

  &.black {
    background: variables.$black;
    @media (hover: hover) {
      &:hover {
        color: variables.$black;
        background: variables.$white;
        border-color: variables.$black;
      }
    }
    &.js-active {
      color: variables.$black;
      background: variables.$white;
      border-color: variables.$black;
    }
  }

  &.round {
    border-radius: variables.$global-rounded;
  }
  &.expand {
    display: block;
  }

  &.small {
    font-size: variables.$micro-font-size; //$body-font-size-micro;
  }
  &.large {
    font-size: variables.$medium-font-size; //$body-font-size-medium;
  }

  &.red-label {
    color: variables.$red;
  }

  &.pure-button-icon {
    margin: 0;
    padding: variables.$padding;
    //font-size: $normal-font-size;//$body-font-size-tiny;
    //@media #{$medium-up} { font-size: $tiny-font-size; }
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }
    span {
      display: block;
      width: 1em + variables.$header-line-height - 1;
    }
    .controlbar & {
      background-color: variables.$white;
      color: variables.$brand;
      &:hover {
        border-color: variables.$white;
        background-color: variables.$brand;
        color: variables.$white;
      }
    }
  }
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  border: variables.$border-width solid transparent;
  border-color: transparent;
}
