/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #GRID
\*------------------------------------*/

//only for debugging purpose
$grid-activated: true;

@mixin grid($grid-columns: $grid-columns, $margin-bottom: 0) {
  //@include clearfix;
  overflow: visible;
  position: relative;
  margin-bottom: $margin-bottom;
  margin-left: 0;
  margin-right: 0;

  display: grid;
  grid-template-columns: repeat(#{$grid-columns}, 1fr);
  grid-template-rows: auto;
  grid-gap: $grid-gutter-small;
  grid-auto-flow: row;

  @media #{$normal-up} {
    grid-gap: $grid-gutter;
  }
}

@mixin grid-item($grid-columns: $grid-columns) {
  transition: all ($transition-duration * 2) ease-in-out;

  grid-column: span $grid-columns;
  width: auto !important;
  margin: 0;

  @include last-child();
}

@mixin grid-item-generator($query) {
  $i: 1;
  @for $i from 1 through $grid-columns {
    .#{$query}-#{$i} {
      grid-column: span $i;
    }
  }
}

//generate default grid und grid-item
.grid {
  @include grid();
  //grid within grid
  .grid {
  }
}
.grid-item {
  @include grid-item();
}

//generate responsive grid-items
@include grid-item-generator(all);
@media #{$tiny-up} {
  @include grid-item-generator(tiny);
}
@media #{$small-up} {
  @include grid-item-generator(small);
}
@media #{$normal-up} {
  @include grid-item-generator(normal);
}
@media #{$medium-up} {
  @include grid-item-generator(medium);
}
@media #{$large-up} {
  @include grid-item-generator(large);
}
@media #{$xlarge-up} {
  @include grid-item-generator(xlarge);
}
@media #{$xxlarge-up} {
  @include grid-item-generator(xxlarge);
}
@media #{$xxxlarge-up} {
  @include grid-item-generator(xxxlarge);
}
