@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #LABELS
\*------------------------------------*/

.label {
  position: relative;
  //top: -0.1em;
  margin: 0 variables.$padding 0 0; //10px @ $tiny-font-size 12px
  padding: 0.25em 0.66667em; //3px 8px @ $tiny-font-size 12px
  font-size: variables.$tiny-font-size; //$body-font-size-tiny;
  @include mixins.letter-spacing(0.05em);
  //@include font-smoothing(antialiased);
  color: variables.$text-color;
  background: variables.$white;
  @include mixins.box-border(variables.$grey);
  border-radius: 1em;

  &.primary {
    color: variables.$white;
    background: variables.$primary-color;
    border-color: variables.$primary-color;
  }
  &.secondary {
    color: variables.$white;
    background: variables.$secondary-color;
    border-color: variables.$secondary-color;
  }
  &.tertiary {
    color: variables.$text-color;
    background: variables.$tertiary-color;
    border-color: variables.$tertiary-color;
  }

  &.success {
    color: variables.$success-color;
    //background: $success-color;
    border-color: variables.$success-color;
  }
  &.error,
  &.warning {
    color: variables.$error-color;
    border-color: variables.$error-color;
  }
  &.badge {
    @include mixins.font-heavy;
    color: variables.$white;
    background: variables.$error-color;
    border-color: variables.$error-color;
  }

  &.black {
    color: variables.$white;
    background: variables.$black;
    border: variables.$black;
  }
  &.white {
  }
}
