/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #LABELS
\*------------------------------------*/

.label {
  position: relative;
  //top: -0.1em;
  margin: 0 $padding 0 0; //10px @ $tiny-font-size 12px
  padding: 0.25em 0.66667em; //3px 8px @ $tiny-font-size 12px
  font-size: $tiny-font-size; //$body-font-size-tiny;
  @include letter-spacing(0.05em);
  //@include font-smoothing(antialiased);
  color: $text-color;
  background: $white;
  @include box-border($grey);
  border-radius: 1em;

  &.primary {
    color: $white;
    background: $primary-color;
    border-color: $primary-color;
  }
  &.secondary {
    color: $white;
    background: $secondary-color;
    border-color: $secondary-color;
  }
  &.tertiary {
    color: $text-color;
    background: $tertiary-color;
    border-color: $tertiary-color;
  }

  &.success {
    color: $success-color;
    //background: $success-color;
    border-color: $success-color;
  }
  &.error,
  &.warning {
    color: $error-color;
    border-color: $error-color;
  }
  &.badge {
    @include font-heavy;
    color: $white;
    background: $error-color;
    border-color: $error-color;
  }

  &.black {
    color: $white;
    background: $black;
    border: $black;
  }
  &.white {
  }
}
