@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
  &:link,
  &:visited {
    color: variables.$anchor-font-color;
    text-decoration: variables.$anchor-text-decoration;
    @include mixins.rollout;
  }
  &:hover {
    cursor: pointer;
    color: variables.$anchor-font-color-hover;
    @include mixins.rollover;
    span {
      cursor: pointer;
    }
  }
}

//textlink
a.textlink {
  &:link,
  &:visited {
    margin: 0;
    padding: 0 0.25em;
    color: variables.$white;
    background-color: variables.$anchor-font-color;
    border: variables.$border-width variables.$border-style transparent;
    border-radius: variables.$global-radius;
  }
  &:hover {
    color: variables.$anchor-font-color;
    background-color: variables.$white;
    border-color: variables.$anchor-font-color;
  }
}

//glossary
a.glossary {
  color: inherit;
  //Safari wants it like that
  text-decoration-color: variables.$brand;
  text-decoration-style: dotted;
  text-decoration-line: underline;
  &:link,
  &:visited {
    color: inherit;
    text-decoration-color: variables.$brand;
    text-decoration-style: dotted;
    text-decoration-line: underline;
  }
  &:hover {
    text-decoration-color: variables.$brand;
    text-decoration-style: solid;
    text-decoration-line: underline;
  }
}

//translink
a.translink {
  @extend .textlink;
  &:link,
  &:visited {
    color: variables.$trans-color;
    background-color: transparent;
  }
  &:hover {
    color: variables.$white;
    background-color: variables.$trans-color;
    border-color: variables.$trans-color;
  }
}

a.img {
  position: relative;
  display: inline-block;
  line-height: 0;
  transform: rotate(0); //strike against hover flicker

  &[href^="http:"],
  &[href^="https:"] {
    padding-left: 0;
    &:before {
      display: none;
      content: none;
    }
  }

  img {
    display: block;
    position: relative;
    margin: 0;
  }

  &:after {
    z-index: 5;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(variables.$brand, 0);
    @include mixins.rollout(all, variables.$transition-duration * 2);
  }

  &:hover {
    cursor: hand;
    img {
    }

    &:after {
      background-color: rgba(variables.$brand, 0.05);
      @include mixins.rollover(all, variables.$transition-duration * 2);
    }
  }
}

a.label {
  &:link,
  &:visited {
    border-color: variables.$anchor-font-color;
  }
  &:hover {
    border-color: variables.$anchor-font-color-hover;
  }
}

a.icon-link {
  @include mixins.letter-spacing;
  display: inline-block;
  &:before {
    top: 0.15em;
    left: 0;
    font-size: 2rem;
  }
  &.icon-arrow-left {
    &:hover,
    &:active {
      &:before {
        left: -(variables.$padding) * 0.5;
      }
    }
  }
  &.icon-arrow-up {
    &:hover,
    &:active {
      &:before {
        top: -(variables.$padding) * 0.5;
      }
    }
  }
  &.icon-arrow-right {
    &:before {
      left: auto;
      right: 0;
    }
    &:hover,
    &:active {
      &:before {
        right: -(variables.$padding) * 0.5;
      }
    }
  }
}

// from 202202
a[href^="http"][target*="_blank"]:not([class*="pure-button"]):not(
    [class*="sm-button"]
  ):not([class*="logo"]):not([class*="internal"]):not([class*="linkbox"]):not(
    [class*="avoid-external-icon"]
  ):not([class*="pp"]) {
  position: relative;
  padding-right: 1em;
  background: url("../images/pro/global/icon_external-link.svg") no-repeat 100%
    0;
  background-size: 0.75em 0.75em;
}

//from app.scss, until 202202
// a[href^="http"][target*="_blank"]:not([class*="pure-button"]):not([class*="sm-button"]):not([class*="logo"]):not([class*="internal"]):not([class*="linkbox"]):not([class*="avoid-external-icon"]) {
//   // display: block;
//   position: relative;
//   padding-right: 1.25em;
//   &:before {
//     // @mixin icon($type, $size: auto, $margin: auto, $color: auto, $top: auto, $shadow: none)
//     @include icon(external, $icon-font-size, 0, auto, 0, none);
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     right: 0;
//     width: 0.5em;
//     line-height: 0.5em;
//   }
// }
