@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #LISTS
\*------------------------------------*/

ul,
ol {
  margin: 0 0 variables.$margin-bottom variables.$list-side-margin;
  padding: 0;
  list-style-position: variables.$list-style-position;

  li {
    padding-left: variables.$list-side-padding;
  }

  &.disc {
    list-style-type: disc;
  }
  &.circle {
    list-style-type: circle;
  }
  &.square {
    list-style-type: square;
  }

  &.list-plain {
    @include mixins.list-plain;
  }
  &.list-inline {
    @include mixins.list-inline;
  }
  &.list-sidenav {
    @include mixins.list-sidenav;
  }

  @include mixins.last-child();
}

ol {
  margin-left: variables.$list-ordered-side-margin;
}

dl {
  margin-bottom: variables.$margin-bottom;
}
dt {
  @include mixins.font-bold;
}
dd {
  margin: 0 0 variables.$paragraph-margin-bottom 0;
}
