@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

$picto-height: 3rem;
$picto-height-plus: 3.25rem;
$picto-height-minus: 2.5rem;

img,
object,
embed,
video,
iframe,
figure {
  display: inline-block;
  height: auto;
  max-width: 100%;
  width: auto; /* for ie 8 */
  margin: 0 0 variables.$margin-bottom 0;
}

//fluidvids
.fluidvids {
}

//http://css-tricks.com/examples/SlideinCaptions
div.caption {
  p {
    margin-top: -(variables.$margin-bottom);
    margin-left: variables.$all-h-padding;
    margin-right: variables.$all-h-padding;
    font-size: variables.$small-font-size;
    color: variables.$grey;
  }
}

figure.caption {
  position: relative;
  overflow: hidden;
  line-height: 0;
  img {
    margin-bottom: 0;
  }
  figcaption {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -(variables.$margin-bottom);
    padding: variables.$all-v-padding variables.$all-h-padding;
    font-size: variables.$small-font-size;
    line-height: variables.$paragraph-line-height;
    color: variables.$grey;
    background-color: variables.$white;
    @include mixins.box-border;
    border-top: 0;
    opacity: 0;
    @include mixins.font-smoothing(antialiased);
    @include mixins.rollout();
    p {
      margin: 0;
      font-size: variables.$small-font-size;
      line-height: variables.$paragraph-line-height;
      color: variables.$grey;
      transform: translate3d(0, 50%, 0);
      @include mixins.rollout();
    }
  }
  &:hover {
    cursor: help;
    figcaption {
      bottom: 0;
      opacity: 1;
      @include mixins.rollover(all, variables.$transition-duration * 2);
      p {
        transform: translate3d(0, 0, 0);
        @include mixins.rollover(all, variables.$transition-duration * 2);
      }
    }
  }
}

.google-map {
  margin-bottom: variables.$margin-bottom;
  iframe {
    height: 50vh;
    width: 100%;
    margin-bottom: 0;
    border: none;
  }
}
