/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

$picto-height: 3rem;
$picto-height-plus: 3.25rem;
$picto-height-minus: 2.5rem;

img,
object,
embed,
video,
iframe,
figure {
  display: inline-block;
  height: auto;
  max-width: 100%;
  width: auto; /* for ie 8 */
  margin: 0 0 $margin-bottom 0;
}

//fluidvids
.fluidvids {
}

//http://css-tricks.com/examples/SlideinCaptions
div.caption {
  p {
    margin-top: -($margin-bottom);
    margin-left: $all-h-padding;
    margin-right: $all-h-padding;
    font-size: $small-font-size;
    color: $grey;
  }
}

figure.caption {
  position: relative;
  overflow: hidden;
  line-height: 0;
  img {
    margin-bottom: 0;
  }
  figcaption {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -$margin-bottom;
    padding: $all-v-padding $all-h-padding;
    font-size: $small-font-size;
    line-height: $paragraph-line-height;
    color: $grey;
    background-color: $white;
    @include box-border;
    border-top: 0;
    opacity: 0;
    @include font-smoothing(antialiased);
    @include rollout();
    p {
      margin: 0;
      font-size: $small-font-size;
      line-height: $paragraph-line-height;
      color: $grey;
      transform: translate3d(0, 50%, 0);
      @include rollout();
    }
  }
  &:hover {
    cursor: help;
    figcaption {
      bottom: 0;
      opacity: 1;
      @include rollover(all, $transition-duration * 2);
      p {
        transform: translate3d(0, 0, 0);
        @include rollover(all, $transition-duration * 2);
      }
    }
  }
}

.google-map {
  margin-bottom: $margin-bottom;
  iframe {
    height: 50vh;
    width: 100%;
    margin-bottom: 0;
    border: none;
  }
}
