/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #TEXT
\*------------------------------------*/

//absatz
p {
  margin: $paragraph-margin-top 0 $paragraph-margin-bottom 0;
  font-size: $paragraph-font-size;
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
  font-style: $paragraph-font-style;
  line-height: $paragraph-line-height;
  color: $paragraph-font-color;
}

//headlines
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: $header-margin-top 0 $header-margin-bottom 0;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-style: $header-font-style;
  line-height: $header-line-height;
  color: $header-font-color;
}

.subheader {
  //margin: $subheader-margin-top 0 $subheader-margin-bottom 0;
  //font-family: $subheader-font-family;
  font-weight: $subheader-font-weight;
  //font-style: $subheader-font-style;
  //line-height: $subheader-line-height;
  //color: $subheader-font-color;
}

h1,
.h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  color: $h1-font-color;
}
h2,
.h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  color: $h2-font-color;
}
h3,
.h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  color: $h3-font-color;
}
h4,
.h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  color: $h4-font-color;
}
h5,
.h5 {
  margin-bottom: 0;
  font-size: $h5-font-size;
  line-height: $h5-line-height;
  color: $h5-font-color;
  @include letter-spacing;
}
h6,
.h6 {
  margin-bottom: 0;
  font-size: $h6-font-size;
  line-height: $h6-line-height;
  color: $h6-font-color;
  @include letter-spacing;
}

.light,
.duenn {
  @include font-light;
}
.normal {
  @include font-normal;
}
b,
strong,
.bold,
.fett {
  @include font-bold;
}
.heavy {
  @include font-heavy;
}
.headline {
  @include font-header;
}

i,
em,
.italic {
  @include font-italic;
}

.monospace {
  @include font-monospace;
}
.letterspace {
  @include letter-spacing;
}
.uppercase {
  @include uppercase;
}

.tiny {
  font-size: $tiny-font-size; //$body-font-size-tiny;
  @include letter-spacing;
}
small,
.small,
.klein,
sub,
sup {
  font-size: $small-font-size; //$body-font-size-small;
}
.large {
  font-size: $large-font-size; //$body-font-size-large;
}
.xlarge {
  font-size: $xlarge-font-size; //$body-font-size-xlarge;
}

blockquote {
  margin: 0 0 $margin-bottom 0;
  padding: $blockquote-padding;
  color: $blockquote-font-color;
  background-color: $blockquote-background-color;
  border: $blockquote-border-size $blockquote-border-style
    $blockquote-border-color;
  @include last-child;
  p + cite {
    display: block;
    margin-top: -$paragraph-margin-bottom;
  }
}
cite {
  font-size: $blockquote-cite-font-size;
  color: $blockquote-cite-font-color;
}

sub,
sup {
  line-height: 0;
}

address {
  margin: 0 0 $margin-bottom 0;
  font-style: normal;
}
dfn,
var {
  font-family: $header-font-family;
}
var {
  @include font-monospace;
  font-style: normal;
}
kbd {
  padding: 0 0.25em;
  @include font-normal;
  background: $white;
  @include box-border;
  @include box-shadow();
}

ins,
mark {
  padding: 0 0.1em;
  text-decoration: none;
}
ins {
  // color: darken($green, 20%);
  background-color: lighten($green, 52%);
}
mark {
  background-color: $yellow;
}

del {
  // color: darken($red, 20%);
  color: $grey;
  background-color: lighten($red, 46%);
}

code,
samp {
  padding: 0 0.25em 0 0.5em;
  @include font-monospace;
  color: $text-color;
  background-color: $grey-very-light;
  border-left: $bar-width solid $text-color;
}

abbr {
  @include font-feature-settings("smcp" 1);
  color: $anchor-font-color;
  border: none;
  &:hover {
    color: $anchor-font-color-hover;
  }
}

//focus https://css-tricks.com/the-focus-visible-trick/
//keyboard
:focus-visible {
  @include keyboard-focus();
}
//mouse, touch, stylus
:focus:not(:focus-visible) {
  outline: none;
}

//auswahl
::-moz-selection {
  background: $primary-color;
  color: $white;
  text-shadow: none;
}
::selection {
  background: $primary-color;
  color: $white;
  text-shadow: none;
}
