@use "sass:color";

@use "../abstracts/variables";
@use "../abstracts/mixins";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #TEXT
\*------------------------------------*/

//absatz
p {
  margin: variables.$paragraph-margin-top 0 variables.$paragraph-margin-bottom 0;
  font-size: variables.$paragraph-font-size;
  font-family: variables.$paragraph-font-family;
  font-weight: variables.$paragraph-font-weight;
  font-style: variables.$paragraph-font-style;
  line-height: variables.$paragraph-line-height;
  color: variables.$paragraph-font-color;
}

//headlines
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: variables.$header-margin-top 0 variables.$header-margin-bottom 0;
  font-family: variables.$header-font-family;
  font-weight: variables.$header-font-weight;
  font-style: variables.$header-font-style;
  line-height: variables.$header-line-height;
  color: variables.$header-font-color;
}

.subheader {
  //margin: $subheader-margin-top 0 $subheader-margin-bottom 0;
  //font-family: $subheader-font-family;
  font-weight: variables.$subheader-font-weight;
  //font-style: $subheader-font-style;
  //line-height: $subheader-line-height;
  //color: $subheader-font-color;
}

h1,
.h1 {
  font-size: variables.$h1-font-size;
  line-height: variables.$h1-line-height;
  color: variables.$h1-font-color;
}
h2,
.h2 {
  font-size: variables.$h2-font-size;
  line-height: variables.$h2-line-height;
  color: variables.$h2-font-color;
}
h3,
.h3 {
  font-size: variables.$h3-font-size;
  line-height: variables.$h3-line-height;
  color: variables.$h3-font-color;
}
h4,
.h4 {
  font-size: variables.$h4-font-size;
  line-height: variables.$h4-line-height;
  color: variables.$h4-font-color;
}
h5,
.h5 {
  margin-bottom: 0;
  font-size: variables.$h5-font-size;
  line-height: variables.$h5-line-height;
  color: variables.$h5-font-color;
  @include mixins.letter-spacing;
}
h6,
.h6 {
  margin-bottom: 0;
  font-size: variables.$h6-font-size;
  line-height: variables.$h6-line-height;
  color: variables.$h6-font-color;
  @include mixins.letter-spacing;
}

.light,
.duenn {
  @include mixins.font-light;
}
.normal {
  @include mixins.font-normal;
}
b,
strong,
.bold,
.fett {
  @include mixins.font-bold;
}
.heavy {
  @include mixins.font-heavy;
}
.headline {
  @include mixins.font-header;
}

i,
em,
.italic {
  @include mixins.font-italic;
}

.monospace {
  @include mixins.font-monospace;
}
.letterspace {
  @include mixins.letter-spacing;
}
.uppercase {
  @include mixins.uppercase;
}

.tiny {
  font-size: variables.$tiny-font-size; //$body-font-size-tiny;
  @include mixins.letter-spacing;
}
small,
.small,
.klein,
sub,
sup {
  font-size: variables.$small-font-size; //$body-font-size-small;
}
.large {
  font-size: variables.$large-font-size; //$body-font-size-large;
}
.xlarge {
  font-size: variables.$xlarge-font-size; //$body-font-size-xlarge;
}

blockquote {
  margin: 0 0 variables.$margin-bottom 0;
  padding: variables.$blockquote-padding;
  color: variables.$blockquote-font-color;
  background-color: variables.$blockquote-background-color;
  border: variables.$blockquote-border-size variables.$blockquote-border-style
    variables.$blockquote-border-color;
  @include mixins.last-child;
  p + cite {
    display: block;
    margin-top: -(variables.$paragraph-margin-bottom);
  }
}
cite {
  font-size: variables.$blockquote-cite-font-size;
  color: variables.$blockquote-cite-font-color;
}

sub,
sup {
  line-height: 0;
}

address {
  margin: 0 0 variables.$margin-bottom 0;
  font-style: normal;
}
dfn,
var {
  font-family: variables.$header-font-family;
}
var {
  @include mixins.font-monospace;
  font-style: normal;
}
kbd {
  padding: 0 0.25em;
  @include mixins.font-normal;
  background: variables.$white;
  @include mixins.box-border;
  @include mixins.box-shadow();
}

ins,
mark {
  padding: 0 0.1em;
  text-decoration: none;
}
ins {
  background-color: color.adjust(variables.$green, $lightness: 52%);
}
mark {
  background-color: variables.$yellow;
}

del {
  color: variables.$grey;
  background-color: color.adjust(variables.$red, $lightness: 46%);
}

code,
samp {
  padding: 0 0.25em 0 0.5em;
  @include mixins.font-monospace;
  color: variables.$text-color;
  background-color: variables.$grey-very-light;
  border-left: variables.$bar-width solid variables.$text-color;
}

abbr {
  @include mixins.font-feature-settings("smcp" 1);
  color: variables.$anchor-font-color;
  border: none;
  &:hover {
    color: variables.$anchor-font-color-hover;
  }
}

//focus https://css-tricks.com/the-focus-visible-trick/
//keyboard
:focus-visible {
  @include mixins.keyboard-focus();
}
//mouse, touch, stylus
:focus:not(:focus-visible) {
  outline: none;
}

//auswahl
::-moz-selection {
  background: variables.$primary-color;
  color: variables.$white;
  text-shadow: none;
}
::selection {
  background: variables.$primary-color;
  color: variables.$white;
  text-shadow: none;
}
