@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../atoms/labels";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #TOOLTIPS
\*------------------------------------*/

// until 202112
// https://atomiks.github.io/tippyjs/

// .tippy-tooltip.custom-theme {
//   @extend .label;
//   margin: 0;
//   background: rgba($white, 0.9);
//   //@include box-shadow;
// }

// .tippy-tooltip.custom-html-theme {
//   padding: $padding;
//   color: $text-color;
//   background: rgba($white, 0.9);
//   @include box-border;
//   border-radius: 0;
//   // @include box-shadow;
//   .tippy-content {
//     @include last-child;
//   }
// }

// from 202112
// https://atomiks.github.io/tippyjs/v6/themes/

// .tippy-box[data-theme~='albina'] {
//   @extend .label;
//   margin: 0;
//   background: $white;//rgba($white, 0.9);
//   .tippy-content {
//     line-height: 1.2;
//     @include last-child;
//   }
// }

// .tippy-box[data-theme~='albina-html'] {
//   padding: $padding * 2;
//   color: $text-color;
//   background: $white;//rgba($white, 0.9);
//   @include box-border;
//   border-radius: 0;
//   .tippy-content {
//     @include last-child;
//   }
// }

$tooltip-width: 380px;
$tooltip-max-width: 80vw;
$tooltip-max-height: 40vh;

// from 202205
.tooltip-container {
  position: absolute;
  z-index: 1000000;

  // width: $tooltip-width;
  // max-width: $tooltip-max-width;
  max-height: $tooltip-max-height;

  transition: all variables.$transition-duration;

  // overflow: hidden;
}
.tooltip-inner {
  position: relative;
  top: 0;
  left: 0;

  @extend .label;
  margin: 0;

  font-weight: variables.$body-font-weight;
  font-style: variables.$body-font-style;
  white-space: nowrap;

  color: variables.$text-color;
  background: variables.$white;
  @include mixins.box-border;
  @include mixins.box-shadow;
}
.tooltip-inner-html {
  @extend .tooltip-inner;

  width: $tooltip-width;
  max-width: $tooltip-max-width;
  max-height: $tooltip-max-height;

  overflow: auto;

  padding: 0;

  white-space: normal;

  @include mixins.box-shadow(0.2);

  // &:after {
  //   content: "";
  //   position: absolute;
  //   // top: calc(#{$tooltip-max-height} - #{$padding} * 1.5);
  //   bottom: 0;
  //   width: 100%;
  //   height: $padding * 1.5;
  //   border-bottom-left-radius: 1em;
  //   border-bottom-right-radius: 1em;
  //   background: linear-gradient(rgba($white, 0), rgba($white, 1));
  // }
}
.tooltip-content {
  display: block;
  top: 0;
  left: 0;
  line-height: 1.2;

  h3,
  p {
    margin: 0 variables.$padding variables.$padding variables.$padding;
    font-size: variables.$tiny-font-size;
    &:first-child {
      margin-top: variables.$padding;
    }
  }
  img {
    margin: 0 0 variables.$padding 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
