<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        Modelling
      </div>

      <div class="card-block">
        <div class="global-bar-item global-bar-item-source">
          <p-multiSelect
          placeholder="{{ 'admin.observations.selectSources.placeholder' | translate }}"
          [options]="allSources"
          optionLabel="name"
          optionValue="id"
          [maxSelectedLabels]="0"
          (onChange)="onDropdownSelect('sources', $event)"
          ></p-multiSelect>
        </div>
        <button
          type="button"
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="setShowMap()"
        >
          <i class="fa fa-map"></i>
          {{ "zamg.map" | translate }}
        </button>
        <img
          *ngIf="selectedModelPoint"
          [src]="selectedModelPoint.plotUrl"
          class="img-fluid"
        />
        <div
          id="mapDiv"
          #mapDiv
          style="height: 500px; margin-top: 5px"
          [ngStyle]="{'display': (showMap ? 'block': 'none')}"></div>
      </div>
    </div>
  </div>
</div>
