<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        Modelling
      </div>

      <div class="card-block">
        <div class="global-bar-item global-bar-item-source">
          <p-multiSelect
          placeholder="{{ 'admin.observations.selectSources.placeholder' | translate }}"
          [options]="allSources"
          optionLabel="name"
          optionValue="id"
          [maxSelectedLabels]="0"
          (onChange)="onDropdownSelect('sources', $event)"
          ></p-multiSelect>
        </div>
        <div id="mapDiv" #mapDiv style="height: 500px; margin-top: 5px"></div>
      </div>
    </div>
  </div>
</div>
