<div class="grid">
	<div class="grid-item all-12 tiny-6 normal-3 bg-box">
		<p>.bg-box <a href="">Link</a></p>
	</div>
	<div class="grid-item all-12 tiny-6 normal-3 bg-brand">
		<p>.bg-brand <a href="">Link</a></p>
	</div>
	<div class="grid-item all-12 tiny-6 normal-3 bg-subtle">
		<p>.bg-subtle  <a href="">Link</a></p>
	</div>
	
	
	<div class="grid-item all-12 tiny-6 normal-3 bg-gradient-snow">
		<p>.bg-gradient-snow <a href="">Link</a></p>
	</div>
	<div class="grid-item all-12 tiny-6 normal-3 bg-gradient-brand">
		<p>.bg-gradient-brand <a href="">Link</a></p>
	</div>
	
	
	<div class="grid-item all-12 tiny-6 normal-3 bg-warning-level-1">
		<p>.bg-warning-level-1 <a href="">Link</a></p>
	</div>
	<div class="grid-item all-12 tiny-6 normal-3 bg-warning-level-2">
		<p>.bg-warning-level-2 <a href="">Link</a></p>
	</div>
	<div class="grid-item all-12 tiny-6 normal-3 bg-warning-level-3">
		<p>.bg-warning-level-3 <a href="">Link</a></p>
	</div>
	<div class="grid-item all-12 tiny-6 normal-3 bg-warning-level-4">
		<p>.bg-warning-level-4 <a href="">Link</a></p>
	</div>
	<div class="grid-item all-12 tiny-6 normal-3 bg-warning-level-5">
		<p>.bg-warning-level-5 <a href="">Link</a></p>
	</div>
	
	<div class="grid-item all-12 tiny-6 normal-3 bg-colorbar">
		<p>.bg-colorbar <a href="">Link</a></p>
	</div>
</div>