<div class="layout-map">
  <div class="section-map qfa-map" id="qfaMap" #qfaMap></div>
</div>

<p-dialog #qfaDialog (onShow)="qfaDialog.maximize()" [(visible)]="qfaPopupVisible"
  [modal]="true" [style]="{ width: '80vw' }" [closeOnEscape]="true" [dismissableMask]="true" [maximizable]="true">
  <div *ngIf="displaySelectedQfa">
    <p-header>
      <h5>
        {{selectedQfa.metadata?.location?.split(" ").pop().toUpperCase()}}
        {{date}}
      </h5>
    </p-header>
    <div (click)="displaySelectedQfa = false" class="back-button">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="back-icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
      </span>
      <span>Zurück</span>
    </div>
    <div id="qfa_div">
      <table *ngIf="selectedQfa.parameters" class="table table-sm qfatable">
        <tr>
          <th>
            Tag
          </th>
          <th *ngFor="let date of dates" class="text-center">
            <span>
              {{date}}
            </span>
          </th>
        </tr>
        <tr>
          <th>Zeit</th>
          <th *ngFor="let _ of dates" class="table-entry">
            <div>
              <span>00</span>
              <span>06</span>
              <span>12</span>
              <span>18</span>
            </div>
          </th>
        </tr>
        <tr *ngFor="let param of parameters" [ngClass]="[parameterClasses[param]]">
          <td class="header">{{param}}</td>
          <td *ngFor="let day of selectedQfa.parameters[param]" class="table-entry" [ngClass]="[parameterClasses[param]]">
            <div>
              <span>{{day["00"]}}</span>
              <span>{{day["06"]}}</span>
              <span>{{day["12"]}}</span>
              <span>{{day["18"]}}</span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="!displaySelectedQfa">
    <div *ngFor="let run of selectedFiles" (click)="showRun(run)" class="file-wrapper">
      <span>{{run}}</span>
    </div>
  </div>
</p-dialog>
