<div class="layout-map">
  <div class="section-map qfa-map" id="qfaMap" #qfaMap></div>
</div>

<p-dialog #qfaDialog (onShow)="qfaDialog.maximize()" [(visible)]="qfaPopupVisible"
  [modal]="true" [style]="{ width: '80vw' }" [closeOnEscape]="true" [dismissableMask]="true" [maximizable]="true">
  <div *ngIf="displaySelectedQfa">
    <p-header>
      <span>
        {{selectedQfa.metadata?.location?.split(" ").pop().toUpperCase()}}
        {{date}}
      </span>
    </p-header>
    <div id="qfa_div">
      <table *ngIf="selectedQfa.parameters" class="table table-sm qfatable">
        <tr>
          <td>
            Tag
          </td>
          <td *ngFor="let date of dates">
            <span>
              {{date}}
            </span>
          </td>
        </tr>
        <tr>
          <td>Zeit</td>
          <td *ngFor="let _ of dates" class="table-entry">
            <div>
              <span>00</span>
              <span>06</span>
              <span>12</span>
              <span>18</span>
            </div>
          </td>
        </tr>
        <tr *ngFor="let param of parameters" [ngClass]="[parameterClasses[param]]">
          <td class="header">{{param}}</td>
          <td *ngFor="let day of selectedQfa.parameters[param]" class="table-entry" [ngClass]="[parameterClasses[param]]">
            <div>
              <span>{{day["00"]}}</span>
              <span>{{day["06"]}}</span>
              <span>{{day["12"]}}</span>
              <span>{{day["18"]}}</span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="!displaySelectedQfa">
    <div *ngFor="let run of selectedFiles" (click)="showRun(run)" class="file-wrapper">
      <span>{{run}}</span>
    </div>
  </div>
</p-dialog>
