<div class="layout-map">
  <div class="section-map qfa-map" id="qfaMap" #qfaMap></div>
</div>

<p-dialog #qfaDialog (onShow)="qfaDialog.maximize()" [(visible)]="qfaPopupVisible"
  [modal]="true" [style]="{ width: '80vw' }" [closeOnEscape]="true" [dismissableMask]="true" [maximizable]="true">
  <!-- List of runs -->
  <div *ngIf="!displaySelectedQfa">
    <h5>
      {{filenamesService.getCityName(selectedFiles)}}
    </h5>
    <div *ngFor="let file of selectedFiles" (click)="showRun(file, 0)" class="file-wrapper">
      <span>{{file.date}} {{file.hours}}:{{file.minutes}}</span>
    </div>
  </div>

  <div *ngIf="displaySelectedQfa">
    <p-header>
      <h5>
        {{selectedQfa.metadata?.location?.split(" ").pop().toUpperCase()}}
        {{date}}
      </h5>
    </p-header>
    <div class="button-wrapper">
      <div (click)="displaySelectedQfa = false" class="back-button">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="back-icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
          </svg>
        </span>
        <span>{{"qfa.back" | translate}}</span>
      </div>
      <div class="day-button-wrapper">
        <span
          class="day-button"
          [ngClass]="selectedFile.startDay === '00' ? 'active-day' :''"
          (click)="showRun(filenamesService.changeDay(selectedFile, '00', '02'), 0)">
          {{"qfa.day" | translate}} 0-2
        </span>
        <span
          class="day-button"
          [ngClass]="selectedFile.startDay === '03' ? 'active-day' :''"
          (click)="showRun(filenamesService.changeDay(selectedFile, '03', '05'), 1)">
          {{"qfa.day" | translate}} 3-5
        </span>
        <span
          class="day-button"
          [ngClass]="selectedFile.startDay === '06' ? 'active-day' :''"
          (click)="showRun(filenamesService.changeDay(selectedFile, '06', '08'), 2)">
          {{"qfa.day" | translate}} 6-8
        </span>
      </div>
    </div>

    <div id="qfa_div">
      <table *ngIf="selectedQfa.parameters" class="table table-sm qfatable">
        <tr>
          <th>{{"qfa.day" | translate}}</th>
          <th *ngFor="let date of dates" class="text-center">
            <span>
              {{date}}
            </span>
          </th>
        </tr>
        <tr>
          <th>{{"qfa.time" | translate}}</th>
          <th *ngFor="let _ of dates" class="table-entry">
            <div>
              <span>00</span>
              <span>06</span>
              <span>12</span>
              <span>18</span>
            </div>
          </th>
        </tr>
        <tr *ngIf="isLatestRun">
          <td class="header">DUST</td>
          <td *ngFor="let day of dustParams['innsbruck'][selectedDayIndex]" class="table-entry">
            <div>
              <span *ngFor="let param of day" [ngStyle]="{'background-color': dustParamService.dustToColor(param)}">
                {{param}}
              </span>
            </div>
          </td>
        </tr>
        <tr *ngFor="let param of parameters" [ngClass]="[parameterClasses[param]]">
          <td class="header">{{param}}</td>
          <td *ngFor="let day of selectedQfa.parameters[param] | keyvalue" class="table-entry" [ngClass]="[parameterClasses[param]]">
            <div *ngIf="!['W500', 'W700', 'W850'].includes(parameterClasses[param])">
              <span *ngIf="param === 'QANmax' && day.key === '0'">---</span>
              <span *ngIf="param !== 'QANmax'" [ngClass]="getCellClass(param, day.value['00'])">{{day.value["00"]}}</span>
              <span [ngClass]="getCellClass(param, day.value['06'])">{{day.value["06"]}}</span>
              <span [ngClass]="getCellClass(param, day.value['12'])">{{day.value["12"]}}</span>
              <span [ngClass]="getCellClass(param, day.value['18'])">{{day.value["18"]}}</span>
            </div>
            <div *ngIf="['W500', 'W700', 'W850'].includes(parameterClasses[param])">
              <span>{{getWParam(day.value["00"])}}</span>
              <span>{{getWParam(day.value["06"])}}</span>
              <span>{{getWParam(day.value["12"])}}</span>
              <span>{{getWParam(day.value["18"])}}</span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</p-dialog>
