 #qfa_div .valid td {
  border-bottom: 1px solid!important;
 }

 #qfa_div .RF_925 td {
  border-bottom: 1px solid!important;
 }

 #qfa_div .N_CU td {
  border-bottom: 1px solid!important;
 }

 #qfa_div .WX_CUF td {
  border-bottom: 1px solid!important;
 }

 #qfa_div .W850 td {
  border-bottom: 1px solid!important;
 }

 #qfa_div .RR_24h td {
  border-bottom: 1px solid!important;
 }

 #qfa_div .FROST td {
  border-bottom: 1px solid!important;
 }

 #qfa_div .QANmax td {
  border-bottom: 1px solid!important;
 }

 #qfa_div .h_0 {
  border-left: 1px solid!important;
 }

 #qfa_div td.QAO_700, #qfa_div td.RR {
  font-weight: bolder!important;
 }

 #qfa_div .QAO_700 td {
  border-top: 1px solid!important;
  border-bottom: 1px solid!important;
 }

 #qfa_div td.T_1000m.h_12, #qfa_div td.T_2000m.h_12, #qfa_div td.T_3000m.h_12, #qfa_div td.T_4000m.h_12 {
  border: 1px solid!important;
 }

 #qfa_div div.mosdata {
  float: left!important;
 }

 #qfa_div div.mosvalues {
  font-size: 14px!important;
 }

 #qfa_div div.mosmodels {
  font-size: 10px!important;
  display: none!important;
 }

 #qfa_div td.mostmin, #qfa_div td.mostmax {
  min-width: 80px!important;
 }

 #qfa_div td.mostmin {
  background-color: #81BEF7!important;
 }

 #qfa_div td.mostmax {
  background-color: #F78181!important;
 }

 #qfa_div td.mosrrr, #qfa_div td.mosrrrpop {
  min-width: 40px!important;
  max-width: 40px!important;
 }

 #qfa_div tr.dark {
  background-color: #DDDDDD!important;
 }

 #qfa_div table.clima td {
  min-width: 85px!important;
  max-width: 85px!important;
 }
