
/* - Editor ---------------------------------------------------------------------------------------------------------------------------- */

div.textcat,
div.textcatRO			{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #2e2e2e; text-align:left; font-weight:bold; background-color: none; height: auto; min-heigth: 20px; overflow:auto; padding:2px }
div.tch:hover			{ background-color: rgba(208,208,208, 0.2); }
div.textcat>p,
div.textcatRO>p			{ margin:auto; padding:auto }

.textcat ul.sortable 			{ border-width: 1px; border-style: solid; border-color: rgba(208,208,208, 0.2); padding: 5px 5px 5px 15px;}
.textcat li 					{ font-weight:normal; color: #2e2e2e; background-color: rgba(208,208,208, 0.2); margin: 1px; padding: 2px; }
.textcat li:hover				{ background-color: rgba(208,208,208, 0.5); }
.textcat li.selected			{ color: white; background-color: rgba(0,0,0, 0.5); }
.textcat span.empty,
.textcatRO span.empty			{ color: #a4a4a4; font-style:italic; }

div.textcatRO:hover 	{ background-color: rgba(208,208,208, 0.2) }
div.textcatRO li		{ display: inline; margin: 0; padding: 0 }
div.textcatRO li:hover 	{ background-color: rgba(208,208,208, 0.5) }
div.textcatRO>p			{ margin: 4px 0px 4px 0px }

/* - Joker-Sentence -------------------------------------------------------------------------------------------------------------------- */

div#dialog_jokerSentenceArea { margin: 5px 0 5px 0;}

div#jokerSentenceForm { font-size: 12px; }

div#jokerSentenceForm div.saveExit {float: right;}
div#jokerSentenceForm div.saveExit img {margin-left: 10px;}

div#jokerSentenceForm fieldset {width: 730px;}
div#jokerSentenceForm fieldset .validateTips { border: 1px solid transparent; padding: 0.3em; }
div#jokerSentenceForm fieldset legend {font-size: 1.1em;}
div#jokerSentenceForm fieldset .jokerSentenceForm_input {margin:5px 0 5px 0;}
div#jokerSentenceForm fieldset input { display:block; width: 700px; margin: 0 0 0 30px;}
div#jokerSentenceForm fieldset label {float: left; width: 30px;}


/* - Catalog --------------------------------------------------------------------------------------------------------------------------- */

#dialog							{ font-family: Arial, Helvetica, sans-serif; font-size: 12px !important}
#dialog div						{ color:black; }
#dialog div.scrollable			{ background-color:white; max-height:200px; height:auto; overflow:auto }
#dialog span.filter				{ background-color:orange; }
#dialog span.status				{ font-size:8px; font-weight:normal; }
#dialog img						{ vertical-align:top; }
#dialog input#filterInput		{ width:75%; }

#sTable 						{ border-collapse:collapse; }
#sTable .optionTable			{ font-size:11px; font-weight:normal; text-align:left; }
#sTable .phraseOptionTable		{ font-size:11px; font-weight:normal; text-align:left; }
#sTable td						{ font-size:11px; height: 17px; padding: 2px; border-style: none; background-color: white; font-weight:normal; text-align:left; }
#sTable td.optionTitle			{ font-size:11px; font-weight:bold }
#sTable td.phrase				{ background-color: #F0F0F0 }
#sTable td.phrase:hover			{ background-color: #D0D0D0 }            
#sTable td.subPhrase			{ background-color: #FFFFE3; padding-left: 10px }
#sTable td.subPhrase:hover		{ background-color: #F4EE9F }
#sTable td.singleOption			{ background-color: #FFFFFF }
#sTable td.openOption			{ background-color: #CEE5E9; font-style:italic; }
#sTable td.selectedOption		{ background-color: #B0FFB0 }

#sTable tr.option				{ vertical-align: top; }
#sTable tr.sentence				{ border-width: 2px; border-style: solid; border-color: grey; margin-bottom:4px; vertical-align: top;}
#sTable td.sentence				{ border-width: 1px; border-style: solid; }

#dialog span.search				{ font-size:100%; color:black; font-weight:bold;}
#dialog span.completion			{ color:grey; font-weight:bold; }
#dialog input.search			{ font-size:100%; border-style: solid; color: red; font-weight:bold; background-color: transparent; }
#dialog tr.search				{ border-width: 2px; border-style: solid; border-color: grey; margin-bottom:4px; vertical-align: top;}

#sTable span.pm					{ font-style:normal }
#sTable span.singleOption		{ background-color: #000000 }
#sTable span.option				{ background-color: #EFFFCE }
#sTable span.optionHighlighted	{ background-color: #FFFFA8 }
#sTable span.optionClicked		{ background-color: #FFDDA8 }
#sTable span.sentenceOk			{ background-color: #000000 }
#sTable span.sentenceNok		{ background-color: #FE9A2E }

#sTable span.subOption0:hover	{ background-color:#79C679 }
#sTable span.subOption1:hover	{ background-color:#FE9A2E; color:#FFFFFF; text-decoration:none; }
#sTable span.subOptionSelected	{ background-color:#79C679; color:#FFFFFF;  }
