<div class="table-container">
	<table class="{{ tableClass }}">
		<thead>
			<tr>
				<th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Year</th>
				<th>Month</th>
			</tr>
		</thead>
		<tbody>
			{{# listItems.three }}
			<tr>
				<td>{{ count }}</td>
				<td>{{ name.first }}</td>
				<td>{{ name.last }}</td>
				<td>{{ year.long }}</td>
				<td>{{ month.long }}</td>
			</tr>
			{{/ listItems.three }}
		</tbody>
	</table>
</div>