<div class="grid">
	<div class="grid-item normal-6">
		<p>{{{ excerpt.long }}}</p>
		<p>{{{ excerpt.short }}}</p>
		<p>
		<q>I am a quote.</q><br />
		<cite>I am the source</cite></p>
		<p><pre>I am preformatted text
@ A B C D E F G H I J K L M N O</pre></p>
		</p>
	</div>
	<div class="grid-item normal-6">
		<p><span class="light">I am light text.</span><br />
		I am normal text.<br />
		<span class="normal">So am I.</span><br />
		<strong>I am strong text.</strong><br />
		<b>I am bold text.</b><br />
		<span class="heavy">I am heavy text.</span><br />
		<span class="headline">I am headline text.</span><br />
		<em>I am emphasized text.</em><br />
		<i>I am italics text.</i><br />
		<u>I am underlined text.</u><br />
		<s>I am crossed out text.</s><br />
		<span class="monospace">I am monospace text.</span><br />
		<span class="letterspace">I am letterspace text.</span><br />
		<span class="tiny">I am tiny text.</span><br />
		<small>I am small text.</small><br />
		<span class="large">I am large text.</span><br />
		<span class="xlarge">I am xlarge text.</span><br />
		I am <sup>superscripted</sup> and <sub>subscripted</sub> text<br />
		I am an <abbr title="Abbreviation" class="tooltip">abbr</abbr>.<br />
		<del>I am deleted text.</del><br />
		<kbd>I am inputted text.</kbd><br />
		<ins>I am inserted text.</ins><br />
		<mark>I am marked text.</mark><br />
		<code>I am code.</code><br />
		<samp>I am a sample.</samp><br />
		<dfn>I am a definition.</dfn><br />
		<var>I am a variable.</var></p>
	</div>
</div>