<form class="{{ formClass }} pure-form-aligned">
	{{> atoms-legend(legendText: "Aligned form") }}
	<div class="pure-control-group">
		{{> atoms-label(labelText: "User") }}
		{{> atoms-input(inputPlaceholder: "User") }}
	</div>
	<div class="pure-control-group">
		{{> atoms-label(labelText: "Password") }}
		{{> atoms-input(inputType: "password", inputPlaceholder: "Password", inputText: "Password") }}
	</div>
	<div class="pure-control-group">
		<label>Ausgefüllt?</label>
		{{> atoms-submit(buttonText: "Submit") }}
	</div>
</form>