<input type="range" id="input" class="{{ inputClass }}" size="auto"

{{# inputStep }}
step="{{ inputStep }}"
{{/ inputStep }}

{{# inputRangeMin }}
min="{{ inputRangeMin }}"
{{/ inputRangeMin }}

{{# inputRangeMax }}
max="{{ inputRangeMax }}"
{{/ inputRangeMax }}

/>