<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <tabset>
          <tab heading="{{'admin.server-configuration.title' | translate}}">
            <app-servers-configuration></app-servers-configuration>
          </tab>
          <tab heading="{{'admin.region-configuration.title' | translate}}">
            <app-regions-configuration></app-regions-configuration>
          </tab>
          <tab heading="{{'admin.users.title' | translate}}">
            <app-users></app-users>
          </tab>
          <tab heading="{{'admin.statistics.title' | translate}}">
            <app-statistics></app-statistics>
          </tab>
          <tab heading="{{'admin.observations.title' | translate}}">
            <app-observations></app-observations>
          </tab>
          <tab heading="{{'admin.blog.title' | translate}}">
            <app-blog></app-blog>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
