<div class="card">
  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
  <div class="card-header">
    <i class="fa fa-warning"></i>{{ "bulletins.table.publicationStatusDialog.title.prod" | translate }}
  </div>
  <div class="card-block" style="padding: 0">
    <table class="table table-bordered table-condensed" style="margin-bottom: 0">
      <thead>
        <tr>
          <th>{{ "admin.blog.language.title" | translate }}</th>
          <th>{{ regionsService.getRegionName("AT-07") }}</th>
          <th>{{ regionsService.getRegionName("IT-32-BZ") }}</th>
          <th>{{ regionsService.getRegionName("IT-32-TN") }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><label class="col-form-label">{{ "admin.blog.language.de" | translate }}</label></td>
          <td>
            <button style="margin-right: 10px" type="button" class="btn btn-primary btn-sm" (click)="sendLatestBlogPost($event, 'AT-07', 'de', false)" data-toggle="tooltip" title="{{ 'admin.blog.all.tooltip' | translate }}"><i class="fa fa-share"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostEmail($event, 'AT-07', 'de', false)" data-toggle="tooltip" title="{{ 'admin.blog.email.tooltip' | translate }}"><i class="fa fa-envelope"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostTelegram($event, 'AT-07', 'de', false)" data-toggle="tooltip" title="{{ 'admin.blog.telegram.tooltip' | translate }}"><i class="fa fa-telegram"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostPush($event, 'AT-07', 'de', false)" data-toggle="tooltip" title="{{ 'admin.blog.push.tooltip' | translate }}"><i class="fa fa-bell"></i></button>
          </td>
          <td>
            <button style="margin-right: 10px" type="button" class="btn btn-primary btn-sm" (click)="sendLatestBlogPost($event, 'IT-32-BZ', 'de', false)" data-toggle="tooltip" title="{{ 'admin.blog.all.tooltip' | translate }}"><i class="fa fa-share"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostEmail($event, 'IT-32-BZ', 'de', false)" data-toggle="tooltip" title="{{ 'admin.blog.email.tooltip' | translate }}"><i class="fa fa-envelope"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostTelegram($event, 'IT-32-BZ', 'de', false)" data-toggle="tooltip" title="{{ 'admin.blog.telegram.tooltip' | translate }}"><i class="fa fa-telegram"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostPush($event, 'IT-32-BZ', 'de', false)" data-toggle="tooltip" title="{{ 'admin.blog.push.tooltip' | translate }}"><i class="fa fa-bell"></i></button>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td><label class="col-form-label">{{ "admin.blog.language.it" | translate }}</label></td>
          <td>
            <button style="margin-right: 10px" type="button" class="btn btn-primary btn-sm" (click)="sendLatestBlogPost($event, 'AT-07', 'it', false)" data-toggle="tooltip" title="{{ 'admin.blog.all.tooltip' | translate }}"><i class="fa fa-share"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostEmail($event, 'AT-07', 'it', false)" data-toggle="tooltip" title="{{ 'admin.blog.email.tooltip' | translate }}"><i class="fa fa-envelope"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostTelegram($event, 'AT-07', 'it', false)" data-toggle="tooltip" title="{{ 'admin.blog.telegram.tooltip' | translate }}"><i class="fa fa-telegram"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostPush($event, 'AT-07', 'it', false)" data-toggle="tooltip" title="{{ 'admin.blog.push.tooltip' | translate }}"><i class="fa fa-bell"></i></button>
          </td>
          <td>
            <button style="margin-right: 10px" type="button" class="btn btn-primary btn-sm" (click)="sendLatestBlogPost($event, 'IT-32-BZ', 'it', false)" data-toggle="tooltip" title="{{ 'admin.blog.all.tooltip' | translate }}"><i class="fa fa-share"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostEmail($event, 'IT-32-BZ', 'it', false)" data-toggle="tooltip" title="{{ 'admin.blog.email.tooltip' | translate }}"><i class="fa fa-envelope"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostTelegram($event, 'IT-32-BZ', 'it', false)" data-toggle="tooltip" title="{{ 'admin.blog.telegram.tooltip' | translate }}"><i class="fa fa-telegram"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostPush($event, 'IT-32-BZ', 'it', false)" data-toggle="tooltip" title="{{ 'admin.blog.push.tooltip' | translate }}"><i class="fa fa-bell"></i></button>
          </td>
          <td>
            <button style="margin-right: 10px" type="button" class="btn btn-primary btn-sm" (click)="sendLatestBlogPost($event, 'IT-32-TN', 'it', false)" data-toggle="tooltip" title="{{ 'admin.blog.all.tooltip' | translate }}"><i class="fa fa-share"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostEmail($event, 'IT-32-TN', 'it', false)" data-toggle="tooltip" title="{{ 'admin.blog.email.tooltip' | translate }}"><i class="fa fa-envelope"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostTelegram($event, 'IT-32-TN', 'it', false)" data-toggle="tooltip" title="{{ 'admin.blog.telegram.tooltip' | translate }}"><i class="fa fa-telegram"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostPush($event, 'IT-32-TN', 'it', false)" data-toggle="tooltip" title="{{ 'admin.blog.push.tooltip' | translate }}"><i class="fa fa-bell"></i></button>
          </td>
        </tr>
        <tr>
          <td><label class="col-form-label">{{ "admin.blog.language.en" | translate }}</label></td>
          <td>
            <button style="margin-right: 10px" type="button" class="btn btn-primary btn-sm" (click)="sendLatestBlogPost($event, 'AT-07', 'en', false)" data-toggle="tooltip" title="{{ 'admin.blog.all.tooltip' | translate }}"><i class="fa fa-share"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostEmail($event, 'AT-07', 'en', false)" data-toggle="tooltip" title="{{ 'admin.blog.email.tooltip' | translate }}"><i class="fa fa-envelope"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostTelegram($event, 'AT-07', 'en', false)" data-toggle="tooltip" title="{{ 'admin.blog.telegram.tooltip' | translate }}"><i class="fa fa-telegram"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostPush($event, 'AT-07', 'en', false)" data-toggle="tooltip" title="{{ 'admin.blog.push.tooltip' | translate }}"><i class="fa fa-bell"></i></button>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <i class="fa fa-check"></i>{{ "bulletins.table.publicationStatusDialog.title.test" | translate }}
  </div>
  <div class="card-block" style="padding: 0">
    <table class="table table-bordered table-condensed" style="margin-bottom: 0">
      <thead>
        <tr>
          <th>{{ "admin.blog.language.title" | translate }}</th>
          <th>{{ regionsService.getRegionName("AT-07") }}</th>
          <th>{{ regionsService.getRegionName("IT-32-BZ") }}</th>
          <th>{{ regionsService.getRegionName("IT-32-TN") }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><label class="col-form-label">{{ "admin.blog.language.de" | translate }}</label></td>
          <td>
            <button style="margin-right: 10px" type="button" class="btn btn-primary btn-sm" (click)="sendLatestBlogPost($event, 'AT-07', 'de', true)" data-toggle="tooltip" title="{{ 'admin.blog.all.tooltip' | translate }}"><i class="fa fa-share"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostEmail($event, 'AT-07', 'de', true)" data-toggle="tooltip" title="{{ 'admin.blog.email.tooltip' | translate }}"><i class="fa fa-envelope"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostTelegram($event, 'AT-07', 'de', true)" data-toggle="tooltip" title="{{ 'admin.blog.telegram.tooltip' | translate }}"><i class="fa fa-telegram"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostPush($event, 'AT-07', 'de', true)" data-toggle="tooltip" title="{{ 'admin.blog.push.tooltip' | translate }}"><i class="fa fa-bell"></i></button>
          </td>
          <td>
            <button style="margin-right: 10px" type="button" class="btn btn-primary btn-sm" (click)="sendLatestBlogPost($event, 'IT-32-BZ', 'de', true)" data-toggle="tooltip" title="{{ 'admin.blog.all.tooltip' | translate }}"><i class="fa fa-share"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostEmail($event, 'IT-32-BZ', 'de', true)" data-toggle="tooltip" title="{{ 'admin.blog.email.tooltip' | translate }}"><i class="fa fa-envelope"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostTelegram($event, 'IT-32-BZ', 'de', true)" data-toggle="tooltip" title="{{ 'admin.blog.telegram.tooltip' | translate }}"><i class="fa fa-telegram"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostPush($event, 'IT-32-BZ', 'de', true)" data-toggle="tooltip" title="{{ 'admin.blog.push.tooltip' | translate }}"><i class="fa fa-bell"></i></button>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td><label class="col-form-label">{{ "admin.blog.language.it" | translate }}</label></td>
          <td>
            <button style="margin-right: 10px" type="button" class="btn btn-primary btn-sm" (click)="sendLatestBlogPost($event, 'AT-07', 'it', true)" data-toggle="tooltip" title="{{ 'admin.blog.all.tooltip' | translate }}"><i class="fa fa-share"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostEmail($event, 'AT-07', 'it', true)" data-toggle="tooltip" title="{{ 'admin.blog.email.tooltip' | translate }}"><i class="fa fa-envelope"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostTelegram($event, 'AT-07', 'it', true)" data-toggle="tooltip" title="{{ 'admin.blog.telegram.tooltip' | translate }}"><i class="fa fa-telegram"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostPush($event, 'AT-07', 'it', true)" data-toggle="tooltip" title="{{ 'admin.blog.push.tooltip' | translate }}"><i class="fa fa-bell"></i></button>
          </td>
          <td>
            <button style="margin-right: 10px" type="button" class="btn btn-primary btn-sm" (click)="sendLatestBlogPost($event, 'IT-32-BZ', 'it', true)" data-toggle="tooltip" title="{{ 'admin.blog.all.tooltip' | translate }}"><i class="fa fa-share"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostEmail($event, 'IT-32-BZ', 'it', true)" data-toggle="tooltip" title="{{ 'admin.blog.email.tooltip' | translate }}"><i class="fa fa-envelope"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostTelegram($event, 'IT-32-BZ', 'it', true)" data-toggle="tooltip" title="{{ 'admin.blog.telegram.tooltip' | translate }}"><i class="fa fa-telegram"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostPush($event, 'IT-32-BZ', 'it', true)" data-toggle="tooltip" title="{{ 'admin.blog.push.tooltip' | translate }}"><i class="fa fa-bell"></i></button>
          </td>
          <td>
            <button style="margin-right: 10px" type="button" class="btn btn-primary btn-sm" (click)="sendLatestBlogPost($event, 'IT-32-TN', 'it', true)" data-toggle="tooltip" title="{{ 'admin.blog.all.tooltip' | translate }}"><i class="fa fa-share"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostEmail($event, 'IT-32-TN', 'it', true)" data-toggle="tooltip" title="{{ 'admin.blog.email.tooltip' | translate }}"><i class="fa fa-envelope"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostTelegram($event, 'IT-32-TN', 'it', true)" data-toggle="tooltip" title="{{ 'admin.blog.telegram.tooltip' | translate }}"><i class="fa fa-telegram"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostPush($event, 'IT-32-TN', 'it', true)" data-toggle="tooltip" title="{{ 'admin.blog.push.tooltip' | translate }}"><i class="fa fa-bell"></i></button>
          </td>
        </tr>
        <tr>
          <td><label class="col-form-label">{{ "admin.blog.language.en" | translate }}</label></td>
          <td>
            <button style="margin-right: 10px" type="button" class="btn btn-primary btn-sm" (click)="sendLatestBlogPost($event, 'AT-07', 'en', true)" data-toggle="tooltip" title="{{ 'admin.blog.all.tooltip' | translate }}"><i class="fa fa-share"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostEmail($event, 'AT-07', 'en', true)" data-toggle="tooltip" title="{{ 'admin.blog.email.tooltip' | translate }}"><i class="fa fa-envelope"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostTelegram($event, 'AT-07', 'en', true)" data-toggle="tooltip" title="{{ 'admin.blog.telegram.tooltip' | translate }}"><i class="fa fa-telegram"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="sendLatestBlogPostPush($event, 'AT-07', 'en', true)" data-toggle="tooltip" title="{{ 'admin.blog.push.tooltip' | translate }}"><i class="fa fa-bell"></i></button>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
