<div class="card">
  <form>
    <div class="card-block">
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">{{ "admin.create-user.table.name" | translate }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" name="name" [(ngModel)]="activeName" placeholder="{{ 'admin.create-user.table.name' | translate }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">{{ "admin.create-user.table.email" | translate }}</label>
        <div class="col-sm-10">
          <input type="email" [disabled]="update" class="form-control" id="inputEmail" name="email" [(ngModel)]="activeEmail" placeholder="{{ 'admin.create-user.table.email' | translate }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">{{ "admin.create-user.table.password" | translate }}</label>
        <div class="col-sm-10">
          <input type="password" [disabled]="update" class="form-control" id="inputPassword" name="password" [(ngModel)]="activePassword" placeholder="{{ 'admin.create-user.table.password' | translate }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputOrganization" class="col-sm-2 col-form-label">{{ "admin.create-user.table.organization" | translate }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputOrganization" name="organization" [(ngModel)]="activeOrganization" placeholder="{{ 'admin.create-user.table.organization' | translate }}">
        </div>
      </div>
      <fieldset class="form-group">
        <div>
          <label class="col-form-label col-sm-2 pt-0">{{ "admin.create-user.table.role" | translate }}</label>
          <div class="col-sm-10">
            <div *ngFor="let role of roles" class="row" class="form-check">
              <input class="form-check-input" type="radio" name="roles" id="{{ 'role' + role }}" value="{{ role }}" [checked]="activeRole === role" (change)="onRoleSelectionChange(role)">
              <label class="form-check-label" for="{{ 'role' + role }}">
                {{role}}
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group row">
        <div class="col-sm-2">{{ "admin.create-user.table.regions" | translate }}</div>
        <div class="col-sm-10">
          <div *ngFor="let region of regions" class="form-check">
            <input class="form-check-input" type="checkbox" id="{{ 'region' + region }}" [checked]="activeRegions.indexOf(region) > -1" (change)="onRegionSelectionChange(region)">
            <label class="form-check-label" for="{{ 'region' + region }}">
              {{"region." + region | translate}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="card-footer">
      <button *ngIf="!update" type="submit" class="btn btn-sm btn-primary px-3" (click)="createUser()">{{
        "admin.create-user.button.create" | translate }}</button>
      <button *ngIf="update" type="submit" class="btn btn-sm btn-primary px-3" (click)="updateUser()">{{
        "admin.create-user.button.update" | translate }}</button>
      <button class="btn btn-sm btn-secondary px-3" (click)="closeDialog()"><i class="fa fa-cross"></i>{{
        "admin.create-user.button.cancel" | translate }}</button>
    </div>
  </form>
</div>
