<div class="card">
  <form #statisticsForm="ngForm">
    <div class="card-block">
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">{{
          "admin.statistics.label.dateRange" | translate
        }}</label>
        <div class="col-sm-10">
            <input type="text"
            name="daterange"
            [(ngModel)]="bsRangeValue"
            placeholder=""
            class="form-control"
            bsDaterangepicker>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="card-footer">
      <button
        type="submit"
        class="btn btn-sm btn-primary px-3"
        (click)="getStatistics($event)"
      >
        {{ "admin.statistics.button.submit" | translate }}
      </button>
    </div>
  </form>
</div>

<div id="overlay">
    <span id="nav" *ngIf="loadingStatistics">
      <div class="submit-message" style="display: block; color: #FFFFFF; position: fixed; left: 49.7%; top: 54.5%;">
        <p>{{ "admin.loadingStatistics" | translate }}</p>
      </div>
    </span>
  </div>
  