<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{ "news.create.formTitle" | translate }}</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">{{ "news.create.it.title" | translate }}</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder='{{ "news.create.it.title" | translate }}' [(ngModel)]="titleIT">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">{{ "news.create.de.title" | translate }}</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder='{{ "news.create.de.title" | translate }}' [(ngModel)]="titleDE">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">{{ "news.create.en.title" | translate }}</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder='{{ "news.create.en.title" | translate }}' [(ngModel)]="titleEN">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="textarea-input">{{ "news.create.it.content" | translate }}</label>
              <div class="col-md-9">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder='{{ "news.create.it.content" | translate }}' [(ngModel)]="contentIT"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="textarea-input">{{ "news.create.de.content" | translate }}</label>
              <div class="col-md-9">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder='{{ "news.create.de.content" | translate }}' [(ngModel)]="contentDE"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="textarea-input">{{ "news.create.en.content" | translate }}</label>
              <div class="col-md-9">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder='{{ "news.create.en.content" | translate }}' [(ngModel)]="contentEN"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="file-input">{{ "news.create.image" | translate }}</label>
              <div class="col-md-9">
                <input type="file" id="file-input" name="file-input">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="save()"><i class="fa fa-check"></i>{{ "news.create.save" | translate }}</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="discard()"><i class="fa fa-close"></i>{{ "news.create.discard" | translate }}</button>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
