<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>{{ "news.title" | translate }}
          <button type="button" class="btn btn-primary float-right" (click)="createNews()">{{ "news.create.button" | translate }}</button>
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>{{ "news.table.date" | translate }}</th>
                <th>{{ "news.table.title" | translate }}</th>
                <th>{{ "news.table.status.title" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of newsList" (click)="createNews(item)">
                <td>{{ item.getDate() }}</td>
                <td>{{ item.getTitleIn(settingsService.getLang()) }}</td>
                <td *ngIf="item.getStatus() == newsStatus.published">
                  <span class="badge badge-default">{{ "news.table.status.published" | translate }}</span>
                </td>
                <td *ngIf="item.getStatus() == newsStatus.pending">
                  <span class="badge badge-warning">{{ "news.table.status.pending" | translate }}</span>
                </td>
                <td *ngIf="item.getStatus() == newsStatus.complete">
                  <span class="badge badge-success">{{ "news.table.status.complete" | translate }}</span>
                </td>
                <td *ngIf="item.getStatus() == newsStatus.incomplete">
                  <span class="badge badge-warning">{{ "news.table.status.incomplete" | translate }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
