<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>{{ "news.title" | translate }}
          <button type="button" class="btn btn-primary btn-sm float-right" (click)="createNews()"><i class="fa fa-pencil"></i> {{ "news.create.button" | translate }}</button>
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>{{ "news.table.date" | translate }}</th>
                <th>{{ "news.table.title" | translate }}</th>
                <th>{{ "news.table.status.title" | translate }}</th>
                <th>{{ "news.table.action" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of newsList" (click)="createNews(item)">
                <td>{{ item.getDate() | localizedDate:'short' }}</td>
                <td>{{ item.getTitleIn(settingsService.getLang()) }}</td>
                <td *ngIf="item.getStatus() == newsStatus.published">
                  <span class="badge badge-success">{{ "news.table.status.published" | translate }}</span>
                </td>
                <td *ngIf="item.getStatus() == newsStatus.draft">
                  <span class="badge badge-warning">{{ "news.table.status.draft" | translate }}</span>
                </td>
                <td>
                  <button *ngIf="item.getStatus() == newsStatus.draft" type="button" class="btn btn-primary btn-sm" (click)="publishNews($event, item)"><i class="fa fa-send"></i></button>
                  <button *ngIf="item.getStatus() == newsStatus.draft" type="button" class="btn btn-danger btn-sm" (click)="deleteNews($event, item)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<p-confirmDialog width="425" #deleteNewsDialog key="deleteNewsDialog">
  <p-footer>
    <button type="button" pButton label='{{ "news.deleteNewsDialog.reject" | translate }}' (click)="deleteNewsDialog.reject()"></button>
    <button type="button" pButton label='{{ "news.deleteNewsDialog.accept" | translate }}' (click)="deleteNewsDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog width="425" #deleteNewsErrorDialog key="deleteNewsErrorDialog">
  <p-footer>
    <button type="button" pButton label='{{ "news.deleteNewsErrorDialog.reject" | translate }}' (click)="deleteNewsErrorDialog.reject()"></button>
    <button type="button" pButton label='{{ "news.deleteNewsErrorDialog.accept" | translate }}' (click)="deleteNewsErrorDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog width="425" #publishNewsDialog key="publishNewsDialog">
  <p-footer>
    <button type="button" pButton label='{{ "news.publishNewsDialog.reject" | translate }}' (click)="publishNewsDialog.reject()"></button>
    <button type="button" pButton label='{{ "news.publishNewsDialog.accept" | translate }}' (click)="publishNewsDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog width="425" #publishNewsErrorDialog key="publishNewsErrorDialog">
  <p-footer>
    <button type="button" pButton label='{{ "news.publishNewsErrorDialog.accept" | translate }}' (click)="publishNewsErrorDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog width="425" #loadingNewsErrorDialog key="loadingNewsErrorDialog">
  <p-footer>
    <button type="button" pButton label='{{ "news.loadingNewsErrorDialog.accept" | translate }}' (click)="loadingNewsErrorDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>
