/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #DEBUG
\*------------------------------------*/

.s-debug {
  .bg {
    background-color: $debug-color !important;
  }
  .outline {
    outline: 1px dotted adjust-hue($debug-color, 270) !important;
  }
  hr.dev {
    border-top: 1px dashed $debug-color !important;
  }
}

.controlbar {
  //transform: translateY(200px);
}
