<section id="section-bulletin-additional" class="section-centered section-bulletin section-bulletin-additional">
	
	<div class="panel brand">
		<h2 class="subheader">Snowpack Structure</h2>
		<ul class="list-inline list-labels">
			<li><span class="tiny heavy letterspace">Gefahrenmuster</span></li>
			<li><a href="#" class="label">Lockerer Schnee und Wind</a></li>
			<li><a href="#" class="label">Gleitschnee</a></li>
		</ul>
		<p>{{{ excerpt.verylong }}}</p>
		
		<h2 class="subheader">Weather</h2>
		{{> molecules-buttongroup-secondary }}
		
		<h2 class="subheader">Tendency</h2>
		<p>{{{ excerpt.short }}}</p>
		
		<p class="bulletin-author">Author: <a href="#" title="" class="">Rudi Mair</a></p>
		
	</div>
	
</section>