<p>
	<span class="label">Label</span>
	<span class="label primary">Primary</span>
	<span class="label secondary">Secondary</span>
	<span class="label tertiary">Tertiary</span>
	<span class="label success">Success</span>
	<span class="label error">Error</span>
	<span class="label warning">Warning</span>
	<span class="label badge">4</span>
	<span class="label black">Black</span>
	<span class="label white">White</span> I am running text.</p>