<div id="page-header" class="page-header" data-scroll-header>
	
	
	<div class="page-header-logo">
		{{> molecules-page-header-logo }}
	</div>
	
	
	<div class="page-header-navigation">
		{{> molecules-page-header-navigation }}
	</div>
	
	
	<div class="page-header-language">
		{{> molecules-page-header-language }}
	</div>
	
	
	<div class="page-header-hamburger">
		<button href="" title="Navigation" class="pure-button pure-button-icon navigation-trigger tooltip"><span class="icon-hamburger"><span class="icon-close"></span>&nbsp;</span></button>
	</div>
	
	
	<div class="page-header-interreg">
		<a href="#" class="logo-interreg tooltip" title="Interreg"><span>Interreg</span></a>
	</div>
	
	
</div>