<div class="grid">
	<div class="grid-item tiny-6 normal-3">
		<h5>Sizes</h5>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="small {{ buttonClass }}">Small</a></p>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="normal {{ buttonClass }}">Normal</a></p>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="large {{ buttonClass }}">Large</a></p>
	</div>
	<div class="grid-item tiny-6 normal-3">
		<h5>Type</h5>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="primary {{ buttonClass }}">Primary</a></p>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="secondary {{ buttonClass }}">Secondary</a></p>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="tertiary {{ buttonClass }}">Tertiary</a></p>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="success {{ buttonClass }}">Success</a></p>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="error {{ buttonClass }}">Error</a></p>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="warning {{ buttonClass }}">Warning</a></p>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="black {{ buttonClass }}">Black</a></p>
	</div>
	<div class="grid-item tiny-6 normal-3">
		<h5>Styles</h5>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="{{ buttonClass }}">Normal</a></p>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="round {{ buttonClass }}">Round</a></p>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="{{ buttonClass }} pure-button-disabled">Disabled</a></p>
		<p><a href="{{ buttonUrl }}" title="{{ buttonTitle }}" class="expand {{ buttonClass }}">Expand</a></p>
	</div>
	<div class="grid-item tiny-6 normal-3">
		<h5>Button und Form Submit</h5>
		<p><button title="{{ buttonTitle }}" class="{{ buttonClass }}">Button</button></p>
		<p><input type="submit" title="{{ buttonTitle }}" class="{{ buttonClass }}" value="Submit" /></p>
	</div>
</div>
