/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #DEBUG
\*------------------------------------*/

.s-debug {
  .bg {
    background-color: $debug-color !important;
  }
  .outline {
    outline: 1px dotted color.adjust($debug-color, $hue: 270deg) !important;
  }
  hr.dev {
    border-top: 1px dashed $debug-color !important;
  }
}

// .controlbar {}
