@use "sass:color";

@use "../abstracts/variables";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #DEBUG
\*------------------------------------*/

.s-debug {
  .bg {
    background-color: variables.$debug-color !important;
  }
  .outline {
    outline: 1px dotted color.adjust(variables.$debug-color, $hue: 270deg) !important;
  }
  hr.dev {
    border-top: 1px dashed variables.$debug-color !important;
  }
}

// .controlbar {}
