@use "../abstracts/variables";

/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #PATTERN LAB
\*------------------------------------*/

//layout
#sg-patterns {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 1rem;
}

//farben
.global-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.global-colors li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  margin: 0 variables.$padding variables.$margin-bottom 0;
  padding: 0;
  min-width: 5em;
  max-width: 10em;
}

.global-colors-swatch {
  display: block;
  height: variables.$padding * 2;
  margin-bottom: variables.$padding * 0.5;
}
