/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #PRINT
\*------------------------------------*/

@mixin print-reset {
  position: relative;
  display: block;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  min-height: inherit;
  min-width: inherit;
  max-height: none;
  max-width: none;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  float: none;
  flex: none;
  overflow: auto;
  background: $white;
}

@mixin print-bg {
  -webkit-print-color-adjust: exact;
}

@media print {
  * {
    filter: none !important;
    -ms-filter: none !important;
    transition: none !important;
  }

  //page
  @page {
    size: portrait;
    margin: 1cm 2cm;
  }

  //body
  body {
  }

  //misc
  audio, object, embed, video,
	.jumpnav,
	.bulletin-flipper,
	.section-bulletin-map,
	.bulletin-map-details,
  .section-bulletin-legend,
	.flipper-controls,
	.section-linkbar,
	.section-context,
	.section.controlbar,
	.sm-share-follow,
	.fitvids,
	#page-footer,
	.tippy-popper {
    display: none;
  }

  pre,
  blockquote,
  img,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .section-header,
  .bulletin-map-container,
  .section-bulletin-legend,
  .section-bulletin-report h2,
  .section-bulletin-report p,
  .bulletin-report-header,
  .bulletin-report-region,
  .list-bulletin-report-pictos,
  .section-bulletin-additional h2,
  .section-bulletin-additional p,
  .section-bulletin-additional ul,
  .section-context .list-inline,
  .linkbox-blog-feature,
  .feature-item,
  .content-image,
  .content-text,
  .content-additional,
  .thumbnail-item {
    page-break-inside: avoid;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid-page;
    page-break-after: avoid;
    @include print-bg;
  }

  a {
    @include print-bg;
  }

  //icons im ff nicht drucken (weil ff print bug)
  @-moz-document url-prefix() {
    [class^="icon-"],
    [class*=" icon-"] {
      &:before {
        display: none;
      }
    }
  }

  //page-all
  .page-all {
    @include print-reset;
    &:before {
      position: relative;
      display: block;
      background-size: 100% 0.25cm;
      @include print-bg;
    }
  }

  //page-header
  $page-header-height: 3cm;
  $logo-height: 1.64cm * 1.2;
  $logo-width: 2.76cm * 1.2;
  #page-header {
    @include print-reset;
    min-height: $page-header-height;
    background: $white url("../images/pro/logos/logo_en_print.png") no-repeat 0
      calc((#{$page-header-height} - #{$logo-height}) / 2);
    background-size: $logo-width $logo-height;
    @include print-bg;
    > div {
      display: none;
    }
  }

  //page-main
  #page-main {
    @include print-reset;

    //translink
    // &:after {
    //   display: block;
    //   margin-top: 1.5em;
    //   padding: 0.5em 0;
    //   font-size: $small-font-size;
    //   color: $grey;
    //   content: "To print the current Avalanche Report, click 'PDF' below the map. (c) www.transporter.at";
    //   border-top: $border-width $border-style $brand-very-light;
    //   @include print-bg;
    // }
  }

  //bulletin
  .bulletin-map-container {
    @include print-bg;
    max-height: 10cm;
  }

  .section-bulletin-legend {
    margin-bottom: $margin-bottom;
    .grid {
      .normal-6.grid-item:first-child {
        display: none;
      }
      .normal-6.grid-item:last-child {
        @include print-bg;
      }
    }
  }

  .section-bulletin-reports {
    .bulletin-list-item:not(:first-child) {
      page-break-before: always;
    }
  }

  .section-bulletin-report {
    .bulletin-report-region {
      img {
        max-width: 5cm;
      }
    }
    .panel.field.callout {
      border: none;
      box-shadow: none;
      &:before {
        @include print-bg;
      }
    }
  }

  .section-bulletin-additional {
    .panel.brand {
      &:before {
        @include print-bg;
      }
    }
  }

  //thumbnails
  .thumbnails .thumbnail-item {
    width: 25%;
  }

  //features
  .features {
    overflow: auto;
    .feature-item {
      float: left;
      width: 33%;
    }
    a.linkbox-feature {
      border: none !important;
      .content-text {
        position: relative;
        background-color: $white;
        @include print-bg;
        .content-additional {
          display: block;
          background-color: $white;
          @include print-bg;
        }
      }
      &:after {
        display: none !important;
        content: none !important;
      }
    }
  }

  //blog
  .section-blog-posts,
  .section-linktree-features {
    a {
      overflow: auto;
      .content-image {
        width: 25% !important;
        float: left;
        img {
          width: 100%;
          border: none;
        }
      }
      .content-text {
        width: 75% !important;
        float: right;
      }
    }
  }

  //tables
  .table-container {
    border: none;
    box-shadow: none;
    table {
      table-layout: fixed;
      width: 100%;
      th,
      td {
        font-size: 0.5em !important;
      }
    }
    .pure-table td:first-child,
    .pure-table th:first-child {
      padding-left: 0;
    }
    .pure-table td:last-child,
    .pure-table th:last-child {
      padding-right: 0;
    }
    .sort-buttons {
      display: none;
    }
  }

  //dangerscale
  .section-dangerscale {
    > div {
      &:before {
        @include print-bg;
      }
    }
    .grid {
      display: block;
      overflow: auto;
      .grid-item.small-3 {
        width: 25% !important;
        float: left;
      }
      .grid-item.small-9 {
        width: 75% !important;
        float: right;
      }
    }
  }

  //accordions
  .accordion {
    .accordion-trigger {
      span:before {
        display: none;
      }
    }
    .accordion-content {
      display: block;
    }
  }

  //google maps
  .google-map {
    @include print-bg;
    max-height: 10cm;
    iframe {
      @include print-bg;
      max-height: 10cm;
    }
  }
}
