<ul class="list-inline language-trigger">
	<li><a href="" class="language-trigger-de tooltip" title="Deutsche Version">DE</a></li>
	<li><a href="" class="language-trigger-it tooltip" title="Versione Italiana">IT</a></li>
	<li><a href="" class="language-trigger-en tooltip" title="English Version">EN</a></li>
</ul>