<section id="section-bulletin-buttonbar" class="section-padding section-bulletin-buttonbar">
	<div class="section-centered">
		
		<div class="grid">
			
			<div class="normal-4 grid-item">
				<a href="#page-main" title="Top" class="icon-link icon-arrow-up" data-scroll>Back to Map</a>
			</div>
			
			<div class="normal-8 grid-item">
				<ul class="list-inline bulletin-buttonbar">
					<li>{{> atoms-a-button(buttonUrl: "xy.pdf", buttonText: "PDF", buttonTitle: "Download Bulletin as PDF", buttonClass: "pure-button tooltip") }}</li>
					<li>{{> atoms-a-button(buttonUrl: "../../patterns/10-global-modals-modal-ajax-content/10-global-modals-modal-ajax-content.markup-only.html", buttonText: "Subscribe ", buttonTitle: "Subscribe to Daily Bulletin, Social Media, Newsletter, Apps", buttonClass: "modal-trigger mfp-ajax pure-button tooltip") }}</li>
				</ul>
			</div>
		
		</div>
	
	</div>
</section>