<ul class="list-inline list-labels {{ listClass }}">
	<li><span class="tiny heavy letterspace">Optional Headline</span></li>
	{{# listItems.three }}
	<li><a href="#" title="" class="label">Label</a></li>
	{{/ listItems.three }}
</ul>