/*	TRANSPORTER
	Creating Your Web
	www.transporter.at
*/

/*------------------------------------*\
    #FILTER
\*------------------------------------*/

.filter {
  margin-bottom: 0;
  a {
    margin-right: 0;
  }
  .label {
    color: $text-color;
    border-color: $grey-light;
    &:hover {
      @include box-shadow;
    }
    &:hover,
    &.js-active {
      color: $anchor-font-color;
      border-color: $anchor-font-color;
    }
  }
  &.primary {
    .label {
      &:hover,
      &.js-active {
        color: $white;
        border-color: $anchor-font-color;
        background-color: $anchor-font-color;
      }
    }
  }
}
