// Here you can add other styles

.observations-map {
	height: 800px;
	width: 100%;
}

.grid-container {
	display: inline-grid;
	grid-template-columns: 10px 10px;
	grid-template-rows: 10px 10px;
	vertical-align: top;
}

.panel {
	border: none;
	margin-bottom: 0;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

textarea.form-control:disabled {
	background-color: white;
	color: #607d8b;
}

button.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  line-height: 14px;
  min-width: auto;
  border: none;
}