<ul class="list-inline modal-gallery">
	<li><a href="../../images/dev/screenshot.png" title="{{{ excerpt.long }}}" class="modal-gallery-trigger mfp-image pure-button">Image 1</a></li>
	<li><a href="../../images/dev/screenshot2.png" title="{{{ excerpt.short }}}" class="modal-gallery-trigger mfp-image pure-button">Image 2</a></li>
	<li><a href="http://www.transporter.at" title="iFrame" class="modal-gallery-trigger mfp-iframe pure-button">iFrame (Basic)</a></li>
</ul>