<a href="#" class="tooltip" title="Home">
	<span class="mark mark-de"></span>
	<span class="mark mark-it"></span>
	<span class="mark mark-en"></span>
	
	<span class="url url-de"></span>
	<span class="url url-it"></span>
	<span class="url url-en"></span>
</a>