<section class="section-centered section-context">
	<div class="panel">
		<h2 class="subheader">Snow &amp; Weather</h2>
		<p>{{> atoms-a-button-secondary }}</p>
		<h2 class="subheader">Dig deeper – Education &amp; Prevention</h2>
		{{> molecules-buttongroup-secondary }}
		<h2 class="subheader">Is there more to know / to be linked to?</h2>
		{{> molecules-buttongroup-secondary }}
		<p>{{{ excerpt.long }}}</p>
		<p class="small color-brand-very-dark">{{{ excerpt.verylong }}}</p>
	</div>
</section>