.dark {
  background-color: #eeeeee;
}
.darker {
  background-color: #cccccc;
}

.darkest {
  background-color: #aaaaaa;
}

.opacity-0 {
  opacity: 0;
}

.yellow {
  background-color: #ffff00;
}

.orange {
  background-color: #ffa62f;
}

.sn-rf-color {
  background-color: #2b65ec;
  color: white;
}
