#qfa_div .N_CU td {
  border-bottom: 1px solid!important;
}

#qfa_div .WX_CUF td {
  border-bottom: 1px solid!important;
}

#qfa_div .W850 td {
  border-bottom: 1px solid!important;
}

#qfa_div .RR_24h td {
  border-bottom: 1px solid!important;
}

#qfa_div .FROST td {
  border-bottom: 1px solid!important;
}

#qfa_div .QANmax td {
  border-bottom: 1px solid!important;
}

#qfa_div .h_0 {
  border-left: 1px solid!important;
}

#qfa_div .DUST {
  border-bottom: 1px solid!important;
}

#qfa_div .QAO_700 td {
  border-top: 1px solid!important;
  border-bottom: 1px solid!important;
}
