<a href="{{ links.url }}" title="{{ links.title }}" class="{{ linkboxClass }}">
	{{# linkboxImage }}
	<div class="content-image">
		{{> atoms-landscape-16x9 }}
	</div>
	{{/ linkboxImage }}
	<div class="content-text">
		<p class="h1 subheader">{{ headline.veryshort }}</p>
		<p>{{ headline.medium }}</p>
		{{# linkboxButton }}
			{{> atoms-button }}
		{{/ linkboxButton }}
	</div>
</a>