<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-lock"></i>{{ "settings.changePassword.title" | translate }}
        </div>
        <div class="card-block">
          <form action="" method="post" class="form-horizontal">
            <div *ngFor="let alert of alerts">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="old-password">{{ "settings.changePassword.oldPassword" | translate }}</label>
              <div class="col-md-9">
                <input type="password" id="old-password" name="old-password" class="form-control" required [(ngModel)]="oldPassword">
                <span class="help-block">{{ "settings.changePassword.oldPasswordHint" | translate }}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="new-password1">{{ "settings.changePassword.newPassword1" | translate }}</label>
              <div class="col-md-9">
                <input type="password" id="new-password-1" name="new-password1" class="form-control" required [(ngModel)]="newPassword1">
                <span class="help-block">{{ "settings.changePassword.newPasswordHint1" | translate }}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="new-password2">{{ "settings.changePassword.newPassword2" | translate }}</label>
              <div class="col-md-9">
                <input type="password" id="new-password-2" name="new-password2" class="form-control" required [(ngModel)]="newPassword2">
                <span class="help-block">{{ "settings.changePassword.newPasswordHint2" | translate }}</span>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button *ngIf="!changePasswordLoading" type="submit" class="btn btn-primary" (click)="changePassword()">{{ "settings.changePassword.submit" | translate }}</button>
          <button *ngIf="changePasswordLoading" type="submit" [disabled]="true" class="btn btn-primary"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div *ngIf="isAdmin()" class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-lock"></i>{{ "settings.display.title" | translate }}
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed" style="margin-bottom: 0">
            <tbody>
              <tr>
                <td>
                  <label class="col-form-label">{{ "settings.display.table.showCaaml" | translate }}</label>
                </td>
                <td>
                  <label class="switch switch-primary">
                    <input type="checkbox" class="switch-input" [(ngModel)]="settingsService.showCaaml">
                    <span class="switch-slider"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="col-form-label">{{ "settings.display.table.showJson" | translate }}</label>
                </td>
                <td>
                  <label class="switch switch-primary">
                    <input type="checkbox" class="switch-input" [(ngModel)]="settingsService.showJson">
                    <span class="switch-slider"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="col-form-label">{{ "settings.display.table.useMatrix" | translate }}</label>
                </td>
                <td>
                  <label class="switch switch-primary">
                    <input type="checkbox" class="switch-input" [(ngModel)]="settingsService.useMatrix">
                    <span class="switch-slider"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="col-form-label">{{ "settings.display.table.showObservations" | translate }}</label>
                </td>
                <td>
                  <label class="switch switch-primary">
                    <input type="checkbox" class="switch-input" [(ngModel)]="settingsService.showObservations">
                    <span class="switch-slider"></span>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
